<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="title-up">Net Income </h3>

<% months = [] %>
<% (DateTime.now.beginning_of_year..DateTime.now.end_of_month).each do |month| %>
 <% months << month.beginning_of_month %>
<% end %>
<% revenue_balances_data = [] %>
<% expense_balances_data = [] %>
<% net_income_balances_data = [] %>
<% months.uniq.each do |month| %>

<% revenue_balances ||= current_office.accounts.revenues.balance(from_date: month.beginning_of_month, to_date: month.end_of_month) %>
<% expense_balances ||= current_office.accounts.expenses.balance(from_date: month.beginning_of_month, to_date: month.end_of_month) %>


  <% revenue_balances_data    << { month.strftime("%b").upcase => revenue_balances } %>
  <% expense_balances_data    << { month.strftime("%b").upcase => expense_balances } %>
  <% net_income_balances_data << { month.strftime("%b").upcase => revenue_balances - expense_balances } %>

<% end %>
<%= line_chart [
  { name: 'Net Income', data: Hash[*net_income_balances_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?} }
    ], curve: false, thousands: ',', prefix: 'P' %>
</div>
</div>
<div class="card">
  <div class="card-body">

    <h4 class="subtitle-up"> Revenues vs. Expenses </h4>
    <div class="row">
      <div class="col-md-8">
    <%= column_chart [
      { name: 'Revenues', data: Hash[*revenue_balances_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?} },
      { name: 'Expenses', data: Hash[*expense_balances_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?} }

        ], thousands: ',', prefix: 'P' %>
      </div>
    </div>
      </div>
    </div>
  </div>
