<%= form_tag({:action => 'index'}, {:method => :get, class: "form-inline"}) do %>

  <%= text_field_tag :from_date, @from_date.strftime("%A"), :class => 'datepicker form-control', :placeholder => "To" %>
  <%= text_field_tag :to_date,   @to_date.strftime("%B %e, %Y"), :class => 'datepicker form-control', :placeholder => "To" %>

  <button type="submit" class="btn btn-primary">Generate</button>
<% end %>
<%= link_to 'Download', members_module_members_by_date_of_memberships_path(from_date: @from_date, to_date: @to_date, format: 'xlsx') %>


<div class="table table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th> Name </th>
        <th> Contact Number </th>
        <th> Age </th>
        <th>Date of Membership</th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td width='40px'><%= image_tag(member.avatar, height: 45, width: 45, class: 'img-circle') %> </td>
          <td><%= link_to member.full_name, member_path(member) %></td>
          <td><%= member.current_contact_number %></td>
          <td><%= member.age %></td>
          <td><%= member.date_of_membership_for(cooperative: current_cooperative).try(:strftime, ("%B %e, %Y")) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<center><%==pagy_nav(@pagy) %> </center>
</div>
</div>
