<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          Bank Account Details
        </h3>
      </div>
      <div class="card-body">
        <%= simple_form_for @bank_account, url: :bank_account_applications, html: { autocomplete: 'off' } do |f| %>
          <%= f.input :bank_name %>
          <%= f.input :bank_address %>
          <%= f.input :account_number %>
          <%= f.input :cash_account_id, collection: current_office.accounts.assets.map{|a| [a.name, a.id] }, input_html: { class: 'chosen-select'} %>
          <%= f.input :interest_revenue_account_id, collection: current_office.accounts.revenues.map{|a| [a.name, a.id] }, input_html: { class: 'chosen-select' } %>

          <%= f.input :office_id, input_html: { value: current_office.id }, as: :hidden %>
          <%= f.submit "Proceed", data: { disable_with: "Processing..." }, class: 'btn btn-primary float-right' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
