<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h3 class="title-up">New Savings Account </h3>
          <%= simple_form_for @opening, url: :loans_module_loan_application_savings_account_openings do |f| %>
            <%= f.input :saving_product_id, collection: current_office.saving_products.map{ |a| [a.name, a.id] } %>
            <%= f.input :cart_id, input_html: { value: @loan_application.cart_id }, as: :hidden %>
            <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
            <%= f.input :loan_application_id, input_html: { value: @loan_application.id }, as: :hidden %>
            <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>


            <%= f.input :amount %>
            <%= f.submit 'Open Account', class: 'btn btn-primary float-right' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
