<div class="modal-header">
  <h4 class="modal-title card-title" id="mainModalLabel">
    Previous Loan Payment
  </h4>
  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-2">
      <%= image_tag(@loan_application.borrower.avatar, width: 45, height: 45, class: 'media-object img-circle') if @loan_application.borrower.avatar.attached? %>
    </div>
    <div class="col-md-9">
      <h3 class="card-title"><%= @loan_application.borrower_name.upcase %></h3><br>
      <i class="fa fa-map-marker"></i> Address: <%= @loan_application.borrower.try(:current_address_complete_address) %>
    </div>
  </div>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h3 class="card-title">
        <%= number_to_currency @loan_application.net_proceed %>
      </h3>
      <small class="text-muted">NET PROCEED</small>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h4 class="card-title"><%= number_to_currency @loan.balance %></h4>
      <small class="text-muted"> Loan Balance </small>
    </div>
  </div>
</div>
<%= simple_form_for [@loan, @payment], url: :loans_module_loan_application_previous_loan_payment_processings, remote: request.xhr?, html: { autocomplete: 'off', data: { modal: true } } do |f| %>
  <div class="modal-body">
    <%= f.error_notification %>
    <%= f.input :principal_amount, autofocus: true, as: :currency %>
    <%= f.input :interest_amount, autofocus: true, as: :currency %>
    <%= f.input :penalty_amount, autofocus: true, as: :currency %>

    <%= f.input :loan_id, input_html: { value: @loan.id }, as: :hidden %>
    <%= f.input :cart_id, input_html: { value: @loan_application.cart_id }, as: :hidden %>

    <%= f.input :loan_application_id, input_html: { value: @loan_application.id }, as: :hidden %>
    <%= f.input :employee_id, input_html: { value: @loan_application.preparer_id }, as: :hidden %>

  </div>
  <div class="modal-footer">
    <%= f.submit "Add Payment", class: "btn btn-primary float-right" %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#charge_account_id").select2({
      theme: "bootstrap"
    });
  });
</script>
