<% @depositors.each do |depositor| %>

      <h3 class="title-up"><%= depositor.name %></h3>
      <%= image_tag(depositor.avatar, height: 60, width: 60, class: 'img-square') %>
      <% if depositor.signature_specimen.attachment.present? %>
      <small>Signature Specimen </small><br>

      <%= image_tag(depositor.signature_specimen, height: 260, width: 300, class: 'img-square') %>
      <% end %>
<% end %>
