<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-1 col-sm-1">

          <%=image_tag(savings_account.avatar, height: 45, width: 45, class: "img-circle") if savings_account.avatar.attached? %>

      </div>
      <div class="col-md-4 col-sm-4">
        <%=link_to savings_account_path(savings_account) do %>
          <b><%= savings_account.depositor.name.try(:upcase) %></b><br>
          <small class="text-muted">
            <i class="fa fa-server"></i> <%= savings_account.saving_product_name %> &nbsp;
            <i class="fa fa-building"></i> <%= savings_account.office_name %>
            <i class="fa fa-clock" data-toggle="tooltip" title="Last Transaction Date"></i> <%= savings_account.last_transaction_date.strftime("%b %e, %Y") %>
          </small>
        <% end %>
      </div>
      <div class="col-md-3 col-sm-3">
        <h4 class="card-title"><%=number_to_currency savings_account.balance %></h4>
        <small class="text-muted"> CURRENT BALANCE </small>

      </div>
      <div class="col-md-4 col-sm-4">
        <% if savings_account.closed? %>
          <span class="badge bg-danger">Account Closed</span>
        <% else %>
          <% if policy([:savings_accounts, :deposit]).new? %>
            <%= link_to new_savings_account_deposit_path(savings_account), data: { turbolinks: false } do %>
              <span class="btn btn-success"><i class="fa fa-arrow-circle-down"></i> Deposit </span>
            <% end %>
          <% end %>
          &nbsp;
          <% if policy([:savings_accounts, :withdrawal]).new? %>
            <%= link_to new_savings_account_withdrawal_path(savings_account), data: { turbolinks: false } do %>
              <span class="btn btn-danger"><i class="fa fa-arrow-circle-up"></i> Withdraw </span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>
