<%= link_to 'New Interest Expense', new_savings_account_interest_expense_path(@savings_account) %>


  <div class="row">
    <div class="col-9">
      <h4 class="subtitle-up"> Lock in Period </h4>
      <span class="text-muted">Add duration of lock-in period for this savings account.</span>
    </div>
    <div class="col-3">
      <%= link_to 'New Lock-in Period', new_savings_account_lock_in_period_path(@savings_account), class: 'btn btn-outline-danger' %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-9">
      <h4 class="subtitle-up"> Adjusting Entry </h4>
      <p class="text-muted">Create adjusting entry for this savings account. </h3>
    </div>
    <div class="col-md-3">
      <% if policy([:accounting_module, :entry]).new? %>
        <%=link_to "Adjusting Entries", savings_account_adjusting_entries_path(savings_account: @savings_account), class: "btn btn-outline-danger" %>
      <% else %>
        <span class="text-danger"> Only Accountant / Bookkeeper account can do this action. </span>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-9">
      <h4 class="subtitle-up">Balance Transfer </h4>
      <p class="text-muted"> Transfer balance to other savings accounts. </p>
    </div>
    <div class="col-md-3">
      <% if policy([:savings_accounts, :balance_transfer_destination_account]).new? %>
        <%= link_to 'Balance Transfer', new_savings_account_balance_transfer_destination_account_path(origin_saving_id: @savings_account.id), class: "btn btn-outline-danger" %>
      <% else %>
        <span class="text-danger"> Only Accountant / Treasurer account can do this action. </span>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-9">
      <h4 class="subtitle-up">Barangay Details</h4>
      <p class="text-muted">Set barangay for monitoring purposes. </p>
      <%= @savings_account.barangay_name %>
    </div>
    <div class="col-md-3">
      <%= link_to 'Set Barangay', edit_savings_account_barangay_setting_path(id: @savings_account), class: "btn btn-outline-danger", data: {modal: true} %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-9">
      <h4 class="subtitle-up"> Close Account </h4>
      <p class="text-muted"> Close this savings account. </p>
    </div>
    <div class="col-md-3">
      <% if policy([:savings_accounts, :account_closing]).new? && !@savings_account.closed? %>
        <%= link_to 'Close Account', new_savings_account_account_closing_path(@savings_account), class: "btn btn-outline-danger" %>
      <% else %>
      <p class="text-danger"> Only Teller or Treasurer account can close this savings account. </p>
      <% end %>
    </div>
  </div>
