<% breadcrumb :new_share_capital_capital_build_up, share_capital: @share_capital %>
<% content_for(:html_title) { "#{@share_capital.subscriber_name} | New Deposit" } %>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <div class="min-margin"></div>
              <%= image_tag(@share_capital.subscriber.avatar, height: 60, width: 60, class: 'img-circle') %>
            </div>
            <div classs="col-md-10">
              <h4 class="title-up"><%= @share_capital.account_name %></h4>
              <small class="text-muted"><i class="fa fa-map-marker"></i> <%= @share_capital.subscriber.current_address_complete_address %>
              </small>
              <br>
              <br>
              <small class="text-muted"> <%= @share_capital.share_capital_product_name.upcase %> </small>
              <h3 class="title-up"><%= number_to_currency @share_capital.balance %></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 offset-md-1">

        <%= simple_form_for @capital_build_up, url: :share_capital_capital_build_ups, html: {autocomplete: "off"} do |f| %>
          <%= f.error_notification %>
          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :date, as: :string, input_html: { value: Date.today.strftime("%B %e, %Y"), class: "datepicker" } %>
          <%= f.input :share_capital_id, input_html: {value: @share_capital.id }, as: :hidden %>
          <%= f.input :amount, as: :currency %>
          <%= f.input :description, input_html: {value: "Capital Build-Up"} %>
          <%= f.input :or_number, label: "Reference Number" %>
          <%= f.input :cash_account_id, default: current_user.cash_accounts.first, collection: current_user.cash_accounts.map{|a| [a.name, a.id] } %>
          <%= f.input :employee_id, input_html: { value: current_user.id },as: :hidden %>
          <hr>
          <%= f.submit "Proceed", class: "btn btn-primary float-right", data: { disable_with: "Processing..."} %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#memberships_share_capitals_capital_build_up_processing_cash_account_id").select2({
      theme: "bootstrap"
    });

  });
</script>
