<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-3">
          <center><%= image_tag(@loan.borrower.avatar.url(:medium), style: 'width:80px;height:80px;', class: 'media-object img-circle') %></center>
        </div>
        <div class="col-md-9">
          <br>
          <h3 class="card-title"><%= @loan.borrower_name.upcase %></h3><br>
           <i class="fa fa-map-marker"></i> Address: <%= @loan.borrower.try(:current_address) %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <%= simple_form_for [@loan, @additional_charge], url: :loans_module_loan_additional_charges do |f| %>
        <%= f.error_notification %>
        <%= f.input :name, placeholder: 'e.g. Notarial Fee' %>
        <%= f.input :amount %>
        <%= f.input :amount_type, input_html: { value: 'credit' }, as: :hidden %> 
        <%= f.input :charge_type, input_html: { value: Charge.charge_types.first } %>
        <%= f.input :account_id, collection: AccountingModule::Account.all.map{|a| [a.name.titleize, a.id] } %>

          <%= f.submit "Save Charge", class: "btn btn-primary float-right" %>
          <%= link_to  "Back to Loan", loans_module_loan_application_url(@loan), class: "btn float-left" %>

      <% end %>
    </div>
  </div>
</div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#charge_account_id").select2({
      theme: "bootstrap"
    });
  });
</script>
