<% loans.each do |loan| %>
  <tr>
    <td><%= link_to loan.borrower_name, loan_path(loan) %></td>
    <td><%= loan.loan_product_name %></td>
    <td><%= number_to_currency loan.balance %></td>
    <td><%= loan.last_transaction_date.try(:strftime, ("%B %e, %Y")) %></td>
  </tr>
<% end %>
