
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      
        <div class="row">
          <div class="col-md-10 offset-1">
        <%= simple_form_for [@loan, @payment], html: { autocomplete: 'off' }, url: :loan_payments do |f| %>
          <%= f.error_notification %>
          <%= f.input :date, as: :string, input_html: { value: Time.zone.now.strftime("%B %e, %Y"), class: "datepicker" } %>
          <% if @loan.forwarded_loan == false %>
            <%= f.input :amortization_schedule_id, label: "Select Amortization Schedule to be paid", collection: @loan.amortization_schedules.order(date: :asc).map{|a| [a.date.strftime('%B %Y'), a.id]},  input_html: { id: 'scheduleSelect' } %>
          <% end %>
          <%= f.input :description, input_html: { value: 'loan payment' } %>
          <%= f.input :principal_amount, as: :currency  %>
          <%= f.input :interest_amount, input_html: { value: 0 }, as: :currency, input_html: { class: 'form-control' }  %>
          <%= f.input :penalty_amount, input_html: { value: 0 }, as: :currency  %>
          <%= f.input :reference_number %>
          <%= f.input :loan_id, input_html: { value: @loan.id },as: :hidden %>
          <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :cash_account_id, default: current_user.cash_accounts.first, collection: current_user.cash_accounts.map{|a| [a.name, a.id] } %>
          <hr>
          <%= f.submit "Proceed", class: "btn btn-primary float-right", data: {disable_with: "Processing..." } %>
          <%= link_to 'Cancel', loan_path(@loan), class: "text-danger float-left" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
</div>
