<%= simple_form_for [@merchant, @payment_line_item], url: :merchant_payment_line_items do |f| %>
  <%= f.input :amount %>
  <%= f.input :reference_number %>
  <%= f.input :description %>
  <%= f.input :commercial_document_id, input_html: { value: @commercial_document.id }, as: :hidden %>
  <%= f.input :commercial_document_type, input_html: { value: @commercial_document.class.to_s }, as: :hidden %>
  <%= f.input :merchant_id, input_html: { value: @merchant.id }, as: :hidden %>
  <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>

  <%= f.submit "Proceed" %>
<% end %>
<% current_user.voucher_amounts.each do |voucher_amount| %>
  <%= voucher_amount.description %>
  <%= voucher_amount.amount %>
  <%= voucher_amount.reference_number %>
<% end %>
