<%= simple_form_for @barangay, url: :management_module_settings_barangays do |f| %>
  <%= f.input :name %>
  <%= f.input :municipality_id, collection: Addresses::Municipality.all.map{|a| [a.name, a.id] }, input_html: { class: 'chosen-select' } %>
  <%= f.submit 'Save Barangay' %>
<% end %>
