<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h3 class="title-up"> New Account </h3>
        </div>
        <div class="card-body">
          <%= simple_form_for @account, url: :office_account_category_accounts do |f| %>
            <%= f.input :code, label: "Code" %>
            <%= f.input :name, label: "Name" %>
            <%= f.input :type, collection: ["Asset", "Liability", "Equity", "Revenue", "Expense"], as: :radio_buttons %>
            <%= f.input :contra, as: :boolean %>
            <%= f.input :account_category_id, input_html: { value: @account_category.id }, as: :hidden %>
            <%= f.input :office_id, input_html: { value: current_office.id }, as: :hidden %>
            <%= f.submit "Create Account", class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
