<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <div class="col-md-8">
          <small> <%= @cash_account.name %></small>
          <h2 class="title-up"> <%= number_to_currency @cash_account.balance %></h2>
        </div>
      </div>
      <div class="card-body">
        <%= simple_form_for @cash_receipt_line_item, url: :treasury_module_cash_account_cash_receipt_line_items, html: { autocomplete: 'off' } do |f| %>
          <%= f.input :amount_type, input_html: { value: 'credit' }, as: :hidden %>
          <%= f.input :cart_id, input_html: { value: current_cart.id }, as: :hidden %>

          <div class="row">
            <div class="col-md-6">
              <%= f.input :account_id, label: false, placeholder: "Account", collection: current_office.accounts.all.map{|a| [a.name, a.id] }, input_html: { class: 'chosen-select form-control' } %>
              <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
              <%= f.input :cash_account_id, input_html: { value: @cash_account.id }, as: :hidden %>

            </div>
            <div class="col-md-4">
              <%= f.input :amount, label: false, placeholder: 'Amount', as: :currency  %>
            </div>
            <div class="col-md-2">
              <%= button_tag( :class => "btn btn-primary", data: { disable_with: "Adding..."}) do %>
                <i class="fa fa-plus-circle"></i> Add
              <% end %>
            </div>
          </div>
        <% end %>

        <% if !@voucher_amounts.valid? %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Amounts are not equal.</strong> You should check in on some of those fields below.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>DEBIT</th>
              <th>ACCOUNT</th>
              <th class="text-right">CREDIT</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @voucher_amounts.each do |amount| %>
              <tr>
                <td>
                  <% if amount.debit? %>
                    <%= number_to_currency amount.amount %>
                  <% end %>
                </td>

                <td><%= amount.account_name %></td>

                <td class="text-right">
                  <% if amount.credit? %>
                    <%= number_to_currency amount.amount %>
                  <% end %>
                </td>
                <td class="text-right">
                  <%= link_to treasury_module_cash_account_cash_receipt_line_item_path(id: @cash_account.id, amount_id: amount.id, employee_id: current_user.id), title: 'Delete Amount', method: :delete do %>
                    <span title="Remove" data-toggle="tooltip" class="fa fa-times text-danger"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
            <tr>
              <th class="number total"><%= number_to_currency @voucher_amounts.debit.sum(&:amount) %></th>
              <th></th>
              <th class="text-right number total"><%= number_to_currency @voucher_amounts.credit.sum(&:amount) %></th>
              <th></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% if @voucher_amounts.present? %>
    <div class="col-md-4">
      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title"> Payee Details </h3>
        </div>
        <div class="card-body">
          <%= simple_form_for @cash_receipt, url: :treasury_module_cash_receipt_voucher_processings, html: { autocomplete: 'off' } do |f| %>
            <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
            <%= f.input :description, as: :text %>
            <%= f.input :reference_number %>
            <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
            <%= f.input :payee_id, label: "Payee", collection: current_cooperative.member_memberships.map{|a| [a.name, a.id] }, input_html: { class: 'chosen-select' } %>
            <%= f.input :employee_id,     input_html: { value: current_user.id }, as: :hidden %>
            <%= f.input :cash_account_id, input_html: { value: @cash_account.id }, as: :hidden %>
            <%= f.input :cart_id, input_html: { value: current_cart.id }, as: :hidden %>

            <hr>
            <% if current_user.voucher_amounts.present? %>
              <%= f.submit "Proceed", class: "btn btn-primary btn-block", data: { disable_with: "Processing"} %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
