<%= simple_form_for @transfer, url: :savings_account_share_capital_transfers do |f| %>
  <%= f.input :cart_id, input_html: { value: current_cart.id } %>
  <%= f.input :employee_id, input_html: { value: current_user.id } %>
  <%= f.input :savings_account_id, input_html: { value: @savings_account.id } %>
  <%= f.input :share_capital_id, input_html: { value: @share_capital.id } %>
  <%= f.input :amount, as: :currency %>
  <%= f.submit 'Transfer Amount' %>
<% end %>
