<div class="card">
  <div class="card-header">
    <h3 class="card-title"> Financial Condition </h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <%= form_tag({:action => 'index'}, {:method => :get, :class => 'form-inline'}) do%>
          <div class="form-group">
          <%= label_tag :to_date, nil, class: 'sr-only'%>
          <%= text_field_tag :to_date, @to_date, :class => 'datepicker form-control' %>
          <%= select_tag :office_id, options_for_select(current_cooperative.offices.map {|m| [m.name, m.id]}, params[:office_id]), class: ' form-control border-input', prompt: false %>

          </div>
          <button type="submit" class="btn btn-primary">Get Report</button>
        <% end %>
      </div>
      <div class="col-md-3">
        <% if params[:to_date].present? %>
          <%= link_to "View (PDF)", accounting_module_reports_financial_conditions_path(format: 'pdf', to_date: params[:to_date]), class: "btn btn-default" %>
          <%= link_to "View (Excel)", accounting_module_reports_financial_conditions_path(format: 'xlsx', to_date: params[:to_date]), class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row">
      <div  class="col-md-3">
        <%= simple_form_for @comparison, url: :accounting_module_financial_condition_comparisons, html: { autocomplete: 'off' } do |f| %>
          <%= f.input :first_date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :second_date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :comparison_type, collection: AccountingModule::FinancialConditionComparison.comparison_types.keys.to_a.map{|a| [a.titleize, a] } %>
          <%= f.submit "Compare", class: "btn btn-default" %>
        <% end %>
      </div>
      <div class="col-md-9">
        <div class="table table-responsive">
          <%= render 'account', :name => "Assets", :accounts => @assets %>
          <%= render 'account', :name => "Liabilities", :accounts => @liabilities %>
          <%= render 'account', :name => "Equity", :accounts => @equities %>
        </div>
      </div>
    </div>
  </div>
</div>
