<div class="card">
  <div class="card-body">
    <%= simple_form_for [@office, @saving_product], url: :office_saving_product do |f| %>
      <%= f.input :name %>
      <%= f.input :interest_rate %>
      <%= f.input :minimum_balance %>
      <%= f.input :interest_posting, collection: Cooperatives::SavingProduct.interest_postings.keys.to_a.map{|a| [a.titleize, a ] } %>
      <%= f.input :liability_account_category_id, collection: current_cooperative.account_categories.liability.map{ |a| [a.title, a.id] } %>
      <%= f.input :interest_expense_account_category_id, collection: current_cooperative.account_categories.expense.map{ |a| [a.title, a.id] } %>

      <%= f.submit "Create Saving Product", class: 'btn btn-danger float-right' %>
    <% end %>
  </div>
</div>
