<div class="card">
  <div class="card-body">
    <%= simple_form_for [@office, @saving_product], url: :office_saving_products do |f| %>
      <%= f.input :saving_product_id, collection: current_cooperative.saving_products.map{|a| [a.name, a.id] }, input_html: { class: 'chosen-select' } %>
      <%= f.input :liability_account_category_id, collection: current_cooperative.account_categories.map{ |a| [a.title, a.id] }, input_html: { class: 'chosen-select' } %>
      <%= f.input :interest_expense_account_category_id, collection: current_cooperative.account_categories.map{ |a| [a.title, a.id] }, input_html: { class: 'chosen-select'} %>
      <%= f.input :closing_account_category_id, collection: current_cooperative.account_categories.map{ |a| [a.title, a.id] }, input_html: { class: 'chosen-select' } %>
      <%= f.input :temporary_account_id, collection: current_office.accounts.liabilities.map{ |a| [a.name, a.id] }, input_html: { class: 'chosen-select' } %>

      <%= f.submit "Create Saving Product", class: 'btn btn-danger float-right' %>
    <% end %>
  </div>
</div>
