<%= simple_form_for [@office_loan_product, @charge], url: :office_loan_product_loan_product_charges do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :charge_type, collection: LoansModule::LoanProducts::LoanProductCharge.charge_types.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons %>
  <%= f.input :amount, input_html: { value: 0 } %>
  <%= f.input :rate, input_html: { value: 0 } %>
  <%= f.input :account_id, collection: current_office.accounts.map{|a| [a.name, a.id] } %>
  <%= f.submit 'Create Charge' %>
<% end %>
