<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <center>
          <h3 class="card-title"><%= @bank_account.bank_name %></h3>
          <small><%= @bank_account.bank_address %></small><br>
          <small><%= @bank_account.account_number %></small>
        </center>
      </div>
      <div class="card-body">
        <h3 class="card-title">Bank Deposit Details</h3>
        <hr class="no-margin-top">
        <%= simple_form_for [@bank_account, @withdrawal], url: :bank_account_withdrawals, html: { autocomplete: 'off' } do |f| %>
          <%= f.error_notification %>
          <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :amount, as: :numeric %>
          <%= f.input :reference_number %>
          <%= f.input :description %>
          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :bank_account_id, input_html: { value: @bank_account.id },as: :hidden %>
          <%= f.input :employee_id, input_html: { value: current_user.id },as: :hidden %>
          <%= f.input :cash_account_id, collection: current_user.cash_accounts.map{|a| [a.name, a.id] } %>
          <%= f.submit "Proceed", class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
