<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-red">
        <span class="text-danger">
          Please be careful in selecting accounts to be merged. Once merged it can not be undone.
        </span>
      </div>
      <div class="card-body">
        <%= @current_member.full_name %>


      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Search Members </h3>
      </div>
      <div class="card-body">
        <%=form_tag new_member_merging_line_item_path(@current_member), method: :get do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search First Name, Last Name ", id: 'account-search-form' %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
        <% end %>
        <br>
        <% @members.each do |member| %>
          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
              <%= member.full_name %>

            </div>
            <div class="col-md-2">
               <%= link_to 'Select', member_merging_line_item_path(id: @current_member.id, old_member_id: member.id) %>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
