
<div class="container">
  <div class="card">
    <div class="card-header no-border">
      <div class="row">
        <div class="col-md-3">
          <h3 class="title-up"> Cash Receipts </h3>
        </div>
        <div class="col-md-6">
          <%= form_tag treasury_module_cash_receipts_path, method: :get, class: "search-form" do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Entry", id: 'account-search-form' %>

          <span class="input-group-btn">
            <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default btn-flat") do %>
              <i class="fa fa-search"></i> Search Entries
            <% end %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <ul class="nav nav-tabs">
        <li class="nav-item"><%= link_to 'All Entries', treasury_module_cash_receipts_path, class: "nav-link #{'active' if current_page?(treasury_module_cash_receipts_path)}" %></li>
        <li class="nav-item"><%= link_to 'By Cash Account', treasury_module_cash_receipts_by_cash_accounts_path, class: "nav-link #{'active' if current_page?(treasury_module_cash_receipts_by_cash_accounts_path)}" %></li>
        <li class="nav-item"><%= link_to 'By Date', treasury_module_cash_receipts_by_dates_path, class: "nav-link #{'active' if current_page?(treasury_module_cash_receipts_by_dates_path)}" %></li>
        <li class="nav-item"><%= link_to 'By Employee', treasury_module_cash_receipts_by_employees_path, class: "nav-link #{'active' if current_page?(treasury_module_cash_receipts_by_employees_path)}" %></li>

      </ul>
      <% if current_page?(treasury_module_cash_receipts_path) %>
        <%= render 'treasury_module/cash_receipts_reports/partials/all_receipts', entries: @entries %>
      <% end %>
      <% if current_page?(treasury_module_cash_receipts_by_cash_accounts_path) %>
        <%= render 'treasury_module/cash_receipts_reports/partials/by_accounts', entries: @entries %>
      <% end %>
      <% if current_page?(treasury_module_cash_receipts_by_dates_path) %>
        <%= render 'treasury_module/cash_receipts_reports/partials/by_dates', entries: @entries %>
      <% end %>
    </div>
  </div>
</div>
