<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-7">
        <h3 class="card-title"> Share Capital Products </h3>
      </div>
      <div class="col-md-5">
        <%= link_to new_management_module_share_capital_product_path, data: {modal: true} do %>
          <span class="btn btn-danger btn-sm" data-toggle="tooltip" title="New Share Capital Product">
            <i class="fa fa-plus-circle"></i> New
          </span>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="card">
      <% @share_capital_products.each do |share_capital_product| %>
        <div class="card-body">
          <h4 class="card-title text-primary"><%= share_capital_product.name %></h4>
          <hr class="no-margin-top">
          <div class="row justify-content-end">
            <div class="col-md-11">
              <div class="row min-margin-bottom">
                <div class="col-md-7">
                  <label class="no-margin-bottom">Min. No. of Subscribed Share</label>
                </div>
                <div class="col-md-5">
                  <%= share_capital_product.minimum_number_of_subscribed_share.to_i %>
                </div>
              </div>
              <div class="row min-margin-bottom">
                <div class="col-md-7">
                  <label class="no-margin-bottom">Min. No. of Paid Share</label>
                </div>
                <div class="col-md-5">
                  <%= share_capital_product.minimum_number_of_paid_share.to_i %>
                </div>
              </div>
              <div class="row min-margin-bottom">
                <div class="col-md-7">
                  <label class="no-margin-bottom">Cost Per Share</label>
                </div>
                <div class="col-md-5">
                  <%= number_to_currency share_capital_product.cost_per_share %>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-3"> -->
                <%#= link_to 'New Shares', new_management_module_share_capital_product_share_path(share_capital_product), class: "btn btn-warning btn-sm" %>
              <!-- </div> -->
          </div>
        </div>
        <% if @share_capital_products.last == @share_capital_products.last %>
          <hr class="no-margin">
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-7">
        <h3 class="card-title">Loan Products</h3>
      </div>
      <div class="col-md-5">
        <%= link_to new_management_module_settings_loan_product_path do  %>
          <span class="btn btn-danger btn-sm" data-toggle="tooltip" title="New Loan Product"><i class="fa fa-plus-circle"></i> New </span>
        <% end %>
      </div>
    </div>
    <hr>
    <div id="accordion" class="accordion">
      <% @loan_products.each do |loan_product| %>
        <div class="card">
          <div class="card-header" id="<%= 'heading_' + loan_product.name.gsub(/[^0-9A-Za-z]/, '')%>">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed <%= loan_product.active? ? '' : 'text-muted' %>" data-toggle="collapse" data-target="<%= '#collapse_' + loan_product.name.gsub(/[^0-9A-Za-z]/, '')%>" aria-expanded="true" aria-controls="collapseOne">
                  <%= loan_product.name %>
              </button>
            </h5>
          </div>
          <div id="<%= 'collapse_' + loan_product.name.gsub(/[^0-9A-Za-z]/, '')%>" class="collapse" aria-labelledby="<%= 'heading_' + loan_product.name.gsub(/[^0-9A-Za-z]/, '')%>" data-parent="#accordion" style="">
            <div class="card-body">
              <% if loan_product.active? %>
                Active
                <%= link_to management_module_settings_loan_product_deactivations_path(loan_product), class: "float-right", method: :post do %>
                    <span data-toggle="tooltip" title="Deactivate Loan Product"><i class="fa fa-toggle-on fa-2x text-success"></i></span>
                <% end %>
              <% else %>
                This loan product is inactive.
                <%= link_to management_module_settings_loan_product_activations_path(loan_product), class: "float-right", method: :post do %>
                  <span data-toggle="tooltip" title="Activate Loan Product"><i class="fa fa-toggle-off fa-2x text-danger"></i></span>
                <% end %>
              <% end %>
            </div>
            <hr class="no-margin">
            <div class="card-body">
              <%= link_to edit_management_module_settings_loan_product_path(id: loan_product.id), data: {modal: true} do  %>
                <span class="btn btn-outline-danger btn-sm float-right" data-toggle="tooltip" title="Edit Loan Product"><i class="fa fa-edit"></i></span>
              <% end %>
              <div class="row min-margin-bottom">
                <div class="col-md-6 col-sm-6">
                  <label class="no-margin-bottom">Maximum Loanable Amount</label>
                </div>
                <div class="col-md-6 col-sm-6">
                  <%= number_to_currency loan_product.maximum_loanable_amount %>
                </div>
              </div>
              <div class="row min-margin-bottom">
                <div class="col-md-6 col-sm-6">
                  <label class="no-margin-bottom">Grace Period</label>
                </div>
                <div class="col-md-6 col-sm-6">
                  <%= loan_product.grace_period %> days
                </div>
              </div>
              <hr class="min-margin">
              <div class="row min-margin-bottom">
                <div class="col-md-6">
                  <p class="text-muted">INTEREST CONFIG </p>
                </div>
                <div class="col-md-6">
                  <%= link_to new_management_module_settings_loan_product_interest_configuration_path(loan_product), data: { modal: true } do %>
                    <span class="btn btn-outline-danger btn-xs float-right" data-toggle="tooltip" title="Set Interest Rate"><i class="fa fa-edit"></i> Set </span>
                  <% end %>
                </div>
                <div class="col-md-12">
                  <div class="row justify-content-end">
                    <div class="col-md-11">
                      <div class="row min-margin-bottom">
                        <div class="col-md-6 col-sm-6">
                          <p class="no-margin-bottom">Rate</p>
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <%= loan_product.current_interest_config_rate * 100 %>%
                        </div>
                      </div>
                      <div class="row min-margin-bottom">
                        <div class="col-md-6 col-sm-6">
                          <p class="no-margin-bottom">Calculation Type</p>
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <%= loan_product.current_interest_config_calculation_type %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row min-margin-bottom">
                <div class="col-md-6">
                  <p class="text-muted">Interest Prededuction</p>
                </div>
                <div class="col-md-6">
                  <%= loan_product.current_interest_prededuction_rate %> %
                  <%= link_to new_management_module_settings_loan_product_penalty_configuration_path(loan_product), data: { modal: true } do %>
                    <span class="btn btn-outline-danger btn-xs float-right" data-toggle="tooltip" title="Set Penalty Rate"><i class="fa fa-edit"></i> Set </span>
                  <% end %>
                </div>
              </div>
              <hr class="min-margin">

              <div class="row min-margin-bottom">
                <div class="col-md-6">
                  <p class="text-muted">PENALTY RATE </p>
                </div>
                <div class="col-md-6">
                  <%= loan_product.current_penalty_config_rate_in_percent %> %
                  <%= link_to new_management_module_settings_loan_product_penalty_configuration_path(loan_product), data: { modal: true } do %>
                    <span class="btn btn-outline-danger btn-xs float-right" data-toggle="tooltip" title="Set Penalty Rate"><i class="fa fa-edit"></i> Set </span>
                  <% end %>
                </div>
              </div>
              <hr class="min-margin">
              <div class="row min-margin-bottom">
                <div class="col-md-6">
                  <p class="text-muted">CHARGES </p>
                </div>
                <div class="col-md-6">
                  <%= link_to new_management_module_settings_loan_product_charge_path(loan_product), data: { modal: true } do %>
                    <span class="btn btn-outline-danger btn-xs float-right" data-toggle="tooltip" title="Add Charge"><i class="fa fa-plus-circle"></i> Add </span>
                  <% end %>
                </div>
                <div class="col-md-12">
                  <div class="row justify-content-end">
                    <div class="col-md-11">
                      <% loan_product.loan_product_charges.each do |charge| %>
                        <div class="row no-margin">
                          <div class="col-md-6 col-sm-6">
                            <label><%= charge.name %></label>
                          </div>
                          <div class="col-md-6 col-sm-6">
                            <%= link_to 'Edit', edit_management_module_settings_loan_product_charge_path(id: charge.id, loan_product_id: loan_product.id), class: 'btn btn-outline-danger btn-xs float-right', data: {modal: true, toggle: "tooltip"}, title: "Edit Charge" %>
                          </div>
                        </div>
                        <div class="row justify-content-end">
                          <div class="col-md-11">
                            <% if charge.amount.present? %>
                              <div class="row min-margin">
                                <div class="col-md-6 col-sm-6">
                                  Amount
                                </div>
                                <div class="col-md-6 col-sm-6">
                                  <%= number_to_currency charge.amount %>
                                </div>
                              </div>
                            <% end %>
                            <div class="row no-margin">
                              <div class="col-md-6 col-sm-6">
                                Rate
                              </div>
                              <div class="col-md-6 col-sm-6">
                                <%= charge.rate*100 %>%
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-7">
        <h3 class="card-title"> Time Deposit Products </h3>
      </div>
      <div class="col-md-5">
        <%= link_to new_management_module_settings_time_deposit_product_path, data: {modal: true} do %>
          <span class="btn btn-danger btn-sm" title="New Time Deposit Product" data-toggle="tooltip">
            <i class="fa fa-plus-circle"></i> New
          </span>
        <% end %>
      </div>
    </div>
    <hr>
    <div id="accordion">
      <% @time_deposit_products.each do |time_deposit_product| %>
        <div class="card">
          <div class="card-header" id="<%= 'heading_' + time_deposit_product.name.gsub(/[^0-9A-Za-z]/, '')%>">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="<%= '#collapse_' + time_deposit_product.name.gsub(/[^0-9A-Za-z]/, '')%>" aria-expanded="false" aria-controls="collapseOne">
                <%= time_deposit_product.name %>
              </button>
            </h5>
          </div>
          <div id="<%= 'collapse_' + time_deposit_product.name.gsub(/[^0-9A-Za-z]/, '')%>" class="collapse" aria-labelledby="<%= 'heading_' + time_deposit_product.name.gsub(/[^0-9A-Za-z]/, '')%>" data-parent="#accordion" style="">
            <div class="card-body">
              <%= link_to edit_management_module_settings_time_deposit_product_path(time_deposit_product), data: {modal: true} do  %>
                <span class="btn btn-outline-danger btn-sm float-right" data-toggle="tooltip" title="Edit Time Deposit Product"><i class="fa fa-edit"></i></span>
              <% end %>
              <div class="row justify-content-end">
                <div class="col-md-11">
                  <div class="row min-margin-bottom">
                    <div class="col-md-6">
                      <label class="no-margin-bottom">Interest Rate</label>
                    </div>
                    <div class="col-md-6">
                      <%= time_deposit_product.interest_rate*100 %>%
                    </div>
                  </div>
                  <div class="row min-margin-bottom">
                    <div class="col-md-6">
                      <label class="no-margin-bottom">Minimum Deposit</label>
                    </div>
                    <div class="col-md-6">
                      <%= number_to_currency time_deposit_product.minimum_deposit %>
                    </div>
                  </div>
                  <div class="row min-margin-bottom">
                    <div class="col-md-6">
                      <label class="no-margin-bottom">Maximum Deposit</label>
                    </div>
                    <div class="col-md-6">
                      <%= number_to_currency time_deposit_product.maximum_deposit %>
                    </div>
                  </div>
                  <div class="row min-margin-bottom">
                    <div class="col-md-6">
                      <label class="no-margin-bottom">Number of Days</label>
                    </div>
                    <div class="col-md-6">
                      <%= time_deposit_product.number_of_days %> days
                    </div>
                  </div>
                  <div class="row min-margin-bottom">
                    <div class="col-md-6">
                      <label class="no-margin-bottom">Break Contract Fee</label>
                    </div>
                    <div class="col-md-6">
                      <%= number_to_currency time_deposit_product.break_contract_fee %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label class="no-margin-bottom">Break Contract Rate</label>
                    </div>
                    <div class="col-md-6">
                      <%= time_deposit_product.break_contract_rate*100 %>%
                    </div>
                  </div>
                  <!-- <div class="col-md-3"> -->
                    <%#= link_to 'New Shares', new_management_module_share_capital_product_share_path(share_capital_product), class: "btn btn-warning btn-sm" %>
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-7">
        <h3 class="card-title"> Savings Deposit Products</h3>
      </div>
      <div class="col-md-5">
        <%= link_to new_management_module_saving_product_path, data: {modal: true} do  %>
          <span class="btn btn-danger btn-sm" data-toggle="tooltip" title="New Savings Product"><i class="fa fa-plus-circle"></i> New </span>
        <% end %>
      </div>
    </div>
    <hr>
    <div id="accordion">
      <% @saving_products.all.each do |saving_product| %>
        <div class="card">
          <div class="card-body">
            <%= link_to edit_management_module_saving_product_path(saving_product), data: {modal: true} do  %>
              <span class="btn btn-outline-danger btn-sm float-right" data-toggle="tooltip" title="Edit Savings Deposit Product"><i class="fa fa-edit"></i></span>
            <% end %>
            <h5 class="text-primary"><%= saving_product.name %></h5>
          </div>
          <hr class="no-margin">
          <div class="card-body">
            <div class="row justify-content-end">
              <div class="col-md-11">
                <div class="row min-margin-bottom">
                  <div class="col-md-6">
                    <label class="no-margin-bottom">Interest Rate</label>
                  </div>
                  <div class="col-md-6">
                    <%= saving_product.interest_rate*100 %>%
                  </div>
                </div>
                <div class="row min-margin-bottom">
                  <div class="col-md-6">
                    <label class="no-margin-bottom">Interest Recurrence</label>
                  </div>
                  <div class="col-md-6">
                    <%= saving_product.interest_posting %>
                  </div>
                </div>
                <div class="row min-margin-bottom">
                  <div class="col-md-6">
                    <label class="no-margin-bottom">Minimum Balance</label>
                  </div>
                  <div class="col-md-6">
                    <%= number_to_currency saving_product.minimum_balance %>
                  </div>
                </div>
                <!-- <div class="col-md-3"> -->
                  <%#= link_to 'New Shares', new_management_module_share_capital_product_share_path(share_capital_product), class: "btn btn-warning btn-sm" %>
                <!-- </div> -->
              </div>
            </div>
          </div>
          <% if @saving_products.last == @saving_products.last %>
            <hr class="no-margin">
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#myCollapsible').on('hidden.bs.collapse', function () {
    // do something…
  })
</script>
