<div class="card">
  <div class="card-body">
    <div class="table table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Borrower</th>
            <th> Loan Product </th>
            <th> Balance </th>
          </tr>
        </thead>
        <tbody>
          <%= render 'loans_module/loans/index', loans: @loans %>
        </tbody>
      </table>
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>
