<h3 class="card-title"> <%= office.name %> | Settings </h3>
<%= link_to 'New Saving Product', new_office_saving_product_path(office), class: 'btn btn-danger' %>
<%= link_to 'New Share Capital Product', new_office_share_capital_product_path(office), class: 'btn btn-danger' %>
<%= link_to 'New Time Deposit Product', new_office_time_deposit_product_path(office), class: 'btn btn-danger' %>
<%= link_to 'New Program', new_office_program_path(office), class: 'btn btn-danger' %>
<%= link_to 'New Amortization Type', new_office_amortization_type_path(office) %>
<%= link_to 'New Loan Protection Plan Provider', new_office_loan_protection_plan_provider_path(office) %>
<%= link_to 'Services', office_cooperative_services_path(office) %>
<%= link_to 'Loan Products', office_loan_products_path(office), id: "#{office.id}-loan-products" %>
<%= link_to 'Saving Products', office_saving_products_path(office) %>
<%= link_to 'Share Capital Products', office_share_capital_products_path(office) %>
<%= link_to 'Programs', office_programs_path(office) %>
<%= link_to 'Saving Groups', office_saving_groups_path(office) %>


<h3 class="card-title"> Migrations </h3>
<%= link_to 'Migrate Savings', office_savings_migrations_path(office) %>
<%= link_to 'Migrate Share Capitals', office_share_capitals_migrations_path(office) %>
<%= link_to 'Migrate Loans',   office_loans_migrations_path(office) %>
<%= link_to 'Migrate Members', office_members_migrations_path(office) %>
<%= link_to 'Migrate Time Deposits',   office_time_deposits_migrations_path(office) %>

<%= link_to 'Members', office_members_migrations_path(office) %>
<%= link_to 'Organizations', office_organizations_migrations_path(office) %>
