

<%= link_to 'This Day' %>
per collector
per organization
per barangay
<p> Export </p>
Excel
PDF
<h4 class="card-title"><b>Loan Payments</b></h4>
<%= form_tag({:action => "index", controller: "loans_module/reports/loan_collections", format: 'xlsx'}, {:method => :get})  do %>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= text_field_tag :from_date, @from_date, :class => 'datepicker form-control border-input', :placeholder => "From " %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= text_field_tag :to_date, @to_date, :class => 'form-control border-input datepicker', :placeholder => "To " %>
      </div>
    </div>

    <div class="col-md-2">
      <button type="submit" class="btn btn-default btn-sm"> Download Excel</button>
    </div>
  </div>
<% end %>
<%= link_to 'Excel', loans_module_reports_loan_collections_path(format: 'xlsx', from_date: @from_date, to_date: @to_date) %>
</div>
