<div class="row">
  <div class="col-md-8">
    <h3 class="title-up"> Summary for <%= @date.strftime('%B') %></h3>
  </div>
  <div class="col-md-4">
    <%= form_tag({:action => 'index'}, {:method => :get, :class => 'form-inline'}) do%>
      <div class="form-group">
      <%= label_tag :date, nil, class: 'sr-only'%>
      <%= text_field_tag :date, @date.strftime("%B %Y"), :class => 'datepicker-month form-control' %>
      </div>
      &nbsp; <button type="submit" class="btn btn-outline-primary"> Generate</button>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <h2 class="title-up"><%= number_to_currency current_office.loans.accounts.credits_balance(from_date: @date.beginning_of_month, to_date: @date.end_of_month) %></h2>
    <small class="text-muted"> TOTAL COLLECTIONS </small>
  </div>

  <div class="col-md-3">
    <h3 class="title-up"><%= number_to_currency current_office.loans.receivable_accounts.credits_balance(from_date: @date.beginning_of_month, to_date: @date.end_of_month) %></h3>
    <small class="text-muted"> PRINCIPAL </small>
  </div>
  <div class="col-md-3">
    <h3 class="title-up"><%= number_to_currency current_office.loans.interest_revenue_accounts.credits_balance(from_date: @date.beginning_of_month, to_date: @date.end_of_month) %></h3>
    <small class="text-muted"> INTEREST </small>
  </div>
  <div class="col-md-3">
    <h3 class="title-up"><%= number_to_currency current_office.loans.penalty_revenue_accounts.credits_balance(from_date: @date.beginning_of_month, to_date: @date.end_of_month) %></h3>
    <small class="text-muted"> PENALTY </small>
  </div>
</div>
<br>
</div>
</div>
<div class="card">
  <div class="card-body">
<h4 class="subtitle-up"> By Loan Product </h4>
<% loans_by_loan_product_data = [] %>
<% current_office.loan_products.each do |loan_product| %>
  <% loans_by_loan_product_data << { loan_product.name => current_office.loans.where(loan_product: loan_product).accounts.credits_balance(from_date: @date.beginning_of_month, to_date: @date.end_of_month) }  %>
<% end %>
<div class="row">
  <div class="col-md-8">
    <%= pie_chart (Hash[*loans_by_loan_product_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true, thousands: ",", donut: true, legend: 'bottom' %>
  </div>
  <div class="col-md-4">
    <h3 class="subtitle-up"> Summary </h3>
    <% loans_by_loan_product_data.each do |loan_product| %>
      <div class="row">
        <div class="col-md-6">
          <%= loan_product.keys.join('') %>
        </div>
        <div class="col-md-6">
          <%= number_to_currency loan_product.values.join('') %>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>
</div>
</div>
<div class="card">
  <div class="card-body">
    <h3 class="title-up"> Transactions </h3>
    <% daily_payments_data = [] %>
    <% (@date.beginning_of_month..@date.end_of_month).each do |day| %>
    <% daily_payments_data << { day => current_office.entries.loan_payments.entered_on(from_date: day.beginning_of_day, to_date: day.end_of_day).size }  %>
    <% end %>

    <%= line_chart (Hash[*daily_payments_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true, thousands: ",",   legend: 'bottom' %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h3 class="title-up"> Collections vs Aging Portfolio </h3>
    <% aging_payments_data = [] %>
    <% current_office.loan_groups.order(start_num: :asc).each do |loan_group| %>
      <% aging_payments_data << { loan_group.title => loan_group.loans.accounts.credits_balance(from_date: @date.beginning_of_month, to_date: @date.end_of_month) } %>
    <% end %>
    <div class="row">
      <div class="col-md-8">
        <%= pie_chart (Hash[*aging_payments_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true, thousands: ",", prefix: 'P',  legend: 'bottom' %>
      </div>
      <div class="col-md-4">
        <h4 class="subtitle-up"> Summary </h4>
        <% current_office.loan_groups.each do |loan_group| %>
          <div class="row">
            <div class="col-md-8">
              <%= link_to loan_group.title, loan_group_path(loan_group) %>
            </div>
            <div class="col-md-4">
              <%= number_to_currency loan_group.loans.accounts.credits_balance(from_date: @date.beginning_of_month, to_date: @date.end_of_month) %>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
