
<%= simple_form_for [@loan, @interest_posting], html: { autocomplete: "off" }, url: :loans_module_loan_interest_postings do |f| %>
  <div class="modal-body">
    <h4 class="card-title">Interest Posting Details</h4>
    <hr>
    <%= f.error_notification %>
    <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
    <%= f.input :amount, as: :currency %>
     <%= f.input :description, input_html: { value: "Loan interests"}, as: :text %>
    <%= f.input :employee_id, input_html: { value: current_user.id } %>
    <%= f.input :loan_id, input_html: { value: @loan.id } %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Save Interest", class: "btn btn-danger float-right" %>
  </div>
<% end %>
