<div class="row">
  <div class="col-md-12">
    <%=form_tag employee_entries_path(@employee), method: :get, class: "sidebar-form" do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Entry...", id: 'taxpayer-search-form' %>
        <span class="input-group-btn">
          <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
            <i class="fa fa-search"></i>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <%#= link_to "New Entry", new_accounting_module_entry_path, class: "btn btn-primary pull-right" %>
  </div>
</div>
<hr class="min-margin">
<div class="row">
  <div class="col-md-12">
    <span class="text-muted condensed-text"> SHOW ACTIVITY: </span> &nbsp;
    <%=link_to 'Yesterday', employee_entries_path(@employee, from_date: Time.zone.now.yesterday.beginning_of_day, to_date: Time.zone.now.yesterday.end_of_day ), class: "btn btn-default"  %>
     <%=link_to 'This Day', employee_entries_path(@employee, from_date: Time.zone.now.beginning_of_day, to_date: Time.zone.now.end_of_day ), class: "btn btn-default"  %>
    <%=link_to 'This Week', employee_entries_path(@employee,from_date: Time.zone.now.beginning_of_week.beginning_of_day, to_date: Time.zone.now.end_of_week.end_of_day ), class: "btn btn-default"  %>
    <%=link_to 'This Month', employee_entries_path(@employee, from_date: Time.zone.now.beginning_of_week.beginning_of_day, to_date: Time.zone.now.end_of_week.end_of_day ), class: "btn btn-default"  %>
  </div>
</div>
<hr class="min-margin">
<div class="row">
  <div class="col-md-12">
    <%= form_tag({:action => "index", controller: "employees/entries", employee_id: @employee.id}, {:method => :get})  do %>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <%= text_field_tag :from_date, @from_date, :class => 'datepicker form-control border-input', :placeholder => "From " %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= text_field_tag :to_date, @to_date, :class => 'form-control border-input datepicker', :placeholder => "To " %>
          </div>
        </div>
        <div class="col-md-1">
          <button type="submit" class="btn btn-default"> Go</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
<hr class="min-margin">
<h4 class="card-title">Transactions</h4>
<% @paginated_entries.each do |entry| %>

    <%= render 'accounting_module/entries/partials/header', entry: entry %>
  
<% end %>
<% if @paginated_entries.exists? %>
  <center><%= will_paginate @paginated_entries %></center>
<% end %>
