<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="subtitle-up">Transactions Report</h4>
        <p class="text-muted"> Generate transactions report </p>
        <%= form_tag({:action => "index", format: 'pdf', controller: "employees/reports/cash_book_transactions", employee_id: @employee.id, to_date: params[:to_date]}, {:method => :get})  do %>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <%= select_tag :cash_account_id, options_for_select(@employee.cash_accounts.map{|a| [a.name, a.id]}), :class => 'form-control border-input chosen-select', :placeholder => "To " %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= text_field_tag :to_date, @to_date, :class => 'form-control border-input datepicker', :placeholder => "To " %>
              </div>
            </div>

            <div class="col-md-3">
              <button type="submit" class="btn btn-outline-primary"> Generate</button>
            </div>
          </div>
        <% end %>
      </div>
      <hr class="no-margin">
      <div class="card-body">
        <h4 class="subtitle-up">Cash Disbursements</h4>
        <br>
        <%= form_tag({:action => "index", format: 'pdf', controller: "employees/reports/cash_disbursements", employee_id: @employee.id, to_date: params[:to_date]}, {:method => :get})  do %>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <%= text_field_tag :from_date, @date, :class => 'datepicker form-control border-input', :placeholder => "Date" %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= text_field_tag :to_date, @date, :class => 'datepicker form-control border-input', :placeholder => "Date" %>
              </div>
            </div>

            <div class="col-md-3">
              <button type="submit" class="btn btn-outline-primary"> Generate</button>
            </div>
          </div>
        <% end %>
      </div>
      <hr class="no-margin">
      <div class="card-body">
        <h4 class="subtitle-up">Cash Receipts</h4>
        <br>
        <%= form_tag({:action => "index", format: 'pdf', controller: "employees/reports/cash_receipts", employee_id: @employee.id, to_date: params[:to_date]}, {:method => :get})  do %>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <%= text_field_tag :from_date, @date, :class => 'datepicker form-control border-input', :placeholder => "From Date" %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= text_field_tag :to_date, @date, :class => 'datepicker form-control border-input', :placeholder => "To Date" %>
              </div>
            </div>
            <div class="col-md-3">
              <button type="submit" class="btn btn-outline-primary"> Generate</button>
            </div>
          </div>
        <% end %>
      </div>
      <hr class="no-margin">
      <div class="card-body">
        <h4 class="card-title">Audit Report</h4>
        <br>
        <%= form_tag({:action => "index", format: 'pdf',  controller: "reports/audit_reports", employee_id: @employee.id, from_date: params[:from_date], to_date: params[:to_date]}, {:method => :get})  do %>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <%= text_field_tag :from_date, @date, :class => 'datepicker form-control border-input', :placeholder => "From Date" %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= text_field_tag :to_date, @date, :class => 'datepicker form-control border-input', :placeholder => "To Date" %>
              </div>
            </div>
            <div class="col-md-1">
              <button type="submit" class="btn btn-outline-primary"> Generate</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
