<%= link_to 'New Membership', new_employee_membership_path(@employee) %>
<div class="card">
  <div class="card-header bg-danger">
    <h4 class="card-title">Settings</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h3 class="card-title">Employee Profile Photo </h3>
        <p class="text-muted">Update employee's profile photo. </p>
      </div>
      <div class="col-md-3">
        <%= simple_form_for @employee, url: employee_avatar_path(id: @employee), html: {id: "update-user-avatar"} do |f| %>
          <%= f.input :avatar, as: :file, label: false, input_html: { class: 'choose-btn center-block' } %>
        <% end %>
        <button class="btn btn-outline-danger" id="browse-image">Update Photo</button>
      </div>
    </div>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h3 class="card-title">Employee Details </h3>
        <p class="text-muted"> Update employee's name and role. </p>
      </div>
      <div class="col-md-3">
        <%= link_to "Edit Details", edit_employee_path(id: @employee.id), class: "btn btn-outline-danger", data: { modal: true } if current_user.general_manager? || current_user == @employee %>
      </div>
    </div>
  </div>
  <% if current_user == @employee %>
    <hr class="no-margin">
    <div class="card-body">
      <div class="row">
        <div class="col-md-9">
          <h3 class="card-title">My Account </h3>
          <p class="text-muted"> Update your email and password. </p>
        </div>
        <div class="col-md-3">
          <%= link_to "Update Account", edit_employee_account_path(id: @employee), class: "btn btn-outline-danger", data: { modal: true } %>
        </div>
      </div>
    </div>
  <% end %>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h3 class="card-title">Cash Accounts</h3>
        <p class="text-muted"> Set cash accounts for this employee. </p>
      </div>
      <div class="col-md-3">
        <% if policy([:cash_accounts, :designation]).new? %>
          <%= link_to 'Add Cash Account', new_employee_cash_account_path(@employee), class: "btn btn-outline-danger", data: {modal: true} %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <table class="table">
          <tbody>
            <% @employee.employee_cash_accounts.each do |account| %>
              <tr>
                <td><%= account.name %></td>

                <td>
                  <% if policy([:employees, :cash_on_hand_account]).new? %>
                    <%= link_to 'Remove', employee_cash_account_path(id: account.id, employee_id: @employee.id), method: :delete, class: 'btn btn-outline-danger btn-xs' %>
                  <% end %>
                  </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
