<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
<div class="ui">
  <nav class="navbar"></nav>
  <nav class="navbar"></nav>
  <div class="lists">
    <% current_office.loan_groups.each do |group| %>
    <div class="list card">
      <div class="card-body">
      <header class="card-header subtitle-up"><%= group.title %><span class="float-right"><%= group.loans.count %></span></header>

      <small>TOTAL LOANS</small>
      <h3 class="title-up"><%= number_to_currency group.loans.receivable_accounts.balance %></h3>
      <small>PAYMENTS</small>
        <h3 class="title-up"><%= number_to_currency group.loans.receivable_accounts.credits_balance %></h3>
         <small>LOANS COUNT</small>
        <h3 class="title-up"><%= number_to_currency group.loans.receivable_accounts.debits_balance %></h3>
          <h3 class="title-up"><%= group.loans.count %></h3>

</div>
    </div>
  <% end %>
</div>
</div>

<div class="ui">
  <nav class="navbar"></nav>
  <nav class="navbar"></nav>
  <div class="lists">
    <% current_office.loan_groups.each do |group| %>
    <div class="list card">
      <div class="card-body">
      <header class="card-header"><%= group.title %></header>
      <% group.loans.first(15).each do |loan| %>
      <ul>
        <li><%= link_to loan.borrower_name, loan_path(loan) %></li>
      </ul>
      <% end %>
    <footer>das</footer>

</div>
    </div>
  <% end %>
</div>
</div>
