<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2 col-sm-6">
            <div class="min-margin"></div>
            <%=image_tag @loan_application.borrower.avatar, height: 55, width: 55, class: 'img-circle elevation-1' %>
          </div>
          <div class="col-md-10 col-sm-6">
            <h4 class="subtitle-up"><%= @loan_application.borrower.first_and_last_name.upcase %></h4>

            <small class="text-muted">
              <i class="fa fa-map-marker"></i> <%= @loan_application.borrower.current_address_complete_address %> &nbsp; &nbsp;
              <span class="text-muted"><i class="fa fa-phone"></i> <%= @loan_application.borrower.current_contact_number %></i></span>
            </small>
            <br>
            <br>
            <small class="text-muted"><%= @share_capital.share_capital_product_name %></small>
            <h4 class="title-up"><%= number_to_currency @share_capital.balance %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">

            <%= simple_form_for [@share_capital, @capital_build_up], url: :loans_module_loan_application_capital_build_up_processings, remote: request.xhr?, html: { autocomplete: 'off', data: { modal: true } } do |f| %>
              <div class="modal-body">
                <%= f.error_notification %>
                <%= f.input :cart_id, input_html: { value: @loan_application.cart_id }, as: :hidden %>
                <%= f.input :amount, autofocus: true%>
                <%= f.input :share_capital_id, input_html: { value: @share_capital.id }, as: :hidden %>
                <%= f.input :loan_application_id, input_html: { value: @loan_application.id }, as: :hidden %>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <%= link_to 'Back to Application', new_loans_module_loan_application_voucher_path(@loan_application)  %>
                  </div>
                  <div class="col-md-4">
                <%= f.submit "Add Capital", class: "btn btn-primary float-right" %>
              </div>
            </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
