<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
        <% current_cart.voucher_amounts.each do |voucher_amount| %>
          <div class="row min-margin">
            <div class="col-md-3">
              <% if voucher_amount.debit? %>
                <%= number_to_currency voucher_amount.amount %>
              <% end %>
            </div>
            <div class="col-md-6">
              <%=voucher_amount.account_display_name %>
            </div>
            <div class="col-md-3">
              <% if voucher_amount.credit? %>
                <%= number_to_currency voucher_amount.amount %>
              <% end %>
            </div>
          </div>
        <% end %>
        <hr>
<%= simple_form_for [@savings_account, @entry], url: :savings_account_loan_payment_processings do |f| %>
  <%= f.input :date, as: :string, input_html: { class: 'datepicker' } %>
  <%= f.input :description %>
  <%= f.input :reference_number %>
  <%= f.input :cart_id, input_html: { value: current_cart.id } %>
  <%= f.submit 'Create Adjusting Entry' %>
<% end %>
