
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header bg-light">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <h3 class="card-title"> Voucher Details </h3>
          </div>
          <div class="col-md-6 col-sm-6">
            <%=link_to 'View (PDF)', voucher_path(@voucher, format: "pdf"), class: "btn btn-default float-right" %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <% if !@voucher.disbursed? %>
          <%= render 'vouchers/partials/alert_message', voucher: @voucher %>
          <br>
        <% end %>
        <%= render 'loans_module/loan_applications/partials/body', loan_application: @loan_application %>
          <hr>
        <%= render 'vouchers/partials/body', voucher: @voucher, voucher_amounts: @voucher.voucher_amounts %>
        <% if !@voucher.disbursed?%>
        <%= simple_form_for [@voucher, @disbursement], url: :loans_module_loan_application_disbursements do |f| %>
          <%= f.input :disbursement_date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :loan_application_id, input_html: { value: @loan_application.id }, as: :hidden  %>
          <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden  %>

          <%= f.submit "Disburse Loan Application", class: "btn btn-primary float-right" %>
        <% end %>
        <%= link_to "Cancel Voucher", voucher_cancellations_path(@voucher), method: :create, class: "text-danger" %>
        <% else %>
          <%= render 'vouchers/partials/status', voucher: @voucher %>
        <% end %>
      </div>
    </div>
  </div>
</div>
