
    <div class="card">
      <div class="card-body">
        <div class="profile-wrapper">
          <% if @employee.avatar.attached? %>
            <%= image_tag(@employee.avatar, width: 150, height: 150, class: "img-rounded mx-auto d-block") %>
          <% else %>
            <%= image_tag("default.png", width: '150', height: '150', class: 'img-rounded mx-auto d-block') %>
          <% end %>
        </div>

        <nav class="nav nav-pills nav-pills-underline">
          <li class="nav-item">
            <%= link_to 'Info', employee_path(@employee), class: "nav-link #{'active' if current_page?(employee_path(@employee))}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Entries', employee_entries_path(@employee), class: "nav-link #{'active' if current_page?(employee_entries_path(@employee))}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Reports', employee_reports_path(@employee), class: "nav-link #{'active' if current_page?(employee_reports_path(@employee))}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Vouchers', employee_vouchers_path(@employee), class: "nav-link #{'active' if current_page?(employee_vouchers_path(@employee))}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Purchases', employee_orders_path(@employee), class: "nav-link #{'active' if current_page?(employee_orders_path(@employee))}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Loans & Credit', employee_loans_path(@employee), class: "nav-link #{'active' if current_page?(employee_loans_path(@employee))}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Savings', employee_savings_accounts_path(@employee), class: "nav-link #{'active' if current_page?(employee_savings_accounts_path(@employee))}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Share Capitals', employee_share_capitals_path(@employee), class: "nav-link #{'active' if current_page?(employee_share_capitals_path(@employee))}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Time Deposits', employee_time_deposits_path(@employee), class: "nav-link #{'active' if current_page?(employee_time_deposits_path(@employee))}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Employee Settings', employee_settings_path(@employee), class: "nav-link #{'active' if current_page?(employee_settings_path(@employee))}" %>
          </li>
        </nav>
        <br>
    <% if current_page?(employee_path(@employee)) %>
      <%=render 'employees/partials/employee_info' %>
    <% end %>
    <% if current_page?(employee_entries_path(@employee)) %>
      <%= render 'employees/partials/entries'%>
    <% end %>
    <% if current_page?(employee_reports_path(@employee)) %>
      <%= render 'employees/partials/reports'%>
    <% end %>
    <% if current_page?(employee_vouchers_path(@employee)) %>
      <%= render 'employees/partials/vouchers'%>
    <% end %>
    <% if current_page?(employee_orders_path(@employee)) %>
      <%=render 'employees/partials/orders' %>
    <% end %>
    <% if current_page?(employee_loans_path(@employee)) %>
      <%= render 'employees/partials/loans' %>
    <% end %>
    <% if current_page?(employee_savings_accounts_path(@employee)) %>
      <%= render 'employees/partials/savings_accounts' %>
    <% end %>
    <% if current_page?(employee_share_capitals_path(@employee)) %>
      <%= render 'employees/partials/share_capitals' %>
    <% end %>
    <% if current_page?(employee_time_deposits_path(@employee)) %>
      <%= render 'employees/partials/time_deposits' %>
    <% end %>
    <% if current_page?(employee_settings_path(@employee)) %>
      <%= render 'employees/partials/settings' %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#browse-image').click(function(e) {
    $('#user_avatar').click();
    e.preventDefault();
    e.stopPropagation();
    $('#user_avatar').change(function() {
      var val = $('#user_avatar').val();
      if (val != ''){
        $('#update-user-avatar').submit();
      }
    });
  });
</script>
