<% breadcrumb :employees %>
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class="title-up">Employees </h2>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4 m-0">
        <%= form_tag employees_path, method: :get, class: "search-form" do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by Depositor ", id: 'account-search-form' %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default btn-flat") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <% @employees.each do |employee| %>
      <% cache employee do %>
        <%= render 'employees/partials/header', employee: employee %>
      <% end %>
    <% end %>
  </div>
</div>
