
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-2">
        <h3 class="card-title">Accounts </h3>
      </div>
      <div class="col-md-6">
        <%=form_tag office_account_category_accounts_path(id: account_category.id, office_id: current_office.id), method: :get, class: "sidebar-form" do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Account..", id: 'account-search-form' %>
          <span class="input-group-btn">
            <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
              <i class="fa fa-search"></i>
            <% end %>
          </span>
        </div>
      <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to 'New Account', new_office_account_category_account_path(@account_category) %>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="table table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th> Account </th>
            <th> Type </th>
            <th> Balance </th>
          </tr>
        </thead>
        <tbody>
          <% @accounts.each do |account| %>
            <tr data-link="<%= office_account_path(id: account.id) %>" style="cursor: pointer;">
              <td><%= link_to account.name, office_account_path(id: account.id) %></td>
              <td><%= account.normalized_type %></td>
              <td><%= number_to_currency account.balance %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
</div>
<center><%==pagy_nav(@pagy) %></center>
<script>
$("tr[data-link]").click(function() {
  window.location = $(this).data("link")
})
</script>
