<div class="container">
      <div class="card">
        <div class="card-body">
          <p class="text-muted title-up"> <i class="fa fa-clock"></i> <%= Date.current.strftime('%A %B %e, %Y') %></p>
          <div class="row">
            <div class="col-md-3">
              <small class="text-muted"><%= cash_account.name.upcase %></small>
              <h3 class="title-up text-primary"><%= number_to_currency cash_account.balance %></h3>
              <% if policy([:treasury_module, :cash_receipt]).new? %>
                  <%= link_to new_treasury_module_cash_account_cash_receipt_line_item_path(cash_account), id: "#{cash_account.id}-receive", data: { turbolinks: false } do %>
                  <span class="btn btn-primary"><i class="fa fa-arrow-down"></i> Receive </span>
                  <% end %>
                <% end %>
                <% if policy([:treasury_module, :cash_disbursement]).new? %>
                  <%= link_to new_treasury_module_cash_account_cash_disbursement_line_item_path(cash_account), id: "#{cash_account.id}-disburse", data: { turbolinks: false } do %>
                  <span class="btn btn-danger"><i class="fa fa-arrow-up"></i> Disburse </span>
                  <% end %>
                <% end %>
            </div>
            <div class="col-md-3">
              <small class="text-muted"> RECEIPTS </small><br>
              <h4 class="title-up text-success"><i class="fa fa-arrow-down"></i> <%= number_to_currency cash_account.debits_balance(from_date: Date.current, to_date: Date.current) %></h4>
            </div>
            <div class="col-md-3">
              <small class="text-muted"> DISBURSEMENTS </small><br>
              <h4  class="title-up text-danger"><i class="fa fa-arrow-up"></i> <%= number_to_currency cash_account.credits_balance(from_date: Date.current, to_date: Date.current) %></h4>
            </div>
          </div>
          <hr>




          <ul class="nav nav-pills nav-pills-underline">
            <li class="nav-item"><%= link_to 'This Day', treasury_module_cash_account_path(cash_account), class: "nav-link #{'active' if current_page?(treasury_module_cash_account_path(cash_account))}" %></li>
            <li class="nav-item"><%= link_to 'Cash Receipts', treasury_module_cash_account_receipts_path(cash_account), class: "nav-link #{'active' if current_page?(treasury_module_cash_account_receipts_path(cash_account))}", id: "#{cash_account.id}-cash-receipts" %></li>
            <li class="nav-item"><%= link_to 'Cash Disbursements', treasury_module_cash_account_disbursements_path(cash_account), class: "nav-link #{'active' if current_page?(treasury_module_cash_account_disbursements_path(cash_account))}" %></li>
          </ul>
          <br>


      <% if current_page? treasury_module_cash_account_path(cash_account) %>
        <%= render 'treasury_module/cash_accounts/partials/info', cash_account: @cash_account, entries: @entries %>
      <% end %>

      <% if current_page? treasury_module_cash_account_receipts_path(cash_account) %>
       <%= render 'treasury_module/cash_accounts/partials/receipts', cash_account: @cash_account, entries: @entries %>
      <% end %>
      <% if current_page? treasury_module_cash_account_disbursements_path(cash_account) %>
       <%= render 'treasury_module/cash_accounts/partials/disbursements', cash_account: @cash_account, entries: @entries %>
      <% end %>

    </div>
  </div>
