<% content_for(:html_title) { "Cash Books" } %>
<% @cash_accounts.each do |cash_account| %>
  <%= link_to treasury_module_cash_account_path(cash_account) do %>
    <div class="card">
      <div class="card-body">
        <small class="text-muted"><%= cash_account.name %></small>
        <h3 class="title-up"> <%= number_to_currency cash_account.balance %></h1>
      </div>
    </div>
  <% end %>
<% end %>
<div class="container">
  <h2 class="title-up"> Cash Accounts </h2>
  <br>
  <div class="card">
    <div class="card-body">
      <div class="table table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Cash Account</th>
              <th>Balance</th>
              <th>Last Transaction</th>
            </tr>
          </thead>
          <tbody>
            <% @cash_accounts.each do |cash_account| %>
               <tr style="cursor: pointer;" data-link="<%= treasury_module_cash_account_path(cash_account) %>">
                <td><%= link_to cash_account.name, treasury_module_cash_account_path(cash_account) %></td>
                <td><%= number_to_currency cash_account.balance %></td>
                <td><%= short_time_ago(cash_account.last_transaction_date) %> ago</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  $("tr").click(function() {
    window.location = $(this).data("link")
  })
  </script>
