
<div class="container">
  <div class="card">
    <div class="card-header no-border">
      <div class="row">
        <div class="col-md-9">
          <h3 class="title-up"> Cash Receipts </h3>

        </div>
        <div class="col-md-3">
          <% current_cooperative.cash_accounts.each do |cash_account| %>
            <%= link_to cash_account.name, accounting_module_reports_cash_receipts_path(cash_account_id: cash_account.id) %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <%= form_tag({:action => 'index'}, {:method => :get, class: "form-inline"}) do %>
      <%= text_field_tag :from_date, @from_date.strftime("%B %e, %Y"), :class => 'datepicker form-control', :placeholder => "To" %>

        <%= text_field_tag :to_date, @to_date.strftime("%B %e, %Y"), :class => 'datepicker form-control', :placeholder => "To" %>
        <%= hidden_field_tag :cash_account_id, @cash_account.id %>
        <button type="submit" class="btn btn-primary">Generate</button>
      <% end %>
      <span class="legend-title"> Export to: </span>
      <%= link_to accounting_module_reports_cash_disbursements_path(cash_account_id: @cash_account.id, from_date: @from_date, to_date: @to_date, format: 'xlsx') do %>
        <span class="btn btn-default"><i class="fa fa-spreadsheet"></i> Excel </span>
      <% end %>
      <%= link_to accounting_module_reports_cash_disbursements_path(cash_account_id: @cash_account.id, from_date: @from_date, to_date: @to_date, format: 'pdf') do %>
        <span class="btn btn-default"><i class="fa fa-spreadsheet"></i> Excel </span>
      <% end %>

      <div class="table table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Entry Date</th>
              <th>Member/Payee</th>
              <th>Description</th>
              <th>Reference</th>
              <th> Cash Total </th>
              <th>Employee</th>
            </tr>
          </thead>
          <tbody>
            <% @entries.each do |entry| %>
              <%= render 'accounting_module/entries/entry', entry: entry, cached: true %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
