<h3 class="title-up">Area Of Operations </h3>
<h4 class="subtitle-up"> Filter by Province </h4>
<% @provinces.each do |province| %>
<%= province.name %>
<%= Insights::Members::ProvinceCounter.new(province: province, cooperative: current_cooperative).count %>
<% end %>
<hr>
<h4 class="subtitle-up"> Filter by Municipality </h4>
<% @municipalities.each do |municipality| %>
<%= municipality.name %>
<%= Insights::Members::MunicipalityCounter.new(municipality: municipality, cooperative: current_cooperative).count %>
<% end %>
