<small> Total Members </small>
<h3 class="title-up"> <%= @members.count %></h3>

<small> New this Month </small>
<h3 class="title-up"> <%= @members.count %></h3>
<%= link_to 'View Members' %>

Per Office
<% current_cooperative.offices.each do |office| %>
<%= office.name %>
<%= office.members.count %>
<% end %>
