<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <center><%= image_tag(@loan_application.borrower.avatar, width: 60, height: 60, class: 'img-circle') if @loan_application.borrower.avatar.attached? %></center>
            </div>
            <div class="col-md-9">
              <p class="title-up"><%= @loan_application.borrower_name.upcase %></p>
              <small class="text-muted">
               <i class="fa fa-map-marker"></i> Address: <%= @loan_application.borrower.try(:current_address_complete_address) %><br>
               <i class="fa fa-phone"></i> Address: <%= @loan_application.borrower.try(:current_contact_number) %>
             </small>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6 offset-md-1">
              <small class="title-up">NET PROCEED </small>
              <h3 class="title-up">
                <%= number_to_currency @loan_application.net_proceed %>
              </h3>
            </div>
            <div class="col-md-5">
              <small class="text-muted"> <%= @savings_account.saving_product_name.upcase %> </small>
              <h4 class="title-up"><%= number_to_currency @savings_account.balance %></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <%= simple_form_for [@savings_account, @deposit], url: :loans_module_loan_application_savings_account_deposit_processings, html: { autocomplete: "off" } do |f| %>
                <%= f.error_notification %>
                <%= f.input :cart_id, input_html: { value: @loan_application.cart_id }, as: :hidden %>
                <%= f.input :amount, autofocus: true %>
                <%= f.input :savings_account_id, input_html: { value: @savings_account.id }, as: :hidden %>
                <%= f.input :loan_application_id, input_html: { value: @loan_application.id }, as: :hidden %>
               <div class="row">
                <div class="col-md-8">
                  <div class="min-margin"></div>
                  <%= link_to 'Back to Application', new_loans_module_loan_application_voucher_path(@loan_application)  %>
                  </div>
                  <div class="col-md-4">
                <%= f.submit "Add Saving", class: "btn btn-primary float-right" %>
              </div>
            </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

