

  <div class="card">
    <div class="card-body">
      <h3 class="title-up">Loan Aging Portfolio</h3>

      <ul class="nav nav-tabs">
        <li class="nav-item"><%= link_to 'Summary', loans_module_reports_loan_agings_summaries_path, class: "nav-link #{'active' if current_page?(loans_module_reports_loan_agings_summaries_path)}" %></li>

        <li class="nav-item"><%= link_to 'All Loans', loans_module_reports_loan_agings_path, class: "nav-link #{'active' if current_page?(loans_module_reports_loan_agings_path)}" %></li>
        <li class="nav-item"><%= link_to 'By Loan Product', loans_module_reports_loan_agings_by_loan_products_path, class: "nav-link #{'active' if current_page?(loans_module_reports_loan_agings_by_loan_products_path)}" %></li>
        <li class="nav-item"><%= link_to 'By Barangay', loans_module_reports_loan_agings_by_barangays_path, class: "nav-link #{'active' if current_page?(loans_module_reports_loan_agings_by_barangays_path)}" %></li>
      </ul>
      <br>
      <% if current_page? loans_module_reports_loan_agings_summaries_path %>
        <%= render 'loans_module/reports/loan_agings/partials/summaries' %>
      <% end %>

      <% if current_page? loans_module_reports_loan_agings_path %>
        <%= render 'loans_module/reports/loan_agings/partials/all_agings' %>
      <% end %>

      <% if current_page? loans_module_reports_loan_agings_by_loan_products_path %>
        <%= render 'loans_module/reports/loan_agings/partials/by_loan_products' %>
      <% end %>

      <% if current_page? loans_module_reports_loan_agings_by_barangays_path %>
        <%= render 'loans_module/reports/loan_agings/partials/by_barangays' %>
      <% end %>
