<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-5 col-sm-7">
        <div class="row">
          <div class="col-md-4 col-sm-3">
            <%=image_tag(schedule.borrower_avatar, height: 45, width: 45, class: "img-circle") %>
          </div>

          <div class="col-md-8 col-sm-8">
            <p class="text-muted no-margin-bottom">
              <i class="fa fa-user"></i> <%= schedule.borrower_name %>
            </p>
            <small class="text-muted">
              <i class="fa fa-phone"></i> <%= schedule.borrower_current_contact_number %>
            </small><br>
            <small class="text-muted">
              <i class="fa fa-map-marker"></i> <%= schedule.borrower_current_address_complete_address %>
            </small>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-md-10 col-sm-10">
            <%= link_to 'View Details', loans_module_amortization_schedule_path(schedule), class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-5">

      </div>
      <div class="col-md-5 col-sm-12">
        <div class="row min-margin">
          <div class="col-md-6 col-sm-6">
            <small>PRINCIPAL</small><br>
          </div>
          <div class="col-md-6 col-sm-6">
            <span class="number float-right">
              <%= number_to_currency schedule.principal %>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <small>INTEREST</small><br>
          </div>
          <div class="col-md-6 col-sm-6">
            <span class="number float-right">
              <%= number_to_currency schedule.interest %>
            </span>
          </div>
        </div>
        <hr class="min-margin">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <small>TOTAL</small><br>
          </div>
          <div class="col-md-6 col-sm-6">
            <span class="number float-right">
              <%= number_to_currency schedule.total_amortization %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
