<div class="container">
  <div class="card">
    <div class="card-header">
      <h3 class="title-up"> New Share Capital Product Details </h3>
    </div>
    <div class="card-body">
      <%= simple_form_for @share_capital_product, url: :management_module_settings_share_capital_products do |f| %>
          <%= f.error_notification %>
          <%= f.input :name %>
          <%= f.input :cost_per_share %>
          <%= f.input :minimum_share, label: 'Minimum No. of share' %>
          <%= f.input :minimum_balance, label: "Minimum Paid-Up Balance" %>
          <%= f.submit "Create Share Capital Product", class: "btn btn-danger float-right", data: { disable_with: "Processing..." } %>
      <% end %>
    </div>
  </div>
</div>
