<div class="container">
  <div class="card">
    <div class="card-header">
      <h3 class="title-up"> Members Reports </h3>
    </div>
    <div class="card-body">
      <%= link_to  members_module_members_listings_path do %>
        <h4 class="subtitle-up"> Members Listings </h4>
        <span class="text-muted"> Generate excel report of all members </span>
      <% end %>
      <hr>
      <%= link_to  members_module_members_by_sexes_path do %>
        <h4 class="subtitle-up"> By Sex </h4>
        <span class="text-muted"> Generate excel report of all members according to their sex. </span>
      <% end %>
      <hr>
      <%= link_to  members_module_members_by_barangays_path do %>
        <h4 class="subtitle-up"> By Barangay </h4>
        <span class="text-muted"> Generate excel report of all members by barangay. </span>
      <% end %>
      <hr>

      <%= link_to  members_module_members_by_date_of_births_path do %>
        <h4 class="subtitle-up"> By Date of Birth </h4>
        <span class="text-muted"> Generate excel report of all members according to their date of births. </span>
      <% end %>
      <hr>

      <%= link_to  members_module_members_by_ages_path do %>
        <h4 class="subtitle-up"> By Age Range </h4>
        <span class="text-muted"> Generate excel report of all members according to their age. </span>
      <% end %>
      <hr>

      <%= link_to  members_module_members_by_date_of_memberships_path do %>
        <h4 class="subtitle-up"> By Date of Membership </h4>
        <span class="text-muted"> Generate excel report of all members according to their date of membership </span>
      <% end %>
      <hr>

      <%= link_to  members_module_members_by_occupations_path do %>
        <h4 class="subtitle-up"> By Occupation </h4>
        <span class="text-muted"> Generate excel report of all members according to their occupation. </span>
      <% end %>
      <hr>

      <%= link_to  members_module_members_by_organizations_path do %>
        <h4 class="subtitle-up"> By Organization </h4>
        <span class="text-muted"> Generate excel report of all members according to their organization </span>
      <% end %>
      <hr>
    </div>
  </div>
</div>
