<%= simple_form_for @account_category, url: :office_parent_account_sub_category_account_categories do |f| %>
  <%= f.input :title %>
  <%= f.input :code %>
  <%= f.input :type, collection: ['Asset', 'Liability', 'Equity', 'Revenue', 'Expense'], as: :radio_buttons %>
  <%= f.input :office_id, input_html: { value: current_office.id }, as: :hidden %>
  <%= f.input :parent_account_sub_category_id, input_html: { value: @parent_account_sub_category.id }, as: :hidden %>
  <%= f.submit 'Save Account Category' %>
<% end %>
