<% if @commercial_document.class.name == "MembershipsModule::ShareCapital" %>
  <%= render 'share_capitals/partials/header', share_capital: @commercial_document %>
<% end %>
<% if @commercial_document.class.name == "MembershipsModule::Saving" %>
  <%= render 'savings_accounts/partials/header', savings_account: @commercial_document %>
<% end %>
<% if @commercial_document.class.name == "MembershipsModule::TimeDeposit" %>
  <%= render 'time_deposits/partials/header', time_deposit: @commercial_document %>
<% end %>
<% if @commercial_document.class.name == "LoansModule::Loan" %>
  <%= render 'loans/partials/header', loan: @commercial_document %>
<% end %>
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> New Entry Amount Details </h3>
      </div>
      <div class="card-body">
        <%= simple_form_for @line_item, url: :accounting_module_commercial_document_adjusting_entry_line_items, html: { autcomplete: 'off' } do |f| %>
        <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
        <% if @commercial_document.present? %>
          <%= f.input :commercial_document_id, input_html: { value: @commercial_document.id }, as: :hidden %>
          <%= f.input :commercial_document_type, input_html: { value: @commercial_document.class.to_s }, as: :hidden %>
        <% end %>

          <div class="row">
            <div class="col-md-5">
              <%= f.input :account_id, label: false, placeholder: "Account", collection: current_cooperative.accounts.map{|a| [a.name, a.id] }, prompt: "Select Account" %>
            </div>
            <div class="col-md-3">
              <%= f.input :amount, label: false, placeholder: 'Amount', as: :currency  %>
            </div>
            <div class="col-md-2">
              <%= f.input :amount_type, label: false, collection: Vouchers::VoucherAmount.amount_types.keys.to_a.map{|a| [a.titleize, a] } %>
            </div>
            <div class="col-md-2">
              <%= f.submit "Add", class: "btn btn-primary", data: { disable_with: "Adding..." } %>
            </div>
          </div>
          <br>
        <% end %>
        <hr>
        <table class="table">
          <thead>
            <tr>
              <th> Debit </th>
              <th> Account </th>
              <th> Credit </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% current_user.voucher_amounts.each do |amount| %>
              <tr>
                <td>
                  <% if amount.debit? %>
                  <%= number_to_currency amount.amount %>
                  <% end %>
                </td>
                <td><%= amount.account_name %></td>
                <td>
                  <% if amount.credit? %>
                    <%= number_to_currency amount.amount %>
                  <% end %>
                </td>
                <td>
                  <%= link_to accounting_module_commercial_document_adjusting_entry_line_item_path(commercial_document_id: @commercial_document.id, commercial_document_type: @commercial_document.class.to_s, id: amount.id), method: :delete do %>
                    <span title="Remove" data-toggle="tooltip" class="fa fa-trash text-danger"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
            <tr>
              <td id="totalDebit"><b><%= number_to_currency current_user.voucher_amounts.debit.sum(&:amount) %></b></td>
              <td></td>
              <td id="totalCredit"><b><%= number_to_currency current_user.voucher_amounts.credit.sum(&:amount) %></b></td>
              <td>
                <% if current_user.voucher_amounts.debit.present? && current_user.voucher_amounts.credit.present? %>
                  <% if current_user.voucher_amounts.debit.sum(&:amount) != current_user.voucher_amounts.credit.sum(&:amount) %>
                    <span title="Total amounts not equal" data-toggle="tooltip" class="fa fa-lg fa-question-circle text-danger"></span>
                  <% else %>
                    <span title="Total amounts are equal" data-toggle="tooltip" class="fa fa-lg fa-check-circle text-success"></span>
                  <% end %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Entry Details </h3>
      </div>
      <div class="card-body">
        <%=simple_form_for @voucher, url: :accounting_module_entry_line_item_vouchers, html: { autocomplete: 'off' } do |f| %>
          <%= f.input :cooperative_service_id, collection: current_cooperative.cooperative_services.map{|a| [a.title, a.id] } %>
          <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :description, as: :text %>
          <%= f.input :reference_number %>
          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :payee_id, label: "Payee/Member", collection: Voucher.payees.map{|a| [a.name, a.id] } %>
          <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
          <% if current_user.voucher_amounts.debit.present? && current_user.voucher_amounts.credit.present? %>
            <% if current_user.voucher_amounts.debit.sum(&:amount) == current_user.voucher_amounts.credit.sum(&:amount) %>
              <%= f.submit "Save Entry", class: "btn btn-primary btn-block" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#accounting_module_entries_voucher_amount_processing_account_id").select2({
      theme: "bootstrap"
    });
    $("#accounting_module_entries_voucher_amount_processing_amount_type").select2({
      theme: "bootstrap"
    });
    $("#vouchers_voucher_processing_payee_id").select2({
      theme: "bootstrap"
    });
    $("#vouchers_disbursement_processing_cooperative_service_id").select2({
      theme: "bootstrap"
    });
  });
</script>