<!-- Brand Logo -->
    <a href="/" class="brand-link bg-dark">
      <%= image_tag(current_cooperative.logo, class: "img-circle elevation-1", height: 30, width: 30) if current_cooperative.logo.attached? %>
      <span class="brand-text font-weight-light"><%= current_cooperative.abbreviated_name %></span>
    </a>
