<footer class="main-footer">
  <div class="float-right hidden-xs">

    <b><small class="text-muted">CoopBooks Inc.</small></b>
    <i class="fas fa-inbox"></i>
    <i class="fas fa-phone"></i>

  </div>
  <strong>Your Technology Partner <a href="http://facebook.com/itworx">CoopBooks Inc.</a></strong> Enjoy the rest of your <%= Time.zone.now.strftime("%A") %>, <b><%= current_user.first_name %></b>.

</footer>
