<nav class="main-header navbar navbar-expand  navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
    </li>

  </ul>




  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="fa fa-user"></i>
      </a>

      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

                <%=link_to 'Sign out', destroy_member_account_session_path, method: :delete, class: "dropdown-item" %>
      </div>

    </li>

  </ul>
</nav>
<!-- /.navbar -->
