<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user panel (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <%=image_tag(current_user.avatar, height: 65, width: 65) %>
    </div>
    <div class="info">
      <%= link_to employee_path(current_user) do %>
        <%= current_user.name %><br>
        <small><i class="fa fa-circle text-success"></i> <%= current_user.designation %></small>
      <% end %>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <nav class="mt-1">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>
            Dashboard
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="/loans_dashboards" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Loans</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/savings_accounts_dashboards" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Savings </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/share_capitals_dashboards" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Share Capitals</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/members_dashboards" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Members</p>
            </a>
          </li>
        </ul>
      </li>
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
      <% if current_user.loan_officer? %>
        <%=render 'layouts/shared/sidebar_links/loans_department' %>
      <% end %>
      <% if current_user.teller? %>
        <%=render 'layouts/shared/sidebar_links/teller' %>
      <% end %>

      <% if current_user.treasurer? %>
        <%=render 'layouts/shared/sidebar_links/treasurer' %>
      <% end %>

      <% if current_user.general_manager? || current_user.branch_manager? %>
        <%=render 'layouts/shared/sidebar_links/management_department' %>
      <% end %>
      <% if current_user.bookkeeper? %>
        <%=render 'layouts/shared/sidebar_links/bookkeeper' %>
      <% end %>
      <% if current_user.accountant? %>
        <%=render 'layouts/shared/sidebar_links/accounting_department' %>
      <% end %>
      <% if current_user.sales_clerk? %>
        <%= render 'layouts/shared/sidebar_links/store_department' %>
      <% end %>
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
