<h2 class="title-up"> Savings Insights </h2>
<%= number_to_currency current_office.saving_products.total_balances %>
<%= number_to_currency current_office.saving_products.total_balances(from_date: Date.current.beginning_of_month, to_date: Date.current.end_of_month) %>
