<div class="container">
  <div class="container-fluid">
    <h1 class="text-open-sans-regular">Settings </h1>
    <br>
    <div class="card">
      <div class="card-body">
        <br>
        <h3 class="card-title"> Cooperative, Offices,  and Products </h3>
        <br>
        <div class="row">
          <div class="col-md-4">
            <%= link_to management_module_settings_general_index_path do %>
              <div class="row">
                <div class="col-md-3">
                  <span class="btn btn-default">
                    <i class="fa fa-cog"></i>
                  </span>
                </div>
                <div class="col-md-8">
                  <b class="">General</b><br>
                  <span class="text-muted">
                    View and update your cooperative details
                  </span>
                </div>
              </div>
            <% end %>
            <%= link_to management_module_settings_loan_products_path do %>
              <div class="row">
                <div class="col-md-3">
                  <span class="btn btn-default">
                    <i class="fa fa-cog"></i>
                  </span>
                </div>
                <div class="col-md-8">
                  <b class="">Loan Products</b><br>
                  <span class="text-muted">
                    Create and update loan products
                  </span>
                </div>
              </div>
            <% end %>
            <hr>
            <%= link_to management_module_settings_programs_path, id: 'program-settings' do %>
              <div class="row">
                <div class="col-md-3">
                  <span class="btn btn-default">
                    <i class="fa fa-cog"></i>
                  </span>
                </div>
                <div class="col-md-8">
                  <b class="">Programs</b><br>
                  <span class="text-muted">
                    Create and update programs
                  </span>
                </div>
              </div>
            <% end %>
            <%= link_to management_module_settings_time_deposit_products_path do %>
              <div class="row">
                <div class="col-md-3">
                  <span class="btn btn-default">
                    <i class="fa fa-cog"></i>
                  </span>
                </div>
                <div class="col-md-8">
                  <b class="">Time Deposit Products</b><br>
                  <span class="text-muted">
                    Create and update time deposit products
                  </span>
                </div>
              </div>
            <% end %>

            <%= link_to management_module_settings_offices_path, id: 'office-settings' do %>
              <div class="row">
                <div class="col-md-3">
                  <span class="btn btn-default">
                    <i class="fa fa-cog"></i>
                  </span>
                </div>
                <div class="col-md-8">
                  <b class="">Office Settings</b><br>
                  <span class="text-muted">
                    Create and update office details
                  </span>
                </div>
              </div>
            <% end %>
            <hr>
            <%= link_to management_module_settings_saving_products_path do %>
              <div class="row">
                <div class="col-md-3">
                  <span class="btn btn-default">
                    <i class="fa fa-cog"></i>
                  </span>
                </div>
                <div class="col-md-8">
                  <b class="">Saving Products</b><br>
                  <span class="text-muted">
                    Create and update saving products
                  </span>
                </div>
              </div>
            <% end %>
            <%= link_to management_module_settings_share_capital_products_path do %>
              <div class="row">
                <div class="col-md-3">
                  <span class="btn btn-default">
                    <i class="fa fa-cog"></i>
                  </span>
                </div>
                <div class="col-md-8">
                  <b class="">Share Capital Products</b><br>
                  <span class="text-muted">
                    Create and update share capital products
                  </span>
                </div>
              </div>
            <% end %>
            <%= link_to management_module_settings_users_path, id: 'employee-settings' do %>
              <div class="row">
                <div class="col-md-3">
                  <span class="btn btn-default">
                    <i class="fa fa-cog"></i>
                  </span>
                </div>
                <div class="col-md-8">
                  <b class="">Employee Settings</b><br>
                  <span class="text-muted">
                    Create and update employee details
                  </span>
                </div>
              </div>
            <% end %>
            <br>
            <%= link_to management_module_settings_offices_path do %>
              <div class="row">
                <div class="col-md-3">
                  <span class="btn btn-default">
                    <i class="fa fa-building"></i>
                  </span>
                </div>
                <div class="col-md-8">
                  <b class="">Office Settings </b><br>
                  <span class="text-muted">
                    View and manage your cooperative branch and satellite offices.
                  </span>
                </div>
              </div>
            <% end %>
            <br>


          <br>

        </div>




      <h3 class="card-title"> Monitoring, Member Locations </h3>
      <br>
      <div class="row">
        <div class="col-md-4">
          <%= link_to management_module_settings_barangays_path do %>
            <div class="row">
              <div class="col-md-3">
                <span class="btn btn-default">
                  <i class="fa fa-list"></i>
                </span>
              </div>
              <div class="col-md-8">
                <b>Barangays</b><br>
                <span class="text-muted">
                  View and manage members per barangay.
                </span>
              </div>
            </div>
          <% end %>
          <br>
          <%= link_to management_module_settings_cooperative_services_path do %>
            <div class="row">
              <div class="col-md-3">
                <span class="btn btn-default">
                  <i class="fa fa-users"></i>
                </span>
              </div>
              <div class="col-md-8">
                <b>Organizations</b><br>
                <span class="text-muted">
                  View and manage cooperative services. Set accounts for each services
                  to generate separate financial statement, income statements.
                </span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <hr />
      <br>
      <h3 class="card-title"> Data Templates and Uploading </h3>
      <br>
      <div class="row">
        <div class="col-md-4">
          <b> Savings Accounts </b><br>
          <span class="text-muted">
            Migrate savings accounts of members from your spreadsheet.
          </span>
          <br>
          <br>

        </div>
      </div>
    </div>
  </div>
</div>
</div>

<%= render 'management_module/settings/index' %>
