<div class="container">
  <div class="card">
    <div class="card-header no-border">
      <h3 class="title-up"> Subsidiary Ledger </h3>
    </div>
    <div class="card-body">
      <%= form_tag accounting_module_subsidiary_ledgers_path, method: :get, class: "search-form" do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Account", id: 'account-search-form' %>
      <span class="input-group-btn">
        <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default btn-flat") do %>
          <i class="fa fa-search"></i>
        <% end %>
      </span>
    </div>
  <% end %>
      <div class="table table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th> Account Code </th>
              <th> Account </th>
              <th> Type </th>
              <th> Balance </th>
            </tr>
          </thead>
          <tbody>
      <% @categories.each do |category| %>
      <tr data-link="<%= accounting_module_account_category_path(category) %>" style="cursor: pointer;">
          <td> <%= category.code %></td>
          <td><%= link_to category.title, accounting_module_account_category_path(category) %></td>
          <td> <%= category.normalized_type %></td>
          <td><%= number_to_currency category.balance %></td>
      <% end %>
    </tbody>
  </table>
  <%==pagy_nav(@pagy) %>
    </div>
    </div>
  </div>
</div>
<script>
$("tr[data-link]").click(function() {
  window.location = $(this).data("link")
})
</script>
