
    <h3 class="subtitle-up"><%=name%></h3>
    <thead>
      <tr>
        <th style="width: 10%"></th>
        <th style="width: 50%"></th>
        <th style="width: 10%"></th>

        <th></th>
      </tr>
    </thead>
    <% if accounts.count > 0 %>
      <tbody>
        <% running_total = 0 %>
        <% accounts.uniq.each do |account| %>
          <% balance = account.balance(:from_date => @from_date, :to_date => @to_date) %>
            <tr>
              <td style="width: 10%"></td>
              <td style="width: 50%"><%= link_to account.name, accounting_module_account_path(account) %></td>
              <td><span class="float-right"><%=number_to_currency balance %></span></td>
              <% running_total += balance %>
              <td style="width: 10%"></td>

            </tr>
        <% end %>
        <tr>
            <td style="width: 10%"></td>
            <td style="width: 50%"><span class="subtitle-up">Total <%= name%></span></td>
            <td><span class="subtitle-up float-right"><%= number_to_currency running_total%></span></td>
            <td style="width: 10%"></td>

        </tr>
      </tbody>
    <% end %>
