<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-5">
          <h4 class="subtitle-up"><%= account.name %></h4>
        </div>
        <div class="col-md-5">
          <small class="text-muted">BALANCE </small>
          <h4 class="subtitle-up"><%= number_to_currency account.balance %></h4>
        </div>
      </div>
      <ul class="nav nav-pills nav-pills-underline">
        <li class="nav-item"><%= link_to 'Info', accounting_module_account_path(account), class: "nav-link #{'active' if current_page?(accounting_module_account_path(account))}" %></li>
        <li class="nav-item"><%= link_to 'Ledger', accounting_module_account_entries_path(account), class: "nav-link #{'active' if current_page?(accounting_module_account_entries_path(account))}" %></li>
        <li class="nav-item"><%= link_to 'Reports', accounting_module_account_reports_path(account), class: "nav-link #{'active' if current_page?(accounting_module_account_reports_path(account))}"%></li>
        <li class="nav-item"><%= link_to 'Settings', accounting_module_account_settings_path(account), class: "nav-link #{'active' if current_page?(accounting_module_account_settings_path(account))}" %></li>
      </ul>
    </div>
  </div>
<% if current_page? accounting_module_account_path(account) %>
  <%= render 'accounting_module/accounts/partials/info', account: account %>
<% end %>
<% if current_page? accounting_module_account_entries_path(account) %>
  <%= render 'accounting_module/accounts/partials/entries', account: account %>
<% end %>
<% if current_page? accounting_module_account_reports_path(account) %>
  <%= render 'accounting_module/accounts/partials/reports', account: account %>
<% end %>
<% if current_page? accounting_module_account_settings_path(account) %>
  <%= render 'accounting_module/accounts/partials/settings', account: account %>
<% end %>
</div>
