<div class="modal-header">
  <h4 class="modal-title card-title" id="mainModalLabel">
    Edit Account
  </h4>
  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<%= simple_form_for @account, url: :accounting_module_account, html: { data: { modal: true } }, remote: request.xhr? do |f| %>
  <div class="modal-body">
    <%= f.error_notification %>
	  <%= f.input :name %>
	  <%= f.input :code %>
	  <%= f.input :type, collection: AccountingModule::Account.types %>
	  <%= f.input :account_category_id, collection: current_cooperative.account_categories.map{|a| [a.title, a.id] }, input_html: { class: 'chosen-select form-control'} %>
	  <%= f.input :contra %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Update Account", class: "btn btn-primary btn-flat", data: { disable_with: "Creating Account..." } %>
  </div>
<% end %>
