<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="title-up"> New Account Details </h3>
      <%= simple_form_for @account, url: :accounting_module_accounts, html: { data: { modal: true } }, remote: request.xhr? do |f| %>
        <div class="modal-body">
          <%= f.error_notification %>
          <%= f.input :name %>
          <%= f.input :code %>
          <%= f.input :type, collection: AccountingModule::Account.types %>
          <%= f.input :contra %>
          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :account_category_id, collection: current_office.account_categories.map{|a| [a.title, a.id] }, input_html: { class: 'chosen-select' } %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Create Account", class: "btn btn-primary btn-flat", data: { disable_with: "Creating Account..." } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
