<% if @voucher.entry.blank? %>
 <%= link_to "Confirm Transaction", time_deposit_interest_expense_voucher_confirmations_path(time_deposit_id: @time_deposit.id, voucher_id: @voucher.id), method: :post, class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
 <%#= link_to "Cancel", savings_account_deposit_voucher_path(savings_account_id: @savings_account.id, voucher_id: @voucher.id), method: :delete, class: "btn text-danger float-left" %>
<% end %>
