<%= link_to 'New Parent Account Sub Category', new_office_parent_account_category_parent_account_sub_category_path(parent_account_category_id: parent_account_category.id) %>
<% @sub_categories.each do |sub_category| %>
  <%= link_to sub_category.title, office_parent_account_sub_category_path(id: sub_category.id) %>
<% end %>
