<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">


      <div class="card-body">
        <p class="title-up"> Transaction Details </p>
        <div class="row">
          <div class="col-md-2">
            <%= image_tag(@share_capital.subscriber.avatar, height: 45, width: 45, class: 'img-circle') %>
          </div>
          <div classs="col-md-10">
            <h4 class="title-up"><%= @share_capital.account_name %></h4>
            <small class="text-muted"><i class="fa fa-map-marker"></i> <%= @share_capital.subscriber.current_address_complete_address %>
            </small>
            <br>
            <br>
            <small class="text-muted"> <%= @share_capital.share_capital_product_name.upcase %> </small>
            <h3 class="title-up"><%= number_to_currency @share_capital.balance %></h3>
          </div>
        </div>
        <br>

         <p class="text-muted"> Please check details below if correct. </p>
          <div class="row min-margin">
            <div class="col-md-3 offset-md-2 col-sm-4">
              <h4 class="subtitle-up">Amount</h4>
            </div>
            <div class="col-md-6 col-sm-6">
              <h4 class="subtitle-up float-right"><%= number_to_currency @voucher.voucher_amounts.for_account(account: @share_capital.equity_account).total %></h4>
            </div>
          </div>
          <div class="row min-margin">
            <div class="col-md-3 offset-md-2 col-sm-4">
              <h4 class="subtitle-up">Date</h4>
            </div>
            <div class="col-md-6 col-sm-8">
              <h4 class="subtitle-up float-right"><%= @voucher.date.strftime('%b. %e, %Y') %></h4>
            </div>
          </div>
          <div class="row min-margin">
            <div class="col-md-3 offset-md-2 col-sm-4">
              <h4 class="subtitle-up">REF #</h4>
            </div>
            <div class="col-md-6 col-sm-8">
              <h4 class="subtitle-up float-right"><%= @voucher.reference_number %></h4>
            </div>
          </div>
          <hr>


        <% if @voucher.entry.blank? %>
          <%= link_to "Confirm Transaction", share_capital_voucher_confirmations_path(share_capital_id: @share_capital.id, voucher_id: @voucher.id), method: :post, class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
          <%= link_to "Cancel", share_capital_voucher_path(share_capital_id: @share_capital.id, voucher_id: @voucher.id), method: :delete, class: "btn text-danger float-left" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
