<% @savings_accounts.each do |saving| %>
  <%= saving.depositor_name %>
  <%= link_to 'Select', new_savings_account_balance_transfer_path(savings_account_id: @origin_saving.id, destination_saving_id: saving.id) %>
<% end %>
