<%= link_to 'New Supplier', new_store_front_supplier_path(store_front_id: @store_front.id) %>
<% @suppliers.each do |supplier| %>
  <%= link_to supplier.business_name, store_front_supplier_path(store_front_id: @store_front.id, id: supplier.id) %>
<% end %>
