<%= simple_form_for @supplier, url: :store_front_suppliers do |f| %>
  <%= f.input :business_name %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :contact_number %>
  <%= f.input :address %>
  <%= f.input :store_front_id, input_html: { value: @store_front.id } %>
  <%= f.submit 'Save Supplier' %>
<% end %>
