<div class="row">
  <div class="col-md-6">
    <h2 class="title-up">Disbursements </h2>
  </div>
  <div class="col-md-6">
    <%= form_tag treasury_module_cash_account_disbursements_path(cash_account), method: :get, class: "search-form" do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Disbursements ", id: 'account-search-form' %>
          <span class="input-group-btn">
            <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default btn-flat") do %>
              <i class="fa fa-search"></i>
            <% end %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
 <%= render 'treasury_module/cash_accounts/partials/transactions', cash_account: @cash_account, entries: @entries %>
