
    <div class="table table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <td> Reference # </td>
            <td> Date </td>
            <td> Member/Payee </td>
            <td> Description</td>
            <td> Total Cash</td>
            <td> Employee </td>
          </tr>
        </thead>
        <tbody>
          <% entries.each do |entry| %>
              <tr>
                <td><%= link_to entry.reference_number, accounting_module_entry_path(entry) %></td>
                <td><%= entry.entry_date.strftime('%b %e, %Y')%></td>
                <td><%= entry.commercial_document_name %></td>
                <td><%= entry.description %></td>
                <td><%= number_to_currency entry.amounts.total_cash_amount %></td>
                <td><%= entry.recorder_name %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
      <center><%==pagy_nav(@pagy) %></center>
    </div>
