<div class="row">
  <div class="col-md-3 border-right">
    <h3> <%= @loans.distinct.count %></h3>
    <small>TOTAL LOANS</small>
  </div>
  <div class="col-md-9">
    <h3> <%= number_to_currency @loans.principal_balance %></h3>
    <small>TOTAL LOAN BALANCE</small>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <h4> Loan Portfolio At Risk (Loan Count) </h4>
    <% par_data = [] %>
    <% par_data << { "1-60 Days Past Due" => @loans.distinct.past_due_loans_on(from_date: Date.today - 60.days, to_date: Date.today - 1.days).count } %>
    <% par_data << { "61-180 Days Past Due" => @loans.distinct.past_due_loans_on(from_date: Date.today - 180.days, to_date: Date.today - 61.days).count } %>
    <% par_data << { "181-363 Days Past Due" => @loans.distinct.past_due_loans_on(from_date: Date.today - 363.days, to_date: Date.today - 181.days).count } %>
    <% par_data << { "Over 1 Year Past Due" => @loans.distinct.past_due_loans_on(from_date: Date.today - 999.years, to_date: Date.today - 364.days).count } %>
    <%= pie_chart (Hash[*par_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true %>
  </div>
  <div class="col-md-6">
    <h4> Loan Portfolio At Risk (Balances) </h4>
    <% par_balances_data = [] %>
    <% par_balances_data << { "31-60 Days Past Due" => @loans.distinct.past_due_loans_on(from_date: Date.today - 60.days, to_date: Date.today - 1.days).principal_balance } %>
    <% par_balances_data << { "61-180 Days Past Due" => @loans.distinct.past_due_loans_on(from_date: Date.today - 180.days, to_date: Date.today - 61.days).principal_balance } %>
    <% par_balances_data << { "181-363 Days Past Due" => @loans.distinct.past_due_loans_on(from_date: Date.today - 363.days, to_date: Date.today - 181.days).principal_balance } %>
    <% par_balances_data << { "Over 1 Year Past Due" => @loans.distinct.past_due_loans_on(from_date: Date.today - 999.years, to_date: Date.today - 363.days).principal_balance } %>
    <%= pie_chart (Hash[*par_balances_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true, thousands: "," %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <h4>Current vs Past Due (Loan Count) </h4>
    <% count_current_vs_past_due_data = [] %>
    <% count_current_vs_past_due_data << { "Current Loans" => @loans.distinct.current_loans.count } %>
    <% count_current_vs_past_due_data << { "Past Due Loans" => @loans.distinct.past_due_loans.count } %>
    <%= pie_chart (Hash[*count_current_vs_past_due_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true, thousands: "," %>
  </div>
  <div class="col-md-6">
    <h4>Current vs Past Due (Balances) </h4>
    <% current_vs_past_due_data = [] %>
    <% current_vs_past_due_data << { "Current Loans" => @loans.distinct.current_loans.principal_balance } %>
    <% current_vs_past_due_data << { "Past Due Loans" => @loans.distinct.past_due_loans.principal_balance } %>
    <%= pie_chart (Hash[*current_vs_past_due_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true, thousands: "," %>
  </div>
</div>



<hr>
<h4> Porftfolio At Risk </h4>
<div class="table table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th> Portfolio </th>
        <th> Balances </th>
        <th> Loan Count </th>
        <th> Percentage </th>
      </tr>
    </thead>
    <tbody>
    
    </tbody>
  </table>
</div>
