<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-9">
        <h3 class="card-title">Net Income Distribution</h3>
        <%= @from_date.strftime("%B %e, %Y") %> -
        <%= @to_date.strftime("%B %e, %Y") %>
      </div>
      <div class="col-md-3">
        <%=link_to accounting_module_reports_net_income_distributions_path(format: 'pdf', from_date: @from_date, to_date: @to_date) do  %>
          <span class="btn btn-default float-right"><i class="fa fa-pdf"></i> View (PDF) </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= form_tag({:action => 'index'}, {:method => :get, class: "form-inline"}) do %>
      <%= label_tag :from_date,  "From Date", class: 'sr-only'%>
      <%= text_field_tag :from_date, @from_date.strftime("%B %e, %Y"), :class => 'datepicker form-control', :placeholder => "From" %>

        <%= label_tag :to_date, nil, class: 'sr-only'%>
        <%= text_field_tag :to_date, @to_date.strftime("%B %e, %Y"), :class => 'datepicker form-control', :placeholder => "To" %>

      <button type="submit" class="btn btn-primary">Generate</button>
    <% end %>
    <hr>
    <h3 class="card-title"> Net Income: <%= number_to_currency @net_income %></h3>
    <br>
    <h3 class="card-title"> Distribution </h3>
    <% @net_income_distributions.each do |distribution| %>
      <div class="row">
        <div class="col-md-7">
          <%= distribution.description %>
        </div>
        <div class="col-md-1">
          <%= distribution.rate %>
        </div>
        <div class="col-md-3">
          <%= number_to_currency distribution.amount_for(@net_income) %>
        </div>
      </div>
      <br>
    <% end %>
  </div>

</div>
