<%= link_to 'New Service', new_office_cooperative_service_path(@office) %>
<% @office.cooperative_services.each do |service| %>
  <%= link_to service.title, cooperative_service_path(service) %>
<% end %>
