<div class="card">
  <div class="card-body">
    <ul class="nav nav-pills nav-pills-underline">
      <li class="nav-item"><%= link_to 'Info', accounting_module_account_category_path(account_category), class: "nav-link #{'active' if current_page?(accounting_module_account_category_path(account_category))}" %></li>
      <li class="nav-item"><%= link_to 'Accounts', accounting_module_account_category_accounts_path(account_category), id: "#{account_category.id}-accounts", class: "nav-link #{'active' if current_page?(accounting_module_account_category_accounts_path(account_category))}"%></li>
      <li class="nav-item"><%= link_to 'Entries', accounting_module_account_category_entries_path(account_category), id: "#{account_category.id}-entries", class: "nav-link #{'active' if current_page?(accounting_module_account_category_entries_path(account_category))}" %></li>
      <li class="nav-item"><%= link_to 'Subsidiary Ledgers', accounting_module_account_category_sub_categories_path(account_category), id: "#{account_category.id}-sub-categories", class: "nav-link #{'active' if current_page?(accounting_module_account_category_sub_categories_path(account_category))}"%></li>
      <li class="nav-item"><%= link_to 'Settings', accounting_module_account_category_settings_path(account_category), id: "#{account_category.id}-settings", class: "nav-link #{'active' if current_page?(accounting_module_account_category_settings_path(account_category))}" %></li>
    </ul>
    <% if current_page? accounting_module_account_category_entries_path(account_category) %>
      <%= render 'accounting_module/account_categories/partials/entries', account_category: account_category %>
    <% end %>
    <% if current_page? accounting_module_account_category_sub_categories_path(account_category) %>
      <%= render 'accounting_module/account_categories/partials/sub_categories', account_category: account_category %>
    <% end %>
    <% if current_page? accounting_module_account_category_accounts_path(account_category) %>
      <%= render 'accounting_module/account_categories/partials/accounts', account_category: account_category %>
    <% end %>
    <% if current_page? accounting_module_account_category_settings_path(account_category) %>
      <%= render 'accounting_module/account_categories/partials/settings', account_category: account_category %>
    <% end %>
  </div>
</div>
