<div class="row">
    <div class="col-md-4">
      <h2 class="title-up">Members</h2>
    </div>
    <div class="col-md-5">
      <%= form_tag members_path, method: :get, class: "search-form" do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by Member ", id: 'account-search-form' %>
          <span class="input-group-btn">
            <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default btn-flat") do %>
              <i class="fa fa-search"></i>
            <% end %>
          </span>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to 'New Member', new_membership_application_path  %>
    </div>
  </div>
</div>
<% @members.each do |member| %>
  <%= render 'members/member', member: member %>
<% end %>

    <center><%==pagy_bootstrap_nav(@pagy) %> </center>
