<div class="container">
  <div class="card">
    <div class="card-body">
      <br />
      <div class="row">
        <div class="col-md-4">
          <h3 class="title-up"><%= @members.uniq.size %></h3>
          <small class="text-muted"> TOTAL MEMBERS </small>
        </div>
        <div class="col-md-4">
          <h3 class="title-up"><%= @members.male.uniq.size %></h3>
          <small class="text-muted"> MALE </small>
        </div>
        <div class="col-md-4">
          <h3 class="title-up"><%= @members.female.uniq.size %></h3>
          <small class="text-muted"> FEMALE </small>
        </div>
      </div>
      <hr>
      <h4 class="subtitle-up"> Transaction Monitoring </h4>
      <% months = [] %>
      <% (DateTime.now.beginning_of_year..DateTime.now.end_of_month).each do |month| %>
       <% months << month.beginning_of_month %>
      <% end %>
      <% active_data = [] %>
      <% inactive_data = [] %>

      <% months.uniq.each do |month| %>

        <% active_data << { month.strftime("%b").upcase => @members.active_at(from_date: month.beginning_of_month, to_date: month.end_of_month).distinct.size  } %>

        <% inactive_data << { month.strftime("%b").upcase => @members.inactive_at(from_date: month.beginning_of_month, to_date: month.end_of_month).distinct.size  } %>
      <% end %>
      <%= area_chart [
        { name: 'Active', data: Hash[*active_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?} },
        { name: 'Inactive', data: Hash[*inactive_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?} }
        ], thousands: ",", legend: 'bottom', curve: false %>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="title-up"> Age </h3>
      <%= scatter_chart current_office.member_memberships.group(:age).count.map{|a| a.to_a}.compact %>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h3 class="title-up"> Sex </h3>
    <% sex_data = [] %>
    <% sex_data << { "Male" => current_office.member_memberships.male.count } %>
    <% sex_data << { "Female" => current_office.member_memberships.female.count } %>
    <%= pie_chart (Hash[*sex_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true, curve: false, thousands: ",", legend: 'bottom' %>

  </div>
</div>

<div class="card">
  <div class="card-body">
    <h3 class="title-up"> Civil Status </h3>
  <% civil_status_data = [] %>
  <% Member.civil_statuses.keys.to_a.each do |status| %>
  <% civil_status_data << { status => current_office.member_memberships.where(civil_status: status).count } %>
  <% end %>
  <%= pie_chart (Hash[*civil_status_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true,  thousands: ",", legend: 'bottom' %>

</div>
</div>
