<div class="card">
  <div class="card-header">
    <nav class="nav nav-tabs nav-pills">
      <% current_cooperative.users.each do |user| %>
        <li class="nav-item">
          <%= link_to accounting_module_per_employee_entries_path(recorder_id: user.id), class: "nav-link #{'active' if current_page?(accounting_module_per_employee_entries_path(recorder_id: user.id))}" do %>
            <center>
              <% if user.avatar.attached? %>
                <span title="<%= user.role.titleize %>" data-toggle="tooltip"> <%= image_tag(user.avatar, height: 45, width: 45, class: "img-circle") %></span><br>
              <% end %>
              <small><%= user.first_name %></small>
            </center>
          <% end %>
        </li>
      <% end %>
    </nav>
  </div>
</div>

<%#{'active' if current_page?(accounting_module_per_employee_entries_path(recorder_id: user.id))} %>
