<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-10">
        <ul class="nav nav-tabs nav-pills">
          <li class="nav-item"><%= link_to 'All Entries', accounting_module_entries_path, class: "nav-link #{'active' if current_page?(accounting_module_entries_path)}" %></li>
          <li class="nav-item"><%= link_to 'Cash Receipts', accounting_module_cash_receipts_path, class: "nav-link #{'active' if current_page?(accounting_module_cash_receipts_path)}" %></li>
          <li class="nav-item"><%= link_to 'Cash Disbursements', accounting_module_cash_disbursements_path, class: "nav-link #{'active' if current_page?(accounting_module_cash_disbursements_path)}" %></li>
          <li class="nav-item"><%= link_to 'Journal Entry Vouchers', accounting_module_journal_entry_vouchers_path, class: "nav-link #{'active' if current_page?(accounting_module_journal_entry_vouchers_path)}" %></li>
        </ul>
      </div>
      <div class="col-md-2">
        <%= link_to 'New Entry', new_accounting_module_entry_line_item_path, data: { turbolinks: false }, class: 'btn btn-primary float-right' %>
      </div>
    </div>
  </div>
</div>