<%= link_to accounting_module_entry_path(entry) do %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-1">
          <% if entry.commercial_document.present? && entry.commercial_document.avatar.attached? %>
            <%= image_tag(entry.commercial_document.avatar, height: 45, width: 45, class: "img-circle")%>
          <% end %>
        </div>
        <div class="col-md-2">
          <% if entry.commercial_document.present? %>
            <%= entry.commercial_document_name %>
          <% end %>
        </div>
        <div class="col-md-6">
          <span class="text-muted"><b><%= entry.description %></b></span><br>
          <small class="text-muted"><i class="fa fa-clock"></i> <%= entry.entry_date.strftime("%B %e, %Y") %> &nbsp; &nbsp;
            # <%= entry.reference_number %> &nbsp;
          <i class="fa fa-user-circle"></i> <%= entry.recorder_first_and_last_name %></small>
          <br>

        </div>
        <div class="col-md-3">
          <span class="number"><%= number_to_currency entry.debit_amounts.total %></span>
        </div>
      </div>
    </div>
  </div>
<% end %>
