<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Add Program Payment</h3>
      </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <center><%= image_tag(@loan_application.borrower.avatar, width: 80, height: 80, class: 'media-object img-circle') if @loan_application.borrower.avatar.attached? %></center>
        </div>
        <div class="col-md-9">
          <br>
          <h3 class="card-title"><%= @loan_application.borrower_name.upcase %></h3><br>
           <i class="fa fa-map-marker"></i> Address: <%= @loan_application.borrower.try(:current_address_complete_address) %>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h3 class="card-title">
            <%= number_to_currency @loan_application.net_proceed %>
          </h3>
          <small class="text-muted">NET PROCEED</small>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h4 class="card-title"><%= number_to_currency @program_subscription.amount %></h4>
      <small class="text-muted"> <%= @program_subscription.name %></small>
    </div>
  </div>
</div>
<%= simple_form_for [@program_subscription, @payment], url: :loans_module_loan_application_program_subscription_payments do |f| %>
  <div class="modal-body">
    <%= f.error_notification %>
    <%= f.input :amount, autofocus: true, as: :currency, input_html: { value: @program_subscription.amount } %>
    <%= f.input :program_subscription_id, input_html: { value: @program_subscription.id }, as: :hidden %>
    <%= f.input :loan_application_id, input_html: { value: @loan_application.id }, as: :hidden %>

  </div>
  <div class="modal-footer">
    <%= f.submit "Add Payment", class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#charge_account_id").select2({
      theme: "bootstrap"
    });
  });
</script>
