<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2  class="title-up"> Loan Products </h2>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="card">
    <div class="card-body">
<%= link_to 'New Loan Product', new_office_loan_product_path(@office), class: 'btn btn-danger float-right' %>
<table class="table table-hover">
  <thead>
    <tr></tr>
  </thead>
  <tbody>
    <% @loan_products.each do |loan_product| %>
 <tr style="cursor: pointer;" data-link="<%= office_loan_product_path(office_id: @office.id, id: loan_product.id) %>">
        <td><%= link_to loan_product.name, office_loan_product_path(office_id: @office.id, id: loan_product.id) %></td>
        <td><%= number_to_currency loan_product.receivable_account_category.balance %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <script>
  $("tr").click(function() {
    window.location = $(this).data("link")
  })
  </script>
