<%= simple_form_for @office_loan_product, url: :office_loan_products do |f| %>
  <%= f.input :loan_product_id, collection: current_cooperative.loan_products.map{|a| [a.name, a.id] }, input_html: { class: 'chosen-select' } %>
  <%= f.input :receivable_account_category_id, collection: current_cooperative.account_categories.assets.map{|a| [a.title, a.id] }, input_html: { class: 'chosen-select' } %>
  <%= f.input :interest_revenue_account_category_id, collection: current_cooperative.account_categories.revenues.map{|a| [a.title, a.id] }, input_html: { class: 'chosen-select' } %>
  <%= f.input :penalty_revenue_account_category_id, collection: current_cooperative.account_categories.revenues.map{|a| [a.title, a.id] }, input_html: { class: 'chosen-select' } %>
  <%= f.input :loan_protection_plan_provider_id, collection: current_office.loan_protection_plan_providers.map{|a| [a.business_name, a.id] }, input_html: { class: 'chosen-select' } %>
  <%= f.input :amortization_type_id, collection: current_office.amortization_types.map{|a| [a.name, a.id] }, input_html: { class: 'chosen-select' } %>
  <%= f.input :temporary_account_id, collection: current_office.accounts.assets.map{|a| [a.name, a.id] }, input_html: { class: 'chosen-select' } %>
  <%= f.submit 'Save Loan Product' %>
<% end %>
