<%= link_to 'Edit Loan Product', edit_office_loan_product_path(office_id: @office.id, id: @loan_product.id) %>

<h2 class="title-up"> <%= @loan_product.name %></h2>
<%= @loan_product.loan_protection_plan_provider_business_name %>

<div class="card">
  <div class="card-body">
    <%= link_to 'New Charge', new_office_loan_product_loan_product_charge_path(office_id: current_office.id, loan_product_id: @loan_product.id), class: 'btn btn-danger float-right' %>
    <div class="table table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Charge Name</th>
            <th>Amount</th>
            <th>Rate</th>
            <th>Account</th>
          </tr>
        </thead>
        <tbody>
          <% @loan_product_charges.each do |charge| %>
            <tr>
              <td><%= charge.name %></td>
              <td><%= number_to_currency charge.amount %></td>
              <td><%= charge.rate_in_percent %> % </td>
              <td><%= charge.account_name %></td>
              <td></td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
