
<div class="container">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <h4 class="title-up"> Add Members </h4>
          </div>
          <div class="col-md-6">
            <%= form_tag new_organization_member_path, method: :get, class: "sidebar-form" do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for First name, Last name", id: 'taxpayer-search-form' %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% @members.each do |member| %>
      <div class="card animated fadeInUp min-margin">
        <div class="card-body">
          <div class="row">
            <div class="col-md-1 col-sm-1">
              <%= image_tag(member.avatar, height: 45, width: 45, class: "img-circle") if member.avatar.attached? %>
            </div>
            <div class="col-md-8 col-sm-8">
              <b> <%= member.full_name %></b>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <small class="text-muted">
                    <i class="fa fa-map-marker"></i> <%= member.current_address_complete_address %> &nbsp;
                    <i class="fa fa-phone"></i> <%= member.current_contact_number %>
                  </small>
                </div>
                <div class="col-md-6 col-sm-6">

                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3">
              <%= simple_form_for [@organization, @member], url: :organization_members do |f| %>
                <%= f.input :organization_membership_id, input_html: { value: member.id }, as: :hidden %>
                <%= f.input :organization_membership_type, input_html: { value: member.class }, as: :hidden %>
                <% if @organization.organization_memberships.pluck(:cooperator_id).exclude?(member.id) %>
                  <%= button_tag(class: "btn btn-primary btn-sm") do %>
                    <i class="fa fa-user-plus"></i> Add Member
                  <% end %>
                <% else %>

                   <span class="badge badge-outline-success"> <i class="fa fa-user-check"></i> Member Added </span>

                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<center><%==pagy_bootstrap_nav(@pagy)%></center>
