<%=form_tag store_front_module_store_index_path, method: :get do %>
           <div class="input-group">
             <%= text_field_tag :search, params[:search], id: 'stock-search-form', class: "search-query form-control border-input", placeholder: "Search for items", type: "search" %>
             <span class="input-group-btn">
               <%= button_tag(type: 'submit', class: "btn btn-default", id: 'store-search-button') do %>
                 <i class="icon-magnifier"></i> Browse Products
               <% end %>
             </span>
           </div>
         <% end %>
<% if @stocks.present? %>
  <%= render 'store_front_module/store/partials/searched_stocks' %>
<% elsif  @products.present? %>
  <%= render 'store_front_module/store/partials/searched_products' %>
<% end %>
