<div class="row">
  <div class="col-md-12">
    <div class="card">
    <div class="card-header">
      <h3 class="subtitle-up"><%= @loan_product.name %></h3>
      <p class="text-muted"><%= @loan_product.description %></p>
      <ul class="nav nav-pills-underline">
        <li class="nav-item"><%= link_to 'Loans', loans_module_loan_product_loans_path(@loan_product), class: "nav-link #{'active' if current_page?(loans_module_loan_product_loans_path(@loan_product))}" %></li>
        <li class="nav-item"><%= link_to 'Insights', loans_module_loan_product_insights_path(@loan_product), class: "nav-link #{'active' if current_page?(loans_module_loan_product_insights_path(@loan_product))}" %></li>
        <li class="nav-item"><%= link_to 'Reports', loans_module_loan_product_reports_path(@loan_product), class: "nav-link #{'active' if current_page?(loans_module_loan_product_reports_path(@loan_product))}" %></li>

      </ul>
    </div>
  </div>
      <% if current_page? loans_module_loan_product_path(@loan_product) %>
        <%= render 'loans_module/loan_products/partials/info' %>
      <% end %>
      <% if current_page? loans_module_loan_product_reports_path(@loan_product) %>
        <%= render 'loans_module/loan_products/partials/reports', loan_product: @loan_product %>
      <% end %>
    </div>
  </div>
</div>
