<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <%= simple_form_for @line_item, url: :store_front_module_supplier_purchase_line_items do |f| %>
          <%= f.input :quantity %>
          <%= f.input :barcode %>
          <%= f.input :unit_of_measurement_id, input_html: { value: params[:unit_of_measurement_id] } %>
          <%= f.input :cart_id, input_html: { value: current_cart.id } %>
          <%= f.input :expiry_date, as: :string, input_html: { class: 'datepicker' } %>
          <%= f.input :unit_cost %>
          <%= f.input :total_cost %>
          <%= f.input :product_id, input_html: { value: @product.id }, as: :hidden %>
          <%= f.input :store_front_id, input_html: { value: current_store_front.id }, as: :hidden %>

          <%= f.submit "Add Item", class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <%= render 'store_front_module/suppliers/partials/purchase_cart' %>
    <%= render 'store_front_module/suppliers/partials/purchase_form' %>

  </div>
</div>
