
<div class="card">
  <div class="card-header">
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <%= link_to 'Summary', insights_members_summaries_path, class: "nav-link #{"active" if current_page?(insights_members_summaries_path)}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Location', insights_members_by_locations_path, class: "nav-link #{"active" if current_page?(insights_members_by_locations_path)}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Age', insights_members_by_ages_path, class: "nav-link #{"active" if current_page?(insights_members_by_ages_path)}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Occupation', insights_members_by_occupations_path, class: "nav-link #{"active" if current_page?(insights_members_by_occupations_path)}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Civil Status', insights_members_by_civil_statuses_path, class: "nav-link #{"active" if current_page?(insights_members_by_civil_statuses_path)}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Sex', insights_members_by_sexes_path, class: "nav-link #{"active" if current_page?(insights_members_by_sexes_path)}" %>
  </li>
</div>
<div class="card-body">
  <% if current_page? insights_members_summaries_path %>
    <%= render 'insights/members/partials/summary' %>
  <% end %>
  <% if current_page? insights_members_by_locations_path %>
    <%= render 'insights/members/partials/location' %>
  <% end %>
</div>
