<% breadcrumb :new_savings_account_application, @depositor %>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
        <h3 class="title-up">New Savings Account </h3>
        <div class="min-margin"></div>
        <div class="row">
          <div class="col-md-3 col-sm-3">
            <%= image_tag(@depositor.avatar, width: 85, height: 85, class: "img-circle") %>
          </div>
          <div class="col-md-9 col-sm-9">
            <h4 class="title-up no-margin-bottom"> <%= @depositor.name %> </h4>
            <small class="text-muted"><i class="fa fa-map-marker"></i> <%= @depositor.current_address_complete_address %></small><br>
            <small class="text-muted"><i class="fa fa-phone"></i> <%= @depositor.current_contact_number %></small><br>

          </div>
        </div>
        <br>

        <%= simple_form_for @savings_account_application, url: :savings_account_applications, html: { autocomplete: 'off' } do |f| %>
          <%= f.input :date, label: "Date Opened", as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :saving_product_id, label: "Savings Account Product", collection: current_office.saving_products.map{ |a| [a.name, a.id] }, input_html: { class: 'chosen-select' } %>
          <%= f.input :amount, label: 'Initial Deposit', input_html: { class: 'currency_input' } %>
          <%= f.input :description, as: :text, input_html: { value: "Savings account opening."} %>
          <%= f.input :reference_number %>
          <%= f.input :cash_account_id, label: "Cash Account(Debit)", collection: current_user.cash_accounts.map{|a| [a.name, a.id] }, default: current_user.cash_accounts.first %>
          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :voucher_account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= f.input :depositor_id, input_html: { value: @depositor.id }, as: :hidden %>
          <%= f.input :depositor_type, input_html: { value: @depositor.class.to_s }, as: :hidden %>

          <%= f.submit "Proceed", class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
