<div class="container">
<div class="card">
  <div class="card-body">
        <h4 class="title-up">Savings Portfolio</h4>
        <div class="text-muted">Generate report on savings deposit balances of members.</div>
        <div class="min-margin"></div>
    <%= form_tag({format: 'xlsx', :action => 'index', controller: "portfolios/savings"}, {:method => :get }) do %>
    <div class="row">
      <div class="col-md-4">
          <%= text_field_tag :to_date, @to_date, :class => 'datepicker form-control' %>
        </div>
        <div class="col-md-4">

        <%= select_tag :office_id, options_for_select(current_cooperative.offices.map {|m| [m.name, m.id]}, params[:office_id]), class: ' form-control border-input chosen-select', prompt: false %>
      </div>
      <div class="col-md-3">
      <button type="submit" class="btn btn-outline-primary">Generate (Excel)</button>
    </div>
  </div>
    <% end %>

    <div class="row">
      <div class="col-md-12">
        <h4 class="card-title">Share Capitals Portfolio</h4>
        <div class="card-sub-title">Generate report on share capital balances of members.</div>
      </div>
    </div>
    <hr>
    <label class="no-margin-bottom">As of</label>
    <%= form_tag({format: 'xlsx', :action => 'index', controller: "portfolios/share_capitals"}, {:method => :get, :class => 'form-inline'}) do%>
      <div class="form-group">
        <%= text_field_tag :to_date, @to_date, :class => 'datepicker form-control' %>
        <%= select_tag :office_id, options_for_select(current_cooperative.offices.map {|m| [m.name, m.id]}, params[:office_id]), class: ' form-control border-input', prompt: false %>

      </div>
      <button type="submit" class="btn btn-default">Get Report (Excel)</button>
    <% end %>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <h4 class="card-title">Time Deposit Portfolio</h4>
        <div class="card-sub-title">Generate report on time deposit balances of members.</div>
      </div>
    </div>
    <hr>
    <label class="no-margin-bottom">As of</label>
    <%= form_tag({format: 'xlsx', :action => 'index', controller: "portfolios/time_deposits"}, {:method => :get, :class => 'form-inline'}) do%>
      <div class="form-group">
        <%= text_field_tag :to_date, @to_date, :class => 'datepicker form-control' %>
        <%= select_tag :office_id, options_for_select(current_cooperative.offices.map {|m| [m.name, m.id]}, params[:office_id]), class: ' form-control border-input', prompt: false %>

      </div>
      <button type="submit" class="btn btn-default">Get Report (Excel)</button>
    <% end %>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <h4 class="card-title">Loans Portfolio</h4>
        <div class="card-sub-title">Generate report on loan balances of members.</div>
      </div>
    </div>
    <hr>
    <label class="no-margin-bottom">As of</label>
    <%= form_tag({format: 'xlsx', :action => 'index', controller: "portfolios/loans"}, {:method => :get, :class => 'form-inline'}) do%>
      <div class="form-group">
        <%= text_field_tag :to_date, @to_date, :class => 'datepicker form-control' %>
      </div>
      <div class="form-group">
        <%= select_tag :loan_product, options_for_select(current_office.loan_products.map {|m| [m.name, m.id]}, params[:loan_loan_product]), class: ' form-control border-input', prompt: false %>
      </div>
      <div class="form-group">
        <%= select_tag :office_id, options_for_select(current_cooperative.offices.map {|m| [m.name, m.id]}, params[:office_id]), class: ' form-control border-input', prompt: false %>

      </div>
      <button type="submit" class="btn btn-default">Get Report (Excel)</button>
    <% end %>
  </div>
</div>
