<%= simple_form_for [@office, @amortization_type], url: :office_amortization_types do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :calculation_type, collection: LoansModule::AmortizationType.calculation_types.keys.to_a.map{ |a| [a.titleize, a] }, as: :radio_buttons %>
  <%= f.input :repayment_calculation_type, collection: LoansModule::AmortizationType.repayment_calculation_types.keys.to_a.map{ |a| [a.titleize, a] }, as: :radio_buttons %>
  <%= f.submit 'Create Amortization Type' %>
<% end %>
