
      <div class="row">
        <div class="col-md-6">
          <small class="text-muted">Current Balance</small>
          <h3 class="title-up"><%= number_to_currency @bank_account.balance %></h3>
          <%= link_to new_bank_account_deposit_path(@bank_account) do %>
            <span class="btn btn-success"><i class="fa fa-arrow-circle-down"></i> Deposit </span>
          <% end %>
          <%= link_to new_bank_account_withdrawal_path(@bank_account) do %>
            <span class="btn btn-danger"><i class="fa fa-arrow-circle-up"></i> Withdraw </span>
          <% end %>
        </div>
        <div class="col-md-6">
          <span class="subtitle-up">Bank Name: <%= @bank_account.bank_name %></span><br>
          <small><i class="fa fa-map-marker"></i> Address: <%= @bank_account.bank_address %></small><br>
          <small><i class="fa fa-credit-card"></i> Account Number: <%= @bank_account.account_number %></small>

        </div>
      </div>
      <hr>






<h3 class="title-up">Transactions History </h3>

    <div class="table table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Reference #</th>
            <th>Description</th>
            <th>Withdrawal</th>
            <th>Deposit</th>
            <th>Balance</th>
            <th> Employee </th>
          </tr>
        </thead>
        <tbody>
          <% @entries.each do |entry| %>
            <tr>
              <td><%= link_to entry.entry_date.strftime('%B %e, %Y'), accounting_module_entry_path(entry) %></td>
              <td><%= entry.reference_number %></td>
              <td><%= entry.description %></td>
              <td>
                <% amount = entry.credit_amounts.where(account: @bank_account.cash_account).total %>
                  <% if !amount.zero? %>
                  <%= number_to_currency amount %>
                  <% end %>
                </td>
               <td><% amount = entry.debit_amounts.where(account: @bank_account.cash_account).total %>
                  <% if !amount.zero? %>
                  <%= number_to_currency amount %>
                  <% end %></td>
              <td><%= number_to_currency @bank_account.balance(to_date: entry.entry_date) %></td>
              <td><%= entry.recorder_name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%==pagy_nav(@pagy) %>
    </div>
  </div>
</div>
