<div class="card">
	<div class="card-body">
    <b> Subsidiary Ledger </b>
    <%= @account.level_one_account_category_title %><br>
    <b> Account Name </b>
		<%= @account.name %>
		<h3 class="title-up">
		  <%= number_to_currency @account.balance %>
		</h3>
		<b> Last Transaction </b><span title="Last Transaction Date" data-toggle="tooltip"><%= @account.last_transaction_date.strftime('%B %e, %Y') %></span>
	</div>
</div>
