<div class="card">
  <div class="card-body">
    <h3 class="card-title"> Account Settings </h3>

    <div class="row">
      <div class="col-md-8">
        <p class="text-muted"> Edit account. </p>
      </div>
      <div class="col-md-3">
        <%= link_to 'Edit', edit_accounting_module_account_path(@account), class: 'btn btn-outline-danger', data: {modal: true} %>
      </div>
    </div>
  </div>
</div>
