<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header bg-light">
        <div class="row">
          <div class="col-md-6">
            <h3 class="card-title"> Voucher Details </h3>
          </div>
          <div class="col-md-6">
            <%=link_to 'View (PDF)', voucher_path(@voucher, format: "pdf"), class: "btn btn-default float-right" %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <% if !@voucher.disbursed? %>
          <%= render 'vouchers/partials/alert_message', voucher: @voucher %>
        <% end %>
        <%= render 'vouchers/partials/body', voucher: @voucher %>
        <% if !@voucher.disbursed?%>

            <%= link_to "Disburse", voucher_disbursements_path(voucher_id: @voucher.id), method: :post, class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
            <%= link_to "Cancel", voucher_path(@voucher), method: :delete, class: "btn text-danger float-left" %>

        <% else %>
          <%= render 'vouchers/partials/status', voucher: @voucher %>
        <% end %>
      </div>
    </div>
  </div>
</div>
