<div class="card">
  <div class="card-body">
    <h3 class="title-up">Loan Collections</h3>

    <ul class="nav nav-tabs">
      <li class="nav-item"><%= link_to 'Summary', loans_module_reports_loan_collections_summaries_path, class: "nav-link #{'active' if current_page?(loans_module_reports_loan_collections_summaries_path)}" %></li>

      <li class="nav-item"><%= link_to 'All Loan Collections', loans_module_reports_loan_releases_path, class: "nav-link #{'active' if current_page?(loans_module_reports_loan_releases_path)}" %></li>
      <li class="nav-item"><%= link_to 'By Loan Product', loans_module_reports_loan_releases_by_loan_products_path, class: "nav-link #{'active' if current_page?(loans_module_reports_loan_releases_by_loan_products_path)}" %></li>
      <li class="nav-item"><%= link_to 'By Barangay', loans_module_reports_loan_releases_by_barangays_path, class: "nav-link #{'active' if current_page?(loans_module_reports_loan_releases_by_barangays_path)}" %></li>
      <li class="nav-item"><%= link_to 'By Organization', loans_module_reports_loan_releases_by_barangays_path, class: "nav-link #{'active' if current_page?(loans_module_reports_loan_releases_by_barangays_path)}" %></li>
      <li class="nav-item"><%= link_to 'By Loan Collector', loans_module_reports_loan_releases_by_barangays_path, class: "nav-link #{'active' if current_page?(loans_module_reports_loan_releases_by_barangays_path)}" %></li>

    </ul>
    <br>

    <% if current_page? loans_module_reports_loan_collections_summaries_path %>
      <%= render 'loans_module/reports/loan_collections/partials/summaries' %>
    <% end %>
  </div>
</div>
