<div class="row">
  <div class="col-md-7">
    <div class="box box-danger">
      <div class="box-header">
        <h3 class="box-title text-danger"> Spoilage Section </h3>
        <span class="help-block"> Generate spoilages on this section </span>
      </div>
      <div class="box-body">
       <% if params[:search].present? %>
        <%=form_tag new_store_front_module_spoilage_path, method: :get do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control input-lg", placeholder: "Search Products..." %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-danger btn-lg") do %>
                <i class="fa fa-search"></i> Search
              <% end %>
            </span>
          </div>
        <% end %>
        <% else %>
         <%=form_tag new_store_front_module_spoilage_path, method: :get do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], autofocus: true,  class: "form-control input-lg", placeholder: "Search Products..."  %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-danger btn-lg") do %>
                <i class="fa fa-search"></i> Search
              <% end %>
            </span>
          </div>
        <% end %>
      <% end %>
        <br>
        <table class="table table-responsive">
          <tbody>
            <% if @products.present? %>
              <%= render 'store_front_module/spoilages/searched_products' %>
            <% elsif @line_items.present? %>
              <%= render 'store_front_module/spoilages/searched_line_items' %>
            <% end %>
          </tbody>
        </table>
        <hr>
        <% if @spoilage_order_line_items.present? %>
          <p class="text-danger"> SPOILAGE DETAILS </p>
          <div class="table table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th><b>QTY</b></th>
                  <th><b>DESCRIPTION</b></th>
                  <th><span class="pull-right"><b>UNIT COST</b></span></th>
                  <th><span class="pull-right"><b>TOTAL COST</b></span></th>
                </tr>
              </thead>
              <tbody>
                <% @cart.spoilage_order_line_items.each do |line_item| %>
                  <tr>
                    <td>
                      <%= line_item.quantity %> <%= line_item.unit_of_measurement_code %>

                    </td>
                    <td width="300px"><%= line_item.name.try(:titleize) %> <span class="text-muted"><%#= line_item.barcode %></span>
                    </td>
                    <td>
                      <span class="pull-right">
                        <%= number_to_currency line_item.unit_cost %></td>
                      </span>
                    <td>
                      <span class="pull-right"><%=number_to_currency line_item.total_cost %></span>
                    </td>
                    <td>
                    <%= link_to store_front_module_spoilage_path(line_item), method: :delete, class: "text-danger" do %>
                      <span class="fa fa-trash"></span>
                    <% end %>
                    </td>
                  </tr>
                <% end %>
                <hr>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="box box-solid">
      <% if @cart.line_items.present? %>
        <div class="box-header">
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <h3><b> TOTAL </b></h3>
            </div>
            <div class="col-md-5">
              <h3><b><span class="pull-right"><%=number_to_currency @cart.line_items.total_cost %></span></b></h3>
            </div>
          </div>
        </div>
        <div class="box-body">
          <%= simple_form_for @spoilage_order, url: :store_front_module_spoilage_order_processings do |f| %>
            <%= f.input :title %>
            <%= f.input :content, as: :text %>
            <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
            <%= f.input :cart_id, input_html: { value: @cart.id }, as: :hidden %>
            <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>

            <%= f.submit "Save Spoilages", class: "btn btn-danger btn-block" %>
          <% end %>
          <br />
        </div>
      <% end %>

