<% breadcrumb :new_share_capital_application, @subscriber %>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-2">
            <%= image_tag(@subscriber.avatar, class: "img-circle", height: 45, width: 45) %>
          </div>
          <div class="col-md-10">
            <h3 class="card-title"><%= @subscriber.name %></h3>
            <i class="fa fa-map-marker"></i> <%= @subscriber.current_address_complete_address %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <%= simple_form_for @share_capital_application, url: :share_capital_applications do |f| %>
          <%= f.input :subscriber_id, input_html: { value: @subscriber.id }, as: :hidden %>
          <%= f.input :subscriber_type, input_html: { value: @subscriber.class.to_s }, as: :hidden %>
          <%= f.input :employee_id, input_html: { value: current_user.id },as: :hidden %>
          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :voucher_account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :description, input_html: { value: "Share Capital account opening"}, as: :hidden %>
          <%= f.input :share_capital_product_id, collection: current_office.share_capital_products.map{|a| [a.name, a.id] } %>
          <%= f.input :date_opened, as: :string, input_html: { value: Time.zone.now.strftime("%B %e, %Y"), class: "datepicker" } %>
          <%= f.input :amount, as: :currency %>
          <%= f.input :reference_number %>
          <%= f.input :cash_account_id, collection: current_user.cash_accounts.map{|a| [a.name, a.id] }, default: current_user.cash_accounts.first %>
          <%= f.submit "Proceed", class: "btn btn-primary float-right" %>
          <%= link_to "Cancel", root_path, class: "btn text-danger float-left" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
