<%= simple_form_for [@supplier, @purchase], url: :store_front_supplier_purchases do |f| %>

  <%= f.input :product_id, input_html: { value: @product.id } %>
  <%= f.input :unit_of_measurement_id, collection: @product.unit_of_measurements.map{ |uom| [uom.description, uom.id] } %>
  <%= f.input :quantity %>
  <%= f.input :unit_cost %>
  <%= f.input :total_cost %>
  <%= f.input :barcode %>
  <%= f.input :cart_id, input_html: { value: current_cart.id } %>
  <%= f.submit 'Add to Cart' %>
<% end %>
