<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <h2 class="title-up">Programs</h2>
        </div>
        <div class="col-md-5">
          <%= form_tag programs_path, method: :get, class: "search-form" do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by Member ", id: 'account-search-form' %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default btn-flat") do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
        <div class="col-md-3">
      </div>
      <br>
      <div class="table table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th> Name </th>
              <th> Subscribers </th>
            </tr>
          </thead>
          <tbody>
            <% @programs.each do |program| %>
              <tr>
                <td><%= link_to program.name, program_path(program)%></td>
                <td><%= program.program_subscriptions.where(office: current_office).size %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
