<div class="container">
  <div class="card">
    <div class="card-body">
      <ul class="nav nav-pills nav-pills-underline">
        <li class="nav-item">
          <%= link_to savings_account_path(@savings_account), class: "nav-link #{'active' if current_page?(savings_account_path(@savings_account))}"  do %>
          <i class="fa fa-user-circle"></i> Account
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to savings_account_settings_path(@savings_account), id: "#{@savings_account.id}-settings", class: "nav-link #{'active' if current_page?(savings_account_settings_path(@savings_account))}" do %>
            <i class="fa fa-cog"></i> Settings
          <% end %>
        </li>
      </ul>
      <br>
      <% if current_page? savings_account_path(@savings_account) %>
        <%= render 'savings_accounts/partials/info' %>
      <% end %>
      <% if current_page? savings_account_settings_path(@savings_account) %>
        <%= render 'savings_accounts/partials/settings' %>
      <% end %>
    </div>
  </div>
</div>
