

        <div class="row">
        <div class="col-md-8">
          <h3 class="title-up">Savings Accounts</h3>
        </div>

        <div class="col-md-4 m-0">
          <%= form_tag savings_accounts_path, method: :get, class: "search-form" do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by Depositor ", id: 'account-search-form' %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-outline-secondary") do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
      <br>
    <% @savings_accounts.each do |saving| %>
      <%= render 'savings_accounts/saving', saving: saving %>
    <% end %>

    <center><%==pagy_bootstrap_nav(@pagy) %> </center>
  </div>
