
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header bg-light">
        <div class="row">
          <div class="col-md-6">
            <h3 class="card-title"> Voucher Details </h3>
          </div>
          <div class="col-md-6">
            <%=link_to 'View (PDF)', voucher_path(@voucher, format: "pdf"), class: "btn btn-default float-right" %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <%= render 'vouchers/partials/alert_message', voucher: @voucher %>
        <%= render 'vouchers/partials/body', voucher: @voucher, voucher_amounts: @voucher.voucher_amounts %>
        <% if !@voucher.disbursed?%>

            <%= link_to "Confirm Transaction", savings_account_voucher_confirmations_path(savings_account_id: @origin_saving.id, voucher_id: @voucher.id), method: :post, class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>

          <%= link_to "Cancel", savings_account_balance_transfer_voucher_path(savings_account_id: @origin_saving.id, voucher_id: @voucher.id), method: :delete, class: "btn text-danger float-left" %>
        <% else %>
          <%= render 'vouchers/partials/status', voucher: @voucher %>
        <% end %>
      </div>
    </div>
  </div>
</div>
