<%= simple_form_for @registry, url: :office_organizations_migrations do |f| %>
  <%= f.input :spreadsheet, as: :file %>
  <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
  <%= f.input :office_id, input_html: { value: current_user.office_id }, as: :hidden %>

  <%= f.submit "Upload" %>
<% end %>
<%= current_office.name %>
<%= current_user.office.name %>
