<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <%=form_tag new_store_front_module_supplier_product_selection_path(@supplier), method: :get do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control input-lg", placeholder: "Search Products..." %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default") do %>
                <i class="fa fa-search"></i> Search
              <% end %>
            </span>
          </div>
        <% end %>
        <br>
    <% @products.each do |product| %>
      <%= simple_form_for @product_selection, url: :store_front_module_supplier_product_selections do |f| %>

      <div class="row">
        <div class="col-md-6">
          <%=product.name %>
        </div>
        <div class="col-md-3">
          <%= f.input :unit_of_measurement_id, collection: product.unit_of_measurements.map{|a| [a.code, a.id] } %>
          <%= f.input :product_id, input_html: { value: product.id }, as: :hidden %>
        </div>
        <div class="col-md-3">

          <%= f.submit 'Select', class: 'btn btn-outline-primary' %>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>
</div>
  <div class="col-md-8">
    <%= render 'store_front_module/suppliers/partials/purchase_cart' %>
    <%= render 'store_front_module/suppliers/partials/purchase_form' %>

  </div>
