<% breadcrumb :new_time_deposit_application, @depositor %>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> New Time Deposit Details </h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <%= image_tag(@depositor.avatar, width: 45, height: 45, class: "img-circle") if @depositor.avatar.attached? %>
          </div>
          <div class="col-md-10">
            <h3 class="card-title"><%= @depositor.name %></h3>
            <small class="text-muted">Depositor</small>
          </div>
        </div>
      </div>
      <hr class="no-margin">
      <div class="card-body">
        <%= simple_form_for @time_deposit_application, url: :time_deposit_applications, html: { autocomplete: 'off' } do |f| %>
          <%= f.input :cash_account_id, collection: current_user.cash_accounts.map{|a| [a.name, a.id] }, default: current_user.cash_accounts.first %>
          <%= f.input :date, label: "Date Deposited", as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :reference_number %>
          <%= f.input :amount, as: :currency %>
          <%= f.input :description, as: :text %>
          <%= f.input :time_deposit_product_id, collection: current_office.time_deposit_products.map{ |a| [a.name, a.id] }, input_html: { class: 'chosen-select' } %>
          <%= f.input :term, label: "Term (in months)" %>
          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :voucher_account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= f.input :depositor_id, input_html: { value: @depositor.id }, as: :hidden %>
          <%= f.input :depositor_type, input_html: { value: @depositor.class.to_s }, as: :hidden %>
          <%= f.input :beneficiaries, label: "Beneficiaries", placeholder: "Fullname", as: :text %>

          <%= f.submit "Proceed", class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#time_deposit_application_processing_cash_account_id").select2({
      theme: "bootstrap"
    });

    $("#time_deposit_application_processing_time_deposit_product_id").select2({
      theme: "bootstrap"
    });

    $("#vouchers_voucher_processing_payee_id").select2({
      theme: "bootstrap"
    });

  });
</script>

<script type="text/javascript">
  $('#time_deposit_application_processing_beneficiaries').chosen({
    allow_single_deselect: true,
    no_results_text: 'No results matched',
    width: '100%',
  });
</script>
