<div class="row min-margin">
  <div class="col-md-5 offset-md-1 col-sm-6"> Loan Product </div>
  <div class="col-md-5 col-sm-6"><%= @loan_application.loan_product_name %></div>
</div>
<div class="row min-margin">
  <div class="col-md-5 col-sm-6 offset-md-1"> Loan Term </div>
  <div class="col-md-5 col-sm-6"> <%= @loan_application.term %></div>
</div>
<div class="row min-margin">
  <div class="col-md-5 col-sm-6 offset-md-1"> Mode of Payment </div>
  <div class="col-md-5 col-sm-6"> <%= @loan_application.mode_of_payment.titleize %></div>
</div>
<div class="row min-margin">
  <div class="col-md-5 col-sm-6 offset-md-1"> Application Date </div>
  <div class="col-md-5 col-sm-6"> <%= @loan_application.application_date.strftime("%B %e, %Y") %></div>
</div>
<div class="row min-margin">
  <div class="col-md-5 col-sm-6 offset-md-1"> Reference Number </div>
  <div class="col-md-5 col-sm-6"> #<%= @loan_application.voucher.reference_number %></div>
</div>
<div class="row min-margin">
  <div class="col-md-5 col-sm-6 offset-md-1"> Purpose of Loan </div>
  <div class="col-md-5 col-sm-6"> <%= @loan_application.purpose %></div>
</div>
<hr>
<div class="row">
  <div class="col-md-8 col-sm-6">
    <h3 class="card-title">Loan Amount </h3>
  </div>
  <div class="col-md-3 col-sm-6">
    <h3 class="card-title float-right"><%= number_to_currency @loan_application.loan_amount %></h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8 col-sm-6">
    <h3 class="card-title"> Interests </h3>
  </div>
  <div class="col-md-3 col-sm-6">
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-7 col-sm-8">
    First Year
  </div>
  <div class="col-md-3 col-sm-4">
    <div class="float-right">
      <%#= number_to_currency @loan_application.first_year_interest %>
    </div>
  </div>
</div>
<% if @loan_application.term > 12  %>
  <div class="row justify-content-center">
    <div class="col-md-7 col-sm-8">
      Second Year
    </div>
    <div class="col-md-3 col-sm-4">
      <div class="float-right">
        <%#= number_to_currency @loan_application.second_year_interest %>
      </div>
    </div>
  </div>
<% end %>
<% if @loan_application.term >= 36 %>
  <div class="row justify-content-center">
    <div class="col-md-7 col-sm-8">
      Third Year
    </div>
    <div class="col-md-3 col-sm-4">
      <div class="float-right">
        <%#= number_to_currency @loan_application.third_year_interest %>
      </div>
    </div>
  </div>
<% end %>
<% if @loan_application.term >= 48 %>
  <div class="row justify-content-center">
    <div class="col-md-7 col-sm-8">
      Fourth Year
    </div>
    <div class="col-md-3 col-sm-4">
      <div class="float-right">
        <%#= number_to_currency @loan_application.fourth_year_interest %>
      </div>
    </div>
  </div>
<% end %>
<% if @loan_application.term >=60 %>
  <div class="row justify-content-center">
    <div class="col-md-7 col-sm-8">
      Fifth Year
    </div>
    <div class="col-md-3 col-sm-4">
      <div class="float-right">
        <%#= number_to_currency @loan_application.fifth_year_interest %>
      </div>
    </div>
  </div>
<% end %>
<hr class="min-margin">
<div class="row justify-content-center">
  <div class="col-md-7 col-sm-8">
    Total Interest
  </div>
  <div class="col-md-3 col-sm-4">
    <div class="float-right">
      <%#= number_to_currency @loan_application.total_interest %>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-7 col-sm-8">
    <span class="text-success">Prededucted </span>
  </div>
  <div class="col-md-3 col-sm-4">
    <span class="text-success float-right">
      <%#= number_to_currency @loan_application.voucher_interest_amount %>
    </span>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-7 col-sm-8">
    <span class="text-danger">Amortized </span>
  </div>
  <div class="col-md-3 col-sm-4">
    <span class="text-danger float-right">
      <%#= number_to_currency @loan_application.interest_balance %>
    </span>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8">
    <h4 class="card-title text-danger"> Loan Deductions </h4>
    <br>
  </div>
</div>
<% @loan_application.cart.voucher_amounts.each do |voucher_amount| %>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <%= voucher_amount.description %>
        </div>
        <div class="col-md-3 col-sm-3">
        </div>
        <div class="col-md-3 col-sm-3">
          <span class="float-right">
            <%= number_to_currency voucher_amount.amount %>
          </span>
        </div>
      </div>
      <div class="min-margin">
      </div>
    </div>
  </div>
<% end %>
<hr>
<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        Total Charges
      </div>
      <div class="col-md-6 col-sm-6">
        <span class="float-right text-danger">
          <%= number_to_currency @loan_application.cart.voucher_amounts.total %>
        </span>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8 col-sm-6">
    <h3 class="card-title"> Net Proceed </h3>
  </div>
  <div class="col-md-3 col-sm-6">
    <h3 class="card-title float-right"><%= number_to_currency @loan_application.net_proceed %></h3>
  </div>
</div>
<hr class="no-margin">
