<div id="occupation-modal" class="modal fade"></div>

<div class="container">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">New Membership Application </h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
          </div>
          <div class="col-md-5">
            <%= simple_form_for @membership, url: :membership_applications do |f| %>
              <%= f.error_notification %>
              <h4 class="subtitle-up"> Personal Info </h4>
              <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
              <%= f.input :first_name %>
              <%= f.input :middle_name %>
              <%= f.input :last_name %>
              <%= f.input :sex, collection: Member.sexes.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons %>
              <%= f.input :civil_status, collection: Member.civil_statuses.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons %>
              <%= f.input :date_of_birth, as: :string, input_html: { class: "datepicker" } %>
              <%= f.input :contact_number %>
              <%= f.input :email %>

              <%= f.input :office_id,      input_html: { value: current_user.office_id }, as: :hidden  %>
              <%= f.input :cooperative_id, input_html: { value: current_user.cooperative_id }, as: :hidden %>
              <hr>
              <h4 class="subtitle-up"> Adresss </h4>

              <%= f.input :complete_address %>
              <%= f.input :barangay_id,     collection: Addresses::Barangay.includes(:municipality).all.map{|a| [a.name_and_municipality, a.id] }, input_html: { class: 'chosen-select' } %>
              <hr>
              <h4 class="subtitle-up"> Membership Details </h4>
              <%= f.input :membership_category_id, collection: current_cooperative.membership_categories.map{|a| [a.title, a.id] }, input_html: { class: 'chosen-select' } %>
              <%= f.input :membership_date, as: :string, input_html: { class: "datepicker" } %>
              <hr />
              <h4 class="subtitle-up"> Occupation Details </h4>
              <span><span class="float-right"><%= link_to 'New Occupation', new_occupation_registration_path, remote: true %></span></span>
              <%= f.input :occupation_ids,label: 'Occupation', collection: Occupation.all.map{|a| [a.title, a.id] }, input_html: { class: 'chosen-select occupations-select', multiple: true } %>
              <%= f.submit "Save Member",  class: "btn btn-primary float-right" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
