<div class="card">
  <div class="card-body">
    <h4 class="title-up"><%= account_category.title %></h4>
    <ul class="nav nav-tabs nav-pills">

      <li class="nav-item"><%= link_to 'Accounts', office_account_category_accounts_path(account_category_id: account_category.id), id: "#{account_category.id}-accounts", class: "nav-link #{'active' if current_page?(office_account_category_accounts_path(account_category_id: account_category.id))}"%></li>
      <li class="nav-item"><%= link_to 'Entries', office_account_category_entries_path(account_category_id: account_category.id), id: "#{account_category.id}-entries", class: "nav-link #{'active' if current_page?(office_account_category_entries_path(account_category_id: account_category.id))}"%></li>
      <li class="nav-item"><%= link_to 'Settings', office_account_category_settings_path(account_category_id: account_category.id), id: "#{account_category.id}-settings", class: "nav-link #{'active' if current_page?(office_account_category_settings_path(account_category_id: account_category.id))}"%></li>

    </ul>

    <% if current_page? office_account_category_accounts_path(account_category_id: account_category.id) %>
      <%= render 'offices/account_categories/partials/accounts', account_category: account_category %>
    <% end %>

    <% if current_page? office_account_category_entries_path(account_category_id: account_category.id) %>
      <%= render 'offices/account_categories/partials/entries', account_category: account_category %>
    <% end %>

    <% if current_page? office_account_category_settings_path(account_category_id: account_category.id) %>
      <%= render 'offices/account_categories/partials/settings', account_category: account_category %>
    <% end %>
  </div>
</div>
