<%= simple_form_for @account_category, url: :office_account_category do |f| %>
  <%= f.input :title %>
  <%= f.input :code %>
  <%= f.input :contra, as: :boolean %>
  <%= f.input :parent_account_sub_category_id, collection: current_office.parent_account_sub_categories.map{|a| [a.title, a.id] }, input_html: { class: 'chosen-select', value: @account_category.parent_account_sub_category } %>
  <%= f.submit 'Update Account Category' %>
<% end %>
