<%= simple_form_for @loan_product, url: :loan_product_loan_protection_plan_provider do |f| %>
  <%= f.input :loan_protection_plan_provider_id, collection: current_office.loan_protection_plan_providers.map{ |a| [ a.business_name, a.id ] } %>
  <%= f.submit 'Save' %>
  <% end %>
