<%= simple_form_for @share_capital_product, url: :office_share_capital_product do |f| %>
  <%= f.input :name %>
  <%= f.input :equity_account_category_id, collection: current_cooperative.account_categories.equity.map{|a| [a.title, a.id] } %>
  <%= f.input :interest_payable_account_category_id, collection: current_cooperative.account_categories.equity.map{|a| [a.title, a.id] } %>
  <%= f.submit %>
<% end %>
