<%= link_to 'New Share Capital Product', new_office_share_capital_product_path %>
<% @share_capital_products.each do |share_capital_product| %>
  <%= link_to share_capital_product.name, office_share_capital_product_path(office_id: current_office.id, id: share_capital_product.id) %>
<% end %>
