<div class="card">
  <div class="card-header">
    <h3 class="card-title"> New Share Capital Product </h3>
  </div>
  <div class="card-body">
    <%= simple_form_for @office_share_capital_product, url: :office_share_capital_products do |f| %>
      <%= f.input :share_capital_product_id, collection: current_cooperative.share_capital_products.map{|a| [a.name, a.id] }, input_html: { class: 'chosen-select' } %>
      <%= f.input :equity_account_category_id, label: 'Equity Account Category', collection: current_office.level_one_account_categories.equities.map{ |category| [category.title, category.id] }, input_html: { class: 'chosen-select' } %>
      <%= f.input :interest_payable_account_category_id, collection: current_office.level_one_account_categories.equities.map{ |category| [category.title, category.id] }, input_html: { class: 'chosen-select' } %>
      <%= f.input :temporary_account_id, collection: current_office.accounts.map{ |account| [account.name, account.id] }, input_html: { class: 'chosen-select' } %>

      <%= f.submit "Save Share Capital Product", class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>
