<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="title-up"> Select Saving Product </h3>
      <hr>
      <% @saving_products.each do |saving_product| %>
        <div class="row">
          <div class="col-md-8">
            <%= link_to saving_product.name, new_accounting_module_scheduled_entries_savings_accounts_interest_posting_path(saving_product_id: saving_product.id) %>
          </div>
          <div class="col-md-4">
            <%= link_to 'Select', new_accounting_module_scheduled_entries_savings_accounts_interest_posting_path(saving_product_id: saving_product.id), class: 'btn btn-outline-primary' %>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
  </div>
</div>
