<% months = [] %>
<% (@saving_product.date_setter.new(saving_product: @saving_product, date: @to_date).start_date.. @saving_product.date_setter.new(saving_product: @saving_product, date: @to_date).end_date).uniq.each do |date| %>
<% months << date.end_of_month %>
<% end %>
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <%= form_tag({:action => 'new'}, {:method => :get, :class => 'form-inline'}) do%>
          <div class="form-group">
          <%= label_tag :to_date, nil, class: 'sr-only'%>
          <%= text_field_tag :to_date, @to_date.strftime("%B %e, %Y"), :class => 'datepicker form-control' %>
          <%= hidden_field_tag :saving_product_id, @saving_product.id %>
          </div>
          <button type="submit" class="btn btn-primary">Generate</button>
        <% end %>
        <hr>
         <%= @to_date.strftime('%B %e, %Y') %>
         <div class="table table-responsive">
           <table class="table table-hover table-striped">
             <thead>
               <tr>
                 <th> Depositor </th>
                <th> Averaged Balance </th>
                <th> Computed Interest </th>
               </tr>
             </thead>
             <tbody>
               <% @savings_accounts.each do |saving| %>

                 <tr>
                   <td><%= saving.depositor_name %></td>

                  <td><%= number_to_currency SavingsModule::AverageDailyBalance.new(saving: saving, from_date: @from_date, to_date: @to_date).averaged_balance %></td>
                  <td>
                    <% if !saving.interest_posted?(from_date: @saving_product.date_setter.new(saving_product: @saving_product, date: @to_date).start_date, to_date: @saving_product.date_setter.new(saving_product: @saving_product, date: @to_date).end_date) %>
                      <%= number_to_currency SavingsModule::InterestCalculator.new(saving: saving, from_date: @from_date, to_date: @to_date).calculate_interest %>
                    <% else %>
                      <span class="badge bg-success"> Posted </span>
                    <% end %>
                  </td>
              <% end %>
             </tbody>
           </table>
           <%==pagy_nav(@pagy) %>
         </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h3 class="title-up"> Entry Details </h3>


<%= simple_form_for @interest_expense_posting, url: :accounting_module_scheduled_entries_savings_accounts_interest_postings do |f| %>
  <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
  <%= f.input :date, as: :string, input_html: { class: "datepicker", value: @to_date.strftime('%B %e, %Y') } %>
  <%= f.input :description, input_html: { value: 'Interest expense on savings deposits'} %>
  <%= f.input :reference_number %>
  <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
  <%= f.submit "Proceed", class: 'btn btn-primary' %>
<% end %>
