<%=link_to 'New Purchase', new_store_front_module_supplier_product_selection_path(@supplier), class: "btn btn-primary pull-right" %>

            <%= link_to 'New Purchase Return', new_store_front_module_supplier_purchase_return_path(@supplier), class: "btn btn-primary btn-flat pull-right" %>

        <div class="table table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Voucher #</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <% @purchase_orders.each do|order| %>
                 <tr data-link="<%=store_front_module_purchase_order_path(order)%>" class="purchaseOrderIndex">
                  <td><%= order.created_at %></td>

                  <td><%= order.line_items.count %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <script type="text/javascript">
  $("tr").click(function() {
  window.location = $(this).data("link")
});
  $('.purchaseOrderIndex').css('cursor', 'pointer');
</script>
