<div class="card">
  <div class="card-header no-border">
    <h3 class="title-up"> Purchase Order Details </h3>
  </div>
  <div class="card-body">
<div class="table table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th> Product </th>
        <th> Quantity </th>
        <th> Unit Cost </th>
        <th> Total Cost </th>
      </tr>
    </thead>
    <tbody>
    <% current_cart.purchase_line_items.each do |line_item| %>
      <tr>
      <td><%= line_item.stock_name %><br>
          <span class="text-muted"><%= line_item.stock_barcode %></span>
      </td>
      <td><%= line_item.quantity %></td>
      <td><%= number_to_currency line_item.unit_cost %></td>
      <td><%= number_to_currency line_item.total_cost %></td>
    </tr>
    <% end %>
    <tr>
      <td><h3 class="subtitle-up">Total </h3> </td>
      <td></td>
      <td></td>
      <td><h3 class="subtitle-up"><%= number_to_currency current_cart.purchase_line_items.total_cost %></h3></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
