<%= simple_form_for @purchase_order_processing, url: :store_front_module_supplier_purchase_order_processings do |f| %>
  <%= f.input :voucher_id, collection: @supplier.vouchers.map{|voucher| [voucher.reference_number, voucher.id] } %>
  <%= f.input :date, as: :string, input_html: { class: 'datepicker' } %>
  <%= f.input :reference_number %>
  <%= f.input :cart_id, input_html: { value: current_cart.id } %>
  <%= f.input :supplier_id, input_html: { value: @supplier.id } %>
  <%= f.input :store_front_id, input_html: { value: current_store_front.id } %>
  <%= f.input :employee_id, input_html: { value: current_user.id } %>
  <%= f.submit 'Save Order' %>
<% end %>
