<div class="row">
  <div class="col-md-9">
    <h4 class="title-up"> Amortization Schedules </h4>
  </div>
  <div class="col-md-3">
    <% if !@loan.forwarded_loan? %>
      <%= link_to 'View Schedule (PDF)', loans_module_loan_application_amortization_schedules_path(loan_application_id: @loan.loan_application.id, id: @loan.loan_application.voucher_id, format: "pdf"), class: "btn btn-outline-secondary text-dark float-right" %>
    <% end %>
  </div>
</div>
</div>
<div class="card-body">
<div class="table table-responsive">
  <div class="table">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Date</th>
          <th>Principal</th>
          <th>Interest</th>
          <th>Total Repayment</th>
          <th>Balance</th>

          <th>Payment Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="title-up"><%= number_to_currency @loan.loan_amount %></td>
          <td></td>


        </tr>

        <% @loan.amortization_schedules.order(created_at: :asc).each do |schedule| %>
          <tr>
            <td></td>
            <td><%= link_to schedule.date.strftime("%b. %e, %Y"), loans_module_amortization_schedule_path(schedule) %><br>
              <%= schedule.try(:name) %>
            </td>
            <td class="title-up"><%= number_to_currency schedule.principal %></td>
            <td class="title-up">
              <% if schedule.prededucted_interest? %>
                <%= number_to_currency schedule.interest %>

                <span class="badge bg-danger"> Prededucted</span>
              <% else %>
                <%= number_to_currency schedule.interest %>
              <% end %> </td>
            </td>
            <td class="title-up"><%= number_to_currency schedule.total_amortization %> </td>
            <td class="title-up"><%= number_to_currency @loan.balance_for(schedule) %></td>

            <td><%#= LoansModule::AmortizationSchedule.payment_statuses.keys.to_a %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
