<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Filters </h3>
      </div>
      <div class="card-body">
        <small>LOAN TYPE:</small><br>
         <% LoansModule::LoanProduct.all.each do |loan_product| %>
          <%=link_to loan_product.name, loans_module_loan_product_loans_path(loan_product), class: "badge bg-gray" %>
        <% end %>
        <hr />


        <small> BARANGAY:</small><br>
        <% @barangays.all.each do |barangay| %>
          <%= link_to barangay.name, barangay_loans_path(barangay) %>
        <% end %>
        <hr>
        <small> MUNICIPALITY</small><br>
        <% @municipalities.all.each do |municipality| %>
          <%= link_to municipality.name, municipality_loans_path(municipality) %>
        <% end %>
        <hr>
        <small>ORGANIZATION</small><br>
        <% @organizations.each do |organization| %>
          <%= link_to organization.name, organization_loans_path(organization) %>
        <% end %>

      </div>
    </div>
  </div>
