<div class="row">
  <div class="col-md-8">
    <h4 class="subtitle-up">Loan Interests </h4>
  </div>
  <div class="col-md-4">
    <div class="btn-group float-right" role="group" aria-label="Basic example">
    <%=link_to 'New Discount', new_loans_module_loan_loan_interest_discount_path(@loan), class: "btn btn-danger float-right", data: { modal: true } %>
    &nbsp;  &nbsp;<%=link_to 'New Interest', new_loans_module_loan_interest_posting_path(@loan), class: "btn btn-primary float-right", data: { modal: true } %>
  </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <small class="text-muted">INTERESTS</small>
    <h4 class="subtitle-up number"><%= number_to_currency @loan.total_loan_interests %></h4>

  </div>
  <div class="col-md-3">
    <small class="text-muted">DISCOUNTS</small>
    <h4 class="subtitle-up number"><%= number_to_currency @loan.total_interest_discounts %></h4>
    <p></p>

  </div>
  <div class="col-md-3">
    <small class="text-muted">PAYMENTS</small>
    <h4 class="subtitle-up"><%= number_to_currency @loan.total_interest_payments %></h4>
  </div>
  <div class="col-md-3">
    <small class="text-muted">BALANCE</small>
    <h4 class="subtitle-up"><%= number_to_currency @loan.loan_interests_balance %></h4>
  </div>
</div>
<br>
  <div class="table table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description </th>
          <th> Employee </th>
          <th> Amount </th>
        </tr>
      </thead>
      <tbody>
        <% @interests_and_discounts.each do |interest| %>
          <tr>
            <td><%= interest.date.strftime("%B %e, %Y") %></td>
            <td><%= interest.description %></td>
            <td><%= interest.employee_name %></td>
            <td><%= number_to_currency interest.amount %></td>
          </tr>
        <% end %>
        <% @discounts.each do |interest| %>
          <tr>
            <td><%= interest.date.strftime("%B %e, %Y") %>

            </td>
            <td><%= interest.description %><br>
              <span class="badge badge-outline-danger"> Discount </span></td>
            <td><%= interest.employee_name %></td>
            <td><%= number_to_currency interest.amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
