
<% content_for(:html_title) { "Loan - #{@loan.borrower_name} | #{@loan.loan_product_name }" } %>


        <h4 class="subtitle-up"> Loan Details </h4>


    <div class="row">
      <div class="col-md-6">
        <small class="text-muted">PRINCIPAL AMOUNT</small>
        <h4 class="title-up"> <%= number_to_currency @loan.loan_amount %></h4>
      </div>
      <div class="col-md-6">
        <small class="text-muted">PRINCIPAL BALANCE</small>
        <h4 class="title-up"> <%= number_to_currency @loan.balance %></h4>
        <small class="text-muted"><i class="fa fa-calendar"></i> Last Payment: <%= @loan.last_transaction_date.strftime('%B %e, %Y') %></small>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <small class="text-muted">INTERESTS</small>
        <h4 class="subtitle-up"> <%= number_to_currency @loan.total_loan_interests %></h4>

      </div>
      <div class="col-md-6">
        <small class="text-muted">INTEREST BALANCE</small>
         <h4 class="subtitle-up"> <%= number_to_currency @loan.loan_interests_balance %></h4>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <small class="text-muted">PENALTIES</small>
        <h4 class="subtitle-up"> <%= number_to_currency @loan.total_loan_penalties %></h4>
      </div>
      <div class="col-md-6">
        <small class="text-muted">PENALTY BALANCE</small>
         <h4 class="subtitle-up"> <%= number_to_currency @loan.loan_penalties_balance %></h4>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-4">
        <small class="text-muted">LOAN PRODUCT</small>
        <h4 class="subtitle-up"><%= @loan.loan_product_name %></h4>
      </div>
      <div class="col-md-4">
        <small class="text-muted">INTEREST RATE</small>
        <h4 class="subtitle-up"><%= @loan.interest_rate * 100 %> % / year</h4>
      </div>
      <% if @loan.terms.present? %>
         <div class="col-md-4">
          <small class="text-muted">DURATION</small>
          <h4 class="subtitle-up"><%= @loan.term %> months</h4>
        </div>
      <% end %>
    </div>
  </div>
</div>


    <h4 class="title-up"> Payment Schedules </h4>
    <br>
    <% @amortization_schedules.each do |schedule| %>
      <%= render 'loans_module/amortization_schedules/schedule', schedule: schedule %>
    <% end %>
  </div>
</div>
