

<div class="row">
  <div class="col-md-3">
    <h4 class="subtitle-up"> Loan Payments </h4>
  </div>
  <div class="col-md-6">
    <%= form_tag loan_payments_path(@loan), method: :get, class: "search-form" do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Payment ", id: 'account-search-form' %>
        <span class="input-group-btn">
          <%= button_tag(type: 'submit', id: "search-btn", class: "btn  btn-outline-primary") do %>
            <i class="fa fa-search"></i> Search Payments
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
  <div class="col-md-3">

      </div>
    </div>
  <br>
<div class="table table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>REF #</th>
        <th>Description</th>
        <th>Principal</th>
        <th>Interest</th>
        <th>Penalty</th>
        <th>Principal Balance</th>
        <th> Employee </th>

      </tr>
    </thead>
    <tbody>
      <% @payments.each do |entry| %>
        <tr>
          <td><%= link_to entry.entry_date.strftime('%b. %e, %Y'), accounting_module_entry_path(entry) %></td>
          <td><%= entry.reference_number %></td>
          <td><%= entry.description %></td>
          <td>
            <% principal_total =   entry.amounts.where(account: @loan.receivable_account).total %>
            <% if principal_total > 0 %>
              <%= number_to_currency principal_total %>
            <% end %>
          </td>
          <td>
            <% interest_total =  entry.amounts.where(account: @loan.interest_revenue_account).total %>
            <% if interest_total > 0 %>
              <%= number_to_currency interest_total %>
            <% end %>
          </td>
          <td>
            <% penalty_total =  entry.amounts.where(account: @loan.penalty_revenue_account).total %>
            <% if penalty_total > 0 %>
              <%= number_to_currency penalty_total %>
            <% end %>
          </td>
          <td class="float-right"><%= number_to_currency @loan.balance(to_date: entry.entry_date) %></td>
          <td><%= entry.recorder_name %></td>


</tr>
      <% end %>
    </tbody>
  </table>
  <%==pagy_bootstrap_nav(@pagy) %>
</div>

