
<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-3">
          <h3 class="title-up"> Balance Sheet - <%= @office.name %> </h3>
          <p class="text-muted"> As of <%= @to_date.strftime("%B %e, %Y") %></p>
          <% current_cooperative.offices.each do |office| %>
            <%= link_to office.name, accounting_module_reports_balance_sheets_path(office_id: office.id), class: 'btn btn-outline-primary' %>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= form_tag({:action => 'index'}, {:method => :get, :class => 'form-inline'}) do%>
            <div class="form-group">
            <%= label_tag :to_date, nil, class: 'sr-only'%>
            <%= text_field_tag :to_date, @to_date.strftime("%B %e, %Y"), :class => 'datepicker form-control' %>
            </div>
            <button type="submit" class="btn btn-primary">Generate</button>
          <% end %>
        </div>
        <div class="col-md-3">
          Export To:

          <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group mr-2">
                    <%= link_to accounting_module_reports_balance_sheets_path(office_id: @office.id, to_date: @to_date, format: 'xlsx') do %>
                      <button type='button' class="btn btn-outline-secondary btn-sm"><i class="fa fa-spreadsheet"></i> Excel </button>
                    <% end %>
                    <%= link_to accounting_module_reports_balance_sheets_path(format: 'pdf', to_date: @to_date) do %>
                      <button class="btn btn-outline-secondary btn-sm"><i class="fa fa-pdf"></i> PDF </button>
                    <% end %>

                  </div>
                  <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                    This week
                  </button>
                </div>



        </div>
      </div>
    </div>
    <div class="card-body">
      <%= render 'accounting_module/reports/balance_sheets/partials/assets' %>
      <%= render 'accounting_module/reports/balance_sheets/partials/liabilities_and_equity' %>
