<%= simple_form_for [@employee, @membership], url: :employee_memberships do |f| %>
  <%= f.error_notification %>
  <%= f.input :application_date, as: :string, input_html: { class: "datepicker" } %>
  <%= f.input :approval_date, as: :string, input_html: { class: "datepicker" } %>
  <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
  <%= f.input :cooperative_id, input_html: { value: current_cooperative.id }, as: :hidden %>
  <%= f.input :office_id,      input_html: { value: current_office.id }, as: :hidden %>

  <%= f.input :membership_category_id, collection: current_office.membership_categories.map{ |a| [a.title, a.id] } %>
  <%= f.submit "Save Membership" %>
<% end %>
