<div class="container">
  <div class="card">
    <div class="card-body">
      <br>
      <div class="row">
        <div class="col-md-4">
          <h3 class="title-up"><%= number_to_currency @accounts.balance %></h3>
          <small class="text-muted"> TOTAL </small>
        </div>
        <div class="col-md-4">
          <h3 class="title-up"><%= @share_capitals.size %></h3>
          <small class="text-muted"> TOTAL ACCOUNTS </small>
        </div>
        <div class="col-md-4">
          <h3 class="title-up"><%= @share_capitals.below_minimum_balance.size %></h3>
          <small class="text-muted"> BELOW MIN. BALANCE </small>
        </div>
      </div>
      <hr>
      <h4 class="title-up"> By Minimum Balance </h4>
      <% min_balances_data = [] %>

      <% min_balances_data << { 'Has Minimum Balance' => @share_capitals.has_minimum_balances.count } %>
      <% min_balances_data << { 'Below Minimum Balance' => @share_capitals.below_minimum_balance.count } %>
      <div class="row">
        <div class="col-md-8">
          <%= pie_chart (Hash[*min_balances_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true, donut: true, legend: 'bottom', thousands: ",", prefix: "P " %>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8">
              <%= link_to 'Has Minimum Balance', share_capitals_with_minimum_balances_path %>
            </div>
            <div class="col-md-3">
              <%= @share_capitals.has_minimum_balances.size %>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-8">
              <%= link_to 'Below Minimum Balance', share_capitals_below_minimum_balances_path %>
            </div>
            <div class="col-md-3">
              <%= @share_capitals.below_minimum_balance.size %>
            </div>
          </div>
    </div>
  </div>
</div>
