<div class="row">
  <div class="col-md-3">
    <h4 class="subtitle-up"> Activities </h4>
  </div>
  <div class="col-md-6">
    <%= form_tag member_activities_path(@member), method: :get, class: "search-form" do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Activities", id: 'account-search-form' %>
        <span class="input-group-btn">
          <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default btn-flat") do %>
            <i class="fa fa-search"></i>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
</div>
<br>
<% months = [] %>
      <% (DateTime.now.beginning_of_year..DateTime.now.end_of_month).each do |month| %>
       <% months << month.beginning_of_month %>
      <% end %>
      <% active_data = [] %>
<% months.uniq.each do |month| %>

        <% active_data << { month.strftime("%b").upcase => @member.entries.entered_on(from_date: month.beginning_of_month, to_date: month.end_of_month).distinct.size  } %>

      <% end %>
      <%= line_chart [
        { name: 'Transactions', data: Hash[*active_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?} }
        ], thousands: ",", legend: false, curve: false %>
        <br>
<% @entries.each do |entry| %>
  <%= render 'accounting_module/entries/entry', entry: entry %>
<% end %>
<%==pagy_bootstrap_nav(@pagy) %>
