<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        <div class="card-header">
          <h4 class="subtitle-up">Member Details</h4>

            <div class="profile-wrapper">

                <%= image_tag(@member.avatar, width: '150', height: '150', class: "img-rounded mx-auto d-block") %>

            </div>
            <%= link_to 'View (PDF)', member_info_index_path(@member, format: 'pdf'), class: 'btn btn-default btn-sm float-right' %>
          </div>
          <div class="card-body">
            <b><i class="fa fa-phone mr-2"></i> Contact Number</b><br>
            <%= @member.current_contact_number %>
            <hr>
            <b><i class="fa fa-map-marker-alt mr-2"></i> Complete Address</b><br>
            <%= @member.current_address_complete_address %>
            <hr>
            <b><i class="fa fa-map-marker mr-2"></i>Barangay </b><br>
            <%= @member.current_address_barangay_name %>
            <hr>
            <b><i class="fa fa-book mr-2"></i>Account Number</b><br>
            <%= @member.account_number %>
            <hr>
            <b><i class="fa fa-calendar mr-2"></i>Date of Birth</b><br>
            <%= @member.date_of_birth.try(:strftime, "%B %e, %Y") %>
            <hr>
            <b><i class="fa fa-user-clock mr-2"></i> Age</b><br>
            <%= @member.age %>
            <hr>
            <b><i class="fa fa-mars mr-2"></i>Sex</b><br>
            <%= @member.sex.try(:titleize) %>
            <hr>
            <b><i class="fa fa-circle mr-2"></i>Civil Status</b><br>
            <%= @member.civil_status.try(:titleize) %>
            <hr>
            <b><i class="fa fa-sitemap mr-2"></i> Organizations/Office</b><br>
            <% @member.organizations.each do |organization| %>
              <p class="no-margin-bottom"><%= organization.name  %></p>
            <% end %>
            <hr>
            <b><i class="fa fa-calendar mr-2"></i>Membership Date</b>
            <% @member.memberships.where(cooperative: current_cooperative).each do |membership| %>
              <p><%= membership.membership_date.try(:strftime, ("%B %e, %Y")) %></p>
            <% end %>
            <hr>
            <b><i class="fa fa-hard-hat mr-2"></i> Occupations </b> <br>
            <% @member.occupations.each do |occupation| %>
              <span class="badge bg-gray"><%= occupation.title %></span>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card animated fadeInUp">
        <div class="card-header">
          <h4 class="subtitle-up"> Share Capitals </h4>
          <% @member.share_capitals.each do |share_capital| %>
          <%= link_to share_capital_path(share_capital) do %>
            <div class="row">
              <div class="col-md-6">
                <smal class="text-muted"><%=share_capital.share_capital_product_name.upcase %></small>
                  <h3 class="title-up text-dark"><%= number_to_currency share_capital.balance %></h3>
              </div>
              <div class="col-md-5">
                <small class="text-muted">Last Transaction</small><br>
                <span class="text-dark"><%= share_capital.last_transaction_date.strftime('%B %e, %Y') %> </span>
              </div>
            </div>
            <hr>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="card animated fadeInUp">
        <div class="card-header">
          <h4 class="subtitle-up"> Savings Accounts </h4>
          <% @member.savings.each do |saving| %>
            <%= link_to savings_account_path(saving) do %>
              <div class="row">
                <div class="col-md-6">
                  <small class="text-muted"><%= saving.saving_product_name.upcase %></small>
                  <h3 class="title-up text-dark"><%= number_to_currency saving.balance %></h3>
                  <% if !saving.has_minimum_balance? %>
                      <span class="badge bg-danger"> Below Minimum Balance </span>
                      <% end %>
                </div>
                <div class="col-md-4">
                  <small class="text-muted">Last Transaction</small><br>
                  <span class="text-dark"><%= saving.last_transaction_date.strftime('%b. %e, %Y') %>  </span>

                </div>
                <div class="col-md-2">
                  <i class="fa fa-chevron-right fa-2x fa-slim float-right text-dark"></i>
                </div>
              </div>
              <hr>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="subtitle-up"> Loans  </h3>
          <% @member.loans.not_archived.each do |loan| %>
            <%= link_to loan_path(loan) do %>
              <div class="row">
                <div  class="col-md-6">
                  <small class="text-muted"><%= loan.loan_product_name %></small>
                  <h3 class="title-up text-dark"><%= number_to_currency loan.balance %></h3>
                </div>
                <div class="col-md-5">
                  <small class="text-muted">Last Transaction</small><br>
                  <span class="text-dark"><%= loan.last_transaction_date.strftime('%B %e, %Y') %>  </span>
                </div>
              </div>
                <hr>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <h3 class="card-title"> Signature Specimen </h3>
            </div>
            <div class="col-md-6">
              <%= simple_form_for Member.new, url: member_signature_specimens_path(@member) do |f| %>
                <%= f.input :signature_specimen, as: :file, label: false, input_html: { class: 'choose-btn center-block' } %>
                <a class="btn btn-sm btn-outline-warning float-right" id="browse">Update Signature Specimen</a>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card-body">
          <% if @member.signature_specimen.attachment.present? %>
            <%= image_tag(@member.signature_specimen, height: 300, width: 500) %>
          <% end %>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
            <div class="row">
              <div class="col-md-9">
                <h3 class="card-title"> Identifications </h3>
              </div>
              <div class="col-md-3">
                <%= link_to new_identification_path(identifiable_id: @member.id, identifiable_type: @member.class.to_s), title: 'New Identification' do %>
                  <span class="btn btn-warning btn-sm" title="New Identification" data-toggle="tooltip"> <i class="fa fa-plus-circle"></i> New </span>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th> ID </th>
                    <th> Number </th>
                    <th> Date Issued </th>
                    <th> Expiry Date </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @member.identifications.each do |identification| %>
                  <tr>
                    <td><%= identification.identity_provider_name %></td>
                    <td><%= identification.number %></td>

                    <td><%= identification.issuance_date.strftime("%B %e, %Y") %></td>
                    <td><%= identification.expiry_date.strftime("%B %e, %Y") %></td>
                    <td><%= link_to edit_identification_path(identification), title: 'Edit Identification' do %>
                        <span data-toggle='tooltip' title="Edit Identification"><i class="fa fa-edit"></i> Edit
                        <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('#browse').click(function(e) {
    $('#member_signature_specimen').click();
    e.preventDefault();
    e.stopPropagation();
    $('#member_signature_specimen').change(function() {
      var val = $('#member_signature_specimen').val();
      if (val != ''){
        $('#new_member').submit();
      }
    });
  });
</script>
