<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <h3 class="card-title">Loan Applications</h3>
      </div>
      <div class="col-md-6">
          <% if policy([:members, :loan]).new? %>
          <%= link_to 'New Loan', new_loans_module_loan_application_product_selection_path(borrower_id: @member.id, borrower_type: @member.class.to_s), class: 'btn btn-primary float-right' %>
        <% end %>

      </div>
    </div>
  </div>
</div>
<% @loan_applications.each do |loan_application| %>
  <%= render 'loans_module/loan_applications/partials/header', loan_application: loan_application, cached: true %>
<% end %>
<center><%= will_paginate @loan_applications %></center>
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class="title-up">Loans</h2>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4 m-0">
        <%= form_tag loans_path, method: :get, class: "search-form" do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by Borrower", id: 'account-search-form' %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default btn-flat") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-body">
        <div class="table table-responsive">
          <table class="table table-hover">
            <thead class="no-border">
                <tr>
                  <th></th>
                  <th> Borrower </th>
                  <th> Status </th>
                  <th> Loan Product </th>
                  <th> Loan Amount </th>
                  <th> Loan Balance </th>
                  <th> Maturity Date </th>
                </tr>
              </thead>
              <tbody>
                <% @loans.each do |loan| %>
                  <% cache(loan) do %>
                    <tr style="cursor: pointer;" data-link="<%= loan_path(loan) %>">
                      <td style="width: 40px"><%= image_tag(loan.borrower.avatar, class: "img-circle", height: 45, width: 45) %></td>
                      <td><%= link_to loan.borrower_name, loan_path(loan) %><br>
                        <small class="text-muted"> Last payment: <%= short_time_ago(loan.last_transaction_date) %> ago &nbsp; &nbsp; &nbsp;
                      </td>
                      <td>
                         <span class="badge bg-<%=loan.badge_color %>"><%= loan.status.titleize %></span>
                       </td>
                      </td>
                      <td><%= loan.loan_product_name %></td>
                      <td><%= number_to_currency loan.loan_amount %></td>
                      <td><%= number_to_currency loan.balance %></td>
                      <td><%= loan.maturity_date.try(:strftime, ("%B %e, %Y")) %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

      <center><%== pagy_nav(@pagy) %></center>
    </div>
  </div>
<script>
$("tr").click(function() {
  window.location = $(this).data("link")
})
</script>
