
<div class="row">
	<div class="col-md-6">
		<h4 class="title-up">Savings</h4>
  </div>
  <div class="col-md-6">
    <% if policy([:members, :savings_account]).new? %>
      <%=link_to new_savings_account_application_path(depositor_id: @member.id, depositor_type: @member.class.to_s), data: { turbolinks: false } do %>
        <span class="btn btn-primary float-right"><i class="fa fa-plus-circle"></i> New Savings Account </span>
      <% end %>
    <% end %>
  </div>
</div>
<br>
  <% @savings_accounts.each do |saving| %>
    <%= render 'savings_accounts/saving', saving: saving %>
  <% end %>

