<div class="card">
  <div class="card-header">
    <h3 class="title-up"><%= @member.full_name %> | Settings </h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h4 class="card-title">Profile</h4>
        <span class="text-muted">Update profile details of this member. </span><br>
      </div>
      <div class="col-md-3">
        <%= link_to 'Update Profile', new_member_info_path(member_id: @member.id), class: "btn btn-outline-warning btn-sm float-right", data: { modal: true } %>
      </div>
    </div>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h3 class="card-title"> Organizations </h3>
        <p class="text-muted"> Update organization of this member </p>
        <div class="row justify-content-end">
          <div class="col-md-11">
            <b><%= @member.current_organization_name %></b>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <%= link_to 'Update Organization', new_member_organization_path(@member), class: "btn btn-outline-danger btn-sm", data: {modal: true} %>
      </div>
    </div>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h3 class="card-title"> Retirement </h3>
        <p class="text-muted"> Update member retirement. </p>
        <div class="row justify-content-end">
          <div class="col-md-11">
            <b><%= 'Retirement Date: ' + @member.retired_at.strftime("%B %e, %Y") if @member.retired? %></b>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <%= link_to 'Update Retirement', edit_member_retirement_path(id: @member), class: "btn btn-outline-danger btn-sm", data: {modal: true} %>
      </div>
    </div>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h4 class="card-title">Account Merging</h4>
        <span class="text-muted"> Merge duplicated member accounts</span>
      </div>
      <div class="col-md-3">
        <% if policy([:members, :merging]).new? %>
          <%=link_to "Merge Account", new_member_merging_line_item_path(@member), class: "btn btn-outline-danger btn-sm" %>
        <% else %>
          <br>
          <span class="text-danger"> Only manager account can merge duplicated member accounts </span>
        <% end %>
      </div>
    </div>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h4 class="card-title"> Account Deletion </h4>
        <span class="text-muted"> Check Savings, Share Capital, Loans, and Time Deposits are not present before deleting this account. </span>
      </div>
      <div class="col-md-3">
        <% if policy([:members, :account_deletion]).new? %>
          <%= link_to 'Delete Account', member_path(@member), class: "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: "Are you sure you want to delete this member's account?" } %>
        <% else %>
          <br>
          <span class="text-danger"> Only manager account can delete member accounts </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
