
    <div class="row">
      <div class="col-md-6">
        <h4 class="title-up">Share Capital</h4>
      </div>
      <div class="col-md-6">
        <% if policy([:members, :share_capital]).new? %>
          <%= link_to new_share_capital_application_path(subscriber_id: @member.id, subscriber_type: @member.class.to_s), data: { turbolinks: false } do %>
            <span class="btn btn-primary float-right"><i class="fa fa-plus-circle"></i>
              New Share Capital Account
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
<br>
<% @member.share_capitals.each do |share_capital| %>
  <%= render 'share_capitals/share_capital', share_capital: share_capital %>
<% end %>
