<div class="card">
  <div class="card-body">
    <h3 class="card-title"> Cooperative Programs</h3>
    <p class="text-muted"> List of cooperative programs/fees. </p>
    <% @programs.each do |program| %>
      <div class="row">
        <div class="col-md-5">
          <b><%= program.name %></b>
          <span class="text-muted"><%= program.description %></span>
        </div>
        <div class="col-md-5">
          <% if program.subscribed?(member) %>
            <span class="badge bg-success"> Subscribed </span>
          <% else %>
            <%= link_to  'Subscribe', member_program_subscriptions_path(program_id: program.id, member_id: @member.id), method: :post, class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
      <br>
    <% end %>
    <hr>
    <h3 class="card-title"> Program Subscriptions </h3>
    <br>
    <% @member.program_subscriptions.each do |program_subscription| %>
      <div class="row">
        <div class="col-md-6">
          <%= link_to program_subscription.name, program_subscription_path(program_subscription) %><br>
          <span class="text-muted"><%= program_subscription.description %></span>
        </div>
        <div class="col-md-6">
          <%= number_to_currency program_subscription.amount %>
          <% if !program_subscription.one_time_payment? %>
            <%= link_to 'New Payment', new_program_subscription_payment_path(program_subscription, member_id: @member.id), class: "btn btn-sm btn-flat btn-primary" %>
          <% end %>
        </div>
      </div>
      <hr>
    <% end %>
    <h3 class="card-title"> Transactions History </h3>

  </div>
</div>
