<%= simple_form_for @program, url: :management_module_settings_programs do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :mode_of_payment, collection: Cooperatives::Program.mode_of_payments.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons %>
  <%= f.input :amount %>
  <%= f.submit 'Save Program' %>
<% end %>
