<div class="modal-header">
  <h4 class="modal-title card-title" id="mainModalLabel">
    Loan Protection Plan Provider Details
  </h4>
  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<%= simple_form_for @loan_protection_plan_provider, html: { autocomplete: "off", data: { modal: true } }, remote: request.xhr?, url: :management_module_loan_protection_plan_providers do |f| %>
  <div class="modal-body">
    <%= f.error_notification %>
    <%= f.input :business_name %>
    <%= f.input :rate %>
    <%= f.input :accounts_payable_id, collection: current_cooperative.accounts.liabilities.active.map{ |a| [a.name, a.id] } %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Save Details", class: "btn btn-danger float-right", data: { disable_with: "Processing..." } %>
  </div>
<% end %>
