<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="title-up"> Select Type of Loan </h2>
      <% @loan_products.each do |loan_product| %>
        <%= link_to  new_loans_module_interest_calculation_selection_path(borrower_id: params[:borrower_id], borrower_type: params[:borrower_type], loan_product_id: loan_product.id) do %>
            <div class="card min-margin animated fadeInLeft">
              <div class="card-body">
                <h4 class="subtitle-up"><%= loan_product.name %></h4>
                <span class="text-muted"><%= loan_product.description.truncate(150) %></span>
                <br>
                <%= link_to 'Select', new_loans_module_interest_calculation_selection_path(borrower_id: params[:borrower_id], borrower_type: params[:borrower_type], loan_product_id: loan_product.id), class: 'btn btn-outline-primary float-right' %>
              </div>
            </div>

        <% end %>
      <% end %>
    </div>
  </div>
</div>

