<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">New Occupation</h4>
    </div>
    <%=simple_form_for @occupation, url: :occupation_registrations, remote: true do |f| %>
    <%= f.error_notification %>
      <%= f.input :title %>
      <div class="modal-footer">
        <%= link_to "Cancel", "#", class: "btn btn-default pull-left", data: {dismiss: "modal"} %>
        <%=f.submit "Save Occupation", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
