<%= link_to time_deposit_path(time_deposit) do %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-1 col-sm-1">
          <%= image_tag(time_deposit.depositor.avatar, width: 45, height: 45, class: "img-circle") if time_deposit.depositor.avatar.attached? %>
        </div>
        <div class="col-md-4 col-sm-4">
          <b><%= time_deposit.depositor_name.try(:upcase) %></b><br>
          <small class="text-muted"><%= time_deposit.effectivity_date.strftime("%B %e, %Y") %></small>
          <% if time_deposit.withdrawn == true %>
            <br>
            <small class="badge bg-warning"> Withdrawn last <%= time_deposit.withdrawal_date.strftime("%b. %e, %Y") %></small>
          <% end %>
        </div>
        <div class="col-md-3 col-sm-3">
          <h4 class="card-title"><%= number_to_currency time_deposit.balance %></h4>
          <small class="text-muted">AMOUNT DEPOSITED</small>
        </div>
        <div class="col-md-3 col-sm-3">
          <% if time_deposit.current_term.present? %>
            <%= time_deposit.maturity_date.strftime("%B %e, %Y") %>
          <% end %><br>
          <small class="text-muted">MATURITY DATE</small>
        </div>
        <div class="col-md-1 col-sm-1">
          #<%= time_deposit.entries.last.try(:reference_number) %>
        </div>
      </div>
    </div>
  </div>
<% end %>