<% breadcrumb :time_deposit_details, @time_deposit %>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-7">
        <div class="row justify-content-end">
          <div class="col-md-11">
            <div class="row">
              <div class="col-md-4">
                <label>Time Deposit Product</label>
              </div>
              <div class="col-md-7">
                <%= @time_deposit.time_deposit_product_name.try(:upcase) %>
              </div>
            </div>
            <div class="row min-margin">
              <div class="col-md-4">
                <label>Depositor</label>
              </div>
              <div class="col-md-7">
                <%= @time_deposit.depositor_name %>
              </div>
            </div>
            <div class="row min-margin">
              <div class="col-md-4">
                <label>Account Number</label>
              </div>
              <div class="col-md-7">
                <%= @time_deposit.account_number %>
              </div>
            </div>
            <div class="row min-margin">
              <div class="col-md-4">
                <label>Certificate Number</label>
              </div>
              <div class="col-md-7">
                <%= @time_deposit.certificate_number %>
              </div>
            </div>
            <div class="row min-margin">
              <div class="col-md-4">
                <label>Date Deposited</label>
              </div>
              <div class="col-md-7">
                <%= @time_deposit.date_deposited.strftime("%B %e, %Y") %>
              </div>
            </div>
            
            <div class="row min-margin">
              <div class="col-md-11">
                <%= link_to time_deposit_path(@time_deposit, format: "pdf") do %>
                  <span class="btn btn-default"><i class="fa fa-certificate"></i> Time Deposit Certificate </span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <hr class="min-margin set-visibility">
        <div class="row justify-content-end">
          <div class="col-md-7 col-sm-6 col-auto">
            <small>AMOUNT DEPOSITED</small>
            <h3 class="card-title"><%= number_to_currency @time_deposit.balance %></h3>
            <br>

              <small>INTEREST</small>
              <h3 class="card-title"><%#= number_to_currency @time_deposit.interest_balance %></h3>
              <br>
              <% if @time_deposit.withdrawn? %>
                <h4 class="card-title"><span class="badge bg-success"> Withdrawn </span></h4>

              <% else %>
                <%= link_to 'Withdraw', new_time_deposit_withdrawal_path(@time_deposit), data: {turbolinks: false}, class: "btn btn-danger" if policy([:time_deposits, :withdrawal]).new? %>
              <% end %>

          </div>
          <div class="col-md-4 col-sm-6 col-auto">
            <small>MATURITY DATE</small>
            <p><i class="fa fa-calendar"></i>
              <%#= @time_deposit.maturity_date.strftime("%B %e, %Y")  %>
            </p>
            <% if !@time_deposit.withdrawn? %>
              <small>DAYS TO MATURE</small>
              <h3 class="card-title">
                <%#= @time_deposit.remaining_term %>
              </h3>
              <br>
            <% end %>
            <small>TERM</small>
            <h3 class="card-title">
              <%#= @time_deposit.current_term.term/30 %> Months
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
