<% breadcrumb :time_deposit_settings, @time_deposit %>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h3 class="card-title"> Update Beneficiary/ies </h3>
      </div>
      <div class="col-md-3">
        <%=link_to "Update", edit_time_deposit_beneficiary_path(id: @time_deposit.id), class: "btn btn-outline-danger", data: {modal:true} %>
      </div>
    </div>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h3 class="card-title"> Adjusting Entry/ Earned Interests </h3>
        <p class="text-muted"> Journal entry for earned interests or adjusting entry for this time deposit. </p>
      </div>
      <div class="col-md-3">
        <%=link_to "New Interest Expense", new_time_deposit_interest_expense_path(@time_deposit), class: "btn btn-outline-danger", data: {modal:true} if !@time_deposit.withdrawn? %>
      </div>
    </div>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h3 class="card-title"> Break Contract </h3>
        <p class="text-muted"> If time deposit did not reach maturity date and depositor withdraws this time deposit </p>
      </div>
      <div class="col-md-3">
        <% if policy([:time_deposits, :break_contract]).new? && !@time_deposit.matured? && !@time_deposit.withdrawn? %>
          <%=link_to 'Break Contract', new_time_deposit_break_contract_path(@time_deposit), class: "btn btn-outline-danger" %>
        <% end %>
      </div>
    </div>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h3 class="card-title"> Transfer to Savings </h3>
        <p class="text-muted"> Transfer this time deposit to Regular Savings </p>
      </div>
      <div class="col-md-3">
        <%= link_to 'Transfer', new_time_deposit_transfer_path(@time_deposit), class: "btn btn-outline-danger" if !@time_deposit.withdrawn? %>
      </div>
    </div>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h4 class="card-title">Time Deposit Terms</h4>
        <p class="text-muted"> Time deposit terms and extensions </p>
      </div>
      <div class="col-md-3">
          <%= link_to 'New Term Extension', new_time_deposit_term_extension_path(@time_deposit), class: "btn btn-outline-danger", data: {modal:true} if !@time_deposit.withdrawn? %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <b>Date Deposited</b>
      </div>
      <div class="col-md-4">
        <b>Maturity Date</b>
      </div>
      <div class="col-md-2">
        <b>Term</b>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-4">
        <%= @time_deposit.term.effectivity_date.strftime("%B %e, %Y") %>
      </div>
      <div class="col-md-4">
        <%= @time_deposit.term.maturity_date.strftime("%B %e, %Y") %>
      </div>
      <div class="col-md-2">
        <%= @time_deposit.term.term/30 %> Months
      </div>
      <div class="col-md-2">

      </div>
    </div>
    <br>

  </div>
</div>
