
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-9">
        <h3 class="card-title">Trial Balance </h3>
        <p class="text-muted"> Date Covered: <%= @from_date.strftime("%B %e, %Y") %> - <%= @to_date.strftime("%B %e, %Y") %></p>
      </div>
      <div class="col-md-3">
        <%= link_to 'Excel', accounting_module_reports_trial_balances_path(format: 'xlsx', from_date: @from_date, to_date: @to_date) %>
        <%= link_to 'PDF', accounting_module_reports_trial_balances_path(format: 'pdf', from_date: @from_date, to_date: @to_date) %>

      </div>
    </div>
  </div>
  <div class="card-body">
    <%= form_tag({:action => "index", controller: "accounting_module/reports/trial_balances", to_date: params[:to_date]}, {:method => :get})  do %>
       <div class="row">
         <div class="col-md-3">
           <div class="form-group">
             <%= text_field_tag :from_date, @from_date.strftime("%B %e, %Y"), :class => 'form-control border-input datepicker', :placeholder => "To " %>
           </div>
         </div>
         <div class="col-md-3">
           <div class="form-group">
             <%= text_field_tag :to_date, @to_date.strftime("%B %e, %Y"), :class => 'form-control border-input datepicker', :placeholder => "To " %>
           </div>
         </div>
         <div class="col-md-1">
           <button type="submit" class="btn btn-primary"> Generate</button>
         </div>
       </div>
     <% end %>
  <hr>

<div class="row">
  <div class="col-md-4">
    <b> Account </b>
  </div>
  <div class="col-md-2">
    <b> Beginning Balance </b>
  </div>
  <div class="col-md-2">
    <b> Debit </b>
  </div>
  <div class="col-md-2">
    <b> Credit </b>
  </div>
  <div class="col-md-2">
    <b> Ending Balance </b>
  </div>
</div>
<br>
<b> ASSETS </b><br>
<% current_cooperative.grand_parent_account_categories.assets.order(code: :asc).each do |grand_parent_account_category| %>
  <%= grand_parent_account_category.title %>
  <br>
  <% grand_parent_account_category.parent_account_categories.where(office: current_office).order(code: :asc).each do |parent_account_category| %>
    &nbsp; &nbsp; <%= parent_account_category.title %><br>
    <% parent_account_category.parent_account_sub_categories.where(office: current_office).order(code: :asc).each do |parent_account_sub_category| %>
      &nbsp; &nbsp; &nbsp; &nbsp;<%= parent_account_sub_category.title %><br>
      <% parent_account_sub_category.account_categories.where(office: current_office).order(code: :asc).each do |account_category| %>
        <div class="row">
          <div class="col-md-4">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= account_category.title %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency account_category.balance(to_date: @from_date) %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency account_category.debits_balance(from_date: @from_date, to_date: @to_date) %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency account_category.credits_balance(from_date: @from_date, to_date: @to_date) %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency account_category.balance(to_date: @to_date) %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<hr>
<b> LIABILITIES</b><br>
<% current_cooperative.grand_parent_account_categories.liabilities.order(code: :asc).each do |grand_parent_account_category| %>
  <%= grand_parent_account_category.title %>
  <br>
  <% grand_parent_account_category.parent_account_categories.where(office: current_office).order(code: :asc).each do |parent_account_category| %>
    &nbsp; &nbsp; <%= parent_account_category.title %><br>
    <% parent_account_category.parent_account_sub_categories.where(office: current_office).order(code: :asc).each do |parent_account_sub_category| %>
      &nbsp; &nbsp; &nbsp; &nbsp;<%= parent_account_sub_category.title %><br>
      <% parent_account_sub_category.account_categories.where(office: current_office).order(code: :asc).each do |account_category| %>
        <div class="row">
          <div class="col-md-4">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= account_category.title %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency account_category.balance(to_date: @from_date) %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency account_category.debits_balance(from_date: @from_date, to_date: @to_date) %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency account_category.credits_balance(from_date: @from_date, to_date: @to_date) %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency account_category.balance(to_date: @to_date) %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<hr>
<b> EQUITY</b><br>
<% current_cooperative.grand_parent_account_categories.equities.order(code: :asc).each do |grand_parent_account_category| %>
  <%= grand_parent_account_category.title %>
  <br>
  <% grand_parent_account_category.parent_account_categories.where(office: current_office).order(code: :asc).each do |parent_account_category| %>
    &nbsp; &nbsp; <%= parent_account_category.title %><br>
    <% parent_account_category.parent_account_sub_categories.where(office: current_office).order(code: :asc).each do |parent_account_sub_category| %>
      &nbsp; &nbsp; &nbsp; &nbsp;<%= parent_account_sub_category.title %><br>
      <% parent_account_sub_category.account_categories.where(office: current_office).order(code: :asc).each do |account_category| %>
        <div class="row">
          <div class="col-md-4">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= account_category.title %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency account_category.balance(to_date: @from_date) %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency account_category.debits_balance(from_date: @from_date, to_date: @to_date) %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency account_category.credits_balance(from_date: @from_date, to_date: @to_date) %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency account_category.balance(to_date: @to_date) %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<hr>
<b> REVENUE</b><br>
<% current_cooperative.grand_parent_account_categories.revenues.order(code: :asc).each do |grand_parent_account_category| %>
  <%= grand_parent_account_category.title %>
  <br>
  <% grand_parent_account_category.parent_account_categories.where(office: current_office).order(code: :asc).each do |parent_account_category| %>
    &nbsp; &nbsp; <%= parent_account_category.title %><br>
    <% parent_account_category.parent_account_sub_categories.where(office: current_office).order(code: :asc).each do |parent_account_sub_category| %>
      &nbsp; &nbsp; &nbsp; &nbsp;<%= parent_account_sub_category.title %><br>
      <% parent_account_sub_category.account_categories.where(office: current_office).order(code: :asc).each do |account_category| %>
        <div class="row">
          <div class="col-md-4">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= account_category.title %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency account_category.balance(to_date: @from_date) %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency account_category.debits_balance(from_date: @from_date, to_date: @to_date) %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency account_category.credits_balance(from_date: @from_date, to_date: @to_date) %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency account_category.balance(to_date: @to_date) %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<hr>
<b> EXPENSES</b><br>
<% current_cooperative.grand_parent_account_categories.expenses.order(code: :asc).each do |grand_parent_account_category| %>
  <%= grand_parent_account_category.title %>
  <br>
  <% grand_parent_account_category.parent_account_categories.where(office: current_office).order(code: :asc).each do |parent_account_category| %>
    &nbsp; &nbsp; <%= parent_account_category.title %><br>
    <% parent_account_category.parent_account_sub_categories.where(office: current_office).order(code: :asc).each do |parent_account_sub_category| %>
      &nbsp; &nbsp; &nbsp; &nbsp;<%= parent_account_sub_category.title %><br>
      <% parent_account_sub_category.account_categories.where(office: current_office).order(code: :asc).each do |account_category| %>
        <div class="row">
          <div class="col-md-4">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= account_category.title %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency account_category.balance(to_date: @from_date) %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency account_category.debits_balance(from_date: @from_date, to_date: @to_date) %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency account_category.credits_balance(from_date: @from_date, to_date: @to_date) %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency account_category.balance(to_date: @to_date) %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<hr>
<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-2">
    <%= number_to_currency current_cooperative.grand_parent_account_categories.balance(to_date: @from_date) %>
  </div>
  <div class="col-md-2">
    <%= number_to_currency current_cooperative.grand_parent_account_categories.debits_balance(from_date: @from_date, to_date: @to_date) %>

  </div>
  <div class="col-md-2">
    <%= number_to_currency current_cooperative.grand_parent_account_categories.credits_balance(from_date: @from_date, to_date: @to_date) %>

  </div>
  <div class="col-md-2">
    <%= number_to_currency current_cooperative.grand_parent_account_categories.balance(to_date: @to_date) %>
  </div>
</div>
