<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="title-up"> CashBooks </h3>
      
<% @cashbooks.each do |account| %>
<%= account.name %>
<%= number_to_currency account.balance %>
<% end %>
