<%= link_to 'Members Masterlist', reports_members_masterlists_path(office_id: @office.id, format: 'xlsx') %>
<%= link_to 'By Gender', reports_members_masterlists_by_genders_path %>

<%= link_to 'By Civil Status', reports_members_masterlists_by_civil_statuses_path, class: 'btn btn-outline-primary' %>

<%= link_to 'By Age Range', reports_members_masterlists_by_age_ranges_path, class: 'btn btn-outline-primary' %>
<%= link_to 'By Barangay' %>
<%= link_to 'By Municipality' %>
<%= link_to 'By Province' %>
