<br>
<% @cash_accounts.each do |cash_account| %>
<%= link_to cash_account.name, treasury_module_cash_receipts_by_cash_accounts_path(cash_account_id: cash_account.id), class: 'btn btn-outline-primary btn-sm' %>
<% end %>
<br>
<br>
<div class="table table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Reference</th>
        <th>Recorder</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% entries.each do |entry| %>
        <tr>
          <td><%= link_to entry.entry_date.strftime('%B %e, %Y'), accounting_module_entry_path(entry) %></td>
          <td><%= entry.description %></td>
          <td><%= entry.reference_number %></td>
          <td><%= entry.recorder_name %></td>
          <td><%= link_to 'View Transaction', accounting_module_entry_path(entry) %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
<%==pagy_nav(@pagy) %>
</div>
</div>
</div>
