<br>
<%= form_tag({:action => 'index'}, {:method => :get, class: "form-inline"}) do %>

  <%= text_field_tag :from_date, @from_date.strftime("%B %e, %Y"), :class => 'datepicker form-control', :placeholder => "To" %>
  <%= text_field_tag :to_date,   @to_date.strftime("%B %e, %Y"), :class => 'datepicker form-control', :placeholder => "To" %>

  <button type="submit" class="btn btn-primary">Generate</button>
<% end %>
<br>
<div class="table table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Reference</th>
        <th>Recorder</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% entries.each do |entry| %>
        <tr>
          <td><%= link_to entry.entry_date.strftime('%B %e, %Y'), accounting_module_entry_path(entry) %></td>
          <td><%= entry.description %></td>
          <td><%= entry.reference_number %></td>
          <td><%= entry.recorder_name %></td>
          <td><%= link_to 'View Transaction', accounting_module_entry_path(entry) %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
<%==pagy_nav(@pagy) %>
