<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="title-up"> Scheduled Entries </h3>
<%= link_to accounting_module_scheduled_entries_savings_accounts_interest_postings_path do %>
  <h3 class="legend-title">Interest Expense on Savings Deposits </h3>
  <span class="text-muted"> Post entry for interest expense on savings deposits </span>
<% end %>
<hr>
<%= link_to "Mutual Aid System" %>
