<div class="row">
  <div class="col-md-7">
    <div class="box box-default">
      <div class="box-header">
        <h3 class="box-title"> Credit Sales Section </h3>
      </div>
      <div class="box-body">
       <% if params[:search].present? %>
        <%=form_tag new_store_front_module_customer_credit_sales_line_item_path, method: :get do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control input-lg", placeholder: "Search Products..." %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default btn-lg") do %>
                <i class="fa fa-search"></i> Search
              <% end %>
            </span>
          </div>
        <% end %>
        <% else %>
         <%=form_tag new_store_front_module_customer_credit_sales_line_item_path, method: :get do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], autofocus: true,  class: "form-control input-lg", placeholder: "Search Products..."  %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default btn-lg") do %>
                <i class="fa fa-search"></i> Search
              <% end %>
            </span>
          </div>
        <% end %>
      <% end %>
        <br>
        <table class="table table-responsive">
          <tbody>
            <% if @products.present? %>
              <%= render 'store_front_module/line_items/credit_sales_line_items/searched_products' %>
            <% elsif @line_items.present? %>
              <%= render 'store_front_module/line_items/credit_sales_line_items/searched_line_items' %>
            <% end %>
          </tbody>
        </table>
        <hr>
        <% if @sales_line_items.present? %>
          <p class="text-muted"> ORDER DETAILS </p>
          <div class="table table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th><b>QTY</b></th>
                  <th><b>DESCRIPTION</b></th>
                  <th><span class="pull-right"><b>UNIT COST</b></span></th>
                  <th><span class="pull-right"><b>TOTAL COST</b></span></th>
                </tr>
              </thead>
              <tbody>


                <% @cart.sales_line_items.each do |line_item| %>
                  <tr>
                    <td>
                      <%= line_item.converted_quantity %> <%= line_item.unit_of_measurement_code %>
                    </td>
                    <td width="300px"><%= line_item.name.try(:titleize) %> <span class="text-muted"><%= line_item.barcode %></span>
                    </td>
                    <td>
                      <span class="pull-right">

                        <%= number_to_currency line_item.unit_cost %></td>
                      </span>
                    <td>
                      <span class="pull-right"><%=number_to_currency line_item.total_cost %></span>
                    </td>
                    <td>
                    <%= link_to store_front_module_customer_credit_sales_line_item_path(id: line_item.id), method: :delete do %>
                      <span class="fa fa-trash"></span>
                    <% end %>
                    </td>
                  </tr>
                <% end %>
                <hr>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>

    </div>
  </div>
  <div class="col-md-5">
    <div class="box box-solid">
      <div class="box-header bg-gray">
        <center>
          <%= image_tag(@customer.avatar.url(:medium), class: "img-circle", height: 60, width: 60) %>
               <h4><%= @customer.full_name %></h4>
 </center>

      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-6">
            <h4><b>TOTAL</b> </h4>
          </div>
          <div class="col-md-5">
            <h4>
              <span class="pull-right">
                <b><%= number_to_currency @cart.sales_line_items.total_cost %></b>
              </span>
            </h4>
          </div>
        </div>
        <hr />
        <div class="box-footer">
          <%= simple_form_for @credit_sales_order, url: :store_front_module_credit_sales do |f| %>
            <%= f.input :customer_id, input_html: { value: @customer.id }, as: :hidden %>
            <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
            <%= f.input :cart_id, input_html: { value: @cart.id }, as: :hidden %>
            <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
            <%= f.input :description, as: :text %>
            <%= f.input :reference_number %>
        <%=f.submit "Save Credit Sales", class: "btn btn-primary btn-block btn-lg", :accesskey => "C" %>
        <% end %>
      </div>
      </div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#store_front_module_orders_sales_order_processing_customer_id").select2({
      theme: "bootstrap"
    });
  });
</script>
<script type="text/javascript">
  JQuery ->
  $(#search).autocomplete;

</script>
