<%= link_to store_front_module_product_path(product) do %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <%= product.name %>
        </div>
        <div class="col-md-4">
          <h3 class="card-title"><%#= product.balance(store_front: current_store_front) %></h3>
          <small>IN STOCK </small>
        </div>
      </div>
    </div>
  </div>
<% end %>
