<div class="card">
  <div class="card-body">
<h3 class="card-title">Monitoring</h3>

<div class="row">
            <div class="col-md-3 border-right">

          <hr>
<h4>Mark Up Prices</h4>
<% @product.unit_of_measurements.each do |unit_of_measurement| %>
  <div class="row">
    <div class="col-md-4">
      <%= unit_of_measurement.code %>
      <% if unit_of_measurement.base_measurement %>
        <span class="badge bg-green"> Base Measurement </span>
      <% end %>
    </div>
    <div class="col-md-3">
      <%#= number_to_currency unit_of_measurement.price %> <br>

    </div>
  </div>
  <br>
<% end %>
