<div class="tab-pane active" id="product-stocks">
  <% if @purchases.any? %>
    <div class="table table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <th>Date Delivered</th>
          <th>Supplier</th>
          <th>Quantity</th>
          <th>Unit Cost</th>
          <th>Total Cost</th>
          <th>Barcodes</th>
        </thead>
        <tbody>
          <% @purchases.each do |line_item| %>
            <tr>
              <td> <%#= line_item.date.strftime("%B %e, %Y") %><br>

              </td>
              <td> <%#= line_item.supplier_name || "Forwarded Stock" %></td>
              <td> <%= line_item.quantity %> </td>
              <td> <%= number_to_currency line_item.unit_cost %></td>
              <td> <%= number_to_currency line_item.total_cost %></td>
              <td> <%= line_item.balance %></td>

              <td> <%= line_item.barcode %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <center> <%= will_paginate @purchases %></center>
  <% else %>
    <p class="alert alert-info">No purchases yet for this product </p>
  <% end %>

</div>
