
      <div class="box-body">
        <div class="table table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Store Front</th>
                <th>Reference</th>
                <th><span class="pull-right">Total Cost </span></th>
              </tr>
            </thead>
            <tbody>
              <% @stock_transfers.each do |stock_tranfer| %>
                <tr data-link="<%=store_front_module_stock_transfer_path(stock_tranfer)%>" class="myClass">
                  <td><%= stock_tranfer.date.try(:strftime, ("%B %e, %Y")) %></td>
                  <td><%= stock_tranfer.store_front_name %></td>
                  <td><%= stock_tranfer.official_receipt_number %></td>
                  <td><span class="pull-right"><%=number_to_currency stock_tranfer.total_cost %></span></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

<script type="text/javascript">
  $("tr").click(function() {
  window.location = $(this).data("link")
});
  $('.myClass').css('cursor', 'pointer');
</script>
