<div class="container">
  <div class="row">
    <div class="col-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h3 class="title-up">New Sub Category </h3>
        </div>
        <%= simple_form_for [@account_category, @account_sub_category], url: :accounting_module_account_category_account_sub_categories do |f| %>
          <%= f.error_notification %>
          <%= f.input :title %>
          <%= f.input :code %>
          <%= f.input :type, collection: ["Asset", "Liability", "Equity", "Revenue", "Expense"]  %>
          <%= f.input :office_id, input_html: { value: current_office.id } %>

          <%= f.submit 'Create Sub Category', class: 'btn btn-primary float-right' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
