<%= simple_form_for [@time_deposit, @transfer], url: :time_deposit_transfers do |f| %>
  <%= f.input :saving_product_id, collection: @saving_products.map{ |a| [a.name, a.id] } %>
  <%= f.input :account_number, input_html: { value: SecureRandom.uuid } %>
  <%= f.input :cooperative_id, input_html: { value: current_cooperative.id }, as: :hidden %>
  <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
  <%= f.input :time_deposit_id, input_html: { value: @time_deposit.id }, as: :hidden %>
  <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
  <%= f.input :description %>
  <%= f.submit "Choose" %>
<% end %>
