<%=simple_form_for [@loan_application, @voucher_amount], url: :loans_module_loan_application_voucher_amount do |f| %>
  <%= f.input :amount %>
  <%= f.submit "Update Deduction", class: "btn btn-primary" %>
<% end %>
