<% content_for :title, "New Charge Details" %>
<div class="modal-header">
  <%= image_tag(@loan_application.borrower.avatar, width: 45, height: 45, class: "img-circle") if @loan_application.borrower.avatar.attached? %>
  <h4 class="modal-title card-title" id="mainModalLabel" style="margin-left: 10px">
    <%= @loan_application.borrower_name %>
  </h4>
  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<div class="modal-body">
  <h4 class="modal-title card-title">
    Charge Details
  </h4>
</div>
<hr class="no-margin">
<%= simple_form_for [@loan_application, @charge], html: { autocomplete: "off", data: { modal: true } }, remote: request.xhr?, url: :loans_module_loan_application_voucher_amounts do |f| %>
  <div class="modal-body">
    <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
    <%= f.input :cart_id, input_html: { value: @loan_application.cart_id }, as: :hidden %>
    <%= f.input :cooperative_id, input_html: { value: current_cooperative.id }, as: :hidden
     %>

    <%= f.input :description %>
    <%= f.input :amount, as: :currency %>
    <%= f.input :amount_type, input_html: { value: 'credit' }, as: :hidden %>
    <%= f.input :account_id, collection: current_office.accounts.map{ |a| [a.name, a.id] } %>
    <%= f.input :loan_application_id, input_html: { value: @loan_application.id }, as: :hidden %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Add Deduction", class: "btn btn-primary float-right" %>
  </div>
<% end %>
