<b> LIABILITIES, EQUITY AND RESERVE </b>
<% current_cooperative.grand_parent_account_categories.liabilities.order(code: :asc).each do |grand_parent_account_category| %>
  <%= grand_parent_account_category.title %>
  <br>
  <% grand_parent_account_category.parent_account_categories.where(office: current_office).order(code: :asc).each do |parent_account_category| %>
    &nbsp; &nbsp; <%= parent_account_category.title %><br>
    <% parent_account_category.parent_account_sub_categories.where(office: current_office).order(code: :asc).each do |parent_account_sub_category| %>
      &nbsp; &nbsp; &nbsp; &nbsp;<%= parent_account_sub_category.title %><br>
      <% parent_account_sub_category.account_categories.where(office: current_office).order(code: :asc).each do |account_category| %>
        <div class="row">
          <div class="col-md-7">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= account_category.title %>
          </div>
          <div class="col-md-5">
            <span class="float-left"><%= number_to_currency account_category.balance(to_date: @to_date) %></span>
          </div>
        </div>
      <% end %>
    <% end %>
    <hr>
    <div class="row">
      <div class="col-md-7">
        &nbsp; &nbsp;  Total <%= parent_account_category.title %>
      </div>
      <div class="col-md-5">
        <%= number_to_currency parent_account_category.balance(to_date: @to_date) %>
      </div>
    </div>
  <% end %>
  <hr>
  <div class="row">
    <div class="col-md-7">
      Total <%= grand_parent_account_category.title %>
    </div>
    <div class="col-md-5">
      <%= number_to_currency grand_parent_account_category.balance(to_date: @to_date) %>
    </div>
  </div>
<% end %>
<hr>
<div class="row">
  <div class="col-md-7">
    <b>TOTAL LIABILITIES</b>
  </div>
  <div class="col-md-5">
    <b><%= number_to_currency current_cooperative.grand_parent_account_categories.liabilities.balance(to_date: @to_date) %></b>
  </div>
</div>
<hr>

<% current_cooperative.grand_parent_account_categories.equities.order(code: :asc).each do |grand_parent_account_category| %>
  <%= grand_parent_account_category.title %>
  <br>
  <% grand_parent_account_category.parent_account_categories.where(office: current_office).order(code: :asc).each do |parent_account_category| %>
    &nbsp; &nbsp; <%= parent_account_category.title %><br>
    <% parent_account_category.parent_account_sub_categories.where(office: current_office).order(code: :asc).each do |parent_account_sub_category| %>
      &nbsp; &nbsp; &nbsp; &nbsp;<%= parent_account_sub_category.title %><br>
      <% parent_account_sub_category.account_categories.where(office: current_office).order(code: :asc).each do |account_category| %>
        <div class="row">
          <div class="col-md-7">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= account_category.title %>
          </div>
          <div class="col-md-5">
            <span class="float-left"><%= number_to_currency account_category.balance(to_date: @to_date) %></span>
          </div>
        </div>
      <% end %>
    <% end %>
    <hr>
    <div class="row">
      <div class="col-md-7">
        &nbsp; &nbsp;  Total <%= parent_account_category.title %>
      </div>
      <div class="col-md-5">
        <%= number_to_currency parent_account_category.balance(to_date: @to_date) %>
      </div>
    </div>
  <% end %>
  <hr>
  <div class="row">
    <div class="col-md-7">
      Total <%= grand_parent_account_category.title %>
    </div>
    <div class="col-md-5">
      <%= number_to_currency grand_parent_account_category.balance(to_date: @to_date) %>
    </div>
  </div>
  <hr>
<% end %>

<% net_surplus = (current_cooperative.grand_parent_account_categories.revenues.balance(from_date: @to_date.beginning_of_year, to_date: @to_date) - current_cooperative.grand_parent_account_categories.expenses.balance(from_date: @to_date.beginning_of_year, to_date: @to_date))  %>

<div class="row">
  <div class="col-md-7">
    Undivided Net Surplus/Loss
  </div>
  <div class="col-md-5">

        <%= number_to_currency net_surplus  %>

  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-7">
    <b>TOTAL EQUITY</b>
  </div>
  <div class="col-md-5">
    <b><%= number_to_currency current_cooperative.grand_parent_account_categories.equities.balance(to_date: @to_date) + net_surplus %></b>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-7">
    <b>TOTAL LIABILITIES AND EQUITY</b>
  </div>
  <div class="col-md-5">

        <b><%= number_to_currency net_surplus + current_cooperative.grand_parent_account_categories.liabilities.balance(to_date: @to_date) + current_cooperative.grand_parent_account_categories.equities.balance(to_date: @to_date)  %></b>

  </div>
</div>
<hr>
