<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <small>Balance</small>
              <h3 class="title-up"><%= number_to_currency @share_capital.balance %></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header no-border">
          <h3 class="subtitle-up"> Loans </h3>
        </div>
        <div class="card-body">
          <% @loans.each do |loan| %>
            <div class="row">
              <div class="col-md-8">
                <small>Principal Balance</small>
                <h3 class="title-up"><%= number_to_currency loan.balance %></h3>
              </div>
              <div class="col-md-4">
                <%= link_to 'Add Payment', new_share_capital_loan_payment_path(loan_id: loan.id) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card">
        <div class="card-header no-border">
          <h3 class="subtitle-up"> Subscriptions </h3>
        </div>
        <div class="card-body">
          <% @subscriptions.each do |subscription| %>
            <%= subscription.name %>
            <%= link_to 'Add Payment', new_share_capital_program_subscription_payment_path(program_subscription_id: subscription.id) %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-header no-border">
          <h3 class="subtitle-up"> Transaction Details </h3>
        </div>
        <div class="card-body">
          <% current_cart.voucher_amounts.each do |voucher_amount| %>
            <div class="row">
              <div class="col-md-6">
                <%= voucher_amount.account_display_name %>
              </div>
            </div>
            <br>
          <% end %>
          <%= simple_form_for @voucher_processing, url: :share_capital_adjusting_entry_voucher_processings do |f| %>
            <%= f.error_notification %>
            <%= f.input :date, as: :string, input_html: { class: 'datepicker' } %>
            <%= f.input :reference_number %>
            <%= f.input :description %>
            <%= f.input :account_number, input_html: { value: SecureRandom.uuid } %>
            <%= f.input :cart_id, input_html: { value: current_cart.id } %>
            <%= f.input :employee_id, input_html: { value: current_user.id } %>
            <%= f.input :share_capital_id, input_html: { value: @share_capital.id } %>
            <%= f.submit 'Proceed' %>
          <% end %>



        </div>
      </div>
    </div>
  </div>
</div>
