<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2 class="title-up">Loan Applications</h2>
		</div>
		<div class="col-md-6">
			<%=form_tag loans_module_loan_applications_path, method: :get do %>
			  <div class="input-group">
			    <%= text_field_tag :search, params[:search],  autofocus: true, class: "form-control", placeholder: "Search for Number, Description", id: 'account-search-form' %>
			    <span class="input-group-btn">
			      <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
			        <i class="fa fa-search"></i>
			      <% end %>
			    </span>
			  </div>
			<% end %>
		</div>
	</div>
  <br>
	<div class="card">
		<div class="card-body">
			<div class="table table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th>Borrower</th>
							<th>Loan Product</th>
							<th>Loan Amount</th>
							<th>Net Proceed</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @loan_applications.each do |loan_application| %>
						    <tr style="cursor: pointer;" data-link="<%= loans_module_loan_application_path(loan_application) %>">
						    	<td width="45px"><%= image_tag(loan_application.borrower_avatar, height: 45, width: 45, class: 'img-circle') %></td>
						  	<td><%= link_to loan_application.borrower_name, loans_module_loan_application_path(loan_application) %></td>
						  	<td><%= loan_application.loan_product_name %></td>
						  	<td><%= number_to_currency loan_application.loan_amount %></td>
						  	<td><%= number_to_currency loan_application.net_proceed %></td>
						  	<td>

						  		<% if loan_application.voucher.present? && !loan_application.voucher.disbursed? %>
	        <%= link_to 'Disburse Voucher', new_loans_module_loan_application_disbursement_path(loan_application_id: loan_application.id, voucher_id: loan_application.voucher_id), class: "btn btn-primary float-right" %>
	        <% end %>
						  	</td>
						  </tr>
						<% end %>
					</tbody>
				</table>
				<center><%==pagy_nav(@pagy) %></center>
			</div>
		</div>
	</div>
</div>
	  <script>
	  $("tr").click(function() {
	    window.location = $(this).data("link")
	  })
	  </script>
