<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="card">

      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <%=image_tag(@borrower.avatar, height: 60, width: 60, class: 'img-circle') %>
          </div>
          <div class="col-md-10">
            <h4 class="subtitle-up"><%= @borrower.full_name %></h4>
            <small class="text-muted">
              <i class="fa fa-map-marker"></i> <%= @borrower.current_address_complete_address %> &nbsp;
              <i class="fa fa-phone"></i> <%= @borrower.current_contact_number %>
            </small>
          </div>
        </div>
        <br>
        <div class="row min-margin">
          <div class="col-md-4 offset-md-2">
            <b>Loan Product</b>
          </div>
          <div class="col-md-5">
            <%= @loan_product.name %>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-4 offset-md-2">
            <b>Interest Calculation</b>
          </div>
          <div class="col-md-5">
            <%= params[:interest_calculation_type].try(:titleize) %>
          </div>
        </div>
        <br>
        <%= simple_form_for @loan_application, url: :loans_module_loan_applications, html: { autocomplete: 'off' } do |f| %>
          <%= f.error_notification %>
          <%= f.input :application_date, as: :string, input_html: { class: "datepicker", value: Time.zone.now.strftime("%B %e, %Y") } %>
          <%= f.input :loan_product_id, input_html: { value: @loan_product.id }, as: :hidden %>
          <%= f.input :loan_amount, as: :currency %>
          <%= f.input :interest_rate, label: 'Annual Interest Rate (APR)', input_html: { value: @loan_product.current_interest_config_rate } %>
          <% if params[:interest_calculation_type] == 'prededucted' %>
            <%= f.input :interest_prededuction_rate, label: 'Prededucted Interest Rate', input_html: { value: 1.0 } %>
          <% end %>

          <%= f.input :interest_calculation_type, input_html: { value: params[:interest_calculation_type] }, as: :hidden %>
          <%= f.input :borrower_id, input_html: { value: @borrower.id }, as: :hidden %>
          <%= f.input :cart_id, input_html: { value: current_cart.id }, as: :hidden %>

          <%= f.input :borrower_type, input_html: { value: @borrower.class.to_s }, as: :hidden %>
          <%= f.input :term, label: "Loan Term (in months)", input_html: {maxlength: 4} %>
          <%= f.input :mode_of_payment, collection: LoansModule::Loan.mode_of_payments.keys.to_a.map{ |a| [a.titleize, a] }, input_html: { id: 'chosen-select' } %>
          <%= f.input :purpose, label: "Purpose of Loan" %>

          <%= f.input :preparer_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= f.input :cooperative_id, input_html: { value: current_cooperative.id }, as: :hidden %>

          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <hr>
          <%= button_tag( :class => "btn btn-primary float-right") do %>
            Proceed  &nbsp;<i class="fa fa-arrow-right"></i>
          <% end %>
          <%= link_to 'Cancel', member_path(@borrower), class: "btn-link text-danger float-left" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
