<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-2">
          <%= image_tag(@loan_application.borrower_avatar, width: 45, height: 45, class: "img-circle") if @loan_application.borrower_avatar.attached? %>
        </div>
        <div class="col-10">
          <h3 class="subtitle-up"><%= @loan_application.borrower_name %> </h3>
          <span class="text-muted"><i class="fa fa-phone"></i> <%= @loan_application.borrower_current_contact_number %> &nbsp; &nbsp; <i class="fa fa-map-marker"></i><%= @loan_application.borrower_current_address_complete_address %>
        </div>
      </div>
   <% if current_user.teller? && !@loan_application.disbursed? %>
          <%= link_to 'Disburse Voucher', new_loans_module_loan_application_disbursement_path(loan_application_id: @loan_application.id, voucher_id: @loan_application.voucher_id), class: "btn btn-primary float-right" %>
          <% end %>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <small>Loan Amount</small>
          <h2 class="title-up"><%= number_to_currency @loan_application.loan_amount %></h2>
        </div>
        <div class="col-md-6">
           <small>Net Proceed</small>
      <h2 class="title-up"><%= number_to_currency @loan_application.net_proceed %></h2>
    </div>

      </div>

      <small>Total Interests</small>
      <h3 class="subtitle-up"><%= number_to_currency @loan_application.total_interest %></h2>
      <small>Prededucted</small>

      <h3 class="subtitle-up"><%= number_to_currency @loan_application.prededucted_interest %></h2>
        <h3 class="title-up"> Charges </h3>
        <div class="table table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Charge</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
                <% @voucher_amounts.each do |voucher_amount| %>
                <tr>
                  <td> <%= voucher_amount.description %></td>
                  <td><%= number_to_currency voucher_amount.amount %></td>
                </tr>
        <% end %>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <%= link_to 'View Voucher (PDF)', loans_module_loan_application_voucher_path(loan_application_id: @loan_application.id, id: @loan_application.voucher_id, format: "pdf"), class: "btn btn-default float-left" %>
          </div>
          <div class="col-md-6 col-sm-6">
            <%= link_to 'View Schedule (PDF)', loans_module_loan_application_amortization_schedules_path(loan_application_id: @loan_application.id, id: @loan_application.voucher_id, format: "pdf"), class: "btn btn-default float-right" %>
          </div>
        </div>
