<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="title-up"> Members </h3>
      <hr>
      <% @members.each do |member| %>
        <%= simple_form_for @guarantor, url: :loans_module_loan_application_guarantors do |f| %>
          <%= f.input :guarantor_id, input_html: { value: member.id }, as: :hidden %>
          <%= f.input :office_id, input_html: { value: current_office.id }, as: :hidden %>
          <%= f.input :loan_application_id, input_html: { value: @loan_application.id },as: :hidden %>
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-9">
              <%= member.full_name %>
            </div>
            <div class="col-md-2">
              <%= f.submit 'Select', class: 'btn btn-primary' %>
            </div>
          </div>
          <hr />
        <% end %>
      <% end %>
    </div>
  </div>
</div>
