<%= simple_form_for @category, url: :office_parent_account_category_parent_account_sub_categories do |f| %>
  <%= f.input :parent_account_category_id, input_html: { value: @parent.id }, as: :hidden  %>
  <%= f.input :title %>
  <%= f.input :code %>
  <%= f.input :type, collection: ["Asset", "Liability", "Equity", "Revenue", "Expense"], as: :radio_buttons %>
  <%= f.input :contra, as: :boolean %>
  <%= f.input :office_id, input_html: { value: current_office.id }, as: :hidden %>
  <%= f.submit 'Save Parent Account Sub Category' %>
<% end %>
