<%= simple_form_for @payment, url: :share_capital_loan_payments do |f| %>
  <%= f.error_notification %>
  <%= f.input :principal_amount %>
  <%= f.input :interest_amount %>
  <%= f.input :penalty_amount %>
  <%= f.input :cart_id, input_html: { value: current_cart.id } %>
  <%= f.input :employee_id, input_html: { value: current_user.id } %>
  <%= f.input :loan_id, input_html: { value: @loan.id } %>
  <%= f.input :share_capital_id, input_html: { value: @share_capital.id } %>
  <%= f.submit 'Add Payment' %>
<% end %>

