<div class="container">
  <div class="card">
<div class="card-body">
  <div class="row min-margin-bottom">
    <div class="col-md-4 col-sm-4">
      <label class="no-margin-bottom">Description</label>
    </div>
    <div class="col-md-8 col-sm-8">
      <%= @voucher.description %>
    </div>
  </div>
  <div class="row min-margin-bottom">
    <div class="col-md-4 col-sm-4">
      <label class="no-margin-bottom">Date</label>
    </div>
    <div class="col-md-8 col-sm-8">
      <%= @voucher.date.strftime("%B %e, %Y") %>
    </div>
  </div>
  <div class="row min-margin-bottom">
    <div class="col-md-4 col-sm-4">
      <label class="no-margin-bottom">Employee</label>
    </div>
    <div class="col-md-8 col-sm-8">
      <%= @voucher.preparer_full_name %>
    </div>
  </div>
  <div class="row min-margin-bottom">
    <div class="col-md-4 col-sm-4">
      <label class="no-margin-bottom">Reference No.</label>
    </div>
    <div class="col-md-8 col-sm-8">
      <%= @voucher.reference_number %>
    </div>
  </div>
</div>
<hr class="no-margin">
<div class="card-body">

  <div class="table table-responsive">
    <table class="table table-hover no-margin-bottom">
      <thead>
        <tr>
          <th>Debit</th>
          <th class="text-center">Account</th>
          <th>
            <span class="float-right">Credit</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @voucher_amounts.order(:amount_type).each do |voucher_amount| %>
          <tr>
            <td>
              <% if voucher_amount.debit? %>
                <%= number_to_currency voucher_amount.amount %>
              <% end %>
            </td>
            <td><%= voucher_amount.account_name %></td>
             <td>
              <% if voucher_amount.credit? %>
                <span class="float-right"><%= number_to_currency voucher_amount.amount %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% if @voucher.voucher_amounts.present? %>
           <tr>
            <th><b><%= number_to_currency @voucher.voucher_amounts.debit.total %></b></th>
            <td></td>
            <th><b class="float-right"><%= number_to_currency @voucher.voucher_amounts.credit.total %></b></th>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%==pagy_nav(@pagy) %>
    <hr>
    <%= link_to "Disburse", voucher_disbursements_path(voucher_id: @voucher.id), method: :post, class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
    <%= link_to "Cancel", voucher_path(@voucher), method: :delete, class: "btn text-danger float-left" %>
  </div>
</div>
