<div class="row">
  <div class="col-md-8">
    <div class="box box-danger">
      <div class="box-header">
        <h3 class="box-title"> Purchase Returns Section </h3>
      </div>
      <div class="box-body">
       <% if params[:search].present? %>
        <%=form_tag new_store_front_module_purchase_return_line_item_path, method: :get do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control input-lg", placeholder: "Search Products..." %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-danger btn-lg") do %>
                <i class="fa fa-search"></i> Search
              <% end %>
            </span>
          </div>
        <% end %>
        <% else %>
         <%=form_tag new_store_front_module_purchase_return_line_item_path, method: :get do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], autofocus: true,  class: "form-control input-lg", placeholder: "Search Products..."  %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-danger btn-lg") do %>
                <i class="fa fa-search"></i> Search
              <% end %>
            </span>
          </div>
        <% end %>
      <% end %>
        <br>
        <table class="table table-responsive">
          <tbody>
            <% if @products.present? %>
              <%= render 'store_front_module/line_items/purchase_return_line_items/searched_products' %>
            <% elsif @line_items.present? %>
              <%= render 'store_front_module/line_items/purchase_return_line_items/searched_line_item_results' %>
            <% end %>
          </tbody>
        </table>
        <hr>
        <% if @purchase_return_line_items.present? %>
          <p class="text-muted"> ORDER DETAILS </p>
          <div class="table table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th><b>QTY</b></th>
                  <th><b>DESCRIPTION</b></th>
                  <th><span class="pull-right"><b>UNIT COST</b></span></th>
                  <th><span class="pull-right"><b>TOTAL COST</b></span></th>
                </tr>
              </thead>
              <tbody>
                <% @cart.purchase_return_line_items.each do |line_item| %>
                  <tr>
                    <td>
                      <%= line_item.quantity %> <%= line_item.unit_of_measurement_code %>
                    </td>
                    <td width="300px"><%= line_item.name.try(:titleize) %> <span class="text-muted"><%= line_item.barcode %></span>
                    </td>
                    <td>
                      <span class="pull-right">
                        <%= number_to_currency line_item.unit_cost %>
                      </span>
                    </td>
                    <td>
                      <span class="pull-right"><%=number_to_currency line_item.total_cost %></span>
                    </td>
                    <td>
                    <%= link_to store_front_module_purchase_return_line_item_path(line_item), method: :delete do %>
                      <span class="fa fa-trash"></span>
                    <% end %>
                    </td>
                  </tr>
                <% end %>
                <hr>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box box-danger">
      <div class="box-header">
      </div>
      <div class="box-body">
        <% if @cart.purchase_return_line_items.present? %>
          <%= simple_form_for @purchase_return_order, url: :store_front_module_purchase_returns do |f| %>
            <%= f.input :supplier_id, collection: Supplier.all.map{|a| [ a.name, a.id] } %>
            <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
            <%= f.input :cart_id, input_html: { value: @cart.id }, as: :hidden %>
            <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
        <%=f.submit "Save Purchase Returns", class: "btn btn-danger btn-block btn-lg", :accesskey => "C" %>
        <% end %>
      <% end %>
      </div>

    </div>
  </div>

