<div class="card">
  <div class="card-body">
    <%= simple_form_for @saving_product, url: :management_module_settings_saving_products do |f| %>
      <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
      <%= f.input :name %>
      <%= f.input :interest_rate %>
      <%= f.input :minimum_balance %>
      <%= f.input :interest_posting, collection: Cooperatives::SavingProduct.interest_postings.keys.to_a.map{|a| [a.titleize, a ] }, as: :radio_buttons %>
      <%= f.input :liability_account_category_id, collection: current_cooperative.account_categories.liabilities.map{ |a| [a.title, a.id] }, input_html: { class: 'chosen-select' } %>
      <%= f.input :interest_expense_account_category_id, collection: current_cooperative.account_categories.expenses.map{ |a| [a.title, a.id] }, input_html: { class: 'chosen-select'} %>
      <%= f.input :closing_account_category_id, collection: current_cooperative.account_categories.revenues.map{ |a| [a.title, a.id] }, input_html: { class: 'chosen-select' } %>

      <%= f.submit "Create Saving Product", class: 'btn btn-danger float-right' %>
    <% end %>
  </div>
</div>
