<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <h4 class="subtitle-up"><%= @program_subscription.name %></h4>
          <%= number_to_currency @program_subscription.balance.abs %>
        </div>
        <div class="col-md-6">
          <%= link_to 'New Payment', new_program_subscription_payment_path(@program_subscription, member_id: @member.id), class: "btn btn-primary float-right" %>
        </div>
      </div>
     <hr>
      <div class="row">
        <div class="col-md-2">
          <%=image_tag(@program_subscription.subscriber.avatar, height: 45, width: 45, class: 'img-circle') %>
        </div>
        <div class="col-md-10">
          <b><%= link_to @program_subscription.subscriber.full_name, member_path(@program_subscription.subscriber) %></b><br>
          <%= @program_subscription.subscriber.current_contact_number %>
        </div>
      </div>
      <br>

      <div class="table table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th> Date </th>
              <th> REF # </th>
              <th> Description </th>
              <th> Employee </th>
            </tr>
          </thead>
          <tbody>
          <% @entries.each do |entry| %>
            <tr>
              <td><%= entry.entry_date.strftime('%B %e, %Y') %></td>
              <td><%= entry.reference_number %></td>
              <td><%= entry.description %></td>
              <td><%= number_to_currency entry.amounts.for_account(account_id: @program_subscription.account.id).total %></td>
              <td><%= entry.recorder_name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
