 <%= link_to 'Confirm Transaction', share_capital_adjusting_entry_voucher_confirmations_path(share_capital_id: @share_capital.id, voucher_id: @voucher.id), method: :create, class: 'btn btn-primary float-right' %>
