<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Categories </h3>
      </div>
      <div class="card-body">
        <% @categories.each do |category| %>
          <div class="row">
            <div class="col-md-8">
              <%= link_to category.name, store_front_module_products_path(category_id: category.id) %>
            </div>
            <div class="col-md-2">
              <span class="badge"><%= category.products.count %></span>
            </div>
          </div>
          <br>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-2">
            <h3 class="card-title"> Products </h3>
          </div>
          <div class="col-md-5">
            <%=form_tag store_front_module_products_path, method: :get do %>
              <div class="input-group">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Product...", id: 'product-search-form' %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                    <i class="fa fa-search"></i> Search
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <%=link_to 'New Product', new_store_front_module_product_path, class: "btn btn-primary pull-right" %>
          </div>
        </div>
      </div>
    </div>
    <% @products.each do |product| %>

      <%= link_to product.name, store_front_module_product_path(product) %>
    <% end %>
    <center><%= will_paginate @products %></center>
  </div>
</div>
