<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card card-solid">
      <div class="card-header with-border">
        <h3 class="card-title"> Product Details </h3>
      </div>
      <div class="card-body">
        <%= simple_form_for @product, url: :store_front_module_products do |f| %>
          <%= f.error_notification %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :has_conversion, as: :boolean %>
          <%= f.input :category_id, collection: StoreFronts::ProductCategory.all.map{|a| [a.name, a.id] }, input_html: { class: 'chosen-select'} %>
          <h4 class="card-title">Unit of Measurement </h4>
          <%= f.input :base_quantity, input_html: { value: 1 } %>
          <%= f.input :unit_of_measurement_code %>
          <%= f.input :unit_of_measurement_description %>
          <%= f.input :price, label: "Selling Price" %>
          <%= f.input :cooperative_id, input_html: { value: current_cooperative.id }, as: :hidden %>
          <%= f.input :store_front_id, input_html: { value: current_store_front.id }, as: :hidden %>

          <div class="card-footer">
            <%= f.submit "Create Product", class: "btn btn-primary pull-right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
