<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Cash Disbursement Details </h3>
      </div>
      <div class="card-body">
        <%= render 'vouchers/partials/body', voucher: @voucher, voucher_amounts: @voucher.voucher_amounts %>
        <hr>
        <% if @voucher.entry.blank? %>
          <%= link_to "Confirm Transaction", treasury_module_cash_disbursement_voucher_confirmations_path(cash_disbursement_voucher_id: @voucher.id), method: :post, class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
          <%= link_to "Cancel", treasury_module_cash_disbursement_voucher_path(cash_disbursement_voucher_id: @voucher.id), method: :delete, class: "btn text-danger float-left" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
