<div class="modal-header">
  <h4 class="modal-title card-title" id="mainModalLabel">
    Time Deposit Product Details
  </h4>
  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<%= simple_form_for @time_deposit_product, url: :management_module_settings_time_deposit_products do |f| %>
  <div class="modal-body">
    <%= f.error_notification %>
    <%= f.input :name %>
    <%= f.input :minimum_deposit, label: 'Minimum Deposit Amount', as: :currency %>
    <%= f.input :maximum_deposit, label: 'Maximum Deposit Amount', as: :currency %>
    <%= f.input :interest_rate %>
    <%= f.input :number_of_days %>
    <%#= f.input :liability_account_category_id, collection: current_cooperative.account_categories.liabilities.map{|a| [a.title, a.id] }, input_html: { class: 'chosen-select' }%>
    <%#= f.input :interest_expense_account_category_id, collection: current_cooperative.account_categories.expenses.map{|a| [a.title, a.id] }, input_html: { class: 'chosen-select' } %>
    <%#= f.input :break_contract_account_category_id, collection: current_cooperative.account_categories.revenues.map{|a| [a.title, a.id] }, input_html: { class: 'chosen-select' } %>
    <%= f.input :break_contract_fee %>
    <%= f.input :break_contract_rate %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Create Time Deposit Product", class: "btn btn-danger float-right", data: { disable_with: "Processing..." } %>
  </div>
<% end %>
