<%= simple_form_for @registry, url: :office_share_capitals_migrations do |f| %>
  <%= f.input :spreadsheet, label: 'Upload File', as: :file %>
  <%= f.input :employee_id, input_html: { value: current_user.id } %>
  <%= f.submit 'Upload' %>
<% end %>
