<%= simple_form_for @payment, url: :savings_account_program_subscription_payments do |f| %>
  <%= f.input :cart_id, input_html: { value: current_cart.id } %>
  <%= f.input :savings_account_id, input_html: { value: @savings_account.id } %>
  <%= f.input :employee_id, input_html: { value: current_user.id } %>
  <%= f.input :program_subscription_id, input_html: { value: @program_subscription.id } %>

  <%= f.input :amount, as: :currency %>
  <%= f.submit "Add Payment" %>
<% end %>
