<div class="card">
  <div class="card-header">
    <h4 class="modal-title card-title" id="mainModalLabel">
      Address Details
    </h4>
  </div>
  <div class="card-body">
    <%= render 'members/partials/form_header' %>
  </div>
<hr class="no-margin">
<%= simple_form_for @address, url: :member_addresses, html: { autocomplete: "off" } do |f| %>
  <%= f.input :complete_address %>
  <%= f.input :street_id, collection: Addresses::Street.all.map{ |a| [a.name, a.id] }, input_html: { class: 'chosen-select' } %>
  <%= f.input :barangay_id, collection: Addresses::Barangay.all.map{ |a| [a.name, a.id] }, input_html: { class: 'chosen-select' }  %>
  <%= f.input :municipality_id, collection: Addresses::Municipality.all.map{ |a| [a.name, a.id] }, input_html: { class: 'chosen-select' }  %>
  <%= f.input :province_id, collection: Addresses::Province.all.map{ |a| [a.name, a.id] }, input_html: { class: 'chosen-select' }  %>
  <%= f.input :member_id, input_html: { value: @member.id }, as: :hidden %>
  <%= f.submit "Update Address", class: "btn btn-primary float-right", disable_with: "Saving..." %>
<% end %>
