<%= simple_form_for [@savings_account, @lock_in_period], url: :savings_account_lock_in_periods do |f| %>
  <%= f.input :effectivity_date, as: :string, input_html: { class: 'datepicker' } %>
  <%= f.input :maturity_date, as: :string, input_html: { class: 'datepicker' } %>
  <%= f.input :term %>
  <%= f.input :savings_account_id, input_html: { value: @savings_account.id }, as: :hidden %>
  <%= f.submit 'Save Lock-in Period', class: 'btn btn-primary' %>
<% end %>
