<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Members Birthdays </h3>
      </div>
      <div class="card-body">
        <center>
          <%= month_calendar do |date| %>
            <%=link_to calendar_path(date) do %>
              <p><%=date.day %></p>
              <% current_cooperative.member_memberships.birthday_on_month(date.month).birthday_on_day(date.day).each do |member| %>
                <%= image_tag(member.avatar, width: 30, height: 30, class: "img-circle") if member.avatar.attached? %> <%= member.first_name %><br>
              <% end %>
            <% end %>
          <% end %>
        </center>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.calendar-heading a').addClass('btn btn-default');
    $('.simple-calendar table').removeClass('table-striped');
  });
</script>
