<%= simple_form_for @interest_expense, url: :savings_account_interest_expenses do |f| %>
  <%= f.input :date %>
  <%= f.input :reference_number %>
  <%= f.input :description %>
  <%= f.input :amount, label: 'Interest amount' %>
  <%= f.input :savings_account_id, input_html: { value: @savings_account.id }, as: :hidden %>
  <%= f.input :employee_id,        input_html: { value: current_user.id }, as: :hidden %>
  <%= f.input :account_number,     input_html: { value: SecureRandom.uuid }, as: :hidden %>

  <%= f.submit 'Proceed' %>
<% end %>
