<div class="table table-responsive">
  <table class="table table-hover">
    <h3 class="subtitle-up"><%=name%></h3>
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% if accounts.count > 0 %>
      <tbody>
        <% running_total = 0 %>
        <% accounts.uniq.each do |account| %>
          <% balance = account.balance %>

            <tr>
              <td><%= link_to account.name, accounting_module_account_path(account) %></td>
              <td><%=number_to_currency balance %></td>
              <% running_total += balance %>
            </tr>
        <% end %>
        <tr>
          <strong>
            <td><b>TOTAL <%= name.upcase %></b></td>
            <td><b><%= number_to_currency running_total%></b></td>
          </strong>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
