<div class="container">
  <div class="card">
    <div class="card-header">
      <h3 class="title-up"> Accounts </h3>
    </div>
    <div class="card-body">
<%= link_to 'New Account', new_office_account_path(@office), class: 'btn btn-danger' %>
<%#= link_to 'Excel', office_accounts_path(@office, format: 'xlsx') %>
<div class="table table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Account</th>
        <th>Type</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <% @accounts.each do |account| %>
        <tr>
          <td><%= link_to account.display_name, accounting_module_account_path(account) %></td>
          <td><%= account.normalized_type %></td>
          <td><%= number_to_currency account.balance %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
