<% @products.each do |product| %>
  <%= product.name %>
  <%= link_to 'Select', new_store_front_supplier_purchase_path(store_front_id: @store_front.id, supplier_id: @supplier.id, product_id: product.id) %>
<% end %>

<% current_cart.purchase_line_items.each do |purchase| %>
  <%= purchase.quantity %>
<% end %>

<%= simple_form_for @purchase_processing, url: :store_front_supplier_purchase_processings do |f| %>
  <%= f.input :date, as: :string, input_html: { class: 'datepicker' } %>
  <%= f.input :cart_id, input_html: { value: current_cart.id } %>
  <%= f.input :supplier_id, input_html: { value: @supplier.id } %>
  <%= f.input :voucher_id, collection: @supplier.vouchers.disbursed.map{ |voucher| [voucher.reference_number, voucher.id] } %>
  <%= f.input :store_front_id, input_html: { value: @store_front.id } %>
  <%= f.input :employee_id, input_html: { value: current_user.id } %>
  <%= f.submit 'Save Purchase' %>
<% end %>
