<div class="container">
  <div class="card">
    <div class="card-body">
      <%= form_tag({:action => 'index'}, {:method => :get, class: "form-inline"}) do %>

        <%= text_field_tag :from_date, @from_date.strftime("%B %e, %Y"), :class => 'datepicker form-control', :placeholder => "To" %>
        <%= text_field_tag :to_date,   @to_date.strftime("%B %e, %Y"), :class => 'datepicker form-control', :placeholder => "To" %>
        <button type="submit" class="btn btn-primary">Generate</button>
      <% end %>
      Export To:
      <%= link_to 'Excel', loans_module_reports_loan_maturities_path(format: 'xlsx', from_date: @from_date, to_date: @to_date ), class: 'btn btn-outline-primary btn-sm' %>
      <%= link_to 'PDF', loans_module_reports_loan_maturities_path(format: 'xlsx', from_date: @from_date, to_date: @to_date ), class: 'btn btn-outline-primary btn-sm' %>

      <br>
      Loans that will mature from <%= @from_date.strftime("%B %e, %Y") %> to <%= @to_date.strftime('%B %e, %Y') %>
      <br>
    <div class="table table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th> Borrower </th>
            <th> Loan Product </th>
            <th> Loan Amount </th>
            <th> Balance </th>
            <th> Maturity </th>
        </thead>
        <tbody>
          <% @loans.each do |loan| %>
            <tr>
              <td><%= link_to loan.borrower_name, loan_path(loan) %></td>
              <td><%= loan.loan_product_name %></td>
              <td><%= number_to_currency loan.loan_amount %></td>
              <td><%= number_to_currency loan.balance %></td>
              <td><%= loan.maturity_date.strftime('%B %e, %Y') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>
