<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <h4 class="card-title text-danger">Disbursements</h4>
          </div>
          <div class="col-md-8 col-sm-8 text-right">
            <small><%= @cash_account.name.upcase %></small>
            <h3 class="card-title"> <%= number_to_currency @cash_account.balance %></h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <%= simple_form_for @disbursement_line_item, url: :treasury_module_cash_account_cash_disbursement_line_items, html: { autocomplete: 'off' } do |f| %>
          <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= f.input :cart_id, input_html: { value: current_cart.id }, as: :hidden %>

          <%= f.input :amount_type, input_html: { value: 'debit' }, as: :hidden %>
          <%= f.input :cash_account_id, input_html: { value: @cash_account.id }, as: :hidden %>
          <div class="row">
            <div class="col-md-6">
              <%= f.input :account_id, label: false, placeholder: "Account", collection: current_office.accounts.map{|a| [a.name, a.id] }, input_html: { class: 'chosen-select' } %>
            </div>
            <div class="col-md-4">
              <%= f.input :amount, label: false, placeholder: 'Amount', as: :currency  %>
            </div>
            <div class="col-md-2">
              <%= f.submit "Add", class: "btn btn-primary float-right", data: { disable_with: "Adding..." } %>
            </div>
          </div>
        <% end %>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>DEBIT</th>
              <th>ACCOUNT</th>
              <th class="text-right">CREDIT</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% current_cart.voucher_amounts.each do |amount| %>
              <tr>
                <td class="text-right">
                  <% if amount.debit? %>
                    <%= number_to_currency amount.amount %>
                  <% end %>
                </td>
                <td><%= amount.account_name %></td>

                <td class="text-right">
                  <% if amount.credit? %>
                    <%= number_to_currency amount.amount %>
                  <% end %>
                </td>
                <td class="text-right" class="text-right">
                  <%= link_to treasury_module_cash_account_cash_disbursement_line_item_path(id: @cash_account.id, amount_id: amount.id), title: 'Delete Amount', method: :delete do %>
                    <span title="Remove" data-toggle="tooltip" class="fa fa-trash text-danger"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
            <tr>

              <th class="text-right"><%= number_to_currency current_cart.voucher_amounts.debit.sum(&:amount) %></th>
              <th></th>
              <th class="text-right"><%= number_to_currency current_cart.voucher_amounts.credit.sum(&:amount) %></th>
              <th></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% if current_user.voucher_amounts.present? %>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Payee Details </h3>
        </div>
        <div class="card-body">
          <%=simple_form_for @disbursement, url: :treasury_module_cash_disbursement_voucher_processings, html: { autocomplete: 'off' } do |f| %>
            <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
            <%= f.input :description, as: :text %>
            <%= f.input :reference_number %>
            <%#= f.input :number, input_html: { value: Voucher.generate_number }, as: :hidden %>
            <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :payee_id, label: "Payee", collection: current_cooperative.member_memberships.map{|a| [a.name, a.id] }, input_html: { class: 'chosen-select' } %>
            <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
            <%= f.input :cash_account_id, input_html: { value: @cash_account.id }, as: :hidden %>
            <%= f.input :cart_id, input_html: { value: current_cart.id }, as: :hidden %>


            <hr>
              <%= f.submit "Proceed", class: "btn btn-primary btn-block float-right", data: { disable_with: "Processing..." } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
