<% @loan.borrower.savings.each do |savings_account| %>
  <%= simple_form_for @auto_pay, url: :loans_module_loan_auto_pay_setups do |f| %>
    <%= f.input :office_id, input_html: { value: current_office.id } %>
    <%= f.input :loan_id, input_html: { value: @loan.id } %>
    <%= f.input :savings_account_id, input_html: { value: savings_account.id } %>
    <%= f.submit 'Select' %>
  <% end %>
<% end %>
