<%= simple_form_for [@office, @loan_group], url: :loans_module_loan_groups do |f| %>
  <%= f.error_notification %>
  <%= f.input :title %>
  <%= f.input :start_num %>
  <%= f.input :end_num %>
  <%= f.submit "Create Loan Group" %>
<% end %>
