<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-8">
          <h3 class="title-up"> Bank Accounts </h3>
        </div>
        <div class="col-md-4">
          <%= form_tag treasury_module_bank_accounts_path, method: :get, class: "search-form" do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Bank", id: 'account-search-form' %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default btn-flat") do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="table table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th> Bank </th>
              <th> Balance </th>
              <th> Last Transaction </th>
            </tr>
          </thead>
          <tbody>
          <% @bank_accounts.each do |bank_account| %>
            <tr>
              <td><%= link_to bank_account.bank_name, bank_account_path(bank_account) %></td>
              <td><%= number_to_currency bank_account.balance %></td>
              <td><%= bank_account.last_transaction_date.strftime('%B %e, %Y') %></td>
            </tr>
          <% end %>
