<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <div class="row">
              <div class="col-md-2">
                <%=image_tag(@borrower.avatar, height: 60, width: 60, class: 'img-circle') %>
              </div>
              <div class="col-md-10">
                <h4 class="subtitle-up"><%= @borrower.full_name %></h4>
                <small class="text-muted">
                  <i class="fa fa-map-marker"></i> <%= @borrower.current_address_complete_address %> &nbsp;
                  <i class="fa fa-phone"></i> <%= @borrower.current_contact_number %>
                </small>
              </div>
            </div>
            <br>

          <div class="row">
        <div class="col-md-6 offset-md-1">
          <small class="text-muted">LOAN AMOUNT</small>
          <h2 class="title-up"><%= number_to_currency @loan_application.loan_amount %></h2>
        </div>
        <div class="col-md-5">
          <small class="text-muted">NET PROCEED</small>
          <h2 class="title-up"><%= number_to_currency @loan_application.net_proceed %></h2>
        </div>
      </div>
      <hr>
      <div class="row min-margin">
          <div class="col-md-5 col-sm-6 offset-md-1"> <b>Loan Product</b> </div>
          <div class="col-md-5 col-sm-6"> <%= @loan_application.loan_product_name %></div>
        </div>
        <div class="row min-margin">
          <div class="col-md-5 col-sm-6 offset-md-1"> <b>Loan Term </b></div>
          <div class="col-md-5 col-sm-6"> <%= @loan_application.term %></div>
        </div>
        <div class="row min-margin">
          <div class="col-md-5 col-sm-6 offset-md-1"><b> Mode of Payment </b></div>
          <div class="col-md-5 col-sm-6"> <%= @loan_application.mode_of_payment.titleize %></div>
        </div>
        <div class="row min-margin">
          <div class="col-md-5 col-sm-6 offset-md-1"><b> Application Date </b></div>
          <div class="col-md-5 col-sm-6"> <%= @loan_application.application_date.strftime("%B %e, %Y") %></div>
        </div>
        <div class="row min-margin">
          <div class="col-md-5 col-sm-6 offset-md-1"> <b>Purpose of Loan</b> </div>
          <div class="col-md-5 col-sm-6"> <%= @loan_application.purpose %></div>
        </div>

        </div>
      </div>
      <div class="card animated fadeInUp">
        <div class="card-body">
          <h4 class="subtitle-up"> Previous Loans </h4>
        </div>
      </div>

      <div class="card animated fadeInUp">
        <div class="card-body">
          <h4 class="subtitle-up"> Share Capitals </h4>
          <% if @borrower.share_capitals.blank? %>
          <span class="text-muted"> No share capital accounts found for <%= @borrower.full_name %>. </span><br><br>
        <%= link_to 'Open Share Capital Account', new_loans_module_loan_application_share_capital_opening_path(@loan_application), class: 'btn btn-outline-primary' %>
          <% else %>
          <% @borrower.share_capitals.each do |share_capital| %>
            <div class="row">
              <div class="col-md-8 offset-md-1">
                <small class="text-muted"><%= share_capital.share_capital_product_name %></small>
                <h4 class="title-up"><%= number_to_currency share_capital.balance %></h4>
                <% if @loan_application.cart.voucher_amounts.for_account(account: share_capital.equity_account).present? %>

                  <span class="text-success"><i class="fa fa-plus"></i> <%= number_to_currency @loan_application.cart.voucher_amounts.for_account(account: share_capital.equity_account).total %></span>

                <% end %>
              </div>
              <div class="col-md-3">
                <%=link_to new_loans_module_loan_application_capital_build_up_processing_path(share_capital_id: share_capital.id, loan_application_id: @loan_application.id), title: "add-loan-application-capital-build-up-#{share_capital.id}" do %>
                   <span class="btn btn-outline-primary float-right"><i class="fa fa-plus-circle"></i> Add Capital</span>
                 <% end %>
              </div>
            </div>
            <hr>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="card animated fadeInUp">
        <div class="card-body">
          <h4 class="subtitle-up"> Savings Accounts </h4>
           <% @savings_accounts.each do |savings_account| %>
          <div class="row">
            <div class="col-md-8 offset-md-1">
              <small class="text-muted"><%= savings_account.saving_product_name %></small>
              <h4 class="title-up">
                <%= number_to_currency savings_account.balance %>
              </h4>
              <% if @loan_application.cart.voucher_amounts.for_account(account: savings_account.liability_account).present? %>
                <span class="text-success"> <i class="fa fa-plus"></i>
                <%= number_to_currency @loan_application.cart.voucher_amounts.where(account: savings_account.liability_account).total %>
                </span>
              <% end %>
            </div>
            <div class="col-md-3">
               <%=link_to new_loans_module_loan_application_savings_account_deposit_processing_path(saving_id: savings_account.id, loan_application_id: @loan_application.id), data: { modal: true } do %>
                 <span class="btn btn-outline-primary float-right"><i class="fa fa-plus-circle"></i> Add Saving</span>
               <% end %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
      <div class="card animated fadeInUp">
        <div class="card-body">
          <h4 class="subtitle-up"> Subscriptions </h4>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <h4 class="title-up"> Loan Application </h4>
          <p class="text-muted"> Please review the details below before proceeding. </p>

          <% if @loan_application.cart.voucher_amounts.with_no_vouchers.credit.present? %>
        <div class="row">
          <div class="col-md-8">
            <p class="title-up">LOAN AMOUNT</p>
          </div>
          <div class="col-md-4 float-right">
            <p class="title-up float-right"><%= number_to_currency @loan_application.loan_amount %></p>
          </div>
        </div>
        <% @loan_application.cart.voucher_amounts.credit.each do |voucher_amount| %>
          <div class="row min-margin">
            <div class="col-md-6">
              <%= voucher_amount.description.titleize %>
            </div>
            <div class="col-md-2">
              <%= link_to edit_loans_module_loan_application_voucher_amount_path(id: voucher_amount.id, loan_application_id: @loan_application.id), title: "Edit #{voucher_amount.description}" do %>
                <span data-toggle="tooltip" title="Edit Amount"><i class="fa fa-edit text-warning mr-2"></i>
                </span>
              <% end %>
              <%= link_to loans_module_loan_application_voucher_amount_path(id: voucher_amount.id, loan_application_id: @loan_application.id), title: "Cancel #{voucher_amount.description}", method: :delete do %>
                <span data-toggle="tooltip" title="Remove"><i class="fa fa-times text-danger"></i>
                </span>
              <% end %>
            </div>

            <div class="col-md-4">
              <span class="float-right">
                <%= number_to_currency voucher_amount.amount %>
              </span>
            </div>
          </div>
        <% end %>
      <% end %>
        <hr>
        <div class="row">
          <div class="col-md-8">
            <small class="text-open-sans-regular">TOTAL DEDUCTIONS</small><br>
             <%= link_to new_loans_module_loan_application_voucher_amount_path(@loan_application), data: { modal: true } do %>
              <span class="btn btn-outline-primary btn-sm" data-toggle="tooltip" title="Add Charges">
                <i class="fa fa-plus-circle"></i> Add Deductions
              </span>
            <% end %>
          </div>
          <div class="col-md-4">
            <span class="float-right text-danger">
              <%= number_to_currency @loan_application.cart.voucher_amounts.with_no_vouchers.credit.total %>
            </span>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <p class="subtitle-up">NET PROCEED</p>
          </div>
          <div class="col-md-8">
          <h4 class="subtitle-up float-right"><%= number_to_currency @loan_application.net_proceed %></h4>
        </div>
        </div>
        <hr />
        <%= simple_form_for [@loan_application, @voucher], url: :loans_module_loan_application_vouchers, html: { autocomplete: 'off' } do |f| %>
          <%= f.input :date, as: :string, input_html: { class: "datepicker", value: @loan_application.application_date.strftime("%B %e, %Y") } %>
          <%= f.input :cash_account_id, collection: current_office.employee_cash_accounts.cash_accounts.map{ |a| [a.name, a.id] }, input_html: { class: 'chosen-select' }, hint: "Please select cash account for disbursement." %>
          <%= f.input :reference_number, required: true %>
          <%= f.input :description, input_html: { value: "#{@loan_application.loan_product_name}" }, as: :text %>
          <%= f.input :preparer_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= f.input :borrower_id, input_html: { value: @loan_application.borrower_id }, as: :hidden %>
          <%= f.input :borrower_type, input_html: { value: @loan_application.borrower.class.to_s }, as: :hidden %>
          <%= f.input :net_proceed, input_html: { value: @loan_application.net_proceed.round(2) }, as: :hidden %>
          <%= f.input :loan_application_id, input_html: { value: @loan_application.id }, as: :hidden %>
          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :voucher_account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :cart_id, input_html: { value: @loan_application.cart_id }, as: :hidden %>

          <hr>
          <%= f.submit "Create Voucher", class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
          <%= link_to 'Cancel Application', loans_module_loan_application_path(@loan_application), method: :delete, class: "btn float-left text-danger" %>
        <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Add Guarantor', new_loans_module_loan_application_guarantor_path(@loan_application), id: "#{@loan_application.id}-new-member-guarantor" %>
<div class="row">
  <div class="col-md-6">
    <div class="card">
    <div class="card-body">

      <hr>


      <h3 class="subtitle-up"> Savings </h3>
        <% if @borrower.savings.blank? %>
          <span class="text-muted"> No savings account found for <%= @borrower.full_name %></span><br><br>
          <%= link_to 'Open Savings Account', new_loans_module_loan_application_savings_account_opening_path(@loan_application), class: 'btn btn-outline-primary' %>
        <% else %>

    </div>
  </div>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-1 col-sm-1">
            <%= image_tag(@loan_application.borrower_avatar, width: 45, height: 45, class: "img-circle") if @loan_application.borrower_avatar.attached? %>
          </div>
          <div class="col-md-11 col-sm-11">
            <h3 class="card-title no-margin-bottom"> <%= @loan_application.borrower_name %> </h3>
            <small class="text-muted">
              <%#= @loan_application.borrower.memberships.present? ? @loan_application.borrower.current_membership.membership_type.try(:titleize) : "Borrower"%>
            </small>
          </div>
        </div>
      </div>
      <div class="card-body">

        <hr>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <h3 class="card-title">Loan Amount </h3>
          </div>
          <div class="col-md-7 col-sm-6">
            <h3 class="card-title float-right number">
              <%#= simple_form_for @loan_application, url: :loans_module_loan_application_loan_amounts, html: { class: 'form-inline' } do |f| %>
              <%#= f.input :loan_amount, label: false %>
              <%#= f.submit "Edit" %>
              <%# end %>
              <%= number_to_currency @loan_application.loan_amount %></h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-8 col-sm-6">
            <h3 class="card-title"> Interests </h3>
          </div>
          <div class="col-md-3 col-sm-6">
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-md-8 col-sm-6">
            First Year
          </div>
          <div class="col-md-3 col-sm-6">
            <%= number_to_currency @loan_application.first_year_interest %>
          </div>
        </div>
        <% if @loan_application.term > 12  %>
          <div class="row justify-content-end">
            <div class="col-md-8 col-sm-6">
              Second Year
            </div>
            <div class="col-md-3 col-sm-6">
              <%= number_to_currency @loan_application.second_year_interest %>
            </div>
          </div>
        <% end %>
        <% if @loan_application.term >= 36 %>
          <div class="row justify-content-end">
            <div class="col-md-8 col-sm-6">
              Third Year
            </div>
            <div class="col-md-3 col-sm-6">
              <%= number_to_currency @loan_application.third_year_interest %>
            </div>
          </div>
        <% end %>
        <% if @loan_application.term >= 48 %>
          <div class="row justify-content-end">
            <div class="col-md-8 col-sm-6">
              Fourth Year
            </div>
            <div class="col-md-3 col-sm-6">
              <%= number_to_currency @loan_application.fourth_year_interest %>
            </div>
          </div>
        <% end %>
        <% if @loan_application.term >=60 %>
          <div class="row justify-content-end">
            <div class="col-md-8 col-sm-6">
              Fifth Year
            </div>
            <div class="col-md-3 col-sm-6">
              <%= number_to_currency @loan_application.fifth_year_interest %>
            </div>
          </div>
        <% end %>
        <hr class="min-margin">
        <div class="row justify-content-end">
          <div class="col-md-8 col-sm-6">
            Total Interest
          </div>
          <div class="col-md-3 col-sm-6">
            <%= number_to_currency @loan_application.total_interest %>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-md-8 col-sm-6">
            <span class="text-success">Prededucted </span>
          </div>
          <div class="col-md-3 col-sm-6">
            <span class="text-success">
              <%= number_to_currency @loan_application.prededucted_interest %>
            </span>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-md-8 col-sm-6">
            <span class="text-danger">Amortized </span>
          </div>
          <div class="col-md-3 col-sm-6">
            <span class="text-danger">
              <%= number_to_currency @loan_application.interest_balance %>
            </span>
          </div>
        </div>

      </div>
    </div>
    <div class="card">
      <div class="card-header with-border">
        <h3 class="card-title"> Share Capital </h3>
      </div>
      <div class="card-body">
        <% @share_capitals.each do |share_capital| %>
          <div class="row">

            <div class="col-md-6">
              <h3 class="card-title"><%= number_to_currency share_capital.balance %></h3>
              <span class="text-muted"><%= share_capital.subscriber_name %></span><br>
              <% if @loan_application.cart.voucher_amounts.for_account(account: share_capital.equity_account).present? %>

                <%= number_to_currency @loan_application.cart.voucher_amounts.for_account(account: share_capital.equity_account).total %>

              <% end %>
            </div>
            <div class="col-md-3">

            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Savings Accounts </h3>
      </div>
      <div class="card-body">


            </div>
            <div class="col-md-2">

            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Subscriptions </h3>
      </div>
      <div class="card-body">
          <% current_office.programs.each do |program| %>
            <%= program.name %>
            <%= program.amount %>
            <% program_subscription =  @borrower.program_subscriptions.where(program: program).last %>
            <% if program_subscription.present? %>
              <%=link_to new_loans_module_loan_application_program_subscription_payment_path(loan_application_id: @loan_application.id, program_subscription_id: program_subscription.id), id: "add-payment-#{program_subscription.id}" do %>
                <span class="btn btn-outline-warning float-right"><i class="fa fa-plus-circle"></i> Add Payment </span>
              <% end %>
            <% else %>
            <%= link_to 'Subscribe', new_loans_module_loan_application_program_subscription_path(loan_application_id: @loan_application.id, program_id: program.id), id: "#{program.id}-subscribe" %>
            <% end %>
            <hr>
          <% end %>

      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Previous Loans </h3>
      </div>
      <div class="card-body">
        <% @previous_loans.each do |loan| %>
          <div class="row">
            <div class="col-md-2">

                <%= image_tag(loan.borrower.avatar, style: 'width:40px;height:40px;', class: 'media-object img-circle') %>

            </div>
            <div class="col-md-7">
              <h3 class="card-title">
                <%= number_to_currency loan.balance %>
              </h3>
                <span class="text-muted">
                  <i class="fa fa-user-circle"></i> <%= loan.borrower_name %><br>
                  <i class="fa fa-tag"></i> <%= loan.loan_product_name %>
                </span>
              <br>
              <% if @loan_application.cart.voucher_amounts.where(account: loan.receivable_account).present? %>
                <span class="text-danger"> <i class="fa fa-minus"></i>
                <%= number_to_currency @loan_application.cart.voucher_amounts.where(account: loan.receivable_account).total %>
                </span>
              <% end %>

            </div>
            <div class="col-md-2">
              <%=link_to new_loans_module_loan_application_previous_loan_payment_processing_path(loan_id: loan.id, loan_application_id: @loan_application.id), data: { modal: true } do %>
                 <span class="btn btn-outline-warning float-right"><i class="fa fa-plus-circle"></i> Add Payment </span>
               <% end %>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
    <% if !@loan_application.lumpsum? %>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Amortization Schedules </h3>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th> Date </th>
                <th> Principal </th>
                <th> Interest </th>
                <th> Total Repayment</th>
                <th> Loan Balance </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <td><%= number_to_currency @loan_application.loan_amount %></td>
              </tr>
              <% @loan_application.amortization_schedules.order(date: :asc).each do |amortization_schedule| %>
                <tr>
                  <td><%= amortization_schedule.date.strftime("%B %e, %Y") %></td>
                  <td><%= number_to_currency amortization_schedule.principal %></td>
                  <td><%= number_to_currency amortization_schedule.interest %>
                    <% if amortization_schedule.prededucted_interest? %>
                      <span class="badge bg-danger"> Prededucted </span>
                    <% end %>
                  </td>
                <td><%= number_to_currency amortization_schedule.total_repayment %></td>
                  <td><%= number_to_currency amortization_schedule.ending_balance %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>


  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <center>
          <%= @loan_application.borrower_name.try(:upcase) %>
        </center>
        <hr>

        <div class="row min-margin">
          <div class="col-md-5 offset-1">
            Loan Amount
          </div>
          <div class="col-md-5">
            <span class="float-right">
              <%= number_to_currency @loan_application.loan_amount %>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 offset-1">

          </div>
        </div>
      <br>
      <% if @loan_application.cart.voucher_amounts.with_no_vouchers.debit.present? %>
        <small class="text-danger">ADD-ONS</small>
        <% @loan_application.cart.voucher_amounts.debit.each do |voucher_amount| %>
          <div class="row min-margin">
            <div class="col-md-5 offset-1">
              <%= voucher_amount.description %>
              <% if voucher_amount.debit? %>
              <span class="badge bg-success"> Addon </span>
              <% end %>
            </div>
            <div class="col-md-2">
              <%= link_to edit_loans_module_loan_application_voucher_amount_path(id: voucher_amount.id, loan_application_id: @loan_application.id), id: "#{voucher_amount.id}-edit", title: 'Edit Amount' do %>
                <span data-toggle="tooltip" title="Edit Amount"><i class="fa fa-edit text-warning mr-2"></i>
                </span>
              <% end %>
              <%= link_to loans_module_loan_application_voucher_amount_path(id: voucher_amount.id, loan_application_id: @loan_application.id), id: "#{voucher_amount.id}-delete", method: :delete do %>
                <span data-toggle="tooltip" title="Remove"><i class="fa fa-times text-danger"></i>
                </span>
              <% end %>
            </div>

            <div class="col-md-3">
              <span class="float-right">
                <%= number_to_currency voucher_amount.amount %>
              </span>
            </div>

          </div>
        <% end %>
        <div class="row">
          <div class="col-md-7 offset-1">
            <small class="text-open-sans-regular">TOTAL ADD-ONS</small>
          </div>
          <div class="col-md-3">
            <span class="float-right text-danger">
              <%= number_to_currency @loan_application.cart.voucher_amounts.debit.total %>
            </span>
          </div>
        </div>
      <% end %>



        <div class="row">
          <div class="col-md-7 col-sm-6 offset-1">
            NET PROCEED
          </div>
          <div class="col-md-3 col-sm-6">
            <span class="float-right number total"><b><%= number_to_currency @loan_application.net_proceed %></b></span>
          </div>
        </div>
        <br>
        <br>




      </div>
    </div>
</div>
