<%= simple_form_for @interest_expense, url: :time_deposit_interest_expenses do |f| %>
  <%= f.input :date, as: :string, input_html: { class: 'datepicker' } %>
  <%= f.input :reference_number %>
  <%= f.input :description %>
  <%= f.input :amount %>
  <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
  <%= f.input :time_deposit_id, input_html: { value: @time_deposit.id }, as: :hidden %>
  <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
  <%= f.submit 'Proceed' %>
<% end %>
