 <div class="card">
  <div class="card-header">
 <nav class="nav nav-pills nav-pills-underline">
        <li class="nav-item"><%= link_to loans_path, class: "nav-link #{'active' if current_page?(loans_path) }" do %>
          <i class="fa fa-credit-card"></i> All Loans
          <% end %>

        </li>
        <li class="nav-item"><%= link_to loans_dashboards_path, class: "nav-link #{'active' if current_page?(loans_dashboards_path) }" do %>
          <i class="fa fa-chart-bar"></i> Insights
          <% end %>

        </li>
        <li class="nav-item"><%= link_to loans_module_disbursements_path, class: "nav-link #{'active' if current_page?(loans_module_disbursements_path) }" do %>
          <i class="fa fa-arrow-up"></i> Disbursements
          <% end %>

        </li>
        <li class="nav-item"><%= link_to loans_module_collections_path, class: "nav-link #{'active' if current_page?(loans_module_collections_path) }" do %>
          <i class="fa fa-arrow-down"></i> Collections
          <% end %>

        </li>

      </nav>
    </div>
  </div>
<% if current_page? loans_path %>
  <%= render 'loans/index_partials/all_loans' %>
<% end %>
<% if current_page? loans_module_disbursements_path %>
  <%= render 'loans/index_partials/disbursements' %>
<% end %>
