<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% @loans.each do |loan| %>
        <%= loan.balance %>
        <%= link_to 'New Payment', new_savings_account_loan_payment_line_item_path(loan_id: loan.id) %>
      <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <% current_cart.voucher_amounts.each do |amount| %>
          <%= amount.description %>
          <%= amount.amount %>
        <% end %>
        <%= link_to 'Proceed', new_savings_account_loan_payment_processing_path(@savings_account) %>
      </div>
    </div>
  </div>
</div>
