
<% content_for(:html_title) { "Sign In" } %>
<div class="bg-primary">
<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <%=render 'layouts/shared/flash_messages' %>
      <div class="card">
        <div class="card-body">
          <br>
          <center>
          <%=image_tag("logo.png", height: 145, width: 145, class: 'img-circle') %>
        </center>
        <br>

        <%= simple_form_for(resource, as: resource_name, :url => session_path(resource_name),
          wrapper_mappings: {boolean: :vertical_boolean }, html: { autocomplete: 'off' }) do |f| %>
          <%= f.error_notification %>

          <%= f.input :email, placeholder: "Email", input_html:{class: "form-control input-lg"}, label: false %>
          <%= f.input :password, placeholder: "Password",  input_html:{class: "form-control input-lg"}, label: false  %>

          <hr>
          <%= f.submit "Log in to your account", class: "btn btn-primary btn-flat btn-block btn-lg", data: {disable_with: "Signing in..."} %>
        <% end %>
      </div>
    </div>
