<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="fa fa-info-circle"></i> Balance Transfer Transaction </h3>
        <br>
        <%= render 'vouchers/partials/alert_message', voucher: @voucher %>
      </div>
      <div class="card-body">
        <%= render 'vouchers/partials/body', voucher: @voucher %>
        <% if @voucher.accounting_entry.blank? %>
          <%= link_to "Confirm", share_capital_voucher_confirmations_path(share_capital_id: @origin_share_capital.id, voucher_id: @voucher.id), method: :post, class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
          <%= link_to "Cancel", share_capital_voucher_path(share_capital_id: @origin_share_capital.id, voucher_id: @voucher.id), method: :delete, class: "btn text-danger float-left" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
