<div class="row">
  <div class="col-md-12">
    <div class="box box-body">
      <div class="box-header">
        <h3 class="box-title"> Orders </h3>
      </div>
      <div class="box-body">
        <div class="table table-responsive">
		      <table class="table table-striped table-hover">
		        <thead>
			        <tr>
                <th>Customer</th>
                <th></th>
			        	<th>Date</th>
			        	<th>OR / Invoice #</th>
			        	<th><span class="pull-right">Total Cost </span></th>
			        </tr>
			      </thead>
			      <tbody>
			        <% @orders.each do |order| %>

			          <tr data-link="<%=store_front_module_order_path(order)%>" class="myClass">
                  <td width="30px"><%= image_tag(order.customer.avatar.url(:thumb), style: 'width:30px;height:30px;', class: 'media-object img-circle') %></td>
                  <td><%= order.customer_name %></td>
			            <td><%= order.date.try(:strftime, ("%B %e, %Y")) %></td>
			            <td><%= order.official_receipt_number %></td>

				          <td><span class="pull-right"><%=number_to_currency order.total_cost %></span></td>
				        </tr>
				      <% end %>
			      </tbody>
		      </table>
		    </div>
		  </div>
    </div>
  </div>
</div>
<script type="text/javascript">
	$("tr").click(function() {
  window.location = $(this).data("link")
});
	$('.myClass').css('cursor', 'pointer');
</script>
