<li class="nav-item">
  <a href="/accounting_module/general_ledgers" class="nav-link <%= 'active' if current_page?(accounting_module_general_ledgers_path) %>"><i class="nav-icon fa fa-home"></i> <span>General Ledger</span></a>
</li>
<li class="nav-item">
  <a href="/accounting_module/subsidiary_ledgers" class="nav-link <%= 'active' if current_page?(accounting_module_subsidiary_ledgers_path) %>"><i class="nav-icon fa fa-home"></i> <span>Subsidiary Ledger</span></a>
</li>
<li class="nav-item">
  <a href="/accounting_module" class="nav-link <%= 'active' if current_page?(accounting_module_index_path) %>"><i class="nav-icon fa fa-home"></i> <span>Dashboard</span></a>
</li>
<li class="nav-item">
  <a href="/accounting_module/accounts" class="nav-link <%= 'active' if current_page?(accounting_module_accounts_path) %>"><i class="nav-icon fa fa-server"></i> <span> Chart of Accounts </span></a>
</li>
<li class="nav-item" >
  <a href="/accounting_module/entries" class="nav-link <%= 'active' if current_page?(accounting_module_entries_path) %>"><i class="nav-icon fa fa-credit-card"></i> <span>Entries</span></a>
</li>
<li class="nav-item" >
  <a href="/vouchers" class="nav-link <%= 'active' if current_page?(vouchers_path) %>"><i class="nav-icon fa fa-credit-card"></i> <span>Vouchers</span></a>
</li>
<li class="nav-item">
  <a href="/employees" class="nav-link <%= 'active' if current_page?(employees_path) %> "><i class="nav-icon fa fa-users"></i> <span>Employees</span></a>
</li>
<li class="nav-item">
  <a href="/members" class="nav-link <%= 'active' if current_page?(members_path) %> "><i class="nav-icon fa fa-users"></i> <span>Members</span></a>
</li>
<li class="nav-item">
  <a href="/offices" class="nav-link <%= 'active' if current_page?(members_path) %> "><i class="nav-icon fa fa-sitemap"></i> <span>Offices</span></a>
</li>
<li class="nav-item">
  <a href="/organizations" class="nav-link <%= 'active' if current_page?(organizations_path) %> "><i class="nav-icon fa fa-sitemap"></i> <span>Organizations</span></a>
</li>
<li class="nav-item">
  <a href="/savings_accounts" class="nav-link <%= 'active' if current_page?(savings_accounts_path) %> "><i class="nav-icon fa fa-briefcase"></i> <span>Savings</span></a>
</li>
<li class="nav-item">
  <a href="/share_capitals" class="nav-link <%= 'active' if current_page?(share_capitals_path) %> "><i class="nav-icon fa fa-briefcase"></i> <span>Share Capitals</span></a>
</li>
<li class="nav-item">
  <a href="/time_deposits" class="nav-link <%= 'active' if current_page?(time_deposits_path) %> "><i class="nav-icon fa fa-briefcase"></i> <span>Time Deposits</span></a>
</li>
<li class="nav-item">
  <a href="/loans" class="nav-link <%= 'active' if current_page?(loans_path) %> "><i class="nav-icon fa fa-briefcase"></i> <span>Loans</span></a>
</li>
<li class="nav-item">
  <a href="/bank_accounts" class="nav-link <%= 'active' if current_page?(bank_accounts_path) %> "><i class="nav-icon fa fa-building"></i><span> Bank Accounts</span></a>
</li>
<li class="nav-item">
  <a href="/accounting_module/scheduled_entries" class="nav-link <%= 'active' if current_page?(accounting_module_scheduled_entries_path) %> "><i class="nav-icon fa fa-hourglass"></i> <span>Scheduled Entries</span></a>
</li>
<li class="header"><hr></li>
<li class="nav-item" >
  <a href="/accounting_module/reports/financial_conditions" class="nav-link <%= 'active' if current_page?(accounting_module_reports_financial_conditions_path) %>"><i class="nav-icon fa fa-circle"></i> <span> Financial Statement </span></a>
</li>
<li class="nav-item" >
  <a href="/accounting_module/reports/income_statements" class="nav-link <%= 'active' if current_page?(accounting_module_reports_income_statements_path) %>"><i class="nav-icon fa fa-circle"></i> <span> Income Statement </span></a>

</li>
<li class="nav-item" >
  <a href="/accounting_module/reports" class="nav-link <%= 'active' if current_page?(accounting_module_reports_path) %>"><i class="nav-icon fa fa-folder"></i> <span> Reports</span></a>
</li>
<li class="nav-item">
  <a href="/portfolios" class="nav-link <%= 'active' if current_page?(portfolios_path) %>">
  <i class="nav-icon far fa-folder"></i><span> Portfolios</span></a>
</li>
<%= render 'layouts/shared/sidebar_links/monitoring' %>
