<li class="nav-header">ACCOUNTING </li>
<li class="nav-item">
  <a href="/accounting_module/reports/ticket_entries" class="nav-link <%= 'active' if current_page?(accounting_module_reports_ticket_entries_path(office_id: current_office.id)) %>"><i class="nav-icon far fa-circle"></i> <span> General Ledger </span></a>
</li>
<li class="nav-item">
  <a href="/accounting_module/accounts" class="nav-link <%= 'active' if current_page?(accounting_module_accounts_path) %>"><i class="nav-icon far fa-circle"></i> <span> Subsidiary Ledgers </span></a>
</li>
<li class="nav-item">
  <a href="/accounting_module/reports/ticket_entries" class="nav-link <%= 'active' if current_page?(accounting_module_reports_ticket_entries_path(office_id: current_office.id)) %>"><i class="nav-icon far fa-circle"></i> <span> Ticket Entries </span></a>
</li>

<li class="nav-item">
  <a href="/accounting_module/entries" class="nav-link <%= 'active' if current_page?(accounting_module_entries_path) %>"><i class="nav-icon far fa-circle"></i> <span> Entries </span></a>
</li>

<li class="nav-header">REPORTS </li>
<li class="nav-item">
  <a href="/accounting_module/reports/balance_sheets" class="nav-link <%= 'active' if current_page?(accounting_module_reports_balance_sheets_path(office_id: current_office.id)) %>"><i class="nav-icon fa fa-folder"></i> <span> Balance Sheet </span></a>
</li>
<li class="nav-item">
  <a href="/accounting_module/reports/income_statements" class="nav-link <%= 'active' if current_page?(accounting_module_reports_income_statements_path(office_id: current_office.id)) %>"><i class="nav-icon fa fa-folder"></i> <span> Income Statement </span></a>
</li>
<li class="nav-item">
  <a href="/accounting_module/reports/trial_balances" class="nav-link <%= 'active' if current_page?(accounting_module_reports_trial_balances_path(office_id: current_office.id)) %>"><i class="nav-icon fa fa-folder"></i> <span> Trial Balance </span></a>
</li>
<li class="nav-header">PORTFOLIOS </li>

<li class="nav-item">
  <a href="/share_capitals" class="nav-link <%= 'active' if current_page? share_capitals_path %>"><i class="nav-icon fa fa-circle"></i> <span> Share Capitals </span></a>
</li>
<li class="nav-item">
  <a href="/savings_accounts" class="nav-link <%= 'active' if current_page? savings_accounts_path %>"><i class="nav-icon fa fa-circle"></i> <span> Savings </span></a>
</li>
<li class="nav-item">
  <a href="/loans" class="nav-link <%= 'active' if current_page? loans_path %>"><i class="nav-icon fa fa-circle"></i> <span> Loans </span></a>
</li>

<li class="nav-item">
  <a href="/time_deposits" class="nav-link <%= 'active' if current_page? time_deposits_path %>"><i class="nav-icon fa fa-circle"></i> <span> Time Deposits </span></a>
</li>

<li class="nav-header">SETTINGS </li>

<li class="nav-item">
  <a href="/accounting_module/scheduled_entries" class="nav-link <%= 'active' if current_page? accounting_module_scheduled_entries_path %>"><i class="nav-icon far fa-circle"></i> <span> Scheduled Entries </span></a>
</li>
