<li class= "nav-item">
  <a href="/members" class="nav-link <%= 'active' if current_page?(members_path) %>"><i class="nav-icon fa fa-users"></i> <span>Members </span></a>
</li>
<li class= "nav-item">
  <a href="/members" class="nav-link <%= 'active' if current_page?(employees_path) %>"><i class="nav-icon fa fa-users"></i> <span>Employees </span></a>
</li>
<li class="nav-header">INSIGHTS </li>
<li class="nav-item">
  <a href="/insights/members/summaries" class="nav-link  <%= 'active' if current_page?(insights_members_summaries_path) %>"><i class="nav-icon fa fa-chart"></i> <span> Members </span></a>
</li>
<li class="nav-item">
  <a href="/insights/programs/summaries" class="nav-link  <%= 'active' if current_page?(insights_programs_summaries_path) %>"><i class="nav-icon fa fa-chart"></i> <span> Programs </span></a>
</li>

<li class="nav-header">PORTFOLIOS </li>
<li class="nav-item">
  <a href="/loans" class="nav-link  <%= 'active' if current_page?(loans_path) %>"><i class="nav-icon fa fa-credit-card"></i> <span> Loans </span></a>
</li>

<li class="nav-item">
  <a href="/share_capitals" class="nav-link <%= 'active' if current_page?(share_capitals_path) %>"><i class="nav-icon fa fa-briefcase"></i> <span> Share Capitals</span></a>
</li>
<li class="nav-item">
  <a href="/savings_accounts" class="nav-link <%= 'active' if current_page?(savings_accounts_path) %>"><i class="nav-icon fa fa-briefcase"></i> <span> Savings </span></a>
</li>
<li class="nav-item">
  <a href="/time_deposits" class="nav-link <%= 'active' if current_page?(time_deposits_path) %>"><i class="nav-icon fa fa-hourglass"></i> <span> Time Deposits </span></a>
</li>

<li class="nav-item">
  <a href="/barangays" class="nav-link <%= 'active' if current_page?(barangays_path) %>"><i class="nav-icon fa fa-map-marker"></i> <span> Barangays </span></a>
</li>
<li class="nav-item">
  <a href="/organizations" class="nav-link <%= 'active' if current_page?(organizations_path) %>"><i class="nav-icon fa fa-sitemap"></i> <span> Organizations </span></a>
</li>
<li class="nav-item">
  <a href="/bank_accounts" class="nav-link <%= 'active' if current_page?(bank_accounts_path) %> "><i class="nav-icon fa fa-building"></i><span> Bank Accounts</span></a>
</li>
<li class="nav-item">
  <a href="/calendars" class="nav-link <%= 'active' if current_page?(calendars_path) %>"><i class="nav-icon fa fa-calendar"></i> <span> Birthday Calendar</span></a>
</li>
<li class="nav-header">ACCOUNTING REPORTS</li>
<li class="nav-item" >
  <a href="/accounting_module/reports/balance_sheets" class="nav-link <%= 'active' if current_page?(accounting_module_reports_balance_sheets_path) %>"><i class="nav-icon fa fa-circle"></i> <span> Balance Sheet </span></a>
</li>
<li class="nav-item" >
  <a href="/accounting_module/reports/income_statements" class="nav-link <%= 'active' if current_page?(accounting_module_reports_income_statements_path) %>"><i class="nav-icon fa fa-circle"></i> <span> Income Statement </span></a>
</li>
