<li class="nav-item">
  <a href="/treasury_module/daily_transactions" class="nav-link <%= 'active' if current_page?(treasury_module_daily_transactions_path) %>"><i class="nav-icon fa fa-list"></i><span> Daily Transactions</span></a>
</li>
<li class="nav-item">
  <a href="/members" class="nav-link <%= 'active' if current_page?(members_path) %>"><i class="nav-icon fa fa-users"></i><span> Members</span></a>
</li>
<li class="nav-item">
  <a href="/employees" class="nav-link <%= 'active' if current_page?(employees_path) %>"><i class="nav-icon fa fa-users"></i><span> Employees</span></a>
</li>
<li class="nav-item">
  <a href="/organizations" class="nav-link <%= 'active' if current_page?(organizations_path) %>"><i class="nav-icon fa fa-sitemap"></i> <span> Organizations </span></a>
</li>

<li class="nav-item">
  <a href="/treasury_module/cash_accounts" class="nav-link <%= 'active' if current_page?(treasury_module_cash_accounts_path) %>"><i class="nav-icon fa fa-book"></i><span> Cash Books</span></a>
</li>
<li class="nav-item">
  <a href="/employees/<%="#{current_user.id}"%>/reports" class="nav-link <%= 'active' if current_page?(employee_reports_path(current_user)) %>">
  <i class="nav-icon far fa-folder"></i><span> Reports</span></a>
</li>

<li class="nav-header"> PORTFOLIOS </li>
<li class="nav-item" >
  <a href="/savings_accounts" class="nav-link <%= 'active' if current_page?(savings_accounts_path) %>"><i class="nav-icon fa fa-briefcase"></i><span> Savings</span></a>
</li>

<li class="nav-item" >
  <a href="/loans" class="nav-link <%= 'active' if current_page?(loans_path) %>"><i class="nav-icon fa fa-credit-card"></i><span> Loans</span></a>
</li>

<li class="nav-item">
  <a href="/share_capitals" class="nav-link <%= 'active' if current_page?(share_capitals_path) %>"><i class="nav-icon fa fa-database"></i><span> Share Capitals </span></a>
 </li>
 <li class="nav-item" >
  <a href="/time_deposits" class="nav-link <%= 'active' if current_page?(time_deposits_path) %>"><i class="nav-icon fa fa-hourglass-end"></i><span> Time Deposits</span></a>
</li>

<li class="nav-item" >
  <a href="/loans_module/loan_applications" class="nav-link <%= 'active' if current_page?(loans_module_loan_applications_path) %>"><i class="nav-icon far fa-circle"></i><span> Loan Applications</span></a>
</li>



<li class="nav-item">
  <a href="/bank_accounts" class="nav-link <%= 'active' if current_page?(bank_accounts_path) %> "><i class="nav-icon far fa-circle"></i><span> Bank Accounts</span></a>
</li>



<li class="nav-item" >
  <a href="/vouchers" class="nav-link <%= 'active' if current_page?(vouchers_path) %>"><i class="nav-icon fa fa-credit-card"></i> <span>Vouchers</span></a>
</li>

<li class="nav-item">
  <a href="/programs" class="nav-link <%= 'active' if current_page?(programs_path) %> "><i class="nav-icon far fa-circle"></i><span> Programs</span></a>
</li>
