
<li class="nav-item">
  <a href="/treasury_module/cash_accounts" class="nav-link <%= 'active' if current_page?(treasury_module_cash_accounts_path) %>"><i class="nav-icon far fa-money"></i> <span> Cash Accounts </span></a>
</li>

<li class="nav-item">
  <a href="/treasury_module/bank_accounts" class="nav-link <%= 'active' if current_page?(treasury_module_bank_accounts_path) %>"><i class="nav-icon far fa-money"></i> <span> Bank Accounts </span></a>
</li>

<li class="nav-header">CASH BOOKS</li>
<li class="nav-item">
  <a href="/treasury_module/cash_receipts" class="nav-link <%= 'active' if current_page?(treasury_module_cash_receipts_path) %>"><i class="nav-icon fa fa-arrow-right"></i> <span> Receipts</span></a>
</li>

<li class="nav-item">
  <a href="/treasury_module/cash_disbursements" class="nav-link <%= 'active' if current_page?(treasury_module_cash_disbursements_path) %>"><i class="nav-icon fa fa-arrow-left"></i> <span> Disbursements</span></a>
</li>
