<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3 class="title-up">Bank Accounts </h3>
    </div>
    <div class="col-md-4">
      <%=form_tag bank_accounts_path, method: :get do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search... ", id: 'account-search-form' %>
          <span class="input-group-btn">
            <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
              <i class="fa fa-search"></i>
            <% end %>
          </span>
        </div>
      <% end %>
    </div>
  </div>

    <div class="card">
      <div class="card-body">
        <% if policy(:bank_account).new? %>
          <%= link_to 'New Bank Account', new_bank_account_application_path, class: "btn btn-primary float-right", data: {turbolinks: false} %>
        <% end %>
        <div class="table table-responsive">
          <table>
            <thead>
              <tr>
                <th>Bank</th>
                <th>Address</th>
                <th>Account Number</th>
              </tr>
            </thead>
            <tbody>
              <% @bank_accounts.each do |bank_account| %>
                <tr>
                  <td><%= bank_account.name %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
<% @bank_accounts.each do |bank_account| %>
  <%= render 'bank_accounts/partials/header', bank_account: bank_account %>
<% end %>
