
        <div id="customer-modal" class="modal fade"></div>
<div class="row">
  <div class="col-md-7">
    <div class="box box-solid">
      <div class="box-header bg-gray">
        <h3 class="box-title">Order Details </h3>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-1 col-sm-1 col-xs-1">
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1">
            QTY
          </div>
          <div class="col-md-7 col-sm-5 col-xs-5">
            Product
          </div>
          <div class="col-md-3 col-sm-2 col-xs-2">
            <small><b>Total Cost</b> </small>
          </div>
        </div>
        <br>
           <% @cart.line_items.each do |line_item| %>
        <div class="row">
          <div class="col-md-2">
            <%= line_item.quantity.to_i %>
          </div>
          <div class="col-md-7">
            <%= line_item.name.try(:upcase) %><br>
            <i><%= line_item.barcode %></i><br>
            <span class="label bg-gray">
              <%= number_to_currency line_item.unit_cost %>
            </span>
          </div>
          <div class="col-md-2">
            <span class="pull-right"><%=number_to_currency line_item.total_cost %></span>
          </div>
        </div>
        <br>
        <% end %>
        <hr>
        <div class="row">
          <div class="col-md-4 col-md-offset-2">
            <b class="condensed-text"> TOTAL </b>
          </div>
          <div class="col-md-5">
            <b><span class="pull-right"><%=number_to_currency @cart.line_items.total_cost %></span></b>
          </div>
        </div>
      </div>
    </div>
  </div>

        <div class="col-md-5">
          <div class="box box-solid">
            <div class="box-header">
              <%= @membership.name %>
<p class="text-muted"> Accounts Receivable Store </p>
<%= number_to_currency @membership.account_receivable_store_balance %>
<hr>
<%= number_to_currency @membership.savings.sum(&:balance) %>

<%= number_to_currency @membership.share_capitals.sum(&:balance) %>


              <h3 class="condensed-text box-title"> PAYMENT DETAILS </h3>
            </div>
            <div class="box-body">
               <div class="row">
          <div class="col-md-4 col-md-offset-1">
            <h3 class="condensed-text"> TOTAL </h3>
          </div>
          <div class="col-md-5">
            <h3><span class="pull-right"><%=number_to_currency @cart.line_items.total_cost %></span></h3>
          </div>
        </div>
        <hr>


          <%= simple_form_for @order, url: :store_front_module_orders do |f| %>
            <%= f.input :date, as: :string, input_html: { class: "datepicker", value: Time.zone.now.strftime("%B %e, %Y") } %>

            <%= f.input :customer_id, input_html: { value: @membership.memberable_id } %>
            <%= f.input :customer_type, input_html: { value: @membership.memberable_type } %>

            <%= f.input :pay_type, input_html: {id: 'payment-type-select', class: 'icheck-me', "data-skin" => 'square', "data-color" => "blue"}, collection: StoreFrontModule::Order.pay_types.keys.to_a.map {|a| [a.titleize, a]}, default: StoreFrontModule::Order.pay_types.first %>
            <%= f.input :total_cost, input_html: { id: 'order-total-cost', value: @cart.line_items.total_cost }, as: :hidden %>
            <%= f.input :cash_tendered, as: :string, input_html: { id: 'order-cash-tendered', oninput: 'calculateChangeForOrder()', class: "input-lg"} %>
            <%= f.input :order_change, label: "Change", readonly: true, input_html: { id: 'order-change', value: 0, class: 'bg-gray input-lg'}, as: :string %>
            <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
            <div class="box-footer">
              <center><%= f.submit "Save Order", class: "btn btn-primary btn-block btn-flat btn-lg" %></center>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $( "#member-select" ).select2({
  });
  $( "#payment-type-select" ).select2({
  });
  function calculateChangeForOrder() {
    var orderCashTendered = document.getElementById('order-cash-tendered').value;
    var orderTotalCost = document.getElementById('order-total-cost').value;
    var orderChange = document.getElementById('order-change');
    var orderResult = orderCashTendered - orderTotalCost;
    orderChange.value = orderResult;
  };
</script>
