
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <%=link_to(image_tag(current_user.avatar.url(:medium), class: "img-circle", width: 40, height: 40), employee_path(current_user)) %>
        </div>
        <div class="pull-left info">
          <p><%=link_to current_user.first_name, employee_path(current_user) %></p>
          <a href="#"><i class="fa fa-circle text-success"></i> <small><%=current_user.role.titleize %></small></a>
        </div>
      </div>
      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
          <li class="header"> STORE FRONT </li>

          <!-- <li><a href="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li> -->
          <li class=<%= 'active' if current_page?(new_store_front_module_sales_line_item_path) %> ><a href="/"><i class="fa fa-home"></i> <span>Store</span></a></li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-server"></i> <span>Orders</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="/store_front_module/sales"><i class="fa fa-circle-o"></i> Sales</a></li>
              <li><a href="/store_front_module/purchases"><i class="fa fa-circle-o"></i> Purchases</a></li>
              <li><a href="/store_front_module/stock_transfers"><i class="fa fa-circle-o"></i> Stock Transfers</a></li>
              <li><a href="/store_front_module/sales_returns"><i class="fa fa-circle-o"></i> Sales Returns</a></li>
              <li><a href="/store_front_module/purchase_returns"><i class="fa fa-circle-o"></i> Purchase Returns</a></li>
              <li><a href="/store_front_module/internal_uses"><i class="fa fa-circle-o"></i> Internal Use</a></li>
              <li><a href="/store_front_module/spoilages"><i class="fa fa-circle-o"></i> Spoilages</a></li>
            </ul>
          </li>

          <li class=<%= 'active' if current_page?(store_front_module_products_path) %> ><a href="/store_front_module/products"><i class="fa fa-tag"></i> <span>Products</span></a></li>
           <li class=<%= 'active' if current_page?(store_front_module_inventories_path) %> ><a href="/store_front_module/inventories"><i class="fa fa-cube"></i> <span>Inventory</span></a></li>


         <li class=<%= 'active' if current_page?(store_front_module_customers_path) %> ><a href="/store_front_module/customers"><i class="fa fa-users"></i> <span> Customers</span></a></li>
         <li class=<%= 'active' if current_page?(suppliers_path) %> ><a href="/suppliers"><i class="fa fa-users"></i> <span> Suppliers</span></a></li>


            <li class=<%= 'active' if current_page?(store_front_module_sales_clerk_reports_path) %> ><a href="/store_front_module/sales_clerk_reports"><i class="fa fa-folder"></i> <span> Reports</span></a></li>

    </section>
    <!-- /.sidebar -->
  </aside>
