<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header no-border">
          <h2 class="title-up"> Select Interest Calculation</h2>
        </div>
        <div class="card-body">
          <% LoansModule::LoanApplication.interest_calculation_types.keys.to_a.each do |calculation_type| %>
            <div class="row">
              <div class="col-md-6">
                <%= calculation_type.titleize %>
              </div>
              <div class="col-md-6">
                <span class="float-right">
                  <%= link_to  'Select', new_loans_module_loan_application_path(borrower_id: params[:borrower_id], borrower_type: params[:borrower_type], loan_product_id: params[:loan_product_id], interest_calculation_type: calculation_type), class: 'btn btn-outline-primary' %>
                </span>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
