<%= render 'employees/shared/form_header' %>
<%= simple_form_for @cash_account, url: :employee_cash_accounts do |f| %>
	<div class="modal-body">
		<h4 class="card-title">New Cash Account</h4>
		<hr>
	  <%= f.input :cash_account_id, collection: current_cooperative.accounts.assets.map{|a| [a.name, a.id] }  %>
    <%= f.input :cooperative_id, input_html: { value: current_cooperative.id }, as: :hidden %>
    <%= f.input :office_id, input_html: { value: current_office.id }, as: :hidden %>

    <%= f.input :default_account %>
	</div>
	<div class="modal-footer">
	  <%= f.submit "Add Cash Account", class: 'btn btn-danger float-right' %>
	</div>
<% end %>
