<div class="container">
  <div class="card">
    <div class="card-body">
      <br />
      <div class="row">
        <div class="col-md-4">
          <h3 class="title-up"><%= number_to_currency current_office.office_loan_products.receivable_account_categories.balance %></h3>
          <small class="text-muted"> TOTAL</small>
        </div>
        <div class="col-md-3">
          <h3 class="title-up"><%= number_to_currency @loans.distinct.current_loan.principal_balance %></h3>
          <small class="text-muted"> CURRENT </small>
        </div>
        <div class="col-md-3">
          <h3 class="title-up"><%= number_to_currency @loans.distinct.past_due.principal_balance %></h3>
          <small class="text-muted"> PAST DUE </small>
        </div>
        <div class="col-md-2">
          <h3 class="title-up text-danger"><%= number_to_currency((@loans.distinct.past_due.principal_balance / @loans.distinct.principal_balance * 100), unit: "") %> % </h3>
          <small class="text-danger"> PAST DUE PERCENT </small>
        </div>
      </div>
      <hr />
      <h4 class="subtitle-up"> Aging Portfolio </h4>
      <% aging_data = [] %>
      <% current_office.loan_groups.order(start_num: :asc).each do |loan_group| %>
        <% aging_data << { loan_group.title => loan_group.loans.principal_balance } %>
      <% end %>
      <div class="row">
        <div class="col-md-8">
          <%= pie_chart (Hash[*aging_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true, donut: true, legend: 'bottom', thousands: ",", prefix: "P " %>
        </div>
        <div class="col-md-4">
          <% current_office.loan_groups.each do |loan_group| %>
            <div class="row">
              <div class="col-md-8">
                <%= link_to loan_group.title, loan_group_path(loan_group) %>
              </div>
              <div class="col-md-4">
                <%= loan_group.loans.size %>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h3 class="title-up"> Disbursements vs Loan Payments </h3>
    </div>
    <div class="card-body">
      <% months = [] %>
      <% disbursements_data = [] %>
      <% payments_data = [] %>
      <% (DateTime.now.beginning_of_year..DateTime.now.end_of_month).each do |month| %>
        <% months << month.beginning_of_month %>
      <% end %>
      <% months.uniq.each do |month| %>
        <% disbursements_data << { month.strftime("%b").upcase => @loans.receivable_accounts.debits_balance(from_date: month.beginning_of_month, to_date: month.end_of_month) } %>
        <% payments_data << { month.strftime("%b").upcase => @loans.receivable_accounts.credits_balance(from_date: month.beginning_of_month, to_date: month.end_of_month) } %>
      <% end %>
      <%= area_chart [
        { name: 'Disbursements', data: Hash[*disbursements_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?} },
        { name: 'Payments', data: Hash[*payments_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?} },
  ], thousands: ",", prefix: "P ", curve: false %>
      <hr>
    </div>
  </div>
</div>
