<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <small>BALANCE</small>
              <h3 class="title-up"><%= number_to_currency @savings_account.balance %> </h3>
            </div>
            <div class="col-md-6">
              <%= @savings_account.depositor_name %><br>
              <small><%= @savings_account.saving_product_name %></small>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="subtitle-up"> Loans </h4>
          <% @savings_account.depositor.loans.each do |loan| %>
            <div class="row">
              <div class="col-md-4">
                <small>Principal Balance</small>
                <h3 class="title-up"><%= number_to_currency loan.balance %></h3>
                <% if current_cart.voucher_amounts.pluck(:account_id).include?(loan.receivable_account_id) %>
                  <small class="text-success"><i class="fa fa-minus"></i> <%= number_to_currency current_cart.voucher_amounts.where(account: loan.receivable_account).first.amount %> Principal</small>
                  <br>
                <% end %>
                <% if current_cart.voucher_amounts.pluck(:account_id).include?(loan.interest_revenue_account_id) %>
                  <small class="text-success"><i class="fa fa-minus"></i> <%= number_to_currency current_cart.voucher_amounts.where(account: loan.interest_revenue_account).first.amount %> Interest</small>
                  <br>
                <% end %>
                <% if current_cart.voucher_amounts.pluck(:account_id).include?(loan.penalty_revenue_account_id) %>
                  <small class="text-success"><i class="fa fa-minus"></i> <%= number_to_currency current_cart.voucher_amounts.where(account: loan.penalty_revenue_account).first.amount %> Penalty</small>
                  <br>
                <% end %>
              </div>
              <div class="col-md-5">
                <%= loan.borrower_full_name %><br>
                <small><%= loan.loan_product_name %></small>
              </div>
              <div class="col-md-3">
                <%= link_to 'Add Payment', new_savings_account_loan_payment_line_item_path(loan_id: loan.id), class: 'btn btn-default' %>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="subtitle-up"> Share Capitals </h4>
          <% @savings_account.depositor.share_capitals.each do |share_capital| %>
            <small>Balance</small>
            <h3 class="title-up"><%= number_to_currency share_capital.balance %></h3>
            <%= link_to 'Transfer Balance', new_savings_account_share_capital_transfer_path(savings_account_program_subscription_payments_id: @savings_account.id, share_capital_id: share_capital.id), id: "transfer-amount-#{share_capital.id}" %>
          <% end %>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="subtitle-up"> Subscriptions </h4>
          <% @savings_account.depositor.program_subscriptions.each do |program_subscription| %>
            <div class="row">
              <div class="col-md-8">
                <%= program_subscription.name %>
              </div>
              <div class="col-md-4">
                <%= link_to 'Add Payment', new_savings_account_program_subscription_payment_path(savings_account_id: @savings_account.id, program_subscription_id: program_subscription.id), id: "add-payment-#{program_subscription.id}" %>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
          <h3 class="title-up"> Transaction Details </h3>
        </div>
        <div class="card-body">
          <% current_cart.voucher_amounts.each do |voucher_amount| %>
            <div class="row">
              <div class="col-md-8">
                <%= voucher_amount.account_name %>
              </div>
              <div class="col-md-3">
                <span class="float-right"> <%= number_to_currency voucher_amount.amount %></span>
              </div>
              <div class="col-md-1">
                <%= link_to savings_account_adjusting_entry_voucher_amount_path(id: voucher_amount.id, savings_account_id: @savings_account.id), title: 'Remove Amount', method: :delete do %>
                <span data-toggle="tooltip" title="Remove"><i class="fa fa-times text-danger"></i> Remove
                </span>
              <% end %>
              </div>
            </div>
            <br>
          <% end %>
          <hr>
          <div class="row">
            <div class="col-md-6">
             <span class="subtitle-up"> TOTAL</span>
            </div>
            <div class="col-md-5">
              <span class="subtitle-up float-right"><%= number_to_currency current_cart.voucher_amounts.total %></span>
            </div>
          </div>
          <%= simple_form_for @voucher_processing, url: :savings_account_voucher_processings do |f| %>.
            <%= f.input :date, as: :string, input_html: { class: 'datepicker' } %>
            <%= f.input :reference_number %>
            <%= f.input :description %>
            <%= f.input :cart_id, input_html: { value: current_cart.id }, as: :hidden %>
            <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
            <%= f.input :savings_account_id, input_html: { value: @savings_account.id }, as: :hidden %>
            <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>



            <%= f.submit 'Proceed', class: 'btn btn-primary float-right' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
