<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="title-up"> Loans Department Reports </h3>
    <hr>
<h4 class="subtitle-up"><%= link_to 'Loan Maturities', loans_module_reports_loan_maturities_path %></h4>
  <span class="text-muted"> Generate report of matured loans </span>
<hr>
<h4 class="subtitle-up"><%= link_to 'Loan Aging Portfolio', loans_module_reports_loan_agings_path %></h4>
<span class="text-muted"> Generate report of loan agin portfolios </span>
<hr>
<%= link_to loans_module_reports_loan_releases_path do %>
  <h4 class="subtitle-up">Loan Releases </h4>
<% end %>
<hr>
<h4 class="subtitle-up"><%= link_to 'Loan Collections', loans_module_reports_loan_collections_path %></h4>
<hr>
