<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="title-up"> Loans Department Reports </h3>
    <hr>
<h4 class="subtitle-up"><%= link_to 'Loan Maturities', loans_module_reports_loan_maturities_path %></h4>
  <span class="text-muted"> Generate report of matured loans </span>
<hr>
<h4 class="subtitle-up"><%= link_to 'Loan Aging Portfolio', loans_module_reports_loan_agings_path %></h4>
<span class="text-muted"> Generate report of loan agin portfolios </span>
<hr>

  <h4 class="subtitle-up">Loan Releases </h4>
  <span class="text-muted"> Generate report of loan releases by date, loan products, barangay </span>

<br>
<br>
<%=link_to loans_module_reports_loan_releases_summaries_path do %>
  <b>Loan releases summary</b><br>
  <span class="text-muted"> View summary of loan releases. </span>
<% end %>
<br>
<br>

        <%=link_to loans_module_reports_loan_releases_path do %>
          <b>All loan releases</b><br>
          <span class="text-muted"> Generate loan releases report. </span>
        <% end %>

    <br>
    <br>


      <%=link_to loans_module_reports_loan_releases_by_loan_products_path do %>
        <b>Loan releases filtered by loan products</b><br>
        <span class="text-muted"> Generate loan releases report filtered by loan products. </span>
      <% end %>

  <br>
  <br>

      <%=link_to loans_module_reports_loan_releases_by_barangays_path do %>
        <b>Loan releases filtered by barangays</b><br>
        <span class="text-muted"> Generate loan releases report filtered by barangays. </span>
      <% end %>

<hr>
<h4 class="subtitle-up">Loan Collections</h4>
<span class="text-muted"> Generate reports on loan collections </span>
<br>
<%=link_to loans_module_reports_loan_collections_summaries_path do %>
  <b>Loan collections summary</b><br>
  <span class="text-muted"> View report on loan collections summary. </span>
<% end %>
