<% @products.each do |product| %>
  <% product.stocks.processed.available.each do |stock| %>
    <%= render 'store_front_module/line_items/sales_line_items/stock', stock: stock %>
  <% end %>
<% end %>
