<div class="row">
  <div class="col-md-4">
   <span class="legend-title"><%= stock.name %></span> <span class="text-muted"><%= stock.barcode %></span><br>
   <span class="text-success"><%= stock.available_stock_for_cart(current_cart) %> <%= stock.unit_of_measurement_code.upcase %> IN STOCK </span>
   <span class="legend-title"><%= number_to_currency stock.price %></span>

 </div>
 <div class="col-md-7">
<%= simple_form_for @sales_line_item, url: :store_front_module_sales_line_items do |f| %>
  <%= f.input :store_front_id, input_html: { value: current_store_front.id }, as: :hidden %>
  <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
  <%= f.input :cart_id, input_html: { value: current_cart.id }, as: :hidden %>
  <%= f.input :stock_id, input_html: { value: stock.id }, as: :hidden  %>
  <div class="row">
    <div class="col-md-3">
      <% if stock.has_conversion? %>
        <small class="text-muted">UNIT </small>
        <%= f.input :unit_of_measurement_id, label: false, collection: stock.product.unit_of_measurements.map{|a| [a.code, a.id] }, selected: stock.unit_of_measurement.id, input_html: { class: 'chosen-select form-control' } %>
        <% else %>
        <%= f.input :unit_of_measurement_id, input_html: { value: stock.unit_of_measurement.id }, as: :hidden  %>
      <% end %>
    </div>
    <div class="col-md-3">
      <small> QTY </small>
      <%= f.input :quantity, label: false, placeholder: 'QTY', input_html: { value: 1, id: 'line_item_quantity' }, as: :integer %>
    </div>
    <div class="col-md-3">
      <small> SELLING PRICE</small>
      <%= f.input :unit_cost, label: false, input_html: { value: stock.price, id: 'line_item_selling_price' } %>

    </div>

  <div class="col-md-3">
    <br>
    <%= f.submit 'Add Item', class: 'btn btn-outline-primary', autofocus: true %>
  </div>
</div>

<% end %>
</div>
</div>
<hr>
