<% content_for(:html_title) { "Store Section" } %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <br>
        <div class="card-body">
          <% if params[:search].present? %>
            <%=form_tag new_store_front_module_sales_line_item_path, method: :get do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search], id: 'stock-search-form', class: "form-control", placeholder: "Search Products..." %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', id: "stock-search-btn", class: "btn btn-default") do %>
                    <i class="fa fa-search"></i> Browse Products
                  <% end %>
                </span>
              </div>
            <% end %>
            <% else %>
             <%=form_tag new_store_front_module_sales_line_item_path, method: :get do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search], id: 'stock-search-form', autofocus: true,  class: "form-control", placeholder: "Search Products..."  %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', id: "stock-search-btn", class: "btn btn-default") do %>
                    <i class="fa fa-search"></i> Browse Products
                  <% end %>
                </span>
              </div>
            <% end %>
          <% end %>
          <br>
          <% if @stocks.present? %>
            <%= render 'store_front_module/line_items/sales_line_items/searched_stocks' %>
          <% elsif @products.present? %>
            <%= render 'store_front_module/line_items/sales_line_items/searched_products' %>
          <% else %>
            No available product found.
          <% end %>
          <br>
          <% if @sales_line_items.present? %>
            <h4 class="subtitle-up"> Sales Order Details </h3>
            <div class="table table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>QTY</th>
                    <th>DESCRIPTION</th>
                    <th>UNIT COST</span></th>
                    <th>TOTAL COST</span></th>
                  </tr>
                </thead>
                <tbody>
                  <% @cart.sales_line_items.unprocessed.each do |line_item| %>

                    <tr>
                      <td>

                        <%= line_item.quantity %> <%= line_item.unit_of_measurement_code %>
                      </td>
                      <td width="300px"><b><%= line_item.stock_name.try(:titleize) %></b> &nbsp;
                        <span class="text-muted"><%= line_item.stock_barcode %></span>
                      </td>
                      <td>
                        <span class="pull-right">

                          <%= number_to_currency line_item.unit_cost %></td>

                        </span>
                      <td>
                        <span class="pull-right"><%=number_to_currency line_item.total_cost %></span>
                      </td>
                      <td>
                      <%= link_to store_front_module_sales_line_item_path(line_item), method: :delete do %>
                        <span class="fa fa-times text-danger"></span>
                      <% end %>
                      </td>
                    </tr>
                  <% end %>

                </tbody>
              </table>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-solid">
        <% if @sales_line_items.present? %>
          <div class="card-body">
            <br>
            <div class="row">
              <div class="col-md-4 col-md-offset-2">
                <h3 class="title-up">TOTAL</h3>
              </div>
              <div class="col-md-6">
                <h3 class="title-up"><span class="float-right"><%=number_to_currency @sales_line_items.unprocessed.total_cost %></span></h3>
              </div>
            </div>
            <hr>
            <%= simple_form_for @sales_order, url: :store_front_module_sales, html: { autocomplete: 'off' } do |f| %>
              <%= f.input :date, as: :string, input_html: { class: "datepicker", id: 'sale-order-date', value: Date.current.strftime('%B %e, %Y') } %>
              <%= f.input :customer_id, collection: Customer.all.map{ |a| [a.full_name, a.id] }, input_html: { class: 'chosen-select' } %>
              <div class="row">
                <div class="col-md-8">
                  <%= f.input :cash_tendered, input_html: { id: 'cash_tendered', class: "form-control input-lg", oninput: 'calculateOrderTotalCost()' } %>
                </div>
                <div class="col-md-4">
                  <%= f.input :discount_amount, label: "Discount", input_html: { id: 'discount_amount', oninput: 'calculateOrderTotalCost()', value: 0} %>
                </div>
              </div>
              <%= f.input :order_change, readonly: true, input_html: { id: 'change', class: "input-lg bg-gray"} %>
              <%= f.input :reference_number %>
              <%= f.input :total_cost, input_html: { id: 'total_cost', value: @cart.sales_line_items.unprocessed.total_cost }, as: :hidden %>
              <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
              <%= f.input :cart_id, input_html: { value: @cart.id }, as: :hidden %>

              <%= f.submit "Complete Order", class: "btn btn-primary" %>
            <% end %>
          <% else %>
            <center><%=image_tag('empty_cart.png', height: 160, width: 160) %></center>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
function calculateOrderTotalCost() {
  var discountAmount = document.getElementById('discount_amount').value;
  var totalCost = document.getElementById('total_cost').value;
  var cashTendered = document.getElementById('cash_tendered').value;

  var change = document.getElementById('change');
  var result = totalCost - discountAmount;
  var changeResult = cashTendered - result;
  change.value = changeResult;
}

</script>
