<div class="card">
  <div class="card-body">
    <%= form_tag({:action => "index",  controller: "accounting_module/account_categories/entries",  to_date: params[:to_date]}, {:method => :get})  do %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <%= text_field_tag :from_date, @date, :class => 'datepicker form-control border-input', :placeholder => "From Date" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= text_field_tag :to_date, @date, :class => 'datepicker form-control border-input', :placeholder => "To Date" %>
          </div>
        </div>

        <div class="col-md-3">
          <button type="submit" class="btn btn-default"> Search</button>
        </div>
      </div>
    <% end %>
    <div class="table table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Entry Date </th>
            <th> REF # </th>
            <th> Employee </th>
            <th> Description </th>
            <th> Debit </th>
            <th> Credit </th>
            <th> Balance </th>
          </tr>
        </thead>
        <tbody>
          <% @entries.each do |entry| %>
            <tr>
              <td><%= link_to entry.entry_date.strftime('%B %e, %Y'), accounting_module_entry_path(entry) %></td>
              <td><%= entry.reference_number %></td>
              <td><%= entry.recorder_name %></td>
              <td><%= entry.description %></td>
              <td><%= number_to_currency entry.debit_amounts.where(account: @account).total %></td>
              <td><%= number_to_currency entry.credit_amounts.where(account: @account).total %></td>
              <td><%= number_to_currency account_category.balance(to_date: entry.entry_date) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>
