<%= link_to 'New Sub Category', new_accounting_module_account_category_account_sub_category_path(account_category) %>
<% @sub_categories.each do |category| %>
  <%= link_to category.title, accounting_module_account_category_path(category) %>
<% end %>
<%==pagy_nav(@pagy) %>
