<%= simple_form_for @registry, url: :office_members_migrations do |f| %>
  <%= f.input :spreadsheet, as: :file, label: 'Upload File' %>
  <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
  <%= f.submit "Upload" %>
<% end %>
<%= current_office.name %>
