<%= simple_form_for [@office, @provider], url: :office_loan_protection_plan_providers do |f| %>
  <%= f.input :business_name %>
  <%= f.input :rate %>
  <%= f.input :payable_account_id, collection: current_office.accounts.liabilities.map{ |a| [a.name, a.id] } %>
  <%= f.submit 'Create Loan Protection Plan Provider' %>
<% end %>
