<div class="container">
  <div class="card">
    <div class="card-body">
      <%= link_to "Confirm Transaction", savings_account_voucher_confirmations_path(savings_account_id: @savings_account.id, voucher_id: @voucher.id), method: :post, class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
    </div>
  </div>
</div>
