<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <br>
          <div class="row">
            <div class="col-md-6">
              <h3 class="title-up"><%= number_to_currency @liability_accounts.balance %></h3>
              <small class="text-muted">TOTAL SAVINGS</small>
            </div>
            <div class="col-md-3">
              <h3 class="title-up text-<%= @savings_accounts.metric_color %>"><i class="fa fa-arrow-<%=@savings_accounts.arrow_sign %>"></i> <%= number_to_currency @savings_accounts.metric(first_date: Date.today, second_date: Date.today.last_month), unit: "" %> % </h3>
              <small class="text-muted">SINCE LAST MONTH (<%= Date.today.last_month.strftime("%B %e, %Y") %>)</small>
            </div>
          </div>
          <hr>

            <h4 class="subtitle-up">Balances by Month </h4>
      <% months = [] %>
      <% (DateTime.now.beginning_of_year..DateTime.now.end_of_month).each do |month| %>
       <% months << month.beginning_of_month %>
      <% end %>
      <% balances_data = [] %>
      <% months.uniq.each do |month| %>

        <% balances_data << { month.strftime("%B %Y") => @liability_accounts.balance(to_date: month.end_of_month) } %>
      <% end %>

<%= line_chart (Hash[*balances_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true, curve: false, thousands: ",", prefix: "P " %>
<hr>
</div>
</div>
<div class="card">
  <div class="card-header">
    <h3 class="title-up"> Deposits vs Withdrawals </h3>
  </div>
  <div class="card-body">
    <% months = [] %>
    <% deposits_data = [] %>
    <% withdrawals_data = [] %>
    <% (DateTime.now.beginning_of_year..DateTime.now.end_of_month).each do |month| %>
      <% months << month.beginning_of_month %>
    <% end %>
    <% months.uniq.each do |month| %>
      <% deposits_data << { month.strftime("%b").upcase => @savings_accounts.liability_accounts.debits_balance(from_date: month.beginning_of_month, to_date: month.end_of_month) } %>
      <% withdrawals_data << { month.strftime("%b").upcase => @savings_accounts.liability_accounts.credits_balance(from_date: month.beginning_of_month, to_date: month.end_of_month) } %>
    <% end %>
    <%= area_chart [
      { name: 'Deposits', data: Hash[*deposits_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?} },
      { name: 'Withdrawals', data: Hash[*withdrawals_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?} },
       ], thousands: ",", prefix: "P ", curve: false %>
    <hr>
  </div>
</div>
<div class="card">
  <div class="card-body">

          <h4 class="title-up">Savings Accounts Inactivity</h4>
          <div class="row">
            <div class="col-md-8">
              <% savings_inactivity_data = [] %>
              <% current_office.saving_groups.each do |saving_group| %>
                <% savings_inactivity_data << { saving_group.title => saving_group.savings.size } %>
              <% end %>



              <%= pie_chart (Hash[*savings_inactivity_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true, donut: true, legend: 'bottom' %>
            </div>
            <div class="col-md-4">
              <h3 class="card-title"><i class="fa fa-chart-pie"></i> Summary</h3>
              <br>
              <% current_office.saving_groups.order(start_num: :asc).each do |saving_group| %>
              <div class="row">
                <div class="col-md-8">
                  <%= link_to saving_group.title, saving_group_path(saving_group) %>
                </div>
                <div class="col-md-3">
                  <%= saving_group.savings.size %>
                </div>
              </div>
              <hr />
              <% end %>
              <div class="row">
                <div class="col-md-8">
                  Total Savings Accounts
                </div>
                <div class="col-md-3">
                  <%= @savings_accounts.size %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
          <div class="card">
            <div class="card-body">
              <h4 class="title-up"> Savings by Balance </h4>
                <% min_balances_data = [] %>

                <% min_balances_data << { 'Has Minimum Balance' => @savings_accounts.has_minimum_balances.count } %>
                <% min_balances_data << { 'Below Minimum Balance' => @savings_accounts.below_minimum_balance.count } %>
                <div class="row">
                  <div class="col-md-8">
                    <%= pie_chart (Hash[*min_balances_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true, donut: true, legend: 'bottom' %>
                  </div>
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-8">
                        <%= link_to 'Has Minimum Balance', savings_accounts_with_minimum_balances_path %>
                      </div>
                      <div class="col-md-3">
                        <%= @savings_accounts.has_minimum_balances.size %>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-8">
                        <%= link_to 'Below Minimum Balance', savings_accounts_below_minimum_balances_path %>
                      </div>
                      <div class="col-md-3">
                        <%= @savings_accounts.below_minimum_balance.size %>
                      </div>
                    </div>
