<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="title-up"> Members with Unpaid Subscriptions </h3>
      <div class="row">
        <div class="col-md-6">
          <%= form_tag({:action => 'index'}, {:method => :get, :class => 'form-inline'}) do%>
            <div class="form-group">
            <%= label_tag :date, nil, class: 'sr-only'%>
            <%= text_field_tag :date, @date.strftime("%B %e, %Y"), :class => 'datepicker form-control' %>
            </div>
            <button type="submit" class="btn btn-primary">Generate</button>
          <% end %>
        </div>
        <div class="col-md-6">
          Export To:
          <%= link_to program_unpaid_subscriptions_path(program_id: @program.id, to_date: @to_date, format: 'xlsx') do %>
            <button type='button' class="btn btn-outline-secondary btn-sm"><i class="fa fa-spreadsheet"></i> Excel </button>
          <% end %>
        </div>
      </div>
<br>
<div class="table table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th> Name </th>
        <th> Contact Number </th>
        <th> Address </th>
        <th>Last Transaction</th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td width='40px'><%= image_tag(member.avatar, height: 45, width: 45, class: 'img-circle') %> </td>
          <td><%= link_to member.full_name, member_path(member) %><br>
            <small class="text-muted"><i class="fa fa-phone"></i> <%= member.current_contact_number %></small>
          </td>
          <td><%= member.current_contact_number %></td>
          <td><%= member.current_address_complete_address %></td>
          <td><%= member.last_transaction_date.try(:strftime, ('%B %e, %Y')) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<center><%==pagy_nav(@pagy) %> </center>
</div>
</div>


</div>
</div>
