<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">

      
      <div class="card-body">

          <div class="row min-margin">
            <div class="col-md-6 offset-md-1">
              <h5 class="legend-title">Reference #</h5>
            </div>
            <div class="col-md-4">
              <h5 class="legend-title float-right">
                <%= @voucher.reference_number %>
              </h5>
            </div>
          </div>
          <div class="row min-margin">
            <div class="col-md-6 offset-md-1">
              <h5 class="legend-title">Date</h5>
            </div>
            <div class="col-md-4">
              <h5 class="legend-title float-right">
                <%= @voucher.date.strftime('%B %e, %Y') %>
              </h5>
            </div>
          </div>
          <br>

          <div class="row min-margin">
            <div class="col-md-6 offset-md-1">
              <h5 class="legend-title">Principal</h5>
            </div>
            <div class="col-md-4">
              <h5 class="legend-title float-right">
                <%= number_to_currency @voucher.voucher_amounts.for_account(account: @loan.receivable_account).total %>
              </h5>
            </div>
          </div>
          <div class="row min-margin">
            <div class="col-md-6 offset-md-1">
              <h5 class="legend-title">Interest</h5>
            </div>
            <div class="col-md-4">
              <h5 class="legend-title float-right">
                <%= number_to_currency @voucher.voucher_amounts.for_account(account: @loan.interest_revenue_account).sum(&:amount) %>
              </h5>
            </div>
          </div>
          <div class="row min-margin">
            <div class="col-md-6 offset-md-1">
              <h5 class="legend-title">Penalty</h5>
            </div>
            <div class="col-md-4">
              <h5 class="legend-title float-right">
                <%= number_to_currency @voucher.voucher_amounts.for_account(account: @loan.penalty_revenue_account).total %>
              </h5>
            </div>
          </div>
          <hr class="min-margin">
          <div class="row min-margin">
            <div class="col-md-6 offset-md-1">
              <h5 class="subtitle-up">TOTAL</h5>
            </div>
            <div class="col-md-4">
              <h5 class="subtitle-up float-right">
                <%= number_to_currency @voucher.voucher_amounts.debit.total %>
              </h5>
            </div>
          </div>
          <hr>


        <% if !@voucher.disbursed?%>
          <%= link_to "Confirm Transaction", loan_payment_voucher_confirmations_path(loan_id: @loan.id, payment_voucher_id: @voucher.id, schedule_id: @schedule_id), method: :post, class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
          <%= link_to voucher_path(@voucher), method: :delete do %>
            <span class=" btn btn-outline-secondary" data-toggle="tooltip" title="If errors are found, click 'Cancel' to cancel this transaction"> Cancel </span>
          <% end %>
        <% else %>
          <span class="badge bg-success float-right"> Disbursed </span>
        <% end %>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
