<div class="container">
  <div class="card">
    <div class="card-header no-border">
      <h3 class="title-up"> General Ledger </h3>
    </div>
    <div class="card-body">
      <%= form_tag accounting_module_general_ledgers_path, method: :get, class: "search-form" do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Account", id: 'account-search-form' %>
      <span class="input-group-btn">
        <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default btn-flat") do %>
          <i class="fa fa-search"></i>
        <% end %>
      </span>
    </div>
  <% end %>
  <%= form_tag({:action => 'index'}, {:method => :get, class: "form-inline"}) do %>

    <%= text_field_tag :from_date, @from_date.strftime("%B %e, %Y"), :class => 'datepicker form-control', :placeholder => "To" %>
    <%= text_field_tag :to_date,   @to_date.strftime("%B %e, %Y"), :class => 'datepicker form-control', :placeholder => "To" %>
    <button type="submit" class="btn btn-primary">Generate</button>
  <% end %>

  Export To:
  <%= link_to 'Excel', accounting_module_general_ledgers_path(format: 'xlsx', from_date: @from_date, to_date: @to_date ), class: 'btn btn-outline-primary btn-sm' %>
  <%= link_to 'PDF', accounting_module_general_ledgers_path(format: 'pdf', from_date: @from_date, to_date: @to_date ), class: 'btn btn-outline-primary btn-sm' %>


      <div class="table table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th> Type </th>
              <th> Category</th>
              <th> Account </th>
              <th> Debit </th>
              <th> Credit </th>

            </tr>
          </thead>
          <tbody>
      <% @categories.each do |category| %>
        <tr data-link="<%= accounting_module_account_category_path(category) %>" style="cursor: pointer;">
          <td><%= category.normalized_type %></td>
          <td><%= category.parent_account_sub_category.try(:title) %></td>
          <td><%= link_to category.title, accounting_module_account_category_path(category) %></td>
          <td><%= number_to_currency category.debits_balance(from_date: @from_date, to_date: @to_date) %></td>
          <td><%= number_to_currency category.credits_balance(from_date: @from_date, to_date: @to_date) %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
    </div>
    </div>
  </div>
</div>
<script>
$("tr[data-link]").click(function() {
  window.location = $(this).data("link")
})
</script>
