<div class="container">
  <div class="container-fluid">
<div class="card card-outline card-danger">
  <div class="card-header">
    <h3 class="card-title"> Loan Product Details </h3>
  </div>
  <div class="card-body">

<%= simple_form_for @loan_product, url: :management_module_settings_loan_product do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-6">
      <h3 class="card-title"> Loan Product Details </h3>
    </div>
    <div class="col-md-5">
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.input :office_id, input_html: { value: current_office.id }, as: :hidden %>
      <%= f.input :description, as: :text %>
      <%= f.input :maximum_loanable_amount,  as: :currency, input_html: { style: "width:100%" } %>
      <%= f.input :grace_period %>

    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <h3 class="card-title"> Amortization Type </h3>
    </div>
    <div class="col-md-5">
      <%= f.input :amortization_type_id,  collection: current_office.amortization_types.map{|a| [a.calculation_type.titleize, a.id] }, as: :radio_buttons %>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <h3 class="card-title"> Accounts </h3>
    </div>
    <div class="col-md-5">
      <%= f.input :loan_protection_plan_provider_id,  collection: current_office.loan_protection_plan_providers.all.map{|a| [a.business_name, a.id] } %>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <%= f.submit "Update Loan Product", class: "btn btn-danger float-right", data: { disable_with: "Processing..." } %>
    </div>
  </div>
<% end %>
</div>
</div>
</div>
</div>
