<%= link_to new_management_module_settings_loan_product_path, title: 'New Loan Product' do  %>
  <span class="btn btn-danger"><i class="fa fa-plus-circle"></i> New Loan Product </span>
<% end %>
<% @loan_products.each do |loan_product| %>
  <%= link_to loan_product.name, management_module_settings_loan_product_path(loan_product) %>
<% end %>
