<div class="container">
<div class="card card-outline card-danger">
  <div class="card-header">
    <h4 class="title-up"> Loan Product Details </h4>
  </div>
  <div class="card-body">

<%= simple_form_for @loan_product, url: :management_module_settings_loan_products do |f| %>
  <div class="row">
    <div class="col-md-6">
      <h3 class="card-title"> Loan Product Details </h3>
    </div>
    <div class="col-md-5">
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.input :cooperative_id, input_html: { value: current_cooperative.id }, as: :hidden %>
      <%= f.input :description, as: :text %>
      <%= f.input :maximum_loanable_amount,  as: :currency, input_html: { style: "width:100%" } %>
      <%= f.input :grace_period %>
 <%= f.input :loan_protection_plan_provider_id,  collection: current_office.loan_protection_plan_providers.all.map{|a| [a.business_name, a.id] }, input_html: { class: 'chosen-select' } %>
      <%= f.input :receivable_account_category_id,       label: 'Receivable Account', collection: current_office.account_categories.assets.map{|a| [a.title, a.id] }, input_html: { class: 'chosen-select' } %>
      <%= f.input :interest_revenue_account_category_id, label: 'Interest Revenue Account', collection: current_office.account_categories.revenues.map{|a| [a.title, a.id] }, input_html: { class: 'chosen-select' } %>
      <%= f.input :penalty_revenue_account_category_id,  label: 'Penalty Revenue Account', collection: current_office.account_categories.revenues.map{|a| [a.title, a.id] }, input_html: { class: 'chosen-select' } %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3 class="card-title">Interest Configuration</h3>
    </div>
    <div class="col-md-5">
      <%= f.input :interest_rate, label: "Annual Interest Rate (APR):" %>
      <%= f.input :interest_calculation_type, collection: LoansModule::LoanProducts::InterestConfig.calculation_types.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3 class="card-title">Interest Prededuction </h3>
    </div>
    <div class="col-md-5">
      <%= f.input :prededuction_calculation_type, collection: LoansModule::LoanProducts::InterestPrededuction.calculation_types.keys.to_a.map{ |a| [a.titleize, a] }, as: :radio_buttons %>
      <%= f.input :prededuction_scope, collection: LoansModule::LoanProducts::InterestPrededuction.prededuction_scopes.keys.to_a.map{ |a| [a.titleize, a] }, as: :radio_buttons %>

      <%= f.input :prededucted_rate, input_html: { value: 0 } %>
      <%= f.input :prededucted_amount %>
      <%= f.input :prededucted_number_of_payments %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h4 class="card-title">Penalty Configuration</h4>
    </div>
    <div class="col-md-5">
      <%= f.input :penalty_rate %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3 class="card-title"> Amortization Type </h3>
    </div>
    <div class="col-md-5">
      <%= f.input :amortization_type_id,  collection: current_office.amortization_types.map{|a| [a.calculation_type.titleize, a.id] }, as: :radio_buttons %>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <h3 class="card-title"> Accounts </h3>
    </div>
    <div class="col-md-5">

    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <%= f.submit "Create Loan Product", class: "btn btn-danger float-right", data: { disable_with: "Processing..." } %>
    </div>
  </div>
<% end %>
</div>
</div>
</div>
</div>
