<%= @loan_product.name %>

<%= link_to 'Edit Loan Product', edit_management_module_settings_loan_product_path(@loan_product) %>
<%= link_to 'New Charge', new_management_module_settings_loan_product_charge_path(loan_product_id: @loan_product.id), class: 'btn btn-danger float-right' %>
