<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <%=form_tag organization_loan_payment_line_items_path(@organization), method: :get do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Borrower", id: 'account-search-form' %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
        <% end %>
        <div class="table table-responsive">
          <table class="table-hover">
            <thead>
              <tr>
                <th> Borrower </th>
                <th> Loan Product </th>
                <th> Balance </th>
                <th> Last Transaction </th>
                <th> </th>
            </thead>
            <tbody>
        <% @loans.each do |loan| %>
          <tr>
            <td><%= loan.borrower_name %></td>
            <td><%= loan.loan_product_name %></td>
            <td><%= number_to_currency loan.balance %></td>
            <td><%= loan.last_transaction_date.try(:strftime, "%B %e, %Y") %>
            <td>
              <%= link_to 'Select', new_organization_loan_payment_line_item_path(loan_id: loan.id, organization_id: @organization.id), class: "btn btn-primary btn-sm" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
        <h3 class="card-title"> Payment Breakdown </h3>
        <div class="table table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th> Borrower </th>
                <th> Loan Product </th>
                <th> Principal </th>
                <th> Interest </th>
                <th> Penalty </th>
                <th> Total </th>
                <th>
              </tr>
            </thead>
            <tbody>
              <% @loans_with_payment_line_items.each do |loan| %>
                <tr>
                  <td><%= loan.borrower_name %></td>
                  <td><%= loan.loan_product_name %></td>
                  <td><%= number_to_currency Organizations::LoanPaymentClassifier.new(employee: current_user, loan: loan).principal_amount %></td>
                  <td><%= number_to_currency Organizations::LoanPaymentClassifier.new(employee: current_user, loan: loan).interest_amount %></td>
                  <td><%= number_to_currency Organizations::LoanPaymentClassifier.new(employee: current_user, loan: loan).penalty_amount %></td>
                  <td><%= number_to_currency Organizations::LoanPaymentClassifier.new(employee: current_user, loan: loan).total_amount %></td>
                  <td><%= link_to organization_voucher_amount_path(organization_id: @organization.id, id: current_user.voucher_amounts.with_no_vouchers.where(commercial_document_id: loan.id).first), method: :delete do %>
                    <span class="text-danger" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i> </span>
                    <% end %>
                  </td>
                </tr>

              <% end %>
              <tr>
                <td>Total </td>
                <td></td>
                <td></td>

                <td></td>
                <td></td>
                <td> <%= number_to_currency current_user.voucher_amounts.with_no_vouchers.sum(&:amount) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
