<%= @loan.inspect %>
<%= simple_form_for [@loan, @loan_payment_line_item], url: :organization_loan_payment_line_items do |f| %>
  <%= f.input :principal_amount, label: "Principal" %>
  <%= f.input :interest_amount, label: "Interest", input_html: { value: 0 } %>
  <%= f.input :penalty_amount, label: "Penalty", input_html: { value: 0 } %>
  <%= f.input :loan_id,     input_html: { value: @loan.id } %>
  <%= f.input :employee_id, input_html: { value: current_user.id } %>
  <%= f.input :organization_id, input_html: { value: @organization.id } %>
  <%= f.input :cooperative_id, input_html: { value: current_cooperative.id } %>

  <%= f.submit %>
<% end %>
