<% Member.civil_statuses.keys.to_a.each do |civil_status| %>
  <%= link_to civil_status.titleize, reports_members_masterlists_by_civil_statuses_path(civil_status: civil_status, format: 'xlsx') %>
<% end %>
