<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Debit Amount Details</h3>
      </div>
      <div class="card-body">
        <%= render "accounting_module/amounts_update_header" %>
      </div>
      <hr class="no-margin">
      <div class="card-body">
        <%= simple_form_for [@amount], url: :accounting_module_debit_amount do |f| %>
          <%= f.input :amount %>
          <%= f.input :account_id, collection: AccountingModule::Account.all.map{ |a| [a.name, a.id] } %>
          <hr>
          <%= link_to "Cancel", accounting_module_entry_path(@amount.entry), class: "btn btn-default" %>
          <%= f.submit "Update Amount", class: "btn btn-warning float-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
     $("#accounting_module_debit_amount_account_id").select2({
      theme: "bootstrap"
    });
  });
</script>

