<div class="card">
  <div class="card-header">
    <h3 class="title-up"> New Cash Count Report (<%= Date.current.strftime("%B %e, %Y") %>)</h3>
  </div>
  <div class="card-body">
      <% bill_1000   = CashCounts::Bill.find_by(name: 'One Thousand') %>
      <% bill_500    = CashCounts::Bill.find_by(name: 'Five Hundred') %>
      <% bill_200    = CashCounts::Bill.find_by(name: 'Two Hundred') %>
      <% bill_100    = CashCounts::Bill.find_by(name: 'One Hundred') %>
      <% bill_50     = CashCounts::Bill.find_by(name: 'Fifty Peso') %>
      <% bill_20     = CashCounts::Bill.find_by(name: 'Twenty Peso') %>
      <% bill_10     = CashCounts::Bill.find_by(name: 'Ten Peso') %>
      <% bill_5      = CashCounts::Bill.find_by(name: 'Five Peso') %>
      <% bill_1      = CashCounts::Bill.find_by(name: 'One Peso') %>
      <% bill_1_cent = CashCounts::Bill.find_by(name: 'One Centavo') %>
      <% checks      = CashCounts::Bill.find_by(name: 'Checks') %>

      <div class="row">

        <div class="col-md-4">
          <b>Bill</b>
        </div>
        <div class="col-md-2">
          <b>Bill Amount</b>
        </div>
        <div class="col-md-2">
          <b>QTY</b>
        </div>
        <div class="col-md-2">
          <b>Sub Total</b>
        </div>
      </div>
      <br>
      <%= simple_form_for @cash_count, url: :employee_cash_count_line_items do |f| %>
      <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
      <div class="row">
        <%= f.input :bill_1000_id, input_html: { value: bill_1000.id }, as: :hidden  %>
        <%= f.input :bill_1000_amount, input_html: { value: bill_1000.bill_amount, id: 'bill_1000' }, as: :hidden  %>

        <div class="col-md-4">
          <%= bill_1000.name %>
        </div>
        <div class="col-md-2">
          <%= number_to_currency bill_1000.bill_amount %>
        </div>
        <div class="col-md-2">
          <%= f.input :bill_1000_count, label: false, placeholder: 'Bill Count', input_html: { id: 'bill_1000_qty', oninput: 'calculateCashCountTotal()'} %>
        </div>
        <div class="col-md-2">
          <%= f.input :bill_1000_total, label: false, input_html: { id: 'bill_1000_total' }, readonly: true %>
        </div>
      </div>
      <div class="row">
        <%= f.input :bill_500_id, input_html: { value: bill_500.id }, as: :hidden  %>
        <%= f.input :bill_500_amount, input_html: { value: bill_500.bill_amount, id: 'bill_500' }, as: :hidden  %>
        <div class="col-md-4">
          <%= bill_500.name %>
        </div>
        <div class="col-md-2">
          <%= number_to_currency bill_500.bill_amount %>
        </div>
        <div class="col-md-2">
          <%= f.input :bill_500_count, label: false, placeholder: 'Bill Count', input_html: { id: 'bill_500_qty', oninput: 'calculateCashCountTotal()'} %>
        </div>
        <div class="col-md-2">
          <%= f.input :bill_500_total, label: false, input_html: { id: 'bill_500_total' }, readonly: true %>
        </div>
      </div>

      <div class="row">
        <%= f.input :bill_200_id, input_html: { value: bill_200.id }, as: :hidden  %>
        <%= f.input :bill_200_amount, input_html: { value: bill_200.bill_amount, id: 'bill_200' }, as: :hidden  %>
        <div class="col-md-4">
          <%= bill_200.name %>
        </div>
        <div class="col-md-2">
          <%= number_to_currency bill_200.bill_amount %>
        </div>
        <div class="col-md-2">
          <%= f.input :bill_200_count, label: false, placeholder: 'Bill Count', input_html: { id: 'bill_200_qty', oninput: 'calculateCashCountTotal()'} %>
        </div>
        <div class="col-md-2">
          <%= f.input :bill_200_total, label: false, input_html: { id: 'bill_200_total' }, readonly: true %>
        </div>
      </div>

      <div class="row">
        <%= f.input :bill_100_id, input_html: { value: bill_100.id }, as: :hidden  %>
        <%= f.input :bill_100_amount, input_html: { value: bill_100.bill_amount, id: 'bill_100' }, as: :hidden  %>
        <div class="col-md-4">
          <%= bill_100.name %>
        </div>
        <div class="col-md-2">
          <%= number_to_currency bill_100.bill_amount %>
        </div>
        <div class="col-md-2">
          <%= f.input :bill_100_count, label: false, placeholder: 'Bill Count', input_html: { id: 'bill_100_qty', oninput: 'calculateCashCountTotal()'} %>
        </div>
        <div class="col-md-2">
          <%= f.input :bill_100_total, label: false, input_html: { id: 'bill_100_total' }, readonly: true %>
        </div>
      </div>

      <div class="row">
        <%= f.input :bill_50_id, input_html: { value: bill_50.id }, as: :hidden  %>
        <%= f.input :bill_50_amount, input_html: { value: bill_50.bill_amount, id: 'bill_50' }, as: :hidden  %>
        <div class="col-md-4">
          <%= bill_50.name %>
        </div>
        <div class="col-md-2">
          <%= number_to_currency bill_50.bill_amount %>
        </div>
        <div class="col-md-2">
          <%= f.input :bill_50_count, label: false, placeholder: 'Bill Count', input_html: { id: 'bill_50_qty', oninput: 'calculateCashCountTotal()'} %>
        </div>
        <div class="col-md-2">
          <%= f.input :bill_50_total, label: false, input_html: { id: 'bill_50_total' }, readonly: true %>
        </div>
      </div>

      <div class="row">
        <%= f.input :bill_20_id, input_html: { value: bill_20.id }, as: :hidden  %>
        <%= f.input :bill_20_amount, input_html: { value: bill_20.bill_amount, id: 'bill_20' }, as: :hidden  %>
        <div class="col-md-4">
          <%= bill_20.name %>
        </div>
        <div class="col-md-2">
          <%= number_to_currency bill_20.bill_amount %>
        </div>
        <div class="col-md-2">
          <%= f.input :bill_20_count, label: false, placeholder: 'Bill Count', input_html: { id: 'bill_20_qty', oninput: 'calculateCashCountTotal()'} %>
        </div>
        <div class="col-md-2">
          <%= f.input :bill_20_total, label: false, input_html: { id: 'bill_20_total' }, readonly: true %>
        </div>
      </div>

      <div class="row">
        <%= f.input :bill_10_id, input_html: { value: bill_10.id }, as: :hidden  %>
        <%= f.input :bill_10_amount, input_html: { value: bill_10.bill_amount, id: 'bill_10' }, as: :hidden  %>
        <div class="col-md-4">
          <%= bill_10.name %>
        </div>
        <div class="col-md-2">
          <%= number_to_currency bill_10.bill_amount %>
        </div>
        <div class="col-md-2">
          <%= f.input :bill_10_count, label: false, placeholder: 'Bill Count', input_html: { id: 'bill_10_qty', oninput: 'calculateCashCountTotal()'} %>
        </div>
        <div class="col-md-2">
          <%= f.input :bill_10_total, label: false, input_html: { id: 'bill_10_total' }, readonly: true %>
        </div>
      </div>

      <div class="row">
        <%= f.input :bill_5_id, input_html: { value: bill_5.id }, as: :hidden  %>
        <%= f.input :bill_5_amount, input_html: { value: bill_5.bill_amount, id: 'bill_5' }, as: :hidden  %>
        <div class="col-md-4">
          <%= bill_5.name %>
        </div>
        <div class="col-md-2">
          <%= number_to_currency bill_5.bill_amount %>
        </div>
        <div class="col-md-2">
          <%= f.input :bill_5_count, label: false, placeholder: 'Bill Count', input_html: { id: 'bill_5_qty', oninput: 'calculateCashCountTotal()'} %>
        </div>
        <div class="col-md-2">
          <%= f.input :bill_5_total, label: false, input_html: { id: 'bill_5_total' }, readonly: true %>
        </div>
      </div>

      <div class="row">
        <%= f.input :bill_1_id, input_html: { value: bill_1.id }, as: :hidden  %>
        <%= f.input :bill_1_amount, input_html: { value: bill_1.bill_amount, id: 'bill_1' }, as: :hidden  %>
        <div class="col-md-4">
          <%= bill_1.name %>
        </div>
        <div class="col-md-2">
          <%= number_to_currency bill_1.bill_amount %>
        </div>
        <div class="col-md-2">
          <%= f.input :bill_1_count, label: false, placeholder: 'Bill Count', input_html: { id: 'bill_1_qty', oninput: 'calculateCashCountTotal()'} %>
        </div>
        <div class="col-md-2">
          <%= f.input :bill_1_total, label: false, input_html: { id: 'bill_1_total' }, readonly: true %>
        </div>
      </div>

      <div class="row">
        <%= f.input :bill_1_cent_id, input_html: { value: bill_1_cent.id }, as: :hidden  %>
        <%= f.input :bill_1_cent_amount, input_html: { value: bill_1_cent.bill_amount, id: 'bill_1_cent' }, as: :hidden  %>
        <div class="col-md-4">
          <%= bill_1_cent.name %>
        </div>
        <div class="col-md-2">
          <%= number_to_currency bill_1_cent.bill_amount %>
        </div>
        <div class="col-md-2">
          <%= f.input :bill_1_cent_count, label: false, placeholder: 'Bill Count', input_html: { id: 'bill_1_cent_qty', oninput: 'calculateCashCountTotal()'} %>
        </div>
        <div class="col-md-2">
          <%= f.input :bill_1_cent_total, label: false, input_html: { id: 'bill_1_cent_total' }, readonly: true %>
        </div>
      </div>

      <div class="row">
        <%= f.input :checks_id, input_html: { value: checks.id }, as: :hidden  %>
        <%= f.input :checks_amount, input_html: { value: checks.bill_amount, id: 'checks' }, as: :hidden  %>

        <div class="col-md-4">
          <%= checks.name %>
        </div>
        <div class="col-md-2">
          <%= number_to_currency checks.bill_amount %>
        </div>
        <div class="col-md-2">
          <%= f.input :checks_count, label: false, placeholder: 'Bill Count', input_html: { id: 'checks_qty', oninput: 'calculateCashCountTotal()'} %>
        </div>
        <div class="col-md-2">
          <%= f.input :checks_total, label: false, input_html: { id: 'checks_total' }, readonly: true %>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4">

        </div>
        <div class="col-md-4">
          <span class="float-right">TOTAL</span>
        </div>
        <div class="col-md-2">
          <%= f.input :total_count, label: false, input_html: { id: 'billCountTotal' }, readonly: true %>
        </div>
      </div>
      <div class="row">

        <div class="col-md-4">

        </div>
        <div class="col-md-4">
          <span class="float-right">Cash on Hand</span>
        </div>
        <div class="col-md-2">
          <%= f.input :cash_balance, label: false, input_html: { id: 'cashBalance', value: @employee.default_cash_account.balance(from_date: Date.current, to_date: Date.current) }, readonly: true %>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4">

        </div>
        <div class="col-md-4">
          <span class="float-right">Shortage / Overage</span>
        </div>
        <div class="col-md-2">
          <%= f.input :difference, label: false, input_html: { id: 'billCountDifference' }, readonly: true %>
        </div>
      </div>
      <div class="row">

        <div class="col-md-4">

        </div>
        <div class="col-md-2">
          <span class="float-right">Date</span>
        </div>
        <div class="col-md-4">
          <%= f.input :date, label: false, input_html: { value: Date.current.strftime('%B %e, %Y') }, readonly: true %>
        </div>
      </div>
      <hr>
        <%= f.submit 'Save Cash Count Report', class: 'btn btn-primary float-right' %>
      <% end %>
    </div>
  </div>

  <script>
  function calculateCashCountTotal() {
    var bill_1000         = document.getElementById('bill_1000').value;
    var bill_1000_qty     = document.getElementById('bill_1000_qty').value;
    var bill_1000_total   = document.getElementById('bill_1000_total');
    var result_1000       = bill_1000 * bill_1000_qty;
    bill_1000_total.value = result_1000;

    var bill_500         = document.getElementById('bill_500').value;
    var bill_500_qty     = document.getElementById('bill_500_qty').value;
    var bill_500_total   = document.getElementById('bill_500_total');
    var result_500       = bill_500 * bill_500_qty;
    bill_500_total.value = result_500;

    var bill_200         = document.getElementById('bill_200').value;
    var bill_200_qty     = document.getElementById('bill_200_qty').value;
    var bill_200_total   = document.getElementById('bill_200_total');
    var result_200       = bill_200 * bill_200_qty;
    bill_200_total.value = result_200;

    var bill_100         = document.getElementById('bill_100').value;
    var bill_100_qty     = document.getElementById('bill_100_qty').value;
    var bill_100_total   = document.getElementById('bill_100_total');
    var result_100       = bill_100 * bill_100_qty;
    bill_100_total.value = result_100;

    var bill_50         = document.getElementById('bill_50').value;
    var bill_50_qty     = document.getElementById('bill_50_qty').value;
    var bill_50_total   = document.getElementById('bill_50_total');
    var result_50       = bill_50 * bill_50_qty;
    bill_50_total.value = result_50;

    var bill_20         = document.getElementById('bill_20').value;
    var bill_20_qty     = document.getElementById('bill_20_qty').value;
    var bill_20_total   = document.getElementById('bill_20_total');
    var result_20       = bill_20 * bill_20_qty;
    bill_20_total.value = result_20;

    var bill_10         = document.getElementById('bill_10').value;
    var bill_10_qty     = document.getElementById('bill_10_qty').value;
    var bill_10_total   = document.getElementById('bill_10_total');
    var result_10       = bill_10 * bill_10_qty;
    bill_10_total.value = result_10;

    var bill_5         = document.getElementById('bill_5').value;
    var bill_5_qty     = document.getElementById('bill_5_qty').value;
    var bill_5_total   = document.getElementById('bill_5_total');
    var result_5       = bill_5 * bill_5_qty;
    bill_5_total.value = result_5;

    var bill_1         = document.getElementById('bill_1').value;
    var bill_1_qty     = document.getElementById('bill_1_qty').value;
    var bill_1_total   = document.getElementById('bill_1_total');
    var result_1       = bill_1 * bill_1_qty;
    bill_1_total.value = result_1;

    var bill_1_cent         = document.getElementById('bill_1_cent').value;
    var bill_1_cent_qty     = document.getElementById('bill_1_cent_qty').value;
    var bill_1_cent_total   = document.getElementById('bill_1_cent_total');
    var result_1_cent      = bill_1_cent * bill_1_cent_qty;
    bill_1_cent_total.value = result_1_cent;

    var checks         = document.getElementById('checks').value;
    var checks_qty     = document.getElementById('checks_qty').value;
    var checks_total   = document.getElementById('checks_total');
    var result_checks   = checks * checks_qty;
    checks_total.value = result_checks;

    var bill_count_total  = document.getElementById('billCountTotal');
    bill_count_total.value = result_1000 + result_500 + result_200 + result_100 + result_50 + result_20 + result_10 + result_5 + result_1 + result_1_cent + result_checks;

    var cash_balance  = document.getElementById('cashBalance');
    var cash_count_difference  = document.getElementById('billCountDifference');
    cash_count_difference.value = bill_count_total.value - cash_balance.value;


  }
</script>
