
    <footer class="bd-footer bg-dark footer-down">
  <div class="container-fluid p-3 p-md-5">
    <p> Your Technology Partner <a href="https://twitter.com/von_halip" target="_blank" rel="noopener">CoopBooks Inc.</a> | <%= link_to 'About Us' %>
  </div>
</footer>
