
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

  <a class="navbar-brand" href="#">CoopBooks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Features</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#"> For Cashiers</a>
      <a class="dropdown-item" href="#">For Managers</a>
      <a class="dropdown-item" href="#">For Loan Officers</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>


    </ul>
    <span><%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary float-left  form-inline' %>
    </span>
  </div>
</div>
</nav>
