<div class="card">
  <div class="card-body">
    <h3 class="title-up"> Income Statement </h3>
    <%= form_tag({:action => 'index'}, {:method => :get, class: "form-inline"}) do %>

      <%= text_field_tag :from_date, @from_date.strftime("%A"), :class => 'datepicker form-control', :placeholder => "To" %>
      <%= text_field_tag :to_date,   @to_date.strftime("%B %e, %Y"), :class => 'datepicker form-control', :placeholder => "To" %>

      <%= hidden_field_tag :office_id, @office.id %>
      <button type="submit" class="btn btn-primary">Generate</button>
    <% end %>

    Export To:
    <%= link_to 'Excel', accounting_module_reports_income_statements_path(office_id: @office.id, format: 'xlsx', from_date: @from_date, to_date: @to_date ), class: 'btn btn-outline-primary btn-sm' %>
    <%= link_to 'PDF', accounting_module_reports_income_statements_path(office_id: @office.id, format: 'pdf', from_date: @from_date, to_date: @to_date ), class: 'btn btn-outline-primary btn-sm' %>
<hr>
<b> REVENUE </b>
<% current_cooperative.grand_parent_account_categories.revenues.order(code: :asc).each do |grand_parent_account_category| %>
  <%= grand_parent_account_category.title %>
  <br>
  <% grand_parent_account_category.parent_account_categories.where(office: current_office).order(code: :asc).each do |parent_account_category| %>
    &nbsp; &nbsp; <%= parent_account_category.title %><br>
    <% parent_account_category.parent_account_sub_categories.where(office: current_office).order(code: :asc).each do |parent_account_sub_category| %>
      &nbsp; &nbsp; &nbsp; &nbsp;<%= parent_account_sub_category.title %><br>
      <% parent_account_sub_category.account_categories.where(office: current_office).order(code: :asc).each do |account_category| %>
        <div class="row">
          <div class="col-md-7">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= account_category.title %>
          </div>
          <div class="col-md-5">
            <span class="float-left"><%= number_to_currency account_category.balance(from_date: @from_date,  to_date: @to_date) %></span>
          </div>
        </div>
      <% end %>
    <% end %>
    <hr>
    <div class="row">
      <div class="col-md-7">
        &nbsp; &nbsp;  Total <%= parent_account_category.title %>
      </div>
      <div class="col-md-5">
        <%= number_to_currency parent_account_category.balance(from_date: @from_date, to_date: @to_date) %>
      </div>
    </div>
  <% end %>
  <hr>
  <div class="row">
    <div class="col-md-7">
      Total <%= grand_parent_account_category.title %>
    </div>
    <div class="col-md-5">
      <%= number_to_currency grand_parent_account_category.balance(from_date: @from_date, to_date: @to_date) %>
    </div>
  </div>
<% end %>
<hr>
<div class="row">
  <div class="col-md-7">
    <b> TOTAL REVENUE </b>
  </div>
  <div class="col-md-5">
    <b><%= number_to_currency current_cooperative.grand_parent_account_categories.revenues.balance(from_date: @from_date, to_date: @to_date) %></b>
  </div>
</div>
<hr>
<b> EXPENSES </b><br>
<% current_cooperative.grand_parent_account_categories.expenses.order(code: :asc).each do |grand_parent_account_category| %>
  <%= grand_parent_account_category.title %>
  <br>
  <% grand_parent_account_category.parent_account_categories.where(office: current_office).order(code: :asc).each do |parent_account_category| %>
    &nbsp; &nbsp; <%= parent_account_category.title %><br>
    <% parent_account_category.parent_account_sub_categories.where(office: current_office).order(code: :asc).each do |parent_account_sub_category| %>
      &nbsp; &nbsp; &nbsp; &nbsp;<%= parent_account_sub_category.title %><br>
      <% parent_account_sub_category.account_categories.where(office: current_office).order(code: :asc).each do |account_category| %>
        <div class="row">
          <div class="col-md-7">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= account_category.title %>
          </div>
          <div class="col-md-5">
            <span class="float-left"><%= number_to_currency account_category.balance(from_date: @from_date, to_date: @to_date) %></span>
          </div>
        </div>
      <% end %>
    <% end %>
    <hr>
    <div class="row">
      <div class="col-md-7">
        &nbsp; &nbsp;  Total <%= parent_account_category.title %>
      </div>
      <div class="col-md-5">
        <%= number_to_currency parent_account_category.balance(from_date: @from_date, to_date: @to_date) %>
      </div>
    </div>
  <% end %>
  <hr>
  <div class="row">
    <div class="col-md-7">
      Total <%= grand_parent_account_category.title %>
    </div>
    <div class="col-md-5">
      <%= number_to_currency grand_parent_account_category.balance(from_date: @from_date, to_date: @to_date) %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-7">
    <b>TOTAL EXPENSES </b>
  </div>
  <div class="col-md-5">
    <b><%= number_to_currency current_cooperative.grand_parent_account_categories.expenses.balance(from_date: @from_date, to_date: @to_date) %></b>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-7">
    <b>NET SURPLUS / LOSS </b>
  </div>
  <div class="col-md-5">
    <b><%= number_to_currency(current_cooperative.grand_parent_account_categories.revenues.balance(from_date: @from_date, to_date: @to_date) - current_cooperative.grand_parent_account_categories.expenses.balance(from_date: @from_date, to_date: @to_date)) %></b>
  </div>
</div>
