<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">New ID Details </h3>
      </div>
      <div class="card-body">
        <%= simple_form_for [@identifiable, @identification], multipart: true, url: :identification do |f| %>
          <%= f.input :identity_provider_id, collection: IdentificationsModule::IdentityProvider.all.map{|a| [a.abbreviated_name, a.id] } %>
          <%= f.input :issuance_date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :expiry_date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :number, label: "ID Number" %>
          <%= f.submit 'Update Identification', class: 'btn btn-primary float-right' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
