<div class="card">
  <div class="card-body">

    <div class="row">
      <div class="col-md-12">
              <div class="row">
                <div class="col-md-3">
                  <h4 class="card-title">Sales</h4>
                </div>
                <div class="col-md-7">
                  <%=form_tag store_front_module_sales_path, method: :get, id: "sidebar-form" do %>
                    <div class="input-group">
                      <%= text_field_tag :search, params[:search], class: "search-query form-control border-input", placeholder: "Search...", type: "search" %>
                      <span class="input-group-btn">
                        <%= button_tag(type: 'submit', class: "btn") do %>
                          <i class="icon-magnifier"></i>
                        <% end %>
                      </span>
                    </div>
                  <% end %>
                </div>
                <div class="col-md-2">
                  <%=link_to 'New Sale', new_store_front_module_sales_line_item_path, class: "btn btn-primary pull-right" %>
                </div>
              </div>
              <div class="card-body">
                <% @sales_orders.each do |sales_order| %>
                  <%= link_to store_front_module_sale_path(sales_order) do %>
                    <div class="card text-muted">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-4">
                            <%= sales_order.customer_name %><br>
                            <%= sales_order.date.try(:strftime, ("%B %e, %Y")) %>
                          </div>
                          <div class="col-md-6">
                            <% sales_order.line_items.each do |sale| %>
                              <div class="row">
                                <div class="col-md-2">
                                  <%= sale.quantity %>
                                </div>
                                <div class="col-md-10">
                                  <%= sale.stock_name %>
                                </div>
                              </div>
                            <% end %>
                          </div>
                          <div class="col-md-2">
                            <%= number_to_currency sales_order.total_cost %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>

                  <center><%= will_paginate @sales_orders %></center>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <script type="text/javascript">
    $("tr").click(function() {
    window.location = $(this).data("link")
  });
    $('.salesOrderIndex').css('cursor', 'pointer');
  </script>
