<%= form_tag({:action => "index", controller: "loans_module/reports/loan_releases"}, {:method => :get})  do %>
         <div class="row">
           <div class="col-md-3">
             <div class="form-group">
               <%= text_field_tag :from_date, @from_date.strftime('%B %Y'), :class => 'datepicker form-control border-input', :placeholder => "From " %>
             </div>
           </div>
           <div class="col-md-3">
             <div class="form-group">
               <%= text_field_tag :to_date, @to_date.strftime('%B %Y'), :class => 'form-control border-input datepicker', :placeholder => "To " %>
             </div>
           </div>
           <div class="col-md-2">
             <button type="submit" class="btn btn-outline-primary"> Generate</button>
           </div>
           <div class="col-md-2">
             Export To
             <%= link_to 'Excel', loans_module_reports_loan_releases_path(format: 'xlsx', from_date: @from_date, to_date: @to_date), class: 'btn btn-outline-success btn-sm'%>
           </div>
         </div>
       <% end %>


       <%= render 'loans_module/reports/loan_releases/loans', loans: @loans, cached: true %>
