<div class="row">
  <div class="col-md-8">
    <h3 class="title-up"> Summary for <%= @date.strftime('%B') %></h3>
  </div>
  <div class="col-md-4">
    <%= form_tag({:action => 'index'}, {:method => :get, :class => 'form-inline'}) do%>
      <div class="form-group">
      <%= label_tag :date, nil, class: 'sr-only'%>
      <%= text_field_tag :date, @date.strftime("%B %Y"), :class => 'datepicker-month form-control' %>
      </div>
      &nbsp; <button type="submit" class="btn btn-outline-primary"> Generate</button>
    <% end %>
  </div>
</div>
<hr>

<br>
<div class="row">
  <div class="col-md-4">
    <h3 class="title-up"><%= number_to_currency current_office.loans.disbursed_on(from_date: @date.beginning_of_month, to_date: @date.end_of_month).receivable_accounts.debits_balance(from_date: @date.beginning_of_month, to_date: @date.end_of_month) %></h3>
    <small class="text-muted"> TOTAL RELEASES </small>
  </div>
  <div class="col-md-4">
    <h3 class="title-up"><%= current_office.loans.disbursed_on(from_date: @date.beginning_of_month, to_date: @date.end_of_month).size %></h3>
    <small class="text-muted"> LOANS </small>
  </div>
</div>

<hr>
</div>
</div>
<div class="card">
  <div class="card-body">
<h4 class="subtitle-up"> By Loan Product </h4>
<% loans_by_loan_product_data = [] %>
<% current_office.loan_products.each do |loan_product| %>
  <% loans_by_loan_product_data << { loan_product.name => current_office.loans.where(loan_product: loan_product).disbursed_on(from_date: @date.beginning_of_month, to_date: @date.end_of_month).receivable_accounts.balance(from_date: @date.beginning_of_month, to_date: @date.end_of_month) }  %>
<% end %>
<div class="row">
  <div class="col-md-8">
    <%= pie_chart (Hash[*loans_by_loan_product_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true, thousands: ",", donut: true, legend: 'bottom' %>
  </div>
  <div class="col-md-4">
    <h3 class="subtitle-up"> Summary </h3>
    <% loans_by_loan_product_data.each do |loan_product| %>
      <div class="row">
        <div class="col-md-5">
          <%= loan_product.keys.join('') %>
        </div>
        <div class="col-md-2">
          <% product = Cooperatives::LoanProduct.find_by(name: loan_product.keys.join('')) %>
          <%= current_office.loans.where(loan_product: product).disbursed_on(from_date: @date.beginning_of_month, to_date: @date.end_of_month).size %>

        </div>
        <div class="col-md-5">
          <%= number_to_currency loan_product.values.join('') %>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>
