<div class="container">
  <div class="card">
    <div class="card-header">
      <h4 class="title-up"> Accounting Section Reports </h4>
    </div>
    <div class="card-body">
      <%= link_to accounting_module_reports_income_statements_path, title: 'Income Statement Report' do %>
        <h3 class="subtitle-up">Income Statement</h3>
        <p class="text-muted"> Generate report for income statement. </p>
      <% end %>
    </div>
    <hr class="no-margin">
    <div class="card-body">
      <%= link_to accounting_module_reports_balance_sheets_path do %>
        <h4 class="title-up">Balance Sheet</h4>
        <p class="text-muted">Generate report for balance sheet statement. </p>
      <% end %>
    </div>
    <hr class="no-margin">
    <div class="card-body">
      <%= link_to accounting_module_reports_equity_changes_statements_path do %>
        <h4 class="title-up">Statement of Changes in Equity</h4>
        <p class="text-muted">Generate report for balance sheet statement. </p>
      <% end %>
    </div>
    <hr class="no-margin">
    <div class="card-body">
      <%= link_to accounting_module_reports_trial_balances_path do %>
        <h4 class="title-up">Trial Balance</h4>
        <p class="text-muted">Generate report for trialb balance of accounts. </p>
      <% end %>
    </div>
    <hr class="no-margin">
    <div class="card-body">
      <h4 class="card-title">Proofsheet Report</h4>
      <p class="text-muted">Generate report for consolidated proofsheet report. </p>
       <%= form_tag({ controller: 'accounting_module/reports/proofsheets', action: 'index', format: 'pdf'}, {:method => :get, :class => 'form-inline'}) do%>
        <div class="form-group">
          <%= label_tag :to_date, nil, class: 'sr-only'%>
          <%= text_field_tag :to_date, Time.zone.now.strftime("%B %e, %Y"), :class => 'datepicker form-control' %>
        </div>
        <button type="submit" class="btn btn-default">Get Report</button>
      <% end %>
    </div>
    <hr class="no-margin">
    <div class="card-body">
      <%= link_to accounting_module_reports_net_income_distributions_path do %>
        <h3 class="card-title">Net Income Distribution</h3>
        <p class="text-muted"> Generate report for net income distribution. </p>
      <% end %>
    </div>
    <hr class="no-margin">
    <div class="card-body">
      <%= link_to accounting_module_reports_entries_path do %>
        <h3 class="card-title">Entries</h3>
        <p class="text-muted"> Generate report for entries. </p>
      <% end %>
    </div>
    <hr>
    <div class="card-body">
      <%= link_to accounting_module_reports_cash_receipts_path do %>
        <h3 class="card-title">Cash Receipts (CRJ)</h3>
        <p class="text-muted"> Generate report for cash receipts. </p>
      <% end %>
    </div>
    <hr>
    <div class="card-body">
      <%= link_to accounting_module_reports_cash_disbursements_path do %>
        <h3 class="subtitle-up">Cash Disbursements (CDJ)</h3>
        <p class="text-muted"> Generate report for cash disbursements. </p>
      <% end %>
    </div>
    <hr>
    <div class="card-body">
      <%= link_to accounting_module_reports_cash_disbursements_path do %>
        <h3 class="subtitle-up">Journal Vouchers (JV)</h3>
        <p class="text-muted"> Generate report for cash disbursements. </p>
      <% end %>
    </div>
  </div>
</div>
