<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-8">
          <small><%= @cash_account.name.upcase %> BALANCE</small>
          <h3 class="title-up"><%= number_to_currency @cash_account.balance %></h3>
          <span class="text-muted"> Transactions (<%= Date.current.strftime('%B %e %Y') %>)</span>
        </div>
        <div class="col-md-4">
          <%= link_to 'New Cash Count', new_employee_cash_count_line_item_path(@employee), class: 'btn btn-primary float-right' %>
        </div>
      </div>
      <hr>
      <b> RECEIPTS </b>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Entry Date </th>
            <th> REF # </th>
            <th> Employee </th>
            <th> Description </th>
            <th> Amount </th>
            <th> Balance </th>
          </tr>
        </thead>
        <tbody>
          <% @receipts.each do |entry| %>
            <tr>
              <td><%= link_to entry.entry_date.strftime('%B %e, %Y'), accounting_module_entry_path(entry) %></td>
              <td><%= entry.reference_number %></td>
              <td><%= entry.recorder_name %></td>
              <td><%= entry.description %></td>
              <td><%= number_to_currency entry.debit_amounts.where(account: @cash_account).total %></td>
              <td><%= number_to_currency entry.credit_amounts.where(account: @cash_account).total %></td>
              <td><%= number_to_currency @cash_account.balance(to_date: entry.entry_date) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <hr>
      <b> DISBURSEMENTS </b>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Entry Date </th>
            <th> REF # </th>
            <th> Employee </th>
            <th> Description </th>
            <th> Amount </th>
            <th> Balance </th>
          </tr>
        </thead>
        <tbody>
          <% @disbursements.each do |entry| %>
            <tr>
              <td><%= link_to entry.entry_date.strftime('%B %e, %Y'), accounting_module_entry_path(entry) %></td>
              <td><%= entry.reference_number %></td>
              <td><%= entry.recorder_name %></td>
              <td><%= entry.description %></td>
              <td><%= number_to_currency entry.debit_amounts.where(account: @cash_account).total %></td>
              <td><%= number_to_currency entry.credit_amounts.where(account: @cash_account).total %></td>
              <td><%= number_to_currency @cash_account.balance(to_date: entry.entry_date) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
