<%= simple_form_for @account_category, url: :accounting_module_account_category do |f| %>
  <%= f.input :title %>
  <%= f.input :code %>
  <%= f.input :contra, as: :boolean %>
  <%= f.submit 'Create Account Category' %>
<% end %>
