<%= link_to 'New Account Category', new_accounting_module_account_category_path %>
<div class="card">
  <div class="card-body">
    <div class="table table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Title </th>
            <th> Type </th>

          </tr>
        </thead>
        <tbody>
          <% current_cooperative.account_categories.each do |category| %>
            <tr>
            <td><%= link_to category.title, accounting_module_account_category_path(category) %></td>
            <td><%= category.normalized_type %></td>

            <td><%= link_to 'Edit', edit_accounting_module_account_category_path(category) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
