<%= simple_form_for @account_category, url: :accounting_module_account_categories do |f| %>
  <%= f.input :title %>
  <%= f.input :code %>
  <%= f.input :office_id, input_html: { value: current_office.id }, as: :hidden %>

  <%= f.input :type, collection: ["Asset", "Liability", "Equity", "Revenue", "Expense"] %>

  <%= f.submit 'Create Account Category' %>
<% end %>
