<div class="card">
  <div class="card-body">
    <ul class="nav nav-tabs nav-pills">
      <li class="nav-item"><%= link_to 'Info', accounting_module_account_category_path(@account_category), class: "nav-link #{'active' if current_page?(accounting_module_account_category_path(@account_category))}" %></li>
      <li class="nav-item"><%= link_to 'Entries', accounting_module_account_category_entries_path(@account_category), id: "#{@account_category.id}-entries", class: "nav-link #{'active' if current_page?(accounting_module_account_category_entries_path(@account_category))}" %></li>
      <li class="nav-item"><%= link_to 'Subsidiary Ledgers', accounting_module_account_category_sub_categories_path(@account_category), class: "nav-link #{'active' if current_page?(accounting_module_account_category_sub_categories_path(@account_category))}"%></li>
      <li class="nav-item"><%= link_to 'Settings', accounting_module_account_category_settings_path(@account_category), class: "nav-link #{'active' if current_page?(accounting_module_account_category_settings_path(@account_category))}" %></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="title-up"><%= @account_category.title %></h3>

      <%= link_to 'New Sub Category', new_accounting_module_account_category_account_sub_category_path(@account_category), class: 'btn btn-danger' %>
      <%= link_to 'Edit Category', edit_accounting_module_account_category_path(@account_category) %>

      <hr>
