<div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class="title-up">Savings</h2>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4 m-0">
        <%= form_tag savings_accounts_path, method: :get, class: "search-form" do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by Depositor ", id: 'account-search-form' %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default btn-flat") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-body">
        <div class="table table-responsive">
          <table class="table table-hover">
            <thead class="no-border">
               <tr>
                 <th>Depositor</th>
                 <th></th>
                 <th>Balance</span></th>
                 <th><span class="d-none d-sm-block">Last Transaction</span></th>

               </tr>
            </thead>
            <tbody>
              <% @savings_accounts.each do |savings_account| %>
                <tr style="cursor: pointer;" data-link="<%= savings_account_path(savings_account) %>">
                  <td width="45px"><%=image_tag(savings_account.avatar, height: 45, width: 45, class: 'img-circle') %> </td>
                  <td><%= link_to savings_account.depositor_name, savings_account_path(savings_account) %><br>
                    <small class="text-muted"><%= savings_account.saving_product_name %> </small>
                  </td>
                  <td><span class="subtitle-up"><%= number_to_currency savings_account.balance %></span><br>
                    <% if !savings_account.has_minimum_balance? %>
                        <span class="badge bg-danger"> Below Minimum Balance </span>
                        <% end %></td>
                  <td><span class="d-none d-sm-block"><%= short_time_ago(savings_account.last_transaction_date) %> ago</span></td>

                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <center><%==pagy_nav(@pagy) %> </center>
  </div>
</div>
<div>
  <script>
  $("tr").click(function() {
    window.location = $(this).data("link")
  })
  </script>
