<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h3 class="title-up"> New Entry Details </h3>
      </div>
      <div class="card-body">
        <%= simple_form_for @line_item, url: :accounting_module_entry_line_items, html: { autcomplete: 'off' } do |f| %>
        <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
        <%= f.input :cart_id, input_html: { value: current_cart.id }, as: :hidden %>


          <div class="row">
            <div class="col-md-5">
              <%= f.input :account_id, label: false, placeholder: "Account", collection: current_office.accounts.map{|a| [a.name, a.id] }, prompt: "Select Account", input_html: { class: 'chosen-select form-control' } %>
            </div>
            <div class="col-md-3">
              <%= f.input :amount, label: false, placeholder: 'Amount', as: :currency  %>
            </div>
            <div class="col-md-2">
              <%= f.input :amount_type, label: false, collection: Vouchers::VoucherAmount.amount_types.keys.to_a.map{|a| [a.titleize, a] }, input_html: { class: 'chosen-select' } %>
            </div>
            <div class="col-md-2">
              <%= f.submit "Add Amount", class: "btn btn-outline-primary", data: { disable_with: "Adding..." } %>
            </div>
          </div>
          <br>
        <% end %>
        <hr>
        <table class="table">
          <thead>
            <tr>
              <th> Debit </th>
              <th> Account </th>
              <th> Credit </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% current_cart.voucher_amounts.each do |amount| %>
              <tr>
                <td>
                  <% if amount.debit? %>
                  <%= number_to_currency amount.amount %>
                  <% end %>
                </td>
                <td><%= amount.account_name %></td>
                <td>
                  <% if amount.credit? %>
                    <%= number_to_currency amount.amount %>
                  <% end %>
                </td>
                <td><%= link_to accounting_module_entry_line_item_path(amount), method: :delete do %>
                  <span title="Remove" data-toggle="tooltip" class="fa fa-trash text-danger"></span>
                <% end %></td>
              </tr>
            <% end %>
            <tr>
              <td><b><%= number_to_currency current_cart.voucher_amounts.debit.sum(&:amount) %></b></td>
              <td></td>
              <td><b><%= number_to_currency current_cart.voucher_amounts.credit.sum(&:amount) %></b></td>
              <td>
                <% if current_cart.voucher_amounts.debit.present? && current_cart.voucher_amounts.credit.present? %>
                  <% if current_cart.voucher_amounts.debit.sum(&:amount) != current_cart.voucher_amounts.credit.sum(&:amount) %>
                    <span title="Total amounts not equal" data-toggle="tooltip" class="fa fa-lg fa-question-circle text-danger"></span>
                  <% else %>
                    <span title="Total amounts are equal" data-toggle="tooltip" class="fa fa-lg fa-check-circle text-success"></span>
                  <% end %>
                <% end %>
              </td>
          </tbody>
        </table>
      </div>
    </div>



  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Entry Details </h3>
      </div>
      <div class="card-body">
        <%=simple_form_for @voucher, url: :accounting_module_entry_line_item_vouchers, html: { autocomplete: 'off' } do |f| %>

          <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :description, as: :text %>
          <%= f.input :reference_number %>
          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>

          <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= f.input :payee_id, input_html: { value: current_user.id }, as: :hidden %>
          <%= f.input :payee_type, input_html: { value: current_user.class.to_s }, as: :hidden %>


          <%= f.input :cart_id, input_html: { value: current_cart.id }, as: :hidden %>

          <% if current_cart.voucher_amounts.debit.present? && current_cart.voucher_amounts.credit.present? %>
            <% if current_cart.voucher_amounts.debit.sum(&:amount) == current_cart.voucher_amounts.credit.sum(&:amount) %>
              <%= f.submit "Save Entry", class: "btn btn-primary btn-block" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
