<div class="container">

    </div>
    <br>
    <div class="card">
        <div class="card-header no-border">
          <ul class="nav nav-pills">
            <li class="nav-item"><%= link_to 'Share Capitals', share_capitals_path, class: "nav-link #{ 'active' if current_page?(share_capitals_path)}" %>
            </li>
            <li class="nav-item"><%= link_to 'Below Min', below_minimum_balance_share_capitals_path,  class: "nav-link #{ 'active' if current_page?(below_minimum_balance_share_capitals_path)}" %>
            </li>
            <li class="nav-item"><%= link_to 'Insights', share_capitals_module_insights_path,  class: "nav-link #{ 'active' if current_page?(share_capitals_module_insights_path)}" %>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <% if current_page?(share_capitals_path) %>
            <%= render 'share_capitals/partials/all_share_capitals' %>
          <% end %>
          <% if current_page?(below_minimum_balance_share_capitals_path) %>
            <%= render 'share_capitals/partials/below_minimum_balances' %>
          <% end %>
          <% if current_page?(share_capitals_module_insights_path) %>
            <%= render 'share_capitals/partials/insights' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
