<% content_for(:html_title) { "Share Capital | #{@share_capital.subscriber_name}" } %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header no-border">
        <ul class="nav nav-pills nav-pills-underline">
          <li class="nav-item"><%= link_to share_capital_path(@share_capital), class: "nav-link #{ 'active' if current_page?(share_capital_path(@share_capital))}" do %>
            <i class="fa fa-user-circle"></i> Account
            <% end %>
          </li>
          <li class="nav-item"><%= link_to share_capital_settings_path(@share_capital), id: "#{@share_capital.id}-settings", class: "nav-link #{ 'active' if current_page?(share_capital_settings_path(@share_capital))}" do %>
            <i class="fa fa-cog"></i> Settings
            <% end %>
          </li>
        </ul>
      </div>
      <div class="card-body">
<% if current_page? share_capital_path(@share_capital) %>
  <%= render 'share_capitals/partials/info' %>
<% end %>
<% if current_page? share_capital_settings_path(@share_capital) %>
  <%= render 'share_capitals/partials/settings' %>
<% end %>
