<div class="row">
  <div class="col-md-4">
    <h3 class="title-up">Share Capitals </h3>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4 m-0">
    <%= form_tag share_capitals_path, method: :get, class: "search-form" do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by Subscriber ", id: 'account-search-form' %>
        <span class="input-group-btn">
          <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default btn-flat") do %>
            <i class="fa fa-search"></i>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
</div>

    <% @share_capitals.each do |share_capital| %>
      <%= render 'share_capitals/share_capital', share_capital: share_capital %>
    <% end %>
    <center><%==pagy_bootstrap_nav(@pagy) %></center>
