<header class="main-header">

   <!-- Logo -->
   <a href="/" class="logo">
     <!-- mini logo for sidebar mini 50x50 pixels -->
     <span class="logo-mini"><%=image_tag(current_user.cooperative_logo.url(:medium), height: 40, width: 40, class: 'img-circle') %></span>
     <!-- logo for regular state and mobile devices -->
     <%=image_tag(current_user.cooperative.logo.url(:small), height: 40, width: 40, class: 'img-circle') %> <b><%=current_user.cooperative.abbreviated_name %></b></span>
   </a>

   <!-- Header Navbar: style can be found in header.less -->
   <nav class="navbar navbar-static-top">
     <!-- Sidebar toggle button-->
     <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
       <span class="sr-only">Toggle navigation</span>
     </a>
     <!-- Navbar Right Menu -->
     <div class="navbar-custom-menu">
       <ul class="nav navbar-nav">
         <!-- Messages: style can be found in dropdown.less-->

         <li class="dropdown user user-menu">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             <%#=image_tag(current_user.avatar.url(:small), width: 20, height: 20, class: "img-circle") %>
             <span class="hidden-xs"> <%=current_cooperator.first_name %></span>&nbsp; <i class="fa fa-chevron-down"></i>
           </a>
           <ul class="dropdown-menu">
             <!-- User image -->
             <li class="user-header">
                <%#=image_tag(current_u.avatar.url(:large), class: "img-square")%>

               <p>
                   <%=current_cooperator.first_name %>

               </p>
             </li>
             <!-- Menu Body -->

             <!-- Menu Footer-->
             <li class="user-footer">
               <div class="pull-left">
                 <%=link_to 'Profile', cooperator_path(current_cooperator),  class: "btn btn-default btn-flat" %>
               </div>
               <div class="pull-right">
                <%=link_to 'Sign out', destroy_cooperator_session_path, method: :delete, class: "btn btn-danger" %>
               </div>
             </li>
           </ul>
         </li>
         <!-- Control Sidebar Toggle Button -->

       </ul>
     </div>

   </nav>
 </header>
