<div class="card">
  <div class="card-body">
    <h3 class="card-title"> Statistics </h3>
    <%= link_to 'View PDF', loans_module_amortization_schedule_date_filters_path(from_date: @start_date.beginning_of_month, to_date: @start_date.end_of_month, format: 'pdf'), class: "btn btn-default float-right" %>
    <span class="text-muted">Date Covered <%= @start_date.beginning_of_month.strftime("%B %e, %Y") %> - <%= @start_date.end_of_month.strftime("%B %e, %Y") %> </span><br>
    <br>
    <div class="row">
      <div class="col-md-3">
        <small>AMORTIZATION COUNT</small>
        <h4 class="title-up"><%= @amortization_schedules.count %></h4>
      </div>
      <div class="col-md-3">
        <small>TOTAL PRINCIPAL </small>
        <h4 class="title-up"><%= number_to_currency @amortization_schedules.sum(&:principal) %></h4>
      </div>
      <div class="col-md-3">
        <small>TOTAL INTEREST </small>
        <h4 class="title-up"><%= number_to_currency @amortization_schedules.sum(&:interest) %></h4>
      </div><div class="col-md-3">
        <small>TOTAL AMORTIZATION </small>
        <h4 class="title-up"><%= number_to_currency @amortization_schedules.sum(&:total_amortization) %></h4>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <%= month_calendar do |date| %>
        <%=link_to loans_module_amortization_schedule_date_filters_path(from_date: date, to_date: date)  do %>
          <p><%=date.day %></p>
            <% @amortization_schedules.for_loans.scheduled_for(from_date: date, to_date: date).each do |schedule| %>
              <span class="" data-toggle="tooltip" title="<%= schedule.borrower_name %>">
                <%= image_tag(schedule.borrower_avatar, class: "img-circle", height: 25, width: 25) %>
              </span>
            <% end %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.calendar-heading a').addClass('btn btn-default');
    $('.simple-calendar table').removeClass('table-striped');
  });
</script>
