
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-1">
          <div class="min-margin"></div>
          <div class="min-margin"></div>
          <%= link_to loans_module_loan_amortization_schedules_path(@amortization_schedule.loan) do %>
          <i class="fa fa-arrow-left fa-2x fa-slim"></i>
          <% end %>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-2">
              <div class="min-margin"></div>
              <center>
              <%= image_tag(@amortization_schedule.borrower.avatar, height: 60, width: 60, class: 'img-circle') %>
            </center>
            </div>
            <div class="col-md-10">
              <h4 class="subtitle-up"><%= @amortization_schedule.borrower_name %></h4>
              <small class="text-muted"><i class="fa fa-map-marker"></i> <%= @amortization_schedule.borrower.current_address_complete_address %></small>
              <small class="text-muted"><i class="fa fa-phone"></i> <%= @amortization_schedule.borrower.current_contact_number %></small>

            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-3">
          <small class="text-muted">DUE DATE </small>
          <h4 class="title-up"><%= @amortization_schedule.date.strftime('%b. %e, %Y') %></h4>
        </div>
        <div class="col-md-3">
          <small class="text-muted"> PRINCIPAL </small>
          <h4 class="title-up"><%= number_to_currency @amortization_schedule.principal %></h4>
        </div>
        <div class="col-md-3">
          <small class="text-muted"> INTEREST </small>
          <h4 class="title-up"><%= number_to_currency @amortization_schedule.interest %></h4>
        </div>
        <div class="col-md-3">
          <small class="text-muted"> TOTAL REPAYMENT </small>
          <h4 class="title-up"><%= number_to_currency @amortization_schedule.total_repayment %></h4>
        </div>
      </div>
      <hr>
      <h4 class="subtitle-up"> Payments History </h4>
