<%= simple_form_for @payment, url: :share_capital_program_subscription_payments do |f| %>
  <%= f.input :cart_id, input_html: { value: current_cart.id } %>
  <%= f.input :share_capital_id, input_html: { value: @share_capital.id } %>
  <%= f.input :employee_id, input_html: { value: current_user.id } %>
  <%= f.input :program_subscription_id, input_html: { value: @program_subscription.id } %>
  <%= f.input :amount, as: :currency %>
  <%= f.submit 'Add Payment' %>
<% end %>
