
  <tr>
      <td><%=entry.entry_date.strftime("%B %e, %Y") %></td>
      <td><%= entry.entry_type.try(:titleize) %></td>
      
  <td><%= entry.reference_number %></td>
  <td><%= number_to_currency entry.debit_amounts.sum(&:amount) %></td>
  <td><%= entry.commercial_document.try(:member).try(:first_and_last_name) %></td>
</tr>
