<%= link_to accounting_module_entry_path(entry) do %>
  <div class="card min-margin animated fadeInUp">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <p class="title-up">
            <%= entry.entry_date.strftime('%b. %e, %Y') %>
          </p>
        </div>
        <div class="col-md-6">
          <b><%= entry.description %></b><br>
          <small class="text-muted">
            <i class="fa fa-user-circle"></i> <%= entry.recorder_name %>
            <i class="fa fa-hashtag"></i> <%= entry.reference_number %>
            <i class="fa fa-building"></i> <%= entry.office_name %>
          </small>
        </div>
        <div class="col-md-3">
          <small class="text-muted">TOTAL AMOUNT </small>
          <p class="title-up"><%= number_to_currency entry.debit_amounts.total %></p>
        </div>
        <div class="col-md-1 hidden-xs">
          <div class="min-margin"></div>
          <i class="fa fa-chevron-right fa-2x fa-slim"></i>
        </div>
      </div>
    </div>
  </div>
<% end %>
