  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <%= render 'accounting_module/entries/search_filter' %>
          </div>
          <div class="col-md-4">
            <% if params[:from_date].present? || params[:to_date].present? || params[:search].present? %>
              <center>
                <div class="row">
                  <div class="col-md-8">
                    <h4 class="card-title"><%=number_to_currency @ordered_entries.not_cancelled.sum {|e| Money.new(e.debit_amounts.sum(:amount_cents)).amount} %></h4>
                    <small class="text-muted">TOTAL AMOUNT</small>
                  </div>
                  <div class="col-md-4">
                    <h4 class="card-title"><%= @ordered_entries.not_cancelled.count %></h4>
                    <small class="text-muted">ENTRIES</small>
                  </div>
                </div>
              </center>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <% entries.each do |entry| %>
      <%= render 'accounting_module/entries/partials/header', entry: entry %>
    <% end %>
    <% if entries.any? %>
      <center><%== pagy_nav(@pagy) %></center>
    <% end %>
  </div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#organization_id").select2({
      theme: "bootstrap"
    });
  });
</script>
