<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Entry Details </h3>
      </div>
      <div class="card-body">
        <%=simple_form_for @entry, url: :accounting_module_entry do |f| %>
          <%= f.error_notification %>
          <%= f.input :entry_id, input_html: {value: @entry.id}, as: :hidden %>
          <%= f.input :entry_date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :reference_number %>
          <%= f.input :description %>
          <hr>
          <%= f.submit "Update Entry", class: "btn btn-danger float-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#accounting_module_entry_form_credit_account_id").select2({
      theme: "bootstrap"
    });
     $("#accounting_module_entry_form_debit_account_id").select2({
      theme: "bootstrap"
    });
      $("#accounting_module_entry_form_entry_type").select2({
      theme: "bootstrap"
    });
  });
</script>
