<div class="card">
    <div class="card-header no-border">
      <div class="row">
        <div class="col-md-3">
          <h3 class="title-up"> General Journal </h3>
        </div>
        <div class="col-md-6">
          <%= form_tag accounting_module_entries_path, method: :get, class: "search-form" do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Entry", id: 'account-search-form' %>
          <span class="input-group-btn">
            <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-outline-primary btn-flat") do %>
              <i class="fa fa-search"></i> Search
            <% end %>
          </span>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to 'New Entry', new_accounting_module_entry_line_item_path, class: 'btn btn-primary float-right' %>
  </div>
</div>
</div>
</div>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <b>Date</b>
      </div>
      <div class="col-md-4">
         <b>Description</b>
      </div>
      <div class="col-md-4">
        <b>Accounts</b>
      </div>
      <div class="col-md-1">
        <b>Debits</b>
      </div>
      <div class="col-md-1">
        <b>Credits</b>
      </div>
    </div>
  </div>
</div>
<% @entries.each do |entry| %>
  <%= link_to accounting_module_entry_path(entry) do %>
  <span class="text-dark">
  <div class="card animated fadeInUp">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <%= entry.entry_date.strftime('%B %e, %Y') %><br>
              <%= entry.entry_time.strftime("%-l:%M %p") %>

        </div>
         <div class="col-md-4">
          <div class="row">
            <div class="col-md-2">
              <div class="min-margin"></div>
              <%= image_tag(entry.recorder.avatar, height: 45, width: 45, class: 'img-circle') %>
            </div>
            <div class="col-md-10">
              <%= entry.recorder_name %><br>
              <span class="text-primary"><b><%=entry.description %></b></span>
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <div class="min-margin"></div>
          <% entry.debit_amounts.each do |amount| %>
          <div class="row">
            <div class="col-md-6">
              <%= amount.account_display_name %>
            </div>
            <div class="col-md-3">
              <span class="float-right"><%= number_to_currency amount.amount %></span>

            </div>
          </div>
          <% end %>
          <% entry.credit_amounts.each do |amount| %>
          <div class="row">
            <div class="col-md-8">
              &nbsp; &nbsp; <%= amount.account_display_name %>
            </div>
             <div class="col-md-4">
              <span class="float-right"> &nbsp; &nbsp;<%= number_to_currency amount.amount %></span>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <span class="title-up">TOTAL</span>
            </div>
            <div class="col-md-3">
              <span class="float-right title-up"><b><%= number_to_currency entry.debit_amounts.sum(&:amount) %></b></span>
            </div>
            <div class="col-md-3">
              <span class="float-right title-up"><b><%= number_to_currency entry.credit_amounts.sum(&:amount) %></b></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</span>
  <% end %>
<% end %>

      <%==pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
</div>

