<% breadcrumb :entry, @entry %>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-9">
            <h4 class="title-up"> Entry Details </h4>
            <span class="text-muted">
              <i class="fa fa-clock"></i> <%= @entry.entry_date.strftime("%B %e, %Y")%> &nbsp; &nbsp;
              <i class="fa fa-user"></i> <%= @entry.recorder_first_and_last_name.try(:titleize) %>
            </span>

          </div>

          <div class="col-md-3">
            <% if policy([:accounting_module, :entries, :cancellation]).new? %>
              <div class="dropdown">
                <button class="btn btn-outline-danger dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Options
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <%#= link_to 'Cancel Entry', new_accounting_module_entry_cancellation_path(@entry), class: "dropdown-item", data: { confirm: "Are you sure you want to cancel this entry?"} %>
                  <%= link_to "Edit Entry", edit_accounting_module_entry_path(@entry), class: "dropdown-item" %>
                  <%= link_to "Delete Entry", accounting_module_entry_path(@entry), class: "dropdown-item", method: :delete %>

                </div>
              </div>
            <% end %>
          </div>
        </div>


      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <label class="no-margin-bottom">Member/Payee</label>
          </div>
          <div class="col-md-8 col-sm-8">
            <%#= image_tag(@entry.commercial_document.avatar, class: "img-circle", height: 35, width: 35) if @entry.commercial_document.avatar.attached? %> <%= @entry.commercial_document.try(:name) %>
          </div>
        </div>
        <div class="min-margin">
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <label class="no-margin-bottom">Date</label>
          </div>
          <div class="col-md-8 col-sm-8">
            <%=@entry.entry_date.strftime("%B %e, %Y") %>
          </div>
        </div>
        <div class="min-margin">
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <label class="no-margin-bottom">Description</label>
          </div>
          <div class="col-md-8 col-sm-8">
            <%=@entry.description %>
          </div>
        </div>
        <div class="min-margin">
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <label class="no-margin-bottom">Reference Number</label>
          </div>
          <div class="col-md-8 col-sm-8">
           #<%= @entry.reference_number %>
          </div>
        </div>
        <div class="min-margin">
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <label class="no-margin-bottom">Employee</label>
          </div>
          <div class="col-md-8 col-sm-8">
            <%= @entry.recorder.try(:first_and_last_name) %>
          </div>
        </div>
        <div class="min-margin">
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <label class="no-margin-bottom">Office</label>
          </div>
          <div class="col-md-8 col-sm-8">
            <%= @entry.office_name %>
          </div>
        </div>
        <div class="min-margin">
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <label class="no-margin-bottom">Timestamp</label>
          </div>
          <div class="col-md-8 col-sm-8">
            <%= @entry.created_at.strftime("%B %e, %Y %H:%I %p") %>
          </div>
        </div>

        <hr>
      <h3 class="subtitle-up"> Debits and Credits </h3>
        <table class="table">
          <thead>
            <tr>
              <th><span class="float-right">Debit</span></th>
              <th>Account</th>
              <th><span class="float-right">Credit</span></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @amounts.each do |amount| %>

              <tr>
                <td>
                  <% if amount.debit? %>
                    <span class="float-right">
                      <%= number_to_currency amount.amount %>
                    </span>
                  <% end %>
                </td>
                <td><%=link_to amount.account.display_name, accounting_module_account_path(amount.account) %></td>
                <td>
                  <% if amount.credit? %>
                    <span class="float-right number">
                      <%= number_to_currency amount.amount %>
                    </span>
                  <% end %>
                </td>
                <td>
                  <% if current_user.bookkeeper? || current_user.accountant? || current_user == @entry.recorder %>

                      <%#=link_to "Update", amount.is_a?(AccountingModule::DebitAmount) ?edit_accounting_module_debit_amount_path(amount) : edit_accounting_module_credit_amount_path(amount), class: "btn btn-outline-warning btn-sm" %>
                      <%#=link_to "Delete", accounting_module_amount_path(amount), class: "btn btn-outline-danger btn-sm", method: :delete %>


                  <% end %>
                </td>
              </tr>
            <% end %>
            <tr>
              <td>
                <span class="float-right number">
                  <b><%= number_to_currency @entry.debit_amounts.total %></b>
                </span>
              </td>
              <td></td>
              <td>
                <span class="float-right number">
                  <b><%= number_to_currency @entry.credit_amounts.total %></b></span>
                </td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <%==pagy_nav(@pagy) %>
        <hr>




        </div>
      </div>
    </div>
  </div>
<% @entry.tags.each do |tag| %>
  <span style="background-color: #344444"><%=tag.name %></span>
<% end %>
