<b><%= stock.name %><b>
<small class="text-muted"><%= stock.barcode %></small>
<span class="badge bg-success"><%= stock.balance %> <%= stock.unit_of_measurement_code %> IN STOCK </span>
<%= simple_form_for @sales_line_item, url: :store_front_module_sales_line_items do |f| %>
  <%= f.input :quantity %>
  <%= f.input :unit_cost %>
  <%= f.input :total_cost %>
  <%= f.input :store_front_id, input_html: { value: current_store_front.id } %>
  <%= f.input :employee_id, input_html: { value: current_user.id } %>
  <%= f.input :cart_id, input_html: { value: current_cart.id } %>
  <%= f.input :stock_id, input_html: { value: stock.id } %>



  <%= f.input :unit_of_measurement_id, collection: stock.product.unit_of_measurements.map{|a| [a.code, a.id] } %>
  <%= f.submit %>
<% end %>
