
        <div class="row">
          <div class="col-md-3">
            <h3 class="title-up"> Organizations </h3>
          </div>
          <div class="col-md-6">
            <%=form_tag organizations_path, method: :get do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search], class: "form-control", id: 'organizationSearchForm', placeholder: "Search Organization..." %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default") do %>
                    <i class="fa fa-search"></i> Search Organization
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
          <div class="col-md-3">
            <%= link_to 'New Organization', new_organization_path, class: "btn btn-primary float-right" %>
          </div>
        </div>
        <br>

    <% @organizations.each do |organization| %>
      <%= render 'organizations/partials/header', organization: organization %>
    <% end %>
    <center><%==pagy_bootstrap_nav(@pagy) %></center>
  </div>
</div>
