<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">New Organization Details </h3>
      </div>
      <div class="card-body">
        <%= simple_form_for @organization, multipart: true do |f| %>
          <%= f.error_notification %>
            <center><%=image_tag("default_business_logo.jpg", height: 80, width: 80, :class=>"img-circle") %></center>

          <center><%= f.input :avatar, as: :file, label: "Upload Logo", input_html: { id: 'uploadOrganizationAvatar' } %></center>
          <%= f.input :name %>
          <%= f.input :abbreviated_name %>
          <hr>
          <%= f.submit "Create Organization", class: "btn btn-primary float-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
