<div class="container">
  <div class="card">
    <div class="card-header">
      <h3 class="title-up"> Update Member Details </h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-5">
<%= simple_form_for @update_info, url: :member_infos do |f| %>
  <%= f.input :member_id, input_html: { value: @member.id }, as: :hidden %>
  <%= f.input :cooperative_id, input_html: { value: current_cooperative.id }, as: :hidden %>

  <h4 class="subtitle-up"> Personal Info </h4>

  <%= f.input :avatar, as: :file, input_html: { value: @member.avatar } %>
  <%= f.input :first_name, input_html: { value: @member.first_name } %>
  <%= f.input :middle_name, input_html: { value: @member.middle_name }  %>
  <%= f.input :last_name, input_html: { value: @member.last_name }  %>
  <%= f.input :date_of_birth, as: :string, input_html: { class: "datepicker", value: @member.date_of_birth } %>
  <%= f.input :sex, collection: Member.sexes.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons, checked: @member.sex %>
  <%= f.input :civil_status, collection: Member.civil_statuses.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons, checked: @member.civil_status %>
  <hr>
  <h4 class="subtitle-up"> Address Details </h4>
  <%= f.input :complete_address, input_html: { value: @member.current_address_complete_address } %>
  <%= f.input :barangay_id, collection: Addresses::Barangay.all.map{ |barangay| [barangay.name_and_municipality, barangay.id] }, input_html: { class: 'chosen-select' }, selected: @member.current_address.barangay %>

  <hr>
  <h4 class="subtitle-up"> Contact Details </h4>
  <%= f.input :contact_number, input_html: { value: @member.current_contact_number } %>
  <hr>
  <h4 class="subtitle-up"> Membership Details </h4>
  <%= f.input :membership_category_id, collection: current_cooperative.membership_categories.map{ |category| [category.title, category.id] }, selected: @member.memberships.where(cooperative: current_cooperative).last.try(:membership_category), input_html: { class: 'chosen-select' } %>
  <%= f.input :membership_date, as: :string, input_html: { class: 'datepicker', value: @member.memberships.where(cooperative: current_cooperative).last.try(:membership_date) } %>
  <hr>
  <%= f.submit "Update Member", class: "btn btn-primary float-right" %>
<% end %>
