<div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class="title-up">Share Capitals </h2>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4 m-0">
        <%= form_tag share_capitals_path, method: :get, class: "search-form" do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by Subscriber ", id: 'account-search-form' %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default btn-flat") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header no-border">
          <ul class="nav nav-pills">
            <li class="nav-item"><%= link_to 'Share Capitals', share_capitals_path, class: "nav-link #{ 'active' if current_page?(share_capitals_path)}" %>
            </li>
            <li class="nav-item"><%= link_to 'Below Min', below_minimum_balance_share_capitals_path,  class: "nav-link #{ 'active' if current_page?(below_minimum_balance_share_capitals_path)}" %>
            </li>
            <li class="nav-item"><%= link_to 'Insights', share_capitals_module_insights_path,  class: "nav-link #{ 'active' if current_page?(share_capitals_module_insights_path)}" %>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <% if current_page?(share_capitals_path) %>
            <%= render 'share_capitals/partials/all_share_capitals' %>
          <% end %>
          <% if current_page?(below_minimum_balance_share_capitals_path) %>
            <%= render 'share_capitals/partials/below_minimum_balances' %>
          <% end %>
          <% if current_page?(share_capitals_module_insights_path) %>
            <%= render 'share_capitals/partials/insights' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
