<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <h3 class="title-up"> Ticket Entries </h3>
            <% current_cooperative.offices.each do |office| %>
              <%= link_to office.name, accounting_module_reports_ticket_entries_path(office_id: office.id), class: 'btn btn-outline-primary btn-sm' %>
            <% end %>
        </div>
        <div class="col-md-7">
          <%= form_tag({:action => 'index'}, {:method => :get, class: "form-inline"}) do %>
            <%= text_field_tag :from_date, @from_date.strftime("%B %e, %Y"), :class => 'datepicker form-control', :placeholder => "To" %>
            <%= text_field_tag :to_date, @to_date.strftime("%B %e, %Y"), :class => 'datepicker form-control', :placeholder => "To" %>

            <%= hidden_field_tag :office_id, @office.id %>
            <button type="submit" class="btn btn-primary">Generate</button>
          <% end %>
        </div>
        <div class="col-md-3">
          Export To
          <%= link_to 'Excel', accounting_module_reports_ticket_entries_path(office_id: @office.id, format: 'xlsx', from_date: @from_date, to_date: @to_date), class: 'btn btn-outline-primary btn-sm' %>
          <%= link_to 'PDF', accounting_module_reports_ticket_entries_path(office_id: @office.id, format: 'pdf', from_date: @from_date, to_date: @to_date), class: 'btn btn-outline-primary btn-sm' %>
        </div>
      </div>
      <br>
      <div class="table table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Description</th>
              <th>Reference</th>
              <th>Recorder</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @entries.each do |entry| %>
              <tr>
                <td><%= link_to entry.entry_date.strftime('%B %e, %Y'), accounting_module_entry_path(entry) %></td>
                <td><%= entry.description %></td>
                <td><%= entry.reference_number %></td>
                <td><%= entry.recorder_name %></td>
                <td><%= link_to 'View Transaction', accounting_module_entry_path(entry) %></td>

              </tr>
            <% end %>
          </tbody>
        </table>
      <%==pagy_nav(@pagy) %>
    </div>
  </div>
</div>
