<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div  class="card-body">
          <div class="row">
            <div class="col-md-6">
              <small> Principal Balance</small>
              <h3 class="title-up"><%= number_to_currency  @loan.balance %></h3>
            </div>
            <div class="col-md-6">
              <%= @loan.borrower_full_name %><br>
              <small><%= @loan.loan_product_name %></small>
            </div>
          </div>
          <hr>
          <%= simple_form_for [@loan, @payment], url: :savings_account_loan_payment_line_items do |f| %>
            <%= f.input :principal_amount %>
            <%= f.input :interest_amount, input_html: { value: 0 } %>
            <%= f.input :penalty_amount, input_html: { value: 0 } %>
            <%= f.input :cart_id, input_html: { value: current_cart.id }, as: :hidden %>
            <%= f.input :loan_id, input_html: { value: @loan.id }, as: :hidden %>
            <%= f.input :savings_account_id, input_html: { value: @savings_account.id }, as: :hidden %>
            <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
            <%= f.submit 'Add Payment', class: 'btn btn-primary float-right' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

