<%= simple_form_for [@cooperative, @office], url: :management_module_settings_offices do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :contact_number %>
  <%= f.input :type, collection: Cooperatives::Office.types %>
  <%= f.submit "Save Office", class: 'btn btn-danger' %>
<% end %>
