<% @account_category.sub_categories.each do |category| %>
  <div class="row">
    <div class="col-md-8">
      <%= category.title %>
    </div>
    <div class="col-md-4">
      <% if AccountingModule::AccountSubCategoryPolicy.new(category: category).new? %>
        <%= link_to 'New Sub Category', new_accounting_module_account_category_account_sub_category_path(category) %>
       <% end %>
     </div>
   </div>
   <% if category.sub_categories.exists? %>
     <% category.sub_categories.each do |sub_category| %>
      <div class="row">
        <div class="col-md-8">
          <p>&nbsp; &nbsp; <%= sub_category.title %></p>
        </div>
        <div class="col-md-4">
          <% if AccountingModule::AccountSubCategoryPolicy.new(category: category).new? %>
           <%= link_to 'New Sub Category', new_accounting_module_account_category_account_sub_category_path(sub_category) %>
          <% end %>
        </div>
      </div>
      <% if sub_category.sub_categories.exists? %>
        <% sub_category.sub_categories.each do |sub1_category| %>
          <div class="row">
            <div class="col-md-8">
              <p>&nbsp; &nbsp; &nbsp; &nbsp;<%= sub1_category.title %></p>
            </div>
            <div class="col-md-4">
              <% if AccountingModule::AccountSubCategoryPolicy.new(category: category).new? %>
                <%= link_to 'New Sub Category', new_accounting_module_account_category_account_sub_category_path(sub1_category) %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= link_to 'New Sub Category', new_accounting_module_account_category_account_sub_category_path(category) %>
     <hr>

<% end %>
