<div class="card">
  <div class="card-header">
    <h3 class="card-title"> New Employee Registration </h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-5">
    <%= simple_form_for @invitation, url: :management_module_settings_employee_registrations do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.input :office_id, collection: current_cooperative.offices.map{|a| [a.name, a.id] } %>
      <%= f.input :cooperative_id, input_html: { value: current_cooperative.id } %>
      <br>
        <%= f.submit "Create Employee", class: 'btn btn-danger float-right' %>
      <br>
    <% end %>
  </div>
</div>
