
  <div class="card">
    <div class="card-body">
      <h3 class="title-up">Loan Releases</h3>

      <ul class="nav nav-tabs">
        <li class="nav-item"><%= link_to 'Summary', loans_module_reports_loan_releases_summaries_path, class: "nav-link #{'active' if current_page?(loans_module_reports_loan_releases_summaries_path)}" %></li>

        <li class="nav-item"><%= link_to 'All Loan Releases', loans_module_reports_loan_releases_path, class: "nav-link #{'active' if current_page?(loans_module_reports_loan_releases_path)}" %></li>
        <li class="nav-item"><%= link_to 'By Loan Product', loans_module_reports_loan_releases_by_loan_products_path, class: "nav-link #{'active' if current_page?(loans_module_reports_loan_releases_by_loan_products_path)}" %></li>
        <li class="nav-item"><%= link_to 'By Barangay', loans_module_reports_loan_releases_by_barangays_path, class: "nav-link #{'active' if current_page?(loans_module_reports_loan_releases_by_barangays_path)}" %></li>
      </ul>
      <br>
      <% if current_page? loans_module_reports_loan_releases_summaries_path %>
      <%= render 'loans_module/reports/loan_releases/partials/summaries' %>
      <% end %>

      <% if current_page? loans_module_reports_loan_releases_path %>
      <%= render 'loans_module/reports/loan_releases/partials/all_loan_releases' %>
      <% end %>

      <% if current_page? loans_module_reports_loan_releases_by_loan_products_path %>
        <%= render 'loans_module/reports/loan_releases/partials/by_loan_products' %>
      <% end %>

      <% if current_page? loans_module_reports_loan_releases_by_barangays_path %>
        <%= render 'loans_module/reports/loan_releases/partials/by_barangays' %>
      <% end %>
    </div>
  </div>
</div>
