<div class="table table-responsive">
  <table class="table table-hover">
    <thead class="no-border">
        <tr>
          <th></th>
          <th> Borrower </th>
          <th> Loan Product </th>
          <th> Term </th>
          <th> Disbursement Date </th>
          <th> Maturity Date </th>
          <th> Loan Amount </th>
          <th> Net Proceed </th>
        </tr>
      </thead>
      <tbody>
        <% loans.each do |loan| %>
            <tr style="cursor: pointer;" data-link="<%= loan_path(loan) %>">
              <td style="width: 40px"><%= image_tag(loan.borrower.avatar, class: "img-circle", height: 45, width: 45) %></td>
              <td><%= link_to loan.borrower_name, loan_path(loan) %><br>
                <small class="text-muted"> Last payment: <%= loan.last_transaction_date.strftime('%B %e, %Y') %> ago &nbsp; &nbsp; &nbsp;
              </td>
              <td><%= loan.loan_product_name %></td>
              <td><%= loan.term %></td>
              <td><%= loan.disbursement_date.try(:strftime, ('%B %e, %Y')) %></td>
              <td><%= loan.maturity_date.try(:strftime, ("%B %e, %Y")) %></td>
              <td><%= number_to_currency loan.loan_amount %></td>
              <td><%= number_to_currency loan.net_proceed %></td>

            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
