<%= simple_form_for @saving_group, url: :office_saving_groups do |f| %>
  <%= f.error_notification %>
  <%= f.input :title %>
  <%= f.input :start_num %>
  <%= f.input :end_num %>
  <%= f.submit "Create Saving Group" %>
<% end %>
