
<div class="container">
  <div class="card">
    <div class="card-header no-border">
      <div class="row">
        <div class="col-md-3">
          <h3 class="title-up"> Cash Disbursements </h3>
        </div>
        <div class="col-md-6">
          <%= form_tag treasury_module_cash_disbursements_path, method: :get, class: "search-form" do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Entry", id: 'account-search-form' %>
          <span class="input-group-btn">
            <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default btn-flat") do %>
              <i class="fa fa-search"></i> Search Entries
            <% end %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="table table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Description</th>
              <th>Reference</th>
              <th>Recorder</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @entries.each do |entry| %>
              <tr>
                <td><%= link_to entry.entry_date.strftime('%B %e, %Y'), accounting_module_entry_path(entry) %></td>
                <td><%= entry.description %></td>
                <td><%= entry.reference_number %></td>
                <td><%= entry.recorder_name %></td>
                <td><%= link_to 'View Transaction', accounting_module_entry_path(entry) %></td>

              </tr>
            <% end %>
          </tbody>
        </table>
      <%==pagy_nav(@pagy) %>
    </div>
  </div>
</div>
