<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="title-up">Statement of Changes in Equity</h3>
<%= form_tag({:action => 'index'}, {:method => :get, class: "form-inline"}) do %>
  <%= text_field_tag :from_date,   @to_date.strftime("%B %e, %Y"), :class => 'datepicker form-control', :placeholder => "To" %>
  <%= text_field_tag :to_date,   @to_date.strftime("%B %e, %Y"), :class => 'datepicker form-control', :placeholder => "To" %>


  <button type="submit" class="btn btn-primary">Generate</button>
<% end %>
<% @categories.each do |category| %>
  <% category.sub_categories.each do |sub_category| %>
    <div class="row">
      <div class="col-md-4">
        <b><%= sub_category.title %></b><br>
        Beginning Balance<br>
        Add: <br>
        Less: <br>
        Ending Balance: <br>
      </div>

      <div class="col-md-4">
        <span class="float-right">
          <br>
          <%= number_to_currency sub_category.balance(to_date: @from_date) %><br>
          <%= number_to_currency sub_category.debits_balance(from_date: @from_date, to_date: @to_date) %><br>
          <%= number_to_currency sub_category.credits_balance(from_date: @from_date, to_date: @to_date) %><br>
          <%= number_to_currency sub_category.balance(to_date: @to_date) %>
        </span>
      </div>
    </div>
  <hr>
  <% end %>
<% end %>
