<div class="card">
  <div class="card-header">
    <h3 class="card-title"> New Account Details </h3>
  </div>
  <div class="card-body">
    <%= simple_form_for @member_account, url: :member_account_registration do |f| %>
      <%= f.input :first_name %>
      <%= f.input :middle_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.submit "Sign Up" %>
    <% end %>
  </div>
</div>
