<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h3 class="title-up"> Transaction Details </h3>
          <span class="text-muted">Please review the details below. If no errors are found, click 'Confirm Transaction' </span>
        </div>
        <div class="card-body">
           <div class="row min-margin">
              <div class="col-md-3">
                Debit
              </div>
              <div class="col-md-6">
                Description
              </div>
              <div class="col-md-3">
                Credit
              </div>
            </div>
            <hr>
          <% @voucher.voucher_amounts.each do |voucher_amount| %>
            <div class="row">
              <div  class="col-md-3">
                <% if voucher_amount.debit? %>
                  <%= number_to_currency voucher_amount.amount %>
                <% end %>
              </div>
              <div class="col-md-6">
                <%= voucher_amount.account_name %>
              </div>
              <div class="col-md-3">
                <% if voucher_amount.credit? %>
                  <%= number_to_currency voucher_amount.amount %>
                <% end %>
              </div>
            </div>
            <br>
          <% end %>
          <hr>
          <div class="row min-margin">
              <div  class="col-md-3">
                  <%= number_to_currency @voucher.voucher_amounts.debit.total %>
              </div>
              <div class="col-md-6">

              </div>
              <div class="col-md-3">
                <%= number_to_currency @voucher.voucher_amounts.credit.total %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <%= link_to 'Cancel', savings_account_adjusting_entry_voucher_confirmation_path(savings_account_id: @savings_account.id, voucher_id: @voucher.id), method: :delete, class: 'text-secondary' %>
              </div>
              <div class="col-md-6">
                <%= link_to 'Confirm Transaction', savings_account_adjusting_entry_voucher_confirmations_path(savings_account_id: @savings_account.id, voucher_id: @voucher.id), method: :create, class: 'btn btn-primary float-right' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
