<div class="modal-header">
  <h4 class="modal-title card-title" id="mainModalLabel">
    New Charge Details
  </h4>

</div>
<%= simple_form_for [@loan_product, @charge], url: :management_module_settings_loan_product_charges do |f| %>
  <div class="modal-body">
    <%= f.error_notification %>
    <%= f.input :charge_type, collection: LoansModule::LoanProducts::LoanProductCharge.charge_types.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons, checked: LoansModule::LoanProducts::LoanProductCharge.charge_types.first, input_html: {class: "charge-type"} %>
    <%= f.input :name %>

      <%= f.input :rate, input_html: { value: 0 } %>

      <%= f.input :amount, input_html: { value: 0 } %>

    <%= f.input :account_id, collection: current_cooperative.accounts.map{ |a| [a.name, a.id]}  %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Create Charge", class: "btn btn-danger float-right" %>
  </div>
<% end %>
