<%= simple_form_for @category, url: :accounting_module_grand_parent_account_categories do |f| %>
  <%= f.input :title %>
  <%= f.input :code %>
  <%= f.input :type, collection: ["Asset", "Liability", "Equity", "Revenue", "Expense"], as: :radio_buttons %>
  <%= f.input :contra, as: :boolean %>
  <%= f.input :cooperative_id, input_html: { value: current_cooperative.id }, as: :hidden %>
  <%= f.submit "Save Category" %>
<% end %>
