<div class="card">
  <div class="card-body">
    <ul class="nav nav-tabs nav-pills">
      <li class="nav-item"><%= link_to 'Sub Categories', office_parent_account_category_parent_account_sub_categories_path(parent_account_category_id: parent_account_category.id), class: "nav-link #{'active' if current_page?(office_parent_account_category_parent_account_sub_categories_path(parent_account_category_id: parent_account_category.id))}" %></li>
    </ul>
  </div>
</div>
<% if current_page? office_parent_account_category_parent_account_sub_categories_path(parent_account_category_id: parent_account_category.id) %>
  <%= render 'offices/accounting_module/parent_account_categories/partials/sub_categories', parent_account_category: parent_account_category %>
<% end %>
