<%= link_to 'New Parent Account Category', new_office_parent_account_category_path(current_office) %>
<% @categories.each do |category| %>
<%= link_to category.title, office_parent_account_category_path(id: category.id) %>
<% end %>
