<%= simple_form_for @category, url: :office_parent_account_categories do |f| %>
  <%= f.input :grand_parent_account_category_id, collection: current_cooperative.grand_parent_account_categories.map{|a| [a.title, a.id] }, input_html: { class: 'chosen-select' } %>
  <%= f.input :title %>
  <%= f.input :code %>
  <%= f.input :type, collection: ["Asset", "Liability", "Equity", "Revenue", "Expense"], as: :radio_buttons %>
  <%= f.input :contra, as: :boolean %>
  <%= f.input :office_id, input_html: { value: current_office.id }, as: :hidden %>
  <%= f.submit 'Save Parent Account Category' %>
<% end %>
