<% content_for(:html_title) { "#{@loan.borrower_name} | New Term Extension" } %>
<div class="modal-header">
  <h4 class="modal-title card-title" id="mainModalLabel">
    New Term Extension Details
  </h4>
  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<%= render 'loans_module/loans/shared/settings_form_header' %>
<%= simple_form_for [@loan, @term_extension], html: { autocomplete: "off", data: { modal: true } }, remote: request.xhr?, url: :loans_module_loan_terms do |f| %>
  <div class="modal-body">
    <%= f.input :term, label: "Number of Months:" %>
    <%= f.input :loan_id, input_html: { value: @loan.id }, as: :hidden %>
    <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
    <%= f.input :effectivity_date, as: :string, input_html: { class: "datepicker" } %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Save Term Extension", class: "btn btn-danger pull-right" %>
  </div>
<% end %>
