<% content_for(:html_title) { "Withdrawal Transaction | #{@savings_account.depositor_name}" } %>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card card-outline card-danger">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <small>CURRENT BALANCE</small>
              <h2 class="title-up"><%= number_to_currency @savings_account.balance %></h2>
          </div>
          <div class="col-md-4">
            <h3 class="subtitle-up"><%= @savings_account.depositor_name %></h3>
            <small><%= @savings_account.saving_product_name %></small>
          </div>
          <div class="co-md-2">
           <%=image_tag(@savings_account.avatar, height: 45, width: 45, class: 'img-circle float-right') %>

          </div>
        </div>
      </div>
        <div class="card-body">
        <h3 class="subtitle-up"> Transaction Details </h3>
        <span class="text-block"><i class="fa fa-info-circle"></i> Please review the following details before confirming transaction.</span>
        <br>
        <br>
        <div class="row min-margin">
          <div class="col-md-5 offset-md-1">
            <h3 class="subtitle-up"> Withdraw Amount </h3>
          </div>
          <div class="col-md-5">
            <h2 class="subtitle-up float-right"><%= number_to_currency @voucher.voucher_amounts.where(account: @savings_account.liability_account).total %></h2>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-5 offset-md-1">
            <h3 class="subtitle-up">Date </h3>
          </div>
          <div class="col-md-5">
            <h2 class="subtitle-up float-right"><%=  @voucher.date.strftime('%B %e, %Y') %></h2>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-5 offset-md-1">
            <h3 class="subtitle-up">Depositor </h3>
          </div>
          <div class="col-md-5">
            <h2 class="subtitle-up float-right"><%=  @voucher.payee_name %></h2>
          </div>
        </div>
        <div class="row min-margin">
          <div class="col-md-5 offset-md-1">
            <h3 class="subtitle-up">Reference # </h3>
          </div>
          <div class="col-md-5">
            <h2 class="subtitle-up float-right"><%=  @voucher.reference_number %></h2>
          </div>
        </div>
        <hr>
         <% if @voucher.entry.blank? %>
          <%= link_to "Confirm Transaction", savings_account_voucher_confirmations_path(savings_account_id: @savings_account.id, voucher_id: @voucher.id), method: :post, class: "btn btn-danger float-right", data: { disable_with: "Processing..." } %>
          <%= link_to "Cancel", savings_account_deposit_voucher_path(savings_account_id: @savings_account.id, voucher_id: @voucher.id), method: :delete, class: "btn text-danger float-left" %>
        <% end %>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
