<% @cash_accounts.each do |cash_account| %>
<small class="text-muted"><%= cash_account.name %></small>
  <h3 class="title-up"> <%= number_to_currency cash_account.balance %>
<% end %>
<%= @receipts.count %>
<%= line_chart @receipts.group_by_day(:created_at).count %>
<h3 class="subtitle-up"> Loan Payments </h3>
<h3 class="subtitle-up"> Savings Deposits </h3>
<h3 class="subtitle-up"> Capital Build Ups </h3>
<h3 class="subtitle-up"> Time Deposits </h3>
<ul class="nav nav-pills-underline">
            <li class="nav-item"><%= link_to 'Loan Payments', treasury_module_loan_payments_path, class: "nav-link #{'active' if current_page?(treasury_module_loan_payments_path)}" %></li>
