<%= link_to 'Excel', below_minimum_balance_share_capitals_path(format: 'xlsx'), class: 'btn btn-sm btn-outline-secondary float-right' %>
<div class="table table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th> Subscriber </th>
        <th> Balance </th>
        <th> Deficit </th>
        <th> Last Transaction </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @share_capitals.each do |share_capital| %>
          <tr style="cursor: pointer;" data-link="<%= share_capital_path(share_capital) %>">
          <td width="40px"><%= image_tag(share_capital.avatar, height: 45, width: 45, class: 'img-circle') %></td>
          <td><%= link_to share_capital.subscriber_name, share_capital_path(share_capital) %><br>
            <small class="text-muted"><%= share_capital.share_capital_product_name %></small>
          </td>
          <td><%= number_to_currency share_capital.balance %></td>
          <td><%= number_to_currency share_capital.deficit %></td>
          <td><%= short_time_ago share_capital.last_transaction_date %>
            <td>
              <% if !share_capital.has_minimum_balance? %>
              <span class="badge bg-danger"> Below Minimum Balance </span>
              <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%==pagy_nav(@pagy) %>
</div>
