<div class="row">
  <div class="col-md-2 col-sm-6">
    <div class="min-margin"></div>
    <div class="min-margin"></div>

    <%=image_tag @share_capital.subscriber.avatar, height: 120, width: 120, class: 'img-square' %>
  </div>
  <div class="col-md-4 col-sm-6">
    <h4 class="subtitle-up"><%= @share_capital.account_name.upcase %></h4>

    <small class="text-muted">
      <i class="fa fa-map-marker"></i> <%= @share_capital.subscriber.current_address_complete_address %> &nbsp; &nbsp;
      <div class="min-margin"></div>

      <i class="fa fa-phone"></i> <%= @share_capital.subscriber.current_contact_number %></i> &nbsp; &nbsp;
      <div class="min-margin"></div>

      <i class="fa fa-clock"></i> Last Transaction: <%= @share_capital.last_transaction_date.strftime('%B %e, %Y') %></small>
    </small>

  </div>
  <div class="col-md-5">

    <div class="row justify-content-end">
      <div class="col-md-7 col-sm-6 col-auto">
        <small class="text-muted">BALANCE</small>
        <h2 class="title-up"><%= number_to_currency @share_capital.balance %></h2>

        <% if policy([:share_capitals, :capital_build_up]).new? %>
         <%= link_to new_share_capital_capital_build_up_path(@share_capital) do %>
           <span class="btn btn-primary"><i class="fa fa-arrow-circle-down"></i> Add Capital </span>
         <% end %>
       <% end %>
      </div>
    </div>
  </div>
</div>
  <br>
    <br>
    <% months = [] %>
    <% (DateTime.now.beginning_of_year..DateTime.now.end_of_month).each do |month| %>
    <% months << month.beginning_of_month %>
    <% end %>
    <% balances_data = [] %>
    <% months.uniq.each do |month| %>

    <% balances_data << { month.strftime("%B %Y") => @share_capital.balance(to_date: month.end_of_month) } %>
    <% end %>

      <%= line_chart (Hash[*balances_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, height: 300, download: true, curve: false, thousands: ",", prefix: "P " %>
      <br>
  </div>

</div>
</div>
</div>

    <h3 class="subtitle-up"> Transactions History </h3>

<% @entries.each do |entry| %>
  <%= link_to accounting_module_entry_path(entry) do %>
  <div class="card min-margin">
    <div class="card-body">
      <div class="row">
        <div class="col-md-1">
          <i class=" fa fa-arrow-<%= ::Presenters::ShareCapital.new(share_capital: @share_capital, entry: entry).chevron %> img-square text-<%= Presenters::ShareCapital.new(share_capital: @share_capital, entry: entry).text_color %>"></i>
        </div>
        <div class="col-md-2">
          <span class="subtitle-up text-<%= Presenters::ShareCapital.new(share_capital: @share_capital, entry: entry).text_color %>">
            <i class="fa fa-<%= ::Presenters::ShareCapital.new(share_capital: @share_capital, entry: entry).plus_or_minus_icon %> fa-slim"></i>
            <% credits_total =  entry.credit_amounts.where(account: @share_capital.equity_account).total %>
            <% if credits_total > 0 %>
              <%= number_to_currency credits_total %>
            <% end %>
            <% debits_total =   entry.debit_amounts.where(account: @share_capital.equity_account).total %>
            <% if debits_total > 0 %>
              <%= number_to_currency debits_total %>
            <% end %>
          </span>

        </div>
        <div class="col-md-5">
          <b class="text-dark"><%= entry.description %></b>
          <div class="min-margin"></div>
          <small class="text-muted">
          <i class=" fa fa-user-circle"></i> <%= entry.recorder_name %>&nbsp;
          <i class="fa fa-clock"></i> <%= entry.entry_date.strftime('%b. %e, %Y') %>&nbsp;
          <i class="fa fa-hashtag"></i><%= entry.reference_number %>

        </small>
        </div>
        <div class="col-md-3">

          <p class="subtitle-up float-right text-<%= Presenters::ShareCapital.new(share_capital: @share_capital, entry: entry).text_color %>"><%= number_to_currency @share_capital.balance(to_date: entry.entry_date) %></p>

        </div>
        <div class="col-md-1">
          <i class="text-muted fa fa-chevron-right fa-2x fa-slim float-right"></i>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>

<center><%==pagy_bootstrap_nav(@pagy) %></center>

  <%= link_to 'Statement of Account', share_capital_path(@share_capital, format: 'pdf') %>
