<div class="row">
  <div class="col-3">
    <small class="text-muted"> TOTAL BALANCES </small>
    <% current_office.share_capital_products.each do |product| %>
    <h3 class="title-up"><%= number_to_currency product.equity_account_category.balance %></h3>
    <% end %>
  </div>
  <div class="col-md-3">
    <small class="text-muted"> SUBSCRIBERS </small>
    <h3 class="title-up"><%= number_to_currency current_office.share_capitals.count, unit: '', precision: 0 %></h3>
  </div>
  <div class="col-md-3">
    <small class="text-muted"> BELOW MIN </small>
    <h3 class="title-up"><%= number_to_currency current_office.share_capitals.below_minimum_balance.count, unit: '', precision: 0 %></h3>
  </div>
</div>
<hr>
<small class="text-muted"> TOP </small>
