
<div class="card-body">
  <div class="row">
    <div class="col-md-9">
	    <h4 class="subtitle-up"> Merge Account </h4>
      <span class="text-muted">Merge share capital accounts that are duplicated. </span>
    </div>
    <div class="col-md-3">
      <% if policy([:share_capitals, :account_merging]).new? %>
        <%= link_to "Merge Account", new_share_capital_merging_line_item_path(@share_capital), class: "btn btn-outline-danger" %>
      <% else %>
         <span class="text-danger"> Only General Manager account can do this action. </span>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-9">
      <h3 class="subtitle-up"> Balance Transfer </h3>
      <p class="text-muted"> Transfer balance to another share capital account </p>
    </div>
    <div class="col-md-3">
      <% if policy([:share_capitals, :balance_transfer]).new? %>
	      <%= link_to "Balance Transfer", new_share_capital_balance_transfer_destination_account_path(@share_capital), class: "btn btn-outline-danger" %>
      <% else %>
        <span class="text-danger"> Only Accountant / Bookkeeper account can do this action. </span>
      <% end %>
    </div>
  </div>
	<hr>
  <div class="row">
    <div class="col-md-9">
	    <h4 class="subtitle-up">Barangay Details</h4>
	    <span class="text-muted"> Set barangay for this share capital </span><br>
      <b>BARANGAY</b>
      <%= @share_capital.barangay_name %>
      <br>
    </div>
    <div class="col-md-3">
      <%= link_to 'Set Barangay', edit_share_capital_barangay_path(id: @share_capital.id), class: "btn btn-outline-danger", data: {modal:true} %>
    </div>
  </div>
	<hr>
  <div class="row">
    <div class="col-md-9">
	    <h3 class="subtitle-up">Adjustment Entries</h3>
    	<p class="text-muted">
    	  Make adjusting entries for this share capital.
    	</p>
    </div>
    <div class="col-md-3">
    	<% if current_user.bookkeeper? || current_user.accountant? %>
    	  <%=link_to "Adjusting Entries", share_capital_adjusting_entries_path(@share_capital) %>
      <% else %>
        <span class="text-danger"> Only Accountant / Bookkeeper account can do this action. </span>
    	<% end %>
    </div>
  </div>
  <h4 class="subtitle-up"> Accounting Accounts </h4>
    <div class="row">
      <div class="col-md-6">
        <b> Equity Account </b>
      </div>
      <div class="col-md-6">
        <%= @share_capital.equity_account.name %>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6">
        <b> Interest on Capital Account </b>
      </div>
      <div class="col-md-6">
        <%= @share_capital.interest_on_capital_account.name %>
      </div>
    </div>
</div>
