<div class="container">
  <div class="card">
    <div class="card-header">
      <h3 class="title-up"> Reports </h3>
    </div>
    <div class="card-body">
      <%= link_to 'Income Statement', reports_members_masterlists_path(office_id: @office.id) %>

        <span class="text-muted">Generate reports of member's masterlist </h3>
    
      <hr>
      <%= link_to reports_identifications_path(office_id: @office.id) do %>
        <h4 class="subtitle-up"> Identifications List </h4>
        <span class="text-muted">Generate list of members per ID. ex (TIN, SSS) </span>
      <% end %>
      <hr>
    </div>
  </div>
</div>
