<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="title-up">Balance Sheet </h3>

<% months = [] %>
<% assets_data      = [] %>
<% liabilities_data = [] %>
<% equities_data    = [] %>

<% (DateTime.now.beginning_of_year..DateTime.now.end_of_month).each do |month| %>
 <% months << month.beginning_of_month %>
<% end %>

<% months.uniq.each do |month| %>

  <% assets_balances ||= [] %>
  <% liabilities_balances ||= [] %>
  <% equities_balances ||= [] %>


  <% @assets.each do |account| %>
  <% assets_balances << account.balance(from_date: month.beginning_of_month, to_date: month.end_of_month) %>
  <% end %>

  <% @liabilities.each do |account| %>
  <% liabilities_balances << account.balance(from_date: month.beginning_of_month, to_date: month.end_of_month) %>
  <% end %>

  <% @equities.each do |account| %>
  <% equities_balances << account.balance(from_date: month.beginning_of_month, to_date: month.end_of_month) %>
  <% end %>


  <% assets_data << { month.strftime("%b").upcase => assets_balances.sum } %>
  <% liabilities_data << { month.strftime("%b").upcase => liabilities_balances.sum } %>
  <% equities_data << { month.strftime("%b").upcase => equities_balances.sum } %>


<% end %>
<%= line_chart [
  { name: 'Assets', data: Hash[*assets_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?} },
  { name: 'Liabilities', data: Hash[*liabilities_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?} },
  { name: 'Equity', data: Hash[*equities_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?} }

    ], curve: false, thousands: ',', prefix: 'P' %>
</div>
</div>
