<% breadcrumb :savings_account_deposit, @savings_account %>
<% content_for(:html_title) { "#{@savings_account.depositor_name} | New Deposit" } %>

<div class="row">
  <div class="col-md-6 offset-md-3">
     <div class="card card-outline card-success">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <small>CURRENT BALANCE</small>
              <h2 class="title-up"><%= number_to_currency @savings_account.balance %></h2>
          </div>
          <div class="col-md-4">
            <h3 class="subtitle-up"><%= @savings_account.depositor_name %></h3>
              <small><%= @savings_account.saving_product_name %></small>

          </div>
          <div class="col-md-2">
             <%=image_tag(@savings_account.avatar, height: 45, width: 45, class: 'img-circle float-right') %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h3 class="title-up"> Deposit Transaction </h3>
        <br>
        <div class="row">
          <div class="col-md-10 offset-md-1">
        <%= simple_form_for [@savings_account, @deposit], url: :savings_account_deposits, html: { autocomplete: "off" } do |f| %>
          <%= f.error_notification %>
          <%= f.input :date, as: :string, input_html: { class: "datepicker", value: Date.today.strftime("%B %e, %Y") } %>
          <%= f.input :amount, as: :currency %>
          <%= f.input :description, as: :text, input_html: {value: "Savings deposit"}, as: :hidden %>

          <%= f.input :or_number, label: 'Reference Number' %>
          <%= f.input :cash_account_id, default: current_user.cash_accounts.first, collection: current_user.cash_accounts.map{|a| [a.name, a.id] } %>
          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :offline_receipt, as: :boolean, input_html: { checked: true }, as: :hidden %>
          <%= f.input :saving_id, input_html: { value: @savings_account.id },as: :hidden %>
          <%= f.input :employee_id, input_html: { value: current_user.id },as: :hidden %>
          <%= f.submit "Proceed", class: "btn btn-primary float-right", data: { disable_with: "Processing..."} %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $("#memberships_savings_accounts_deposit_line_item_processing_cash_account_id").select2({
      theme: "bootstrap"
    });
    $("#memberships_savings_accounts_deposit_line_item_processing_payment_type").select2({
      theme: "bootstrap"
    });
  });
</script>
