 <% @loans.each do |loan| %>
      <%= link_to loan_path(loan) do %>
      <div class="card animated fadeInUp min-margin">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <div class="min-margin"></div>
              <center>
              <%= image_tag(loan.borrower.avatar, height: 60, width: 60, class: 'img-circle') %>
            </center>
            </div>
            <div class="col-md-5">
              <b><%= loan.borrower_name %></b><br>
              <small class="text-muted">
                <i class="fa fa-map-marker"></i> <%= loan.borrower.current_address_complete_address %><br>
                <i class="fa fa-phone"></i> <%= loan.borrower.current_contact_number %>

              </small>
            </div>
            <div class="col-md-3">
              <small class="text-muted"><%= loan.loan_product_name.upcase %></small>
              <h4 class="subtitle-up"><%= number_to_currency loan.balance %></h4>
              <small class="text-muted">
                <i class="fa fa-clock"></i> <%= loan.last_transaction_date.strftime('%b. %e, %Y') %>
              </small><br>

              <% if loan.past_due? %>
                  <span class="badge badge-danger"><i class="fa fa-circle"></i> Past Due </span>
                  <% end %></td>
            </div>

            <div class="col-md-1">

    <br>
              <i class="fa fa-chevron-right fa-2x fa-slim float-right"></i>
            </div>
          </div>

        </div>
      </div>
      <% end %>
    <% end %>

<div class="container">
    <div class="card">
      <div class="card-header no-border">
        <div class="row">
      <div class="col-md-4">
        <h2 class="title-up">Loans</h2>
      </div>
      <div class="col-md-4 m-0">
        <%= form_tag loans_path, method: :get, class: "search-form" do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by Borrower", id: 'account-search-form' %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default btn-flat") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to 'New Multiple Payment', new_loan_multiple_payment_line_item_path, class: 'btn btn-primary' %>
      </div>
    </div>
      </div>
      <div class="card-body">
        <div class="table table-responsive">
          <table class="table table-hover">
            <thead class="no-border">
                <tr>
                  <th></th>
                  <th> Borrower </th>
                  <th> Status </th>
                  <th> Loan Product </th>
                  <th> Loan Amount </th>
                  <th> Loan Balance </th>
                  <th> Maturity Date </th>
                </tr>
              </thead>
              <tbody>
                <% @loans.each do |loan| %>
                    <tr style="cursor: pointer;" data-link="<%= loan_path(loan) %>">
                      <td style="width: 40px"><%= image_tag(loan.borrower.avatar, class: "img-circle", height: 45, width: 45) %></td>
                      <td><%= link_to loan.borrower_name, loan_path(loan) %><br>
                        <small class="text-muted"> Last payment: <%= short_time_ago(loan.last_transaction_date) %> ago &nbsp; &nbsp; &nbsp;
                      </td>
                      <td>
                         <span class="badge bg-<%=loan.badge_color %>"><i class="fa fa-circle bg-<%= loan.badge_color%>"></i> <%= loan.status.titleize %></span>
                       </td>
                      </td>
                      <td><%= loan.loan_product_name %></td>
                      <td><%= number_to_currency loan.loan_amount %></td>
                      <td><%= number_to_currency loan.balance %></td>
                      <td><%= loan.maturity_date.try(:strftime, ("%B %e, %Y")) %></td>

                    </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

      <center><%== pagy_nav(@pagy) %></center>
    </div>
  </div>
<script>
$("tr").click(function() {
  window.location = $(this).data("link")
})
</script>
