<h3 class="title-up"> Filter by Age </h3>
<%= form_tag({:action => 'index'}, {:method => :get, :class => 'form-inline'}) do%>
  <div class="form-group">
  <%= label_tag :start_num, "Starting Number" %>
  <%= text_field_tag :starting_number, @start_num, :class => 'form-control' %>
  <%= label_tag :end_num, 'Ending Number' %>
  <%= text_field_tag :ending_number, @end_num, :class => 'form-control' %>
  </div>
  <button type="submit" class="btn btn-primary">Run Filter</button>
<% end %>
<%= simple_form_for @filter, method: :get, url: :reports_members_masterlists_by_age_ranges do |f| %>
  <%= f.input :starting_number %>
  <%= f.input :ending_number %>
  <%= f.submit 'Generate' %>
<% end %>
<%= link_to 'Download', reports_members_masterlists_by_age_ranges_path(starting_number: params[:starting_number], ending_number: params[:ending_number], format: 'xlsx') %>
<%= @members.count %>
