<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= content_for?(:html_title) ? yield(:html_title) : "CoopBooks" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <div id="modal-holder"></div>
      <!-- Navbar -->
      <%= render 'layouts/shared/navbar', cached: true %>
      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-collapse sidebar-dark-primary elevation-1">
        <%= render 'layouts/shared/brand', cached: true %>
        <%= render 'layouts/shared/sidebar', cached: true %>
      </aside>
      <div class="content-wrapper">
        <div class="content">
          <div class="content-header">
          </div>
          <div class="container">
            <div class="container-fluid">
              <small><%= breadcrumbs pretext: "You are here:", separator: " &rsaquo;", style: :bootstrap %></small>
              <%= render 'layouts/shared/flash_messages' %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'layouts/shared/footer' %>
    </div>
  </body>
</html>
