

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= content_for?(:html_title) ? yield(:html_title) : "Catalyst" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <%= render 'layouts/shared/member_navbar' %>

  <aside class="main-sidebar sidebar-collapse sidebar-dark-primary elevation-6">
    <%= render 'layouts/shared/member_brand' %>
      <%= render 'layouts/shared/member_sidebar' %>
  </aside>

  <div class="content-wrapper">
    <div class="content">
      <div class="content-header">

      </div>
      <div class="container-fluid">
        <%= render 'layouts/shared/flash_messages' %>
        <%= yield %>
      </div>
    </div>
    <!-- /.content -->
  </div>


</div>


</body>


</html>
