<%= form_tag({:action => "index"}, {:method => :get})  do %>
         <div class="row">
           <div class="col-md-3">
             <div class="form-group">
               <%= select_tag :barangay_id, options_for_select(@barangays.map {|m| [m.name_and_municipality, m.id]}, params[:barangay_id]), class: 'form-control border-input', prompt: false %>

             </div>
           </div>
           <div class="col-md-3">
             <div class="form-group">
               <%= select_tag :loan_group_id, options_for_select(@loan_groups.map {|m| [m.title, m.id]}, params[:loan_group_id]), class: 'form-control border-input', prompt: false %>

             </div>
           </div>



           <div class="col-md-2">
             <button type="submit" class="btn btn-outline-primary"> Generate</button>
           </div>
           <div class="col-md-2">
             Export To
             <%= link_to 'Excel', loans_module_reports_loan_agings_by_barangays_path(format: 'xlsx'), class: 'btn btn-outline-success btn-sm'%>
           </div>
         </div>
       <% end %>

              <%= render 'loans_module/reports/loan_agings/loans', loans: @loans, cached: true %>
