
    <div class="row">
      <div class="col-md-4">
        <h3 class="title-up"><%= number_to_currency current_office.office_loan_products.receivable_account_categories.balance %></h3>
        <small class="text-muted"> TOTAL</small>
      </div>
      <div class="col-md-3">
        <h3 class="title-up"><%= number_to_currency @loans.distinct.current_loan.principal_balance %></h3>
        <small class="text-muted"> CURRENT </small>
      </div>
      <div class="col-md-3">
        <h3 class="title-up"><%= number_to_currency @loans.distinct.past_due.principal_balance %></h3>
        <small class="text-muted"> PAST DUE </small>
      </div>
      <div class="col-md-2">
        <h3 class="title-up text-danger"><%= number_to_currency((@loans.distinct.past_due.principal_balance / @loans.distinct.principal_balance * 100), unit: "") %> % </h3>
        <small class="text-danger"> PAST DUE PERCENT </small>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-8">
        <h4 class="subtitle-up"> Aging Portfolio </h4>
      </div>
      <div class="col-md-4">
        <%= link_to 'Download Report', loans_module_reports_loan_agings_summaries_path(format: 'xlsx'), class: 'btn btn-outline-primary float-right'%>
      </div>
    </div>
    <br>

    <% par_balances_data = [] %>
    <% @loan_groups.each do |loan_group| %>
    <% par_balances_data << { loan_group.title => loan_group.loans.receivable_accounts.balance } %>
    <% end %>

    <div class="row">
      <div class="col-md-8">
        <%= column_chart (Hash[*par_balances_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true, thousands: ",", legend: 'bottom'%>
      </div>
      <div class="col-md-4">
        <h4 class="subtitle-up"> Summary </h4>
        <% current_office.loan_groups.each do |loan_group| %>
          <div class="row">
            <div class="col-md-5">
              <%= link_to loan_group.title, loan_group_path(loan_group) %>
            </div>
            <div class="col-md-2">
              <%= loan_group.loans.size %>
            </div>
            <div class="col-md-5">
              <%= number_to_currency loan_group.loans.receivable_accounts.balance %>
            </div>
          </div>
          <hr>
        <% end %>

      </div>
    </div>
  </div>
</div>
