 <div class="card">
  <div class="card-header">
 <nav class="nav nav-pills nav-pills-underline">
        <li class="nav-item"><%= link_to members_path, class: "nav-link #{'active' if current_page?(members_path) }" do %>
          <i class="fa fa-users"></i> All Members
          <% end %>

        </li>
        <li class="nav-item"><%= link_to members_dashboards_path, class: "nav-link #{'active' if current_page?(members_dashboards_path) }" do %>
          <i class="fa fa-chart-bar"></i> Insights
          <% end %>

        </li>
        <li class="nav-item"><%= link_to members_dashboards_path, class: "nav-link #{'active' if current_page?(members_dashboards_path) }" do %>
          <i class="fa fa-folder-open"></i> Reports
          <% end %>

        </li>
      </nav>
    </div>
  </div>
<% if current_page? members_path %>
  <%= render '/members/index_partials/all_members' %>
<% end %>
<% if current_page? members_dashboards_path %>
  <%= render '/members/index_partials/insights' %>
<% end %>
