 <%= link_to member_path(member) do %>
    <div class="card min-margin animated fadeInUp">
      <div class="card-body">
        <div class="row">
          <div class="col-md-1">
            <%= image_tag(member.avatar, height: 60, width: 60, class: 'img-circle') %>
          </div>
          <div class="col-md-6">
            <b><%= member.first_and_last_name %></b>
            <% if member.activity_status(office: current_office, from_date: Date.current.beginning_of_month, to_date: Date.current.end_of_month)=='Inactive' %>
            <span class="badge badge-outline-<%= member.activity_status_text_color(office: current_office, from_date: Date.current.beginning_of_month, to_date: Date.current.end_of_month) %>"><%= member.activity_status(office: current_office, from_date: Date.current.beginning_of_month, to_date: Date.current.end_of_month) %></span><br>
            <% end %>
            <br>
            <small class="text-muted">
              <i class="fa fa-map-marker"></i> <%= member.current_address_complete_address %> &nbsp;
              <i class="fa fa-phone"></i> <%= member.current_contact_number %>
            </small>
          </div>
          <div class="col-md-3">
            <span class="text-muted"><small>Last Transaction:</small><br>
              <i class="fa fa-calendar"></i> <%=member.last_transaction_date.try(:strftime, ('%B %e, %Y')) %>
            </span>
          </div>
          <div class="col-md-1">
            <div class="min-margin"></div>
            <i class="fa fa-chevron-right float-right fa-2x fa-slim"></i>
          </div>
        </div>
      </div>
    </div>
  <% end %>
