<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-3">
          <h3 class="card-title"> Vouchers </h3>
        </div>
        <div class="col-md-6">
          <%=form_tag vouchers_path, method: :get do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search],  autofocus: true, class: "form-control", placeholder: "Search for Number, Description", id: 'account-search-form' %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th> Date </th>
              <th> Payee </th>
              <th> Description </th>
              <th> REF # </th>
              <th> Prepared By </th>
            </tr>
          </thead>
          <tbody>
            <% @vouchers.each do |voucher| %>
              <tr>
                <td><%= link_to voucher.date.strftime('%B %e, %Y'), voucher_path(voucher) %></td>
                <td><%= voucher.payee_name %></td>
                <td><%= voucher.description %></td>
                <td><%= voucher.reference_number %></td>
                <td><%= voucher.preparer_full_name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%==pagy_nav(@pagy) %>
      </div>
    </div>
