<div class="card">
  <div class="card-header bg-info">
    <h4 class="card-title">Organization Members</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">
    <%= form_tag organization_members_path, method: :get, class: "sidebar-form" do %>
      <div class="input-group">
       <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for First name, Last name", id: 'taxpayer-search-form' %>
       <span class="input-group-btn">
         <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
           <i class="fa fa-search"></i>
         <% end %>
       </span>
     </div>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= link_to new_organization_member_path(@organization) do %>
      <span class="btn btn-primary float-right">
        <i class="fa fa-user-plus"></i> Add Member
      </span>
    <% end %>
  </div>
</div>
<hr>
<% @members.each do |member| %>
  <%= render 'members/member', member: member %>
<% end %>
<%=will_paginate @members %>

<script type="text/javascript">
  $('#membership_type').change(function(e) {
    $('#membership-filter-form').submit();
  });
</script>
