<div class="card">
  <div class="card-header">
    <h4 class="card-title">Organization Savings</h4>
    <% if policy([:members, :savings_account]).new? %>
          <%=link_to 'New Savings Account', new_savings_account_application_path(depositor_id: @organization.id, depositor_type: @organization.class.to_s), class: 'btn btn-primary float-right' %>
        <% end %>
  </div>
</div>
<% @organization.savings.each do |savings_account| %>
  <%= render 'savings_accounts/partials/header', savings_account: savings_account %>
<% end %>
