<% content_for(:html_title) { "Spoilage Section" } %>
<div class="row">
  <div class="col-md-7">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title"> Spoilages Section </h3>
      </div>
      <div class="box-body">
       <% if params[:search].present? %>
        <%=form_tag new_store_front_module_spoilage_line_item_path, method: :get do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control input-lg", placeholder: "Search Products..." %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-primary btn-lg") do %>
                <i class="fa fa-search"></i> Search
              <% end %>
            </span>
          </div>
        <% end %>
        <% else %>
         <%=form_tag new_store_front_module_spoilage_line_item_path, method: :get do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], autofocus: true,  class: "form-control input-lg", placeholder: "Search Products..."  %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-primary btn-lg") do %>
                <i class="fa fa-search"></i> Search
              <% end %>
            </span>
          </div>
        <% end %>
      <% end %>
        <br>
        <table class="table table-responsive">
          <tbody>
            <% if @products.present? %>
              <%= render 'store_front_module/line_items/spoilage_line_items/searched_product_results' %>
            <% elsif @line_items.present? %>
              <%= render 'store_front_module/line_items/spoilage_line_items/searched_line_item_results' %>
            <% end %>
          </tbody>
        </table>
        <hr>
        <% if @spoilage_line_items.present? %>
          <p class="text-muted"> ORDER DETAILS </p>
          <div class="table table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th><b>QTY</b></th>
                  <th><b>DESCRIPTION</b></th>
                  <th><span class="pull-right"><b>UNIT COST</b></span></th>
                  <th><span class="pull-right"><b>TOTAL COST</b></span></th>
                </tr>
              </thead>
              <tbody>


                <% @cart.spoilage_line_items.each do |line_item| %>
                  <tr>
                    <td>

                      <%= line_item.quantity %> <%= line_item.unit_of_measurement_code %>
                    </td>
                    <td width="300px"><%= line_item.name.try(:titleize) %>
                      <span class="text-muted"><%= line_item.barcode %></span>
                    </td>
                    <td>
                      <span class="pull-right">

                        <%= number_to_currency line_item.unit_cost %></td>
                      </span>
                    <td>
                      <span class="pull-right"><%=number_to_currency line_item.total_cost %></span>
                    </td>
                    <td>
                    <%= link_to store_front_module_spoilage_line_item_path(line_item), method: :delete do %>
                      <span class="fa fa-trash"></span>
                    <% end %>
                    </td>
                  </tr>
                <% end %>
                <hr>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>

    </div>
  </div>
  <div class="col-md-5">
    <div class="box box-solid">
      <% if @spoilage_line_items.present? %>
      <div class="box-header">
        <div class="row">
          <div class="col-md-4 col-md-offset-2">
            <h3><b> TOTAL </b></h3>
          </div>
          <div class="col-md-5">
            <h3><b><span class="pull-right"><%=number_to_currency @spoilage_line_items.total_cost %></span></b></h3>
          </div>
        </div>
      </div>
      <div class="box-body">
        <div class="box-footer">
          <%= simple_form_for @spoilage_order, url: :store_front_module_spoilages do |f| %>
            <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>

                  <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
                  <%= f.input :cart_id, input_html: { value: @cart.id }, as: :hidden %>
                  <%= f.input :description, as: :text %>
                  <%= f.submit "Save Order", class: "btn btn-lg btn-success btn-block" %>
        <% end %>
      </div>
      </div>
      <% else %>
        <center><%=image_tag('empty_cart.png', height: 160, width: 160) %></center>
      <% end %>
<script type="text/javascript">
  $(document).ready(function() {
    $("#store_front_module_orders_sales_order_processing_customer_id").select2({
      theme: "bootstrap"
    });
  });
</script>

